@import "includes";

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	.end-cap, .front-cap {
		display: none;
	}
	.ribbon .location p, .ribbon .phone {
		text-align: center;
	}
	footer.main {
		.logo-footer {
			margin-bottom: 1em;
		}
		.social-connect, .copyright p, .logo-footer {
			text-align: center;
		}
	}
	aside.sidebar {
		margin-top: 3em;
		padding: {
			top: 2em;
			bottom: 1em;
		}
	}
	.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half, .gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
		float: none !important;
		width: 100% !important;
	}
	.location-info {
		margin-top: 2em;
	}
	.backdrop {
		min-height: 0;
		padding: 0;
		background-image: none !important;
		h1 {
			margin: 0;
		}
	}
	.navigation {
		position: relative;
		margin: 0;
	}
	.home .homepage-slider .slide {
		height: 600px;
	}
	.tinynav { 
		display: block;
		margin: 1em 0;
    }
    .navigation ul.menu {
    	display: none;
    }
    .menu-top {
    	margin-bottom: 1.5em;
    	#menu-top-menu.text-right { text-align: center !important; }
    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (max-width: 64em) {
	// Boilerplate //
	h1 { 
		font-size: 1.8em;
		margin-top: 0;
	}
	h2 { font-size: 1.6em; }
	h3 { font-size: 1.4em; }
	h4 { font-size: 1.2em; }
	h5 { font-size: 1.1em; }
	h6 { font-size: 1em; }
	header.main {
		.searchform {
			text-align: right;
			margin-bottom: 1em;
			clear: both;
			input {
				float: left;
			}
			input[type=text] {
				padding: .75em;
				font-size: .9rem;
				width: 80%;
				margin: 0;
				outline: none;
				height: 40px;
			}
			input[type=submit]{
				line-height: normal;
				padding: .5rem .75rem;
				width: 20%;
				height: 40px;
				font: {
					weight: bold;
					size: 1.5rem;
				}
			}
		}
	}
	.cta {
		h4 {
			font-size: 1.6rem;
			font-style: italic;
			margin: 0;
		}
		p {
			@include fontStyle(heading);
			margin: .5em 0;
		}
	}
	.contact-details {
		margin-top: 1em;
	}
	.container {
		padding-bottom: 0;
	}
	.home .container {
		padding-bottom: 2em;
	}
	.half-band {
		height: auto;
	}
	.backdrop-bg .overlay { display: none; }
	.callout:nth-child(2n+1) {
		clear: left;
	}
	.callout {
		text-align: center;
	}
}

// Medium screens
@media only screen and (min-width: 40.063em) {
	aside.sidebar {
		background-color: transparent !important;
	}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */
