/*==========================================================================
Imports
==========================================================================*/
@import "includes";
@import "slick";



/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h2, h3, h4, h5, h6, p, ul, ol, dt, dd {}
h1, h2, h3, h4, h5, h6 {
	@include fontStyle(heading, null, 400, null, null, null, normal);	
	margin: 1.5em 0 .5em;
	&:first-child { margin-top: 0; }
}
h1, h2, h3 {
	padding-left: .7rem;
	border-left-width: .75rem;
	border-left-style: solid;
}
h4, h5 { text-transform: uppercase; }
h1 { 
	font-size: 2.5em;
	margin-top: 0;
}
h2 { font-size: 2.1em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.1em; }
p, ul, ol, blockquote, dl, dt, dd, .textwidget,
.gform_confirmation_message {
	@include fontStyle(paragraph, 1rem, 400, normal, left, normal, null, normal);	
}
a { transition: color .3s linear; }
li { transition: background-color .3s linear; }
div.main {
	p, ul, ol, blockquote, dl, dt, dd {
		line-height: 1.8rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul, ol { margin-left: 2rem; }
	blockquote {
		border: none;
		padding: 2em 2em 2em 12em;
		position: relative;
		&:before, &:after {
			position: absolute;
			font-size: 10rem;
		}
		&:before {
			content: '\201C';
			left: 20px;
			top: 50%;
		}
		&:after {
			content: '\201D';
			left: 80px;
			top: 55%;
		}
		p, ul li, ol li {
			line-height: 1.7em;
			font: {
				size: 1.2rem;
				style: italic;
			}
		}
	}
	hr {
		border: none;
		border-bottom: 1px solid;
		width: 20%;
	}
}
// Form Fields //
input[type=text], textarea {
	border-width: 1px;
	border-style: solid;
}
input[type=submit] {
	border: none;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: .9em;
	margin: 0;
	padding: .5em;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
.vcard {
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
	p {
		margin-bottom: .5em;
	}

}



/*==========================================================================
Containers & Shared Styles
==========================================================================*/
.container { padding: 2em 0; }
// Navigation //
header.main, footer.main {
	ul.menu {
		text-align: center;
		margin: 0;
		&> li {
			display: inline-block;
		}
		li {
			list-style-type: none;
		}
		a {
			@include fontStyle(heading, .8rem, 400, null, null, uppercase);
			display: block;
			padding: .75em;
		}
	}
}
// Social //
a.symbol {
	font-size: 16px;
	&:before {
		margin: 0;
	}
}
.prepend {
	@include fontStyle(heading, .8rem, 400, null, null, uppercase);
	display: inline-block;
}
// Breadcrumbs //
.breadcrumbs {
	border: none;
	border-radius: 0;
	margin: 1em 0;
	padding: 0 .5em .25em;
	a, span {
		@include fontStyle(heading, .7rem, 400, null, null, uppercase);
		display: inline-block;
		padding: 0 .4em;
		&:first-child {
			padding-left: 0;
		}
	}
}
// Call to Action Band //
.cta {
	position: relative;
	.row {
		position: relative;
		z-index: 5;
	}
	.columns {
		padding: {
			top: 1.5em;
			bottom: 1.5em;
		}
	}
	.half-band {
		right: 0;
		left: auto;
		z-index: 1
	}
	h3 {
		text-transform: capitalize;
		font-size: 2.5rem;
		font-style: italic;
		margin: 0;
		padding: 0;
		border: none;
	}
	p {
		@include fontStyle(heading, null, 400);
		margin: .5em 0;
	}
}
// Location Band //
.location-band {
	padding: 3em 0;
	h3.location-title {
		border: none;
		padding: 0;
		font-size: 2rem;
	}
}
.location-map {
	width: 100%;
	height: 300px;
	border-width: 1px;
	border-style: solid;
}
.vcard p {
	margin: 0;
	font: {
		size: 1.2rem;
		style: italic;
	}
	&.fn {
		display: none;
	}
}
// Overlay //
.overlay {
	background: -webkit-linear-gradient(transparent 60%, rgba(black, .80)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(transparent 60%, rgba(black, .80)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(transparent 60%, rgba(black, .80)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(transparent 60%, rgba(black, .80)); /* Standard syntax */
}



/*==========================================================================
Header
==========================================================================*/
// Header Container //
header.main {
	padding-top: 1.5em;
	.logo {
		display: block;
		margin: 0 0 1.5em;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.searchform {
		text-align: right;
		padding: .3em 0;
		label {
			@include fontStyle(heading, .75rem, 400, null, null, uppercase);
			padding-right: .5em;
		}
		input {
			border: none;
			display: inline-block;
			padding: .25em;
			font-size: .8rem;
			text-transform: uppercase;
			outline: none;
			&[type=submit] {
				width: 21px;
				height: 21px;
			}	
		}
	}
}
.info-band {
	position: relative;
	min-height: 34px;
	p {
		@include fontStyle(heading, .9rem, 400, null, null, uppercase);
		display: inline-block;
		margin: 0;
		padding: .3em;
	}
	.row {
		position: relative;
		z-index: 5;
	}
	.phone { min-height: 34px; }
}
.end-cap, .front-cap {
	position: absolute;
	top: 0;
	width: 0; 
	height: 0; 
	border-top: 17px solid transparent;
	border-bottom: 17px solid transparent;
	border-right: 17px solid transparent;
}
.end-cap { right: -1px; }
.front-cap { left: -17px; }
.half-band {
	position: absolute;
	width: 50%;
	left: 0;
	top: 0;
	height: 100%;
}
.no-address .half-band { width: 30%; }
// Backdrop //
.backdrop {
	position: relative;
	.backdrop-bg {
		// padding-top: 7em;
		min-height: 27em;
		position: relative;
		background: {
			position: center;
			repeat: no-repeat;
			size: cover;
		}
		> .columns {
			position: absolute;
			bottom: 0;
			left: 0;
		}
		.overlay {
			width: 25%;
			z-index: 2;
			height: 100%;
			&.left {
				top: 0;
				left: 0;
			}
			&.right {
				top: 0;
				left: auto;
				right: 0;
			}
		}
	}
	h1 {
		padding: 1rem 1.5rem 1rem 0;
		font-style: italic;
		position: relative;
		display: inline-block;
		margin: 0;
		span.title {
			display: block;
			position: relative;
			z-index: 5;
		}
		span.band {
			position: absolute;
			width: 1000%;
			height: 100%;
			top: 0;
			left: -900%;
			z-index: 3;
		}
	}
}
// Main Navigation //
.navigation {
	position: absolute;
	width: 100%;
	margin-bottom: 2em;
	z-index: 1000;
}
.tinynav {
	display: none;
}
nav.main ul.menu {
	ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		text-align: left;
		min-width: 150px;
		z-index: 100;
	}
	li {
		position: relative;
	}
	li:hover {
		&> ul {
			display: block;
		}
		ul a {
			font-size: .75rem;
			text-transform: capitalize;
			white-space: nowrap;
		}
		ul ul {
			left: 100%;
			top: 0;
		}
	}
}
// Top Navigation //
header.main .menu-top ul.menu {
	&.text-right a { padding: 0 0 0 1.5em; }
	&.text-center a { padding: 0 1.5em; }
	&.text-left a { padding: 0 1.5em 0 0; }
	li {
		position: relative;
		&:before {
			content: '\2022';
			position: absolute;
			left: .4em;
			top: .15em;
			line-height: 1em;
			font-size: .9em;
		}
		&:first-child:before { content: ''; }
	}
}
// Announcement Band //
.announcement {
	padding: .5em 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	p { 
		margin: 0;
		text-align: center;
	}
}



/*==========================================================================
Footer
==========================================================================*/
footer.main {
	margin-bottom: .5em;
	.upper {
		padding: 1.5em 0;
		text-align: right;
	}
	nav.footer {
		border-top-width: 1px;
		border-top-style: solid;
		padding: .5em 0;
	}
	ul.menu a {
		font-size: .7rem;
	}
	.social-connect, .social-share {
		text-align: right;
		margin-bottom: .5em;
		a.symbol {
			margin-left: .5rem;
		}
	}
	.logo-footer {
		text-align: left;
	}
	p { 
		margin: 0 0 .2em;
		font-size: .75rem;
		text: {
			align: right;
			transform: uppercase;
		}
	}
}



/*==========================================================================
Sidebar
==========================================================================*/
h4.widgettitle {
	font-size: .95rem;
	padding: .6em .4em .4em;
	margin-bottom: 2em;
}
aside.sidebar {
	.widget {
		margin-bottom: 2em;
	}
	ul {
		margin: -1.5em 0 0;
		li {
			list-style-type: none;
			border-top-width: 1px;
			border-top-style: solid;
			padding: .7em 0;
			&:first-child {
				border: none;
			}
		}
	}
	.post-date {
		display: block;
		font-size: .7rem;
		text-transform: uppercase;
	}
	#calendar_wrap table {
		width: 100%;
		td,th {
			text-align: center;
		}
		tfoot td#prev {
			text-align: left;
		}
		tfoot td#next {
			text-align: right;
		}
		tfoot td a {
			text-transform: uppercase;
			font-size: .7rem;
		}
		caption {
			@include fontStyle(heading, 1rem, 400, normal, null, uppercase);
			padding-bottom: 1em;
		}
	}
}
.widget .searchform {
	text-align: right;
	margin-bottom: 2em;
	clear: both;
	input {
		float: left;
	}
	input[type=text] {
		padding: .75em;
		font-size: .9rem;
		width: 80%;
		outline: none;
		height: 40px;
	}
	input[type=submit]{
		line-height: normal;
		padding: .5rem .75rem;
		width: 20%;
		height: 40px;
		font: {
			weight: bold;
			size: 1.5rem;
		}
	}
}
.widget-cta {
	padding: 1.5em;
	p, a {
		text-align: center;
		margin: 0;
	}
	p.top {
		@include fontStyle(heading, 1rem, 400, normal, null, uppercase);
	}
	p.btm {
		@include fontStyle(heading, 1.5rem, 400, italic);
	}
	.btn {
		@include fontStyle(heading, 1rem, 400, normal, null, uppercase);
		display: block;
		padding: 1em;
		margin-top: 1em;
	}
}
.widget-custom {
	h4 {
		font-size: 2rem;
		padding: 0;
		margin: 0 0 1rem;
	}
	h4, p { text-align: cneter; }
	.button { 
		@include fontStyle(heading, 1rem, 400, normal, null, uppercase);
		width: 100%;
		margin: 0;
	}
	&.has-bg {
		padding: 1.5em;
	}
}



/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.home {
	.container { padding-top: 0; }
	.homepage-slider {
		margin: 0;
		.slide { 
			height: 550px;
			background: {
				repeat: no-repeat;
				size: cover;
				position: center;
			}
		}
	}
	.backdrop {
		position: relative;
		padding: 0;
		h2 {
			border: none;
			padding: 1rem;
			padding-left: 500%;
			margin-left: -500%;
			font-style: italic;
			font-size: 2rem;
		}
		.slider-text p {
			@include fontStyle(heading, 1.5rem, 400);
		}
		.button { margin-bottom: 0; }
		.tabs-content .content {
			overflow-y: auto;
		}
	}
}
.callouts {
	margin: 3em auto 1em;
}
.callout {
	margin-bottom: 1em;
	h4, p {
		text-align: center;
	}
	h4 {
		transition: background-color .3s linear;
		font-size: 1.2rem;
		text-transform: capitalize;
		img, .icon {
			display: block;
			margin: 0 auto 1rem;
		}
		.icon {
			font-size: 5em;
		}
		.cta-link {
			font-style: normal;
			font-size: 1.2rem;
			margin: -1em;
			padding: 1em;
		}
		&.has-bg {
			padding: 1em;
			margin: 0 0 1.5em;
		}
	}
	p:last-child {
		margin: 0;
	}
	.cta-link, .cta-link-outside {
		@include fontStyle(heading, 1rem, 400, italic, center);
		display: block;
	}
}
.overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.slider-info {
	position: absolute;
	width: 100%;
	z-index: 5;
	bottom: 2em;
	left: 0;
}
.slider-text {
	width: 90%;
}
// Blog //
article.post {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	footer.post {
		margin-top: 2em;
		border-top-width: 1px;
		border-top-style: solid;
		padding-top: 1em;
	}
}
.continue {
	@include fontStyle(heading, null, 400, italic);
	display: block;
	margin-top: 1em;
}
time {
	font-size: .9rem;
	display: block;
	margin-bottom: 1em;
	text-transform: uppercase;
}
.pagination {
	text-align: right;
	font-size: .9rem;
	span, a {
		display: inline-block;
		padding: .25rem;
	}
	.current {
		font-weight: bold;
	}
}
div.main {
	p.categories, p.tags {
		margin: 0;
		font-size: .8rem;
		line-height: 1.7em;
	}
}
.socialize, .socialize p {
	text-align: right;
	margin: 0;
	.symbol {
		display: inline-block;
		margin-left: .2em;
	}
}
.comment-link {
	margin-bottom: 0;
	a {
		display: block;
		font-weight: bold;
	}
}
#respond {
	padding-top: 2em;
}
#commentform {
	input[type=submit]{
		@include fontStyle(heading, 1.3rem, 400, italic);
		padding: .5em;
	}
}
#comment {
	width: 100%;
}
.comment-meta {
	font-size: .8rem;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}
div.main ol.commentlist {
	margin: 0;
	li {
		list-style-type: none;
		margin: 0 0 2em;
	}
	.comment-author {
		width: 100%;
		margin: 0;
		border: none;
	}
}
.reply {
	text-align: right;
}
.comment-reply-link {
	@include fontStyle(heading, .8rem, 400, normal, null, uppercase);
	display: inline-block;
	padding: .1em .6em;
}
.children {
	border-left-width: 3px;
	border-left-style: solid;
	padding-left: 1em;
	margin: 1em 0;
}
// 404
.error404 h3 {
	margin-top: 0;
}
// Gallery
article.post.gallery {
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.flexslider .slides {
	margin: 0;
}
.gallery .featured {
	width: 100%;
}
.single .gallery .content {
	margin-bottom: 4em;
}
.single .gallery .categorizing {
	margin: 0;
}
.gallery [class*="column"]+[class*="column"]:last-child {
	float: left;
}
.gallery-image {
	margin-bottom: 1em;
	position: relative;
}
.columns.gallery-image.no-space {
	padding: 0;
	margin: 0;
}
.flexslider .slides img {
	max-height: 500px;
	width: auto;
	margin: 0 auto;
}
.gallery-image img { 
	margin: 0;
}
.gallery-image .caption {
	color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	font-size: .7rem;
	background: rgba(0, 0, 0, .8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
	zoom: 1;
}
.gallery-image:hover .caption {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.gallery-image.full { 
	width: 100%;
	background-image: url(plugins/skins/loading-medium.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.gallery-image.full img { 
	width: 100%;
	opacity: 0;
	transition: opacity .3s ease-in;
}
#carousel .slides li {
	margin: 0;
}
ol.flex-control-nav {
	margin: 0;
	text-align: center;
}
.counter {
	font-size: .8rem;
}
.flex-direction-nav a {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	text-indent: -1000px;
	overflow: hidden;
}



/*==========================================================================
Gravity Forms
==========================================================================*/
.container .gform_wrapper {
	.top_label .gfield_label {
		@include fontStyle(heading, .7rem, 400, normal, null, uppercase);
		font-weight: normal !important;
	}
	.top_label li.gfield.gf_left_half input.medium, .top_label li.gfield.gf_left_half input.large, .top_label li.gfield.gf_left_half select.medium, .top_label li.gfield.gf_left_half select.large, .top_label li.gfield.gf_right_half input.medium, .top_label li.gfield.gf_right_half input.large, .top_label li.gfield.gf_right_half select.medium, .top_label li.gfield.gf_right_half select.large,
	.top_label input.large, .top_label select.large, .top_label textarea.textarea,
	.ginput_complex .ginput_full input[type=text], .ginput_complex .ginput_full input[type=url], .ginput_complex .ginput_full input[type=email], .ginput_complex .ginput_full input[type=tel], .ginput_complex .ginput_full input[type=number], .ginput_complex .ginput_full input[type=password],
	.ginput_complex input[type=text], .ginput_complex input[type=url], .ginput_complex input[type=email], .ginput_complex input[type=tel], .ginput_complex input[type=number], .ginput_complex input[type=password], .ginput_complex select,
	.top_label input.medium, .top_label select.medium,
	input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password] {
		padding: 1em;
		font-size: 1.2em;
	}
	.ginput_complex .ginput_left, .ginput_complex .ginput_right, .ginput_complex .ginput_full {
		overflow: visible;
	}
	input[type=submit]{
		@include fontStyle(heading, 1.3rem, 400, italic);
		padding: .5em 1em;
	}
	li.gfield.gfield_error.gfield_contains_required label.gfield_label, li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		margin: 0;
	}
	.validation_message {
		font: {
			weight: normal;
			size: .7rem;
		}
	}
	.top_label .gfield_description.validation_message, .gfield_description.validation_message {
		padding: 0;
	}
	.gfield_description {
		font-size: .75rem;
		font-style: italic;
	}
	li.gfield {
		margin: 2em 0;
	}
}
