// Small screens
@media only screen and (max-width: 40em) {
	.home {
		.cta-box.has-image {
			.image, .call {
				width: 100% !important;
				float: none !important;
			}
		}
		.home-slider {
			.slide-caption {
				width: 100%;
				h2 { font-size: 1.5rem; }
			}
			.slick-dots {
				position: relative;
				width: 100%;
				text-align: center;
				bottom: 0;
			}
			.slide-img { width: 100%; }
		}
	}
}

// Medium screens
@media only screen and (max-width: 64em) {
	select.tinynav {
		height: 46px;
		width: 97% !important;
	}
	header.main {
		.logo { margin-bottom: 1.5em; }
		.upper, .logo { text-align: center; }
		nav.main ul.menu { display: none; }
		select.tinynav { height: 45px !important; }
	}
	.home {
		.featured-posts {
			img {
				width: 100%;
			}
			.medium-6.large-3 {
				margin-bottom: 1.5em;
			}
		}
		.cta-contact .columns{
			margin: 0 0 1.5em;
			.contact {
				text-align: center;
			}
		}
		.cta-box.has-image .image {
			width: 35%;
		}
		.cta-box.has-image .call {
			width: 65%;
		}
		.orbit-container .orbit-slides-container li .orbit-caption {
			width: 100%;
		}
	}
	.blog {
		.the-post {
			padding-left: 0;
		}
		time {
			position: relative;
			width: 100%;
			margin-bottom: 1.5em;
			height: auto;
		}
	}
	.product-thumb, .gallery.excerpt {
		img {
			width: 100%;
		}
	}
	.feature {
		.overlay, .overlay .details, .overlay .button {
			opacity: 1;
			bottom: auto;
		}
	}
	.categories-nav {
		.tinynav {
			margin-bottom: 1.5em;
		}
		.cat-nav {
			display: none !important;
		}
	}
	.single-gallery, .blog, .page {
		.container {
			padding-bottom: 0;
		}
		aside.sidebar, .content {
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			margin-top: 1.5em;
			border: none;
		}
	}
}

// Large screens
@media only screen and (min-width: 64.063em) {
	.product {
		&.large-12, &.large-6:nth-child(2n+1), &.large-4:nth-child(3n+1), &.large-3:nth-child(4n+1), &.large-2:nth-child(6n+1)  {
			clear: left;
		}
	}
	.cat-nav {
		border-right-width: 1px;
		border-right-style: solid;
		padding-right: 0;
	}
	.tinynav, .customSelect {
		display: none !important;
	}
}