/*==========================================================================
Imports
==========================================================================*/
@import "includes";
@import "slick";


/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h2, h3, h4, h5, h6, .featured-title {
	@include fontStyle($font-type: heading, $font-size: null, $font-weight: normal, $font-style: null, $text-align: null, $text-transform: null, $line-height: 1em, $letter-spacing: null);
}
.page h1 {
	@include fakeRule();
	&:after { opacity: .25; }
}
h1 { margin: 0 0 1rem; }
.home h1 {
	padding: 0;
	&:after { display: none; }
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2.3rem; }
h3 { font-size: 2.2rem; }
h4, .featured-title { font-size: 1.8rem; }
h5, h6 { font-size: 1.5rem; }
p, ul, ol, li, blockquote, blockquote p, dl, dt, dd, table, tr, td {
	@include fontStyle($font-type: paragraph, $font-size: .9rem, $font-weight: null, $font-style: null, $text-align: null, $text-transform: null, $line-height: 1.5em, $letter-spacing: null);
	&:last-child { margin-bottom: 0; }
}
a { @include transition(all,.2s); }
blockquote {
	padding: 1em;
	border-left-width: 3px;
	.credit {
		font-size: .7rem;
		font-style: normal;
		opacity: .6;
	}
	p { margin: 0; }
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: .9em;
	margin: 0;
	padding: .5em;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
// Forms //
fieldset {
	margin: 0;
	padding: 0;
}



/*==========================================================================
Containers & Shared Styles
==========================================================================*/
// Containers //
body {
	@include fontStyle(paragraph, .9rem, null, null, null, null, 1.8rem);	
}
.row { max-width: 1000px; }
[class*="column"]+[class*="column"]:last-child {
	.staff-list &, .page-slide.column-content & { float: left; }
}
.container { padding: 1.5em 0; }
// CSS Tables //
.table, .table-row, .table-cell {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.table { 
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }
// Misc Shared Styles //
.button, .button-alt, .page-slide .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	@include fontStyle(heading, 1.2rem);	
	padding: .45em 1em;
	text-decoration: none !important;
	margin: 0;
}
a.symbol {
	font-size: 2em;
	&:before { margin-right: 0; }
}
.rule {
	display: block;
	width: 100%;
	height: 1px;
}
.prepend { @include fontStyle(heading,1.2rem); }
.the-page .featured-image {
	margin-bottom: 1.5em;
	width: 100%;
}
.social .prepend, .social a {
	display: inline-block;
	margin-right: .25rem;
}
.customSelect {
	@include fontStyle(heading, 1.1rem, null, null, center);
	padding: .5em;
	cursor: pointer;
}
.tinynav, .customSelectInner { width: 100% !important; }
select.tinynav {
	width: 92% !important;
	cursor: pointer;
	height: 46px !important;
}



/*==========================================================================
Header
==========================================================================*/
// Header Container //
header.main {
	padding: 1.5em 0;
	.above-center { text-align: center; }
	h1 {
		@include transition(all, .3s);
		margin: .5rem 0;
		&:hover { opacity: .8; }
	}
	a.symbol {
		display: inline-block;
		text-decoration: none;
		line-height: normal;
		&:before {
			font-size: 1em;
			margin: 0;
		}
		&:hover { opacity: .8; }
	}
	.filled input { padding: .25em .5em; }
	.underline {
		.searchform {
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}
	}
	.searchform {
		input {
			border: none;
			outline: none;
			background-color: transparent;
		}
	}
}
.upper {
	text-align: right;
	margin-bottom: -1.5em;
	p, nav a, input[type=text], span, .prepend {
		@include fontStyle(heading, .8rem);
		margin: 0;
	}
	.social a {
		font-size: 1.1rem;
		padding-left: .25em;
	}
	.line-up {
		display: inline-block;
		line-height: .5rem;
		padding-left: .75em;
		margin-left: .75em;
		position: relative;
		&:first-child {
			padding: 0;
			margin: 0;
			border: 0;
		}
	}
	&.line .line-up {
		border-left-width: 1px;
		border-left-style: solid;
	}
	&.line .line-up:first-child { border: none; }
	&.bullet .line-up:before {
		content: '\2022';
		position: absolute;
		left: -.5em;
		top: .7em;
		font-size: .75rem;
	}
	&.bullet .line-up:first-child:before { content: ''; }
}
// Main Navigation //
header.main nav {
	ul { margin: 0; }
	.menu {
		text-align: right;
		li { list-style-type: none; }
		> li { display: inline-block; }
		a { @include fontStyle(heading); }
	}
}
nav.main {
	padding-top: 2.5em;
	.menu {
		> li {
			margin-left: 1em;
			position: relative;
			> a {
				@include transition(all, .3s);
				position: relative;
				display: block;
				padding-bottom: 1em;
				overflow: hidden;
				&:after {
					@include transition(all, .3s);
					content: '';
					position: absolute;
					bottom: -100%;
					left: 0;
					height: 3px;
					width: 100%;
					background-color: black;
				}
			}
			&:hover a:after { bottom: .5em; }
			&:hover {
				ul {
					display: block;
					position: absolute;
					text-align: left;
					white-space: nowrap;
					right: 0;
					z-index: 100;
					li {
						border-bottom-width: 1px;
						border-bottom-style: solid;
						position: relative;
						&:hover ul { display: block; }
					}
					a {
						font-size: .9rem;
						display: block;
						padding: .5em 1em;
					}
					ul {
						display: none;
						top: 0;
						right: 100%;
					}
				}
			}
		}
		ul { display: none; }
		a { font-size: 1.2rem; }
		.current-menu-item {
			a:after { bottom: .5em; }
		}
	}
}
nav.secondary, nav.shop {
	ul { display: inline-block; }
	li {
		padding-left: .75em;
		&:first-child { padding: 0; }
	}
}
nav.shop:before {
	font-family: 'Ionicons';
	content: '\f167';
	display: inline-block;
	margin-right: 1em;
}
.customSelectInner:after {
	font-family: 'Ionicons';
	content: '\f104';
	display: inline-block;
	margin-left: 1em;
}
// Breadcrumb //
.breadcrumb {
	p, span {
		@include fontStyle(heading, .7rem, null, null, null, uppercase);
	}
	span {
		display: inline-block;
		padding: 0 .5em;
		&:first-child { padding-left: 0; }
	}
}


/*==========================================================================
Footer
==========================================================================*/
footer.main {
	padding: 1.5em 0;
	border-top-width: 1px;
	border-top-style: solid;
	p, nav a, .small-print a, li {
		@include fontStyle(heading, .6rem, null, null, null, null, null, .1em);
		margin: 0;
	}
	.small-print { text-align: right; }
	.social a {
		font-size: 1.5rem;
		display: inline-block;
		padding-right: .25em;
		&:before { margin: 0; }
	}
}
nav.footer {
	ul { margin: 0; }
	li {
		list-style-type: none;
		display: inline-block;
		margin-right: .5em;
	}
}
.footer-add {
	padding: 1.5em 0;
	border-top-width: 1px;
	border-top-style: solid;
	img { margin-bottom: 0; }
}


/*==========================================================================
Sidebar
==========================================================================*/
aside.sidebar {
	border-left-width: 1px;
	border-left-style: solid;
	h4.widgettitle {
		font-size: 1.5rem;
		margin-bottom: .5em;
	}
	.widget {
		border-top-width: 1px;
		border-top-style: solid;
		padding-top: 1.5em;
		margin-top: 1.5em;
		&:first-child {
			border: none;
			padding-top: 0;
			margin-top: 0;
		}
	}
	.searchform {
		@extend .clearfix;
		input {
			border: none;
			outline: none;
			background-color: transparent;
			display: block;
			&[type="submit"] {
				width: 15%;
				float: right;
				padding: .25em;
				font-size: 1.6rem;
			}
			&[type="text"] {
				width: 80%;
				float: left;
				padding: .75em;
			}
		}
	}
	ul {
		margin: 0;
		li {
			@include fontStyle(heading, 1rem);
			list-style-type: none;
			position: relative;
			padding: .25em .5em .25em 1.25em;
			&:before {
				content: '-';
				position: absolute;
				top: .25em;
				left: .25em;
			}
		}
	}
	#wp-calendar {
		width: 100%;
		caption {
			@include fontStyle(heading, 1.1rem);
			margin-bottom: .5em;
		}
	}
	.widget-custom {
		position: relative;
		.widget-image {
			display: block;
			margin-bottom: 1em;
		}
		.button { font-size: .9rem; }
	}
	.has-bg { 
		padding: 1em;
		&:first-child { padding: 1em; }
	}
	.categories-nav { height: 48px; }
	.widget {
		.social {
			.prepend { display: block; }
		}
		&.widget-login {
			.button a, .button { width: 100%; }
		}
	}
}


/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.home-slider {
	margin: 0;
	img { margin: 0; }
	.slide { position: relative; }
	.slide-caption {
		position: absolute;
		bottom: 0;
		z-index: 100;
		padding: 1em;
		width: 50%;
		background: -moz-linear-gradient(left, rgba(43,43,43,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(43,43,43,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(43,43,43,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(43,43,43,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(43,43,43,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(43,43,43,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62b2b2b', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		h2, p, a {
			margin: 0;
			text-shadow: 0 0 5px #000;
		}
	}
}
.home {
	.rule { margin: 0 0 1.5em; }
	.section {
		padding: 1.5em 0 0;
		&:first-child {
			padding: 0;
			.rule { display: none; }
		}
	}
}
.feature {
	position: relative;
	vertical-align: middle;
	display: block;
	.overlay {
		@include transition(all, .3s);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		text-align: center;
		overflow: hidden;
		padding: 1.5em;
		opacity: 0;
	}
	.details, .button {
		@include transition(all, .3s);
		display: block;
		opacity: 0;
	}
	.details { margin-bottom: 1.5em; }
	.button { bottom: -200%; }
	.featured-title { 
		font-size: 1.4rem;
		display: block;
	}
	&:hover {
		.overlay, .details, .button { opacity: 1; }
		.button { bottom: 0; }
	}
	&.border-primary, &.border-secondary, &.border-tertiary, &.border-quaternary {
		border-width: 5px;
		border-style: solid;
		&:hover { border-width: 10px; }
	}
}
.featured-posts .features .columns:nth-child(n+5) {
	margin-top: 2em;
}
.cta-box {
	.call { padding: 1em; }
	.cta-go { @include fontStyle(heading); }
	p:last-of-type { margin-bottom: 0; }
	.image img { margin: 0; }
	&.has-image {
		.call { width: 80%; }
		.image { 
			width: 20%;
			text-align: right;
		}
	}
}
.contact {
	.prepend, .link-co {
		@include fontStyle(heading);
	}
	.prepend {
		font-size: 1rem;
		display: block;
	}
	.interested {
		display: block;
		font-size: 1rem;
	}
	.social { margin: .75em 0; }
	.social-share a {
		font-size: 2.5rem;
		display: inline-block;
		&:before {
			margin: 0;
			font-size: inherit;
		}
	}
	.social-connect:nth-child(2), .social-share:nth-child(2) {
		display: block;
		border-top-width: 1px;
		border-top-style: solid;
		padding-top: 1.5em;
		margin-top: 1.5em;
	}
}
.link-co, .link-fo {
	display: block;
	line-height: normal;
}
.link-co {
	font-size: 1.3rem;
	padding-right: .5em;
}
.contact-icon {
	line-height: 45px;
	font-size: 2.3rem;
	display: inline-block;
	margin-right: .25em;
	text-align: center;
	height: 45px;
	width: 45px;
	background-color: black;
	border-radius: 100%;
	float: left;
}
// Blog //
.post-list {
	.the-post {
		padding-left: 120px;
	}
	time {
		position: absolute;
		top: auto;
		left: 0;
	}
	.content p { margin: 0;	}
}
.single {
	time {
		float: left;
		margin: 0 2em 1em 0;
	}
}
article.post {
	h1, h2 {
		line-height: 1em;
		margin: 0;
		line-height: 1em;
		margin: 0;
		font-weight: normal;
		a {
			font-size: 1em;
		} 
	}
	.img-zoom {
		margin-bottom: 1em;
	}
}
.the-post {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 2em;
}
.categorizing { margin: .25em 0 1.25em; }
footer.post {
	margin-top: 2em;
	text-align: right;
	.social {
		border-top-width: 1px;
		border-top-style: solid;
		margin-top: 1.5em;
		padding: .75em 0;
	}
}
#commentform input[type=submit] {
	@include fontStyle(heading, 1rem);
	@include transition(all,.3s);
	cursor: pointer;
	border: none;
	display: block;
}
.continue-wrap {
	display: block;
	text-align: right;
}
.continue {
	@include fontStyle(heading, 1.2rem);
	@include transition(all,.3s);
	display: inline-block;
	white-space: nowrap;
	margin-top: 1em;
	padding: .5em 1em;
}
time {
	@include fontStyle(heading);
	display: block;
	padding: 1.1em 0;
	width: 90px;
	height: 90px;
	text-align: center;
	span {
		display: inline-block;
		text-align: center;
	}
	.date {
		font-size: 3em;
		display: block;
		margin-bottom: .15em;
	}
	.year {
		margin-left: .35em;
	}
}
.pagination {
	@include fontStyle(heading, .8rem, null, null, null, uppercase, null, null);
	text-align: right;
	font-size: .9rem;
	span, a {
		display: inline-block;
		padding: .25rem;
	}
	.current {
		font-weight: bold;
		padding: .25em .5em;
	}
}
div.main-content {
	p.categories, p.tags {
		margin: 0;
		font-size: .8rem;
		line-height: 1.7em;
		a {
			font-style: italic;
		}
	}
}
.socialize, .socialize p {
	text-align: right;
	margin: 0;
	.symbol {
		display: inline-block;
	}
}
.comment-link {
	margin-bottom: 0;
	a {
		display: block;
		font-weight: bold;
	}
}
#commentform {
	input[type=submit]{
		padding: .5em;
	}
}
#comment {
	width: 100%;
}
.comment-meta {
	font-size: .8rem;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}
div.main-content ol.commentlist {
	margin: 0;
	li {
		list-style-type: none;
		margin: 0 0 2em;
	}
	.comment-author {
		width: 100%;
		margin: 0;
		border: none;
	}
}
.reply { text-align: right; }
.comment-reply-link {
	display: inline-block;
	padding: .1em .6em;
}
.children {
	border-left-width: 3px;
	border-left-style: solid;
	padding-left: 1em;
	margin: 1em 0;
}
// Gallery //
.intro .details {
	padding: 1em;
	margin-bottom: 1.5em;
}
.cat-nav {
	margin: 0;
	ul { margin: 0; }
	li {
		list-style-type: none;
		a {
			@include fontStyle(heading, 1rem);
			display: block;
			padding: .5em;
		}
	}
	.customSelect { margin-bottom: 1.5em; }
	.current-cat-parent ul, .children { padding: 0; }
}
.gallery {
	.content {
		border-left-width: 1px;
		border-left-style: solid;
		h1 {
			font-size: 1.5rem;
			margin-bottom: 1.5em;
		}
		.categories, .social-share {
			display: block;
			margin-top: 1.5em;
			padding-top: 1.5em;
			border-top-width: 1px;
			border-top-style: solid;
		}
		.social-share a.symbol {
			font-size: 3rem;
		}
	}
	.overlay, .gallery-overlay {
		text-align: left;
		h2 {
			font-size: 1.5rem;
		}
	}
	.link { display: block; }
	.featured-image { margin: 0; }
	&.excerpt { margin-bottom: 1.5em; }
}
.single .gallery .content {
	margin-bottom: 0;
}
.flex-control-paging li a {
	opacity: .5;
	&.flex-active {
		opacity: 1;
	}
}
// Shop //
.product-list {
	margin: 0;
	li { 
		list-style-type: none;
		text-align: center;
	}

}
.post-type-archive-product, .tax-product_cat {
	.reveal-modal {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
}
.product-details {
	.price {
		font-size: 1.3rem;
	}
	h3 {
		@include fakeRule();
		font-size: 2.5rem;
		padding-bottom: .75em;
		margin-bottom: .75em;
	}
	.form {
		@include fontStyle(heading);
		margin: 2em 0 0;
		padding: 1.5em;
	}
	.alt-break, .alt {
		@include fontStyle(heading, 1.3rem);
		text-align: center;
		margin: 0;
	}
	.alt {
		padding: .5em;
		margin-top: .5em;
	}
	.social-share {
		font-size: 1rem;
		a.symbol {
			margin-right: .25em;
		} 
	}
	footer.reveal {
		margin-top: 2em;
		padding: 1em 0 0;
		border-top-style: solid;
		border-top-width: 1px;
		a, a.symbol, .icon {
			font-size: 1.5rem;
		}
		.controls {
			text-align: right;
			a {
				display: inline-block;
				margin-left: 1em;
				position: relative;
				top: auto;
				right: auto;
			}
		}
	}
	.button {
		width: 100%;
	}
}
.product-summary {
	input[type=submit] { 
		border: 0;
		display: inline-block; 
		margin-top: .5em !important;
	}
	.quantity { clear: both; }
}
[class*="column"]+[class*="column"]:last-child {
	float: left;
}
.product-thumb {
	margin-bottom: 1.5em;
	h4, p, span { text-align: left; }
	.button { text-align: center; }
	.details { margin-bottom: 1em; }
}
.jigoshop a.remove {
	font-family: 'Ionicons' !important;
	content: '\f12a';
	text-indent: 0;
	background-color: transparent;
	background-image: none;
	height: auto;
	width: auto;
}
// 404 //
.error404 {
	main { text-align: center; }
}



/*==========================================================================
Gravity Forms
==========================================================================*/
.product-details .gform_wrapper {
	margin: 0;
	max-width: 100%;
	.top_label {
		.gfield_label {
			padding: 0;
			margin: 0;
		}
	input.large {
		border: none;
		width: 100%;
	}
	}
	.gform_footer {
		margin: 0;
		padding-bottom: 0;
	}
}
.gform_wrapper, aside.sidebar .gform_wrapper {
	li {
		padding: 0;
		font-size: .9rem;
		&:hover {
			background-color: transparent;
		}
	}
	input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], textarea.textarea {
		border: none;
		padding: .5em;
		font-size: .9rem;
	}
	.gform_footer {
		padding: 0;
	}
	div.validation_error {
		font-size: .9rem;
		line-height: normal;
	}
}


@media print {
	.slideshow,.features, .home .contact, .sidebar, .flex-video,
	header.main .large-9, .social, .breadcrumb, .cat-nav, form, footer.main, .tinynav, .footer-add, .alt-break { display: none !important; }
	a:link:after { content: '' !important; }
	.product-summary .large-6 {
		width: 50%;
	} 
}


/*==========================================================================
Responsive
==========================================================================*/
@import "responsive";

