/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
/*	nav.footer li {
		padding: .25em .25em;
	}

	.page .sticky {
		position: relative;
	}
	.arrow-up-large {
		display: none;
	}
	.expander {
		padding: 1.5em 0 0;
	}
	.expander aside.sidebar {
		padding: 1.5em 1em;
		margin-top: 1em;
	}
	.social-connect {
		margin-bottom: 1em;
	}
	header.blog .category {
		text-align: center;
	}
	header.blog .title {
		border-bottom-width: 1px;
	}
	header.blog .recent-entries {
		border-top-width: 1px;
	}
    .tinynav { 
    	display: block;
    	margin: 0 0 1.5em;
    }
    nav.main ul.menu { display: none }
    .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
    	width: 100% !important;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half input.medium, .gform_wrapper .top_label li.gfield.gf_left_half input.large, .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .gform_wrapper .top_label li.gfield.gf_left_half select.large, .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .gform_wrapper .top_label li.gfield.gf_right_half input.large, .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .gform_wrapper .top_label li.gfield.gf_right_half select.large {
    	width: 99% !important;
    }
    .expander h1 a {
    	cursor: default;
    }
    .social, header.main .social, footer.main .social, aside.sidebar .social {
    	margin: 1em 0;
    	display: block;
    	text-align: center;
    	border: 0;
    	padding: 0;
    }*/
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
/*	.contact-details, .contact-details p {
		text-align: right;
	}
	aside.sidebar .social {
		text-align: right;
		display: block;
	}
	aside.sidebar {
		background-color: transparent;
	}
	.expander {
		padding: 1.5em 0;
	}
	.sticky aside.sidebar .content {
		position: absolute;
		bottom: 0;
		right: 0.9375em;
		padding-left: 0.9375em;
		width: 100%;
	}
	aside.sidebar .cta {
		text-align: right;
	}
	header.blog .recent-entries {
		text-align: right;
	}
	footer.main .social {
		text-align: right;
	}
	.social-block {
		text-align: right;
	}
	.social-block .social {
		display: inline-block;
	}*/
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
/*	nav .menu {
		text-align: right;
	}
	.logo {
		text-align: left;
	}
	.copyright {
		text-align: left;
		border-top: none;
		padding: 0;
	}
	nav.footer {
		margin-bottom: 0;
	}*/
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */