// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	.popped.reveal-modal {
		width: 90%;
		margin-left: 5%;
	}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (max-width: 64em) {
	.page-slide.column-content {
		.large-3.medium-6:nth-child(2n+1) {
			clear: left;
		}
	}
	.page-slide.split .bg, .side-secondary {
		height: 300px;
		position: relative;
		width: 100%;
	}
	.page-slide.split .bg {
		margin: 0 0 3em;
	}
	.has-fixed {
		background: {
			attachment: scroll;
			size: cover;
			repeat: no-repeat;
			position: center;
		}
	}
	.has-border .page-slide {
		padding: 0;
		&.simple {
			padding: 2em 0;
		}
	}
	.has-focus {
		padding-top: 20em;
	}
	.has-border {
		padding: 0;
		.social-share { display: none; }
	}
	footer.main.has-border { padding: 2em 1em; }
	header.main {
		h1 { font-size: 1.3rem; letter-spacing: 3px; }
		.tagline, .tagline a { letter-spacing: 0; font-size: .8rem; }
	}
	.page-slide.column-content .inner .overlay {
		opacity: 1;
		height: 100%;
	}
	nav.main {
		display: none;
	}
	.slicknav_menu {
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	header.main {
		padding: 3.5em 0 0;
		> .row {
			border: none;
		}
		span.band { display: none; }
	}
	[data-magellan-expedition-clone] {
		display: none;
	}
}


// Large screens
@media only screen and (min-width: 64.063em) {
	.page-slide.column-content {
		.large-3:nth-child(4n+1), .large-6:nth-child(2n+1) {
			clear: left;
		}
		.large-3.medium-6:nth-child(2n+1) {
			clear: none;
		}
	}
	.slicknav_menu {
		display: none;
	}
	nav.main[data-magellan-expedition-clone]{
		display: none;
	}
    .callout {
        margin-top: 1.25em;
        &:nth-of-type(2) {
            text-align: left;
        }
        &:nth-of-type(3) {
            text-align: right;
        }
    }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */