/*==========================================================================
01. Imports
==========================================================================*/
@import "includes";



/*==========================================================================
02. Boilerplate & Wordpress Defined Styles
==========================================================================*/
// 02a. Boilerplate //
h1, h2, h3, h4, h5, h6 {
	@include fontStyle(heading, null, normal, null, null, uppercase, 1.3em);
}
h1 { font-size: 1.9rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1.1rem; }
h4, h5 { font-size: 1rem; }
h3, h4, h5, h6 {
	letter-spacing: 0;
}
p, ul, ol, li, blockquote, blockquote p, dl, dt, dd {
	@include fontStyle(paragraph, .9rem, null, null, null, null, 1.7rem);
}
ul, ol {
	margin: 1em 15%;
	text-align: left;
}
a {
	@include transition(all,.3s);
	&:hover {
		text-decoration: underline;
	}
}
hr {
	@include fakeRule;
	background-color: transparent;
	border: none;
	margin-bottom: 3em;
}
// 02b. Social Connect Colors //
.social-connect {
	text-align: left;
	margin: .5em 0;
	.symbol {
		@include transition(all, .3s);
		margin-right: .25em;
		text-decoration: none;
		font-size: 2.5rem;
		&:before {
			margin: 0;
		}
		&:hover {
			opacity: .5;
		}
		// Once Sass Watcher supports 3.3, update to map
		$connects: facebook twitter googleplus linkedin youtube pinterest instagram yelp vimeo foursquare tumblr;
		@each $connect in $connects {
			@if $connect == facebook { &.connect-#{$connect} { color: #3b5998; } }
			@if $connect == twitter { &.connect-#{$connect} { color: #00aced; } }
			@if $connect == googleplus { &.connect-#{$connect} { color: #dd4b39; } }
			@if $connect == linkedin { &.connect-#{$connect} { color: #007bb6; } }
			@if $connect == youtube { &.connect-#{$connect} { color: #bb0000; } }
			@if $connect == pinterest { &.connect-#{$connect} { color: #cb2027; } }
			@if $connect == instagram { &.connect-#{$connect} { color: #517fa4; } }
			@if $connect == yelp { &.connect-#{$connect} { color: #af0606; } }
			@if $connect == vimeo { &.connect-#{$connect} { color: #aad450; } }
			@if $connect == foursquare { &.connect-#{$connect} { color: #0072b1; } }
			@if $connect == tumblr { &.connect-#{$connect} { color: #32506d; } }
		}
	}
}
// 02c. Wordpress Defined Styles //
img { margin: 0 0 1.5em 0; }
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: .9em;
	margin: 0;
	padding: .5em;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}



/*==========================================================================
03. Containers & Shared Styles
==========================================================================*/
// 03a. Containers //
body {
	@include fontStyle(paragraph, .9rem, null, null, null, null, 1.8rem);
	overflow-x: hidden;
}
.row {
	max-width: 100%;
}
.columns {
	padding-left: 1.9375em;
	padding-right: 1.9375em;
}
[class*="column"]+[class*="column"]:last-child {
	.staff-list &, .page-slide.column-content & {
		float: left;
	}
}
// 03b. CSS Tables //
.table, .table-row, .table-cell {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.table {
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }
// 03c. Misc Shared Styles //
.button {
	@include fontStyle(paragraph, .8rem, null, null, null, uppercase, normal, .2em);
	background-color: transparent;
	padding: .45em 1em;
	text-decoration: none !important;
	border: {
		width: 3px;
		style: solid;
	}
}
blockquote {
	&.feature-testimonial, &.testimonial {
		border: none;
		position: relative;
		&:before, &:after {
			@include fontStyle(heading, 76px, null, null, null, null, 76px);
			position: absolute;
			height: 40px;
		}
		&:before {
			content: '\201C';
			top: 0;
			left: .25rem;
		}
		.credit {
			font-size: .7rem;
			font-style: normal;
		}
		p {
			margin: 0;
		}
	}
	&.feature-testimonial{
		padding: 2em 2em 1em;
		border-width: 3px;
		border-style: solid;
		margin: 0;
		position: relative;
		line-height: 1.6em;
		&:after {
			content: '\201D';
			bottom: -.1em;
			right: -.25rem;
		}
		.credit {
			opacity: .6;
			margin-top: 2em;
			letter-spacing: .2em;
		}
	}
	&.testimonial {
		&:before {
			left: 0;
			z-index: 1;
			font-size: 12rem;
			top: 50%;
			width: 100%;
		}
		.quote, .credit {
			position: relative;
			z-index: 5;
		}
		.credit {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
	}
}
blockquote.feature-testimonial, blockquote.feature-testimonial p {
	@include fontStyle(heading, .9rem, null, null, null, null, normal, .5em);
}
.symbol {
	font-size: 2em;
}
.featured-image {
	margin-bottom: 3em;
}


/*==========================================================================
04. Header
==========================================================================*/
// 04a. Header Container //
%band-accent {
	border-top-width: 5px;
	border-top-style: solid;
}
header.main {
	padding: 0;
	.above-center {
		text-align: center;
	}
	h1 {
		font-size: 1.5rem;
		margin: .5em 0 0;
	}
	a {
		text-decoration: none;
	}
	&> .row {
		@extend %band-accent;
	}
}
span.band {
	@extend %band-accent;
	position: absolute;
	top: 0;
	left: 2.5%;
	width: 95%;
}
.header-next {
	span.prepend {
		padding: .2em .4em;
	}
	.social {
		padding: 0;
		a.symbol {
			margin: .1em 0 0 .4em;
		}
	}
}
.header-above-left, .header-above-center {
	.social {
		text-align: right;
		// padding-top: .5em;
	}
	span.prepend {
		text-align: right;
	}
	a.symbol {
		margin-left: .3em;
	}
}
// 04b. Header Navigation //
nav.main {
	border-top-width: 1px;
	border-top-style: solid;
	padding: .5em;
	ul.menu {
		margin: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		padding: .25em 1em;
		a {
			@include fontStyle(null, .8rem, null, null, null, uppercase, null, .2em);
			display: block;
			padding: 0 1em;
			border-radius: .3em;
		}
	}
}
// 04c. Header Logo //
.logo {
	padding: .5em;
	h1 {
		letter-spacing: 1.1em;
		margin: 0;
	}
	img {
		margin: 0;
	}
	&.logo-centered {
		text-align: center;
	}
}
.tagline {
	@include fontStyle($font-type: heading, $font-size: .75rem, $font-weight: null, $font-style: null, $text-align: null, $text-transform: uppercase, $line-height: null, $letter-spacing: .5em);
	opacity: .5;
	margin: 0;
}
// 04d. Header Callouts //
.callout {
    text-align: center;
    p {
        margin: 0 0 .5em 0;
    }
    .button {
        margin: 0;
    }
}

/*==========================================================================
05. Footer
==========================================================================*/
footer.main {
	text-align: center;
	.back-top {
		display: inline-block;
		margin-bottom: 3em;
		background-color: transparent;
		border-width: 3px;
		border-style: solid;
		&.button {
			text-transform: uppercase;
			letter-spacing: .2em;
		}
		&.icon {
			font-size: 1.8rem;
			line-height: 39px;
			width: 50px;
			height: 50px;
			border-radius: 100%;
		}
	}
	.small-print {
		p {
			text-align: center;
			margin: .5em 0;
			line-height: normal;
			font-size: .7rem;
			letter-spacing: .1em;
			text-transform: uppercase;
		}
		a {
			text-decoration: none;
			opacity: .5;
			&:hover {
				opacity: 1;
			}
		}
	}
}



/*==========================================================================
06. Section Shared Styles
==========================================================================*/
// 06a. Section Containers //
.slide-container {
	position: relative;
	.social-share {
		position: absolute;
		z-index: 10;
		top: .5em;
		right: 2.5em;
		opacity: .75;
		a {
			text-decoration: none;
			&:hover {
				opacity: .7;
			}
		}
		.prepend {
			@include fontStyle(heading, .75rem, normal, normal, normal, uppercase, normal, .2em);
		}
	}
}
.page-slide {
	padding: 3em 0;
	position: relative;
	text-align: center;
	background: {
		size: cover;
		position: center center;
	}
	header {
		@include fakeRule;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		position: relative;
		h2 {
			letter-spacing: .6em;
		}
		h3 {
			@include fontStyle(paragraph, .9rem, null, null, null, null, 1.7rem);
			margin-top: 3em;
		}
	}
	.social-share {
		position: absolute;
		top: 0;
		right: 0;
	}
	.bg {
		position: absolute;
		height: 100%;
		top: 0;
		background: {
			repeat: no-repeat;
			position: center center;
			size: cover;
		}
		&.left-side 	{ left: 0; right: auto; }
		&.right-side 	{ right: 0; left: auto; }
	}
}
.page-slide {
	&.column-content, &.simple, &.testimonials {
		header:last-child {
			padding: 0 !important;
			margin: 0 !important;
		}
		header:last-child:after {
			background-color: transparent !important;
		}
	}
	&.contact header:after {
		background-color: transparent !important;
	}
}
.slide-details {
	padding: 2em;
	position: relative;
	z-index: 5;
	.complex &, .split & {
		padding: 0;
	}
}
.has-border {
	padding: 3em 2.5em;
}
.has-fixed {
	background: {
		attachment: fixed;
		size: cover;
	}
}
.has-focus {
	padding-top: 40em;
}
// 06b. Overlay //
.overlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	zoom: 1;
}
// 06c. Section Pop Up //
.popples {
	margin: 2em 0;
}
.popped {
	text-align: center;
	h3.popped-title {
		@include fontStyle(heading, 1.4rem, normal, normal, center, uppercase, normal, .2em);
		@include fakeRule;
	}
	.burst {
		@include fontStyle(heading, 2rem, normal, normal, center, uppercase, 2rem);
		text-decoration: none;
		width: 2rem;
		top: 0;
		right: 0;
	}
	.print-me {
		font-size: .7rem;
		text-transform: uppercase;
		position: absolute;
		right: 3.5rem;
		top: .5rem;
		padding-top: .25em;
		text-decoration: none;
		&:before {
			font-size: 1.5rem;
			padding-right: .5em;
			position: absolute;
			left: -1em;
			top: -.1em;
		}
	}
}
.popper h3 {
	@include fontStyle(paragraph, .9rem, normal, normal, center, capitalize);
	margin: 0;
}



/*==========================================================================
07. Section Styles
==========================================================================*/
// 07a. Simple //
.page-slide.simple {
	text-align: center;
}
.outside {
	margin-top: 3em;
	text-align: center;
}
// 07b. Split //
.page-slide.split {
	.bg { width: 50%; }
}
// 07c. Complex //
.page-slide.complex {
	padding: 0;
	.row {
		position: relative;
		z-index: 3;
	}
	.columns {
		padding: {
			top: 3em;
			bottom: 3em;
		}
	}
}
// 07d. Staff //
.page-slide.staff {
	background: {
		size: cover;
		repeat: no-repeat;
		position: center center;
	}
}
// 07d. Complex //
.page-slide.complex {
	padding: 0;
	.side-main {
		position: relative;
	}
	.complex-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}
	.side {
		padding: {
			top: 2em;
			bottom: 2em;
		}
	}
}
// 07e. Staff //
.page-slide.staff {
	.staffer {
		@include transition(all, .3s);
		list-style-type: none;
		position: relative;
		opacity: .7;
		margin-bottom: 3em;
		&:hover {
			opacity: 1;
		}
		&> a {
			display: block;
			position: relative;
		}
		.featured-image {
			width: 100%;
			margin: 0;
		}
	}
}
.choose, .division:first-of-type {
	margin-top: 3em;
}
.division-title {
	h3 {
		font-size: 1.8rem;
		padding: .25em .5em;
	}
}
.staff-info {
	position: absolute;
	bottom: 0;
	padding: .5em;
	width: 100%;
	h4 {
		font-size: 1.2rem;
		margin: 0;
		position: relative;
		padding-right: 50px;
	}
	.opener {
		@include transition(all, .3s);
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		height: 40px;
		width: 40px;
		font-size: 1.5rem;
		text-align: center;
		line-height: 2.4rem;
	}
}
.staff-popped.reveal-modal {
	padding: 0;
	.staff-image {
		padding: 0;
		.featured-image {
			width: 100%;
			margin: 0;
		}
	}
	.staff-content {
		padding: 2em;
		text-align: left;
	}
	header {
		h4 {
			font-size: 1.6rem;
			line-height: 1.2rem;
			margin: 0;
		}
		em {
			display: block;
			margin-bottom: 2em;
		}
	}
	.numbers span {
		display: inline-block;
		padding-right: 2em;
		text-transform: uppercase;
		font-size: .7rem;
		margin-bottom: .5em;
		&.icon {
			padding-right: .5rem;
			font-size: .8rem;
		}
	}
	.contact a {
		display: inline-block;
		text-decoration: none;
		text-align: center;
		margin: 0 .5rem 0 0;
		&.symbol {
			font-size: 40px;
			line-height: 40px;
			&:before {
				margin: 0;
			}
		}
	}
}
// 07f. Gallery //
.page-slide.gallery {
	.gallery-list {
		margin-top: 3em;
		padding-right: 1.25em;
		padding-left: 1.25em;
		&.full-width {
			padding: 0;
		}
	}
	.gallery-image {
		padding: 1em;
		margin: 0;
		&.no-space {
			margin: 0;
		}
	}
	.tabs {
		text-align: center;
		dd {
			display: inline-block;
			float: none;
			margin: 0 .25em;
			a {
				display: block;
				height: 10px;
				width: 10px;
				padding: 0;
				border-radius: 100%;
				opacity: .5;
			}
			&.active a {
				opacity: 1;
			}
		}
	}
}
// 07d. Columns //
.page-slide.column-content {
	li {
		list-style-type: none;
		margin: 2em 0;
		&:hover {
			.button, .overlay {
				opacity: 1;
			}
			.button { height: auto; }
			.overlay { height: 100%; }
			.heading h3 {
				height: 0;
				opacity: 0;
			}
			.heading:before {
				display: none;
			}
		}
		h3 {
			@include fontStyle(heading, 1rem, null, null, null, uppercase, null, .3em);
		}
	}
	.inner {
		position: relative;
		text-align: center;
		.overlay {
			@include transition(all,.3s);
			padding: 1em;
			overflow: hidden;
			opacity: 0;
			height: 0;
		}
		img {
			margin: 0;
		}
		h3 {
			margin-bottom: 1em;
		}
	}
	.heading {
		padding: 1em;
		height: 4em;
		position: relative;
		text-align: center;
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top: -15px;
			left: 0;
			right: 0;
			margin: auto;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid black;
		}
		h3 {
			@include transition(all,.3s);
			margin: 0;
			height: 1.5rem;
			overflow: hidden;
			font-size: 1.3rem;
		}
		.button {
			@include transition(opacity,.3s);
			opacity: 0;
		}
	}
	.medium-4:nth-child(3n+1) {
		clear: left;
	}
	.medium-6:nth-child(2n+1) {
		clear: left;
	}
	img {
		width: 100%;
	}
 	ul {
 		[class*="column"]+[class*="column"]:last-child {
 			float: left;
 		}
 	}
}
// 07d. Contact //
.page-slide.contact {
	.content {
		text-align: left;
	}
}
.address {
	h4 {
		@include fontStyle(heading, 1.5rem, normal, normal, center, uppercase, normal, .3em);
		margin: 1em 0;
	}
}
.map {
	height: 500px;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	iframe {
		width: 100% !important;
		height: 100% !important;
	}
}



/*==========================================================================
08. Gravity Forms
==========================================================================*/
.page-slide .gform_wrapper {
	max-width: 100%;
	margin: 0;
	.top_label {
		input.small, input.medium, input.large, textarea.textarea {
			border: none;
			font-size: 1rem;
			padding: .75em;
		}
		label.gfield_label {
			font-weight: normal;
		}
	}
	.gform_footer {
		text-align: right;
	}
}



/*==========================================================================
09. Slicknav
==========================================================================*/
/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/*
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	font-size:16px;
}
/* Button */
.slicknav_btn {
	margin: 5px 5px 6px;
	text-decoration:none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
	font-weight: bold;
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
	border-bottom-width: 4px;
	border-bottom-style: solid;
}
.slicknav_nav {
	margin:0;
	padding:0;
	font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0 0 0 20px;
}
.slicknav_nav .slicknav_item {
	padding:5px 10px;
	margin:2px 5px;
}
.slicknav_nav a{
	padding:5px 10px;
	text-decoration:none;
}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;
}


@media print {
	.social, .print-me, .burst {
		display: none;
	}
}
