/*==========================================================================
Blog
==========================================================================*/
.blog-title {
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.post-list {
	.the-post {
		padding-bottom: 1.5em;
	}
	.no-date .the-post  {
		padding-left: 0;
	}
}
.single {
	time {
		float: left;
		margin: 0 2em 1em 0;
	}
}
article.post {
	h1, h2 {
		line-height: 1em;
		margin: 0;
		font-weight: normal;
		a { font-size: 1em; } 
	}
	.featured-image { margin-bottom: 1em; }
	p:last-child { margin-bottom: 0; }
}
.the-post {
	position: relative;
	margin-bottom: 2em;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: 1px;
		display: block;
	}
	.single & {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:after {
			height: 0;
		}
	}
	h1 { padding: 0; }
}
.categorizing {
	margin: .25em 0 1.25em;
}
footer.post {
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 2em;
}
.continue-wrap {
	display: block;
	text-align: right;
}
.continue {
	display: inline-block;
	margin-bottom: 0;
	padding: .5em 1em;
}
.pagination {
	text-align: right;
	font-size: .9rem;
	span, a {
		display: inline-block;
		padding: .25rem;
	}
	.current {
		font-weight: bold;
		padding: .25em .5em;
	}
}
div.main {
	p.categories, p.tags {
		margin: 0;
		font-size: .8rem;
		line-height: 1.7em;
		a { font-size: .8rem; }
	}
}
.search-results { margin-bottom: 1.5em; }
// Comments
.comments {
	padding: 1em;
	label { display: block; }
	.form-submit { 
		margin: 0;
		text-align: right;
	}
	input[type=submit] {
		display: inline-block;
		width: auto;
		&:after {
			content: '\00bb';
		}
	}
	.comment-form-author, .comment-form-email {
		float: left;
		width: 48%;
	}
	.comment-form-author { margin-right: 4%; }
	.comment-form-url {
		clear: both;
	}
}
.comment-list {
	margin: 0; 
	padding: 0;
	li { 
		list-style-type: none;
		padding: 1.5em 0;
	}
	.children {
		margin: 1.5em 0 0 0;
		padding: 0 1.5em;
	}
	.avatar { display: none; }
	.comment-author {
		.fn, .says {
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
		}
	}
	.comment-author, .comment-meta { 
		display: inline-block;
		margin-bottom: 1em;
	}
	.comment-meta a, .comment-reply-link {
		font-size: .7rem;
	}
	.comment-meta a {
		margin-bottom: 1rem;
		// display: block;
	}
	.comment {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:last-child { border: none; }
	}
}
.comment-intro {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
	margin-bottom: .5em;
}
// Footer
footer.post {
	padding: 1em 0;
}