/*==========================================================================
Containers & Shared Styles
==========================================================================*/
html {
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

// When there's no backdrop on a page
header + .container {
    padding-top: 140px;
}

.row {
    max-width: 100%;

    .row {
        margin-left: -1.5em;
        margin-right: -1.5em;
    }
}

.container .row {
	max-width: 1300px;
}

.menu {
    margin: 0;
}
.content h1 { padding: 0; margin-bottom: 1rem; }
.page-template-default .container { padding:  2em 0 1.25em; }

// Backdrop
.backdrop {
	background: {
		position: center;
		repeat: no-repeat;
        size: cover;
	}
    padding: 100px 0;
    padding-top: 200px;
    text-align: center;
}

// Featured Content Image
.content-featured {
	text-align: center;

    img {
		width: 100%;
		height: auto;
	}
}

// Container
.columns {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

div .inner {
	padding: 1.5em;
}
.section-block {
	margin: 1.5rem 0;
	overflow: hidden;
	div:not(.image-bg):not(.image-container) {
		height: 100%;
	}
	&.no-padding:not(.animate-me) { 
		padding: 0;
	}
	&.no-padding {
		margin: 0;
	}
	.padded, .inside {
		padding: 1.5em;
	}
	.inside {
        display: block;
		background-position: center;
		background-size: cover;
		&[class*='important-'] {
			border-width: 5px;
			border-style: solid;
		}
		.row, .columns { height: 100%; }
	}
	.list {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			&.padded { padding: 1em; }
			p:last-child { margin: 0; }
			&.list-type-image {
				background: {
					repeat: no-repeat;
					size: cover;
					position: center;
				}
			}
			.button-customize { width: 100%; }
			.button-customize.no-border { border: none; }
		}
	}
	.image-bg {
		// height: 100%;
		min-height: 250px;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	.inner-bg {
		height: 100%;
		padding-bottom: 2rem;
		position: relative;
	}
	.section-list .list, .section-cta { height: 100%; }
	.button:hover { opacity: 1; }
	&.small-12 .inside { padding: 0 1.5em; }
	.title-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: .5em 1.5em;
		width: 100%;
		h3 { margin: 0; }
	}
	.section-cta.cta-box {
		position: relative;
		.button {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border: none;
		}
	}
	.section-larger, .section-smaller {
		background-size: cover;
		background-position: center;
	}
	// .section-larger.inside {
	// 	padding: 0;
	// }
}
.overlay {
	height: 100%;
}
// Animations //
.animate-me {
	.inner {
		position: relative;
		z-index: 100;
	}
}
.image-container .image-hidden {
	-webkit-transition: -webkit-mask-position .75s ease-in-out;
	-webkit-mask-size: 1000px 1000px;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
       color-stop(0%,rgba(0,0,0,0)),
       color-stop(49%,rgba(0,0,0,0)),
       color-stop(50%,rgba(0,0,0,0.65)),
       color-stop(100%,rgba(0,0,0,0.65)));
}
// Slide Up
.slide-up {
	.image-container .image-hidden {
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
          color-stop(0%,rgba(0,0,0,0)),
          color-stop(49%,rgba(0,0,0,0)),
          color-stop(50%,rgba(0,0,0,1)),
          color-stop(100%,rgba(0,0,0,1)));
	}
	&:hover .image-container .image-hidden { -webkit-mask-position: -500px -500px; }
}
// Slide Down
.slide-down {
	.image-container .image-hidden{
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
          color-stop(0%,rgba(0,0,0,1)),
          color-stop(50%,rgba(0,0,0,1)),
          color-stop(51%,rgba(0,0,0,0)),
          color-stop(100%,rgba(0,0,0,0)));
		-webkit-mask-position: -600px -600px;
	}
	&:hover .image-container .image-hidden { -webkit-mask-position: 0 0; }
}
// Diagonal Top
.diagonal-top {
	.image-container .image-hidden {
		-webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
          color-stop(0%,rgba(0,0,0,1)),
          color-stop(50%,rgba(0,0,0,1)),
          color-stop(51%,rgba(0,0,0,0)),
          color-stop(100%,rgba(0,0,0,0)));
		-webkit-mask-position: -500px -500px;
	}
	&:hover .image-container .image-hidden { -webkit-mask-position: 0 0; }
}
// Diagonal Bottom
.diagonal-bottom {
	.image-container .image-hidden {
		-webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
          color-stop(0%,rgba(0,0,0,0)),
          color-stop(50%,rgba(0,0,0,0)),
          color-stop(51%,rgba(0,0,0,1)),
          color-stop(100%,rgba(0,0,0,1)));
		-webkit-mask-position: 0 0;
	}
	&:hover .image-container .image-hidden { -webkit-mask-position: -500px -500px; }
}


// Image Containers
.animate-me {
	.image-container, .image-container div {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
	}
	.image-container {
		display: block;
		width: 100%;
		height: 200px;
		overflow: hidden;
		div {
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	.inside {
		padding-top: 200px;
		z-index: 5;
	}
}
.animate-me {
	position: relative;
	overflow: hidden;
	padding-top: 215px;
	&:before {
		transition: all .5s ease-in;
		content: '';
		z-index: 1;
		height: 10px;
		display: block;
		position: absolute;
	}
	.inside {
		position: relative;
		z-index: 5;
	}
	.image-visible { z-index: 1; }
	.image-hidden { z-index: 2; }

    // Very Ugly selector to target content
    > * > * > * > * {
        transition: .3s ease-in all;
    }
}

.animate-me.slide-up, .animate-me.slide-down {
	&:before {
		width: 100%;
		left: 0;
	}
	&:hover:before { height: 100%; }
}
.animate-me.slide-up {
	&:before {
		background-color: lightcoral;
		bottom: 0;
	}
}
.animate-me.slide-down {
	&:before {
		background-color: lightseagreen;
		top: 0;
	}
	.image-container { margin-top: 10px; }
}

.animate-me.diagonal-top, .animate-me.diagonal-bottom {
	&:before {
		transform: rotate(-45deg);
		width: 1000px;
		height: 1000px;
	}
}
.animate-me.diagonal-top {
	&:before {
		background-color: lightgreen;
		top: -840px;
		left: -840px;
	}
	&:hover:before {
		top: -250px;
		left: -250px;
	}
}
.animate-me.diagonal-bottom {
	&:before {
		background-color: lightsalmon;
		right: -840px;
		bottom: -840px;
	}
	&:hover:before {
		bottom: -250px;
		right: -250px;
	}
}
// Navigation
.prepend {
	@include fontStyle(heading, 1em, null, null, null, uppercase);
}