/*==========================================================================
Footer
==========================================================================*/
footer.main {
    padding-bottom: 2em;
    .columns { padding: 0; }
    .vcard, .numbers, .emails {
        display: inline-block;
        padding: 0 .5em;
        div, p { 
            display: inline-block;
            padding: 0 .5em;
            margin: 0;
        }
        p, span { font-size: .9rem;}
    }
    .numbers, .emails {
        border-left-width: 1px;
        border-left-style: solid;
    }
    .inside .clearfix, .inner { height: 100%; }
    .section-block { margin: 0; }
    .custom, .sitemap {
        > div{
            background-position: center;
            background-size: cover;
        }
    }
}
nav.footer {
    ul { 
        padding: 0;
        margin: 2em 0;
    }
    li { 
        list-style-type: none;
        padding: .5em 0;
    }
}
.lower { padding: 1em 0; }
.copyright, .copyright a { font-size: .8rem; }
.top { @include fontStyle(heading, 1.5rem, null, null, center, uppercase, null, 2px); }