/*==========================================================================
Gravity Forms
==========================================================================*/
.gform_wrapper {
	input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
		@include fontStyle(paragraph, 1.1rem);
		padding: .5em;
		border-style: solid;
	}
	.top_label .gfield_label {
		@include fontStyle(heading, null, normal, null, null, uppercase);
	}
	.gform_footer {
		margin: 0;
		padding: 0;
	}
	.gform_footer input.button, .gform_footer input[type=submit] {
		@include fontStyle(heading, null, normal, null, null, uppercase);
		padding: .5em 1em;
		margin: 0;
	}
	li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		margin: 1em 0;
	}
	div.validation_error {
		@include fontStyle(heading, null, 400, null, null, uppercase);
	}
	li.gfield.gfield_error.gfield_contains_required label.gfield_label, li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		margin: 0;
	}
	.ginput_container + .gfield_description.validation_message, .ginput_container + .gfield_description {
		@include fontStyle(paragraph, .7rem, normal);
		padding: 0 !important;
		margin: .5em 0 0;
	}
}