/*==========================================================================
Header
==========================================================================*/
// Header Container //
.main-header {
    position: absolute;
    z-index: 10;
    // Navigation
    nav {
        text-align: right;
        ul, li { margin: 0; }
        li {
            display: inline-block;
            list-style-type: none;
        }
    }
    // Logo
    .logo {
        text-align: center;
        display: block;
        img {
            width: auto;
            padding: 15px 0;
        }
    }
}

.header-navigation {
    padding: 0;
    display: table;
}

// Top Nav & Social //
header.main .upper {
    height: 50%;
    text-align: right;
    display: table-row;
    .upper-inner {
        display: flex;
        height: 100%;
        justify-content: flex-end;
    }
    p, span, a {
        font-size: .8rem;
        margin: 0;
    }
    .social, nav, .custom, .vcard {
        display: flex;
        border-left-width: 1px;
        border-left-style: solid;
        line-height: .5rem;
        height: 100%;
        padding: 0 1em;
        flex-grow: 0;
        align-items: center;
        &:first-child {
            border: none;
            padding: 0;
            margin: 0;
        }
        a {
            @include transition(all,.2s);
            opacity: .8;
            &:hover { opacity: 1; }
        }
    }
    .social {
        a {
            font-size: 1.1rem;
            line-height: -.5em;
            display: inline-block;
        }
    }
    nav {
        ul { padding: 0; }
        li {
            padding-left: .5em;
            display: inline-block;
        }
        a {
            text-transform: uppercase;
            font-size: .7rem;
            font-weight: 500;
        }
    }
    .vcard {
        div, p { display: inline-block; padding-right: .5em; }
        .org { display: none; }
    }
}

// Main Navigation //
.nav-container {
    display: table-row;
}
nav.main {
    position: relative;
    width: 100%;
    height: 100%;
    .menu {
        margin: 0;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: space-around;
        text-align: center;
        width: 100%;
        border-spacing: 10px;
        > li {
            position: relative;
            height: 100%;
            display: flex;
            flex-grow: 1;
            z-index: 1;
            @include transition(all, .2s, ease-in);
            a {
                display: flex;
                height: 100%;
                width: 100%;
                z-index: 5;
                padding: 10px;
                position: relative;
                overflow: hidden;
                font-size: 1.3em;
                letter-spacing: 2px;
                justify-content: center;
                align-items: center;
            }
            &:hover > .sub-menu { display: block; }
        }
        .sub-menu {
            padding: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            li {
                width: 100%;
                position: relative;
                display: block;
                @include transition(all, .2s, ease-in);
                -webkit-transform: translateZ(0);
                list-style-type: none;
                text-align: center;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                &:hover {
                    background-color: rgba(0,0,0, .3);
                    > .sub-menu {
                        left: 100%;
                        top: 0;
                        display: block;
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    padding: .75em 1em;
                    font-size: .9rem;
                    letter-spacing: 0;
                }
            }
            .sub-menu {
                border-style: solid;
                border-width: 0;
                border-left-width: 1px;
            }
        }
    }
    a {
        @include fontStyle($font-type: heading, $font-size: .9rem, $font-weight: normal, $font-style: null, $text-align: null, $text-transform: uppercase, $line-height: null, $letter-spacing: null);
        -webkit-transform: translateZ(0);
    }
    .sub-menu {
        display: none;
        position: relative;
        z-index: 100;
    }
}
.tinynav { display: none !important; }