/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.home-slideshow {
	position: relative;
	overflow: hidden;
	height: 700px;
	&.side-right .slide-content { right: 0; }
	&.side-left .slide-content { left: 0; }
	&.side-center .slide-content { right: 0; left: 0; }
	.slide-content {
		position: absolute;
		margin: auto;
				bottom: 100px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				-webkit-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				transform-style: preserve-3d;
				max-width: 50%;
				text-align: center;
				text-shadow: 0 0 5px rgba(#000, 1);
				z-index: 5;
				p { font-size: 1rem;}
				a { text-decoration: underline; }
				.button { text-shadow: none; }
				&[class*='overlay-'] {
					padding: 1em;
				}
		}
		.slick-dots {
			position: absolute;
			bottom: 5%;
			right: 0;
			margin: 0;
			button, li {
				 @include transition(all,.3s);
				 height: 5px;
				 width: 5px;
		 }
		 button {
				 margin: 0;
				 border-radius: 100%;
				 &:before { content: ''; }
				 &:hover { opacity: .8; }
		 }
 }
 .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
}

.home-slider {
	position: relative;
	margin: 0;
	.slide {
		min-height: 700px;
		position: relative;
		background: {
			size: cover;
			position: center;
		}
		&.no-fill {
			background: {
				size: auto;
				repeat: no-repeat;
			}
		}
	}
	.content {
		position: absolute;
	}
}

// Gallery //
.post.gallery {
	header {
		margin-bottom: 2em;
	}
	.the-post {
		border: none;
		padding: 0;
	}
}
.flexslider .slides {
	margin: 0;
}
.gallery {
	h1 { padding: 0; }
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
}
.single .gallery {
	.content {
		margin-bottom: 4em;
	}
	.categorizing {
		margin: 0;
	}
}
.gallery-image {
	margin-bottom: 1em;
	position: relative;
	.inner { padding: 0; }
	img {
		margin: 0;
		min-width: 100%;
	}
	&.no-space {
		padding: 0;
		margin: 0;
	}
	&.full {
		width: 100%;
		background-image: url(plugins/skins/loading-medium.gif);
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.full img {
		width: 100%;
	}
}
#carousel .slides li {
	margin: 0;
}
ol.flex-control-nav {
	margin: 0;
	text-align: center;
}
.counter {
	font-size: .8rem;
}
.gallery-list .gallery-image {
		position: relative;
		overflow: hidden;
}

// Portfolio

.portfolio-slider {
		margin-bottom: 10px;
		.slick-prev, .slick-next {
				transform: translateY(-50%);
				margin-top: 0;
		}
}

.portfolio-carousel {
		margin-bottom: 0;
		button {
				// Override slick inline style
				display: none !important;
		}
}

.portfolio-carousel__slide {
		padding-right: 10px;
}
.container.portfolio, .single-portfolio .container {
	padding: 1.5em 0;
}
.single-portfolio {
		.gallery-item {
			margin: 0 !important;
			padding: 0 !important;
			img { border: none !important; padding: 0 2px; }
		}
		.meta {
			border-top-style: solid;
			border-top-width: 1px;
			padding-top: .5em;
			a { font-size: 1em;}
		}
}
#portfolio-slider {
	padding: 1em;
	img {
		margin: 0 auto;
	}
}
.portfolio-carousel__slide {
	opacity: .5;
	&.slick-active { opacity: 1; }
}
.portfolio-carousel__slide img { margin: 0 auto; }

// Portfolio Archive
.post-list.portfolio {
	display: flex;
	flex-wrap: wrap;
	.post:nth-child(odd) {
		margin-right: 30px;
	}
	.post {
		width: calc(50% - 15px);
		float: left;
	}
	.continue-wrap {
		text-align: left;
	}
	article.post h2 {
		font-size: 1.5em;
		text-align: center;
		font-weight: bold;
	}
	article.post .featured-image {
		margin-bottom: 1em;
		height: 200px;
		width: 100%;
		object-fit: cover;
		object-position: center center;
		display: block;
	}
	.the-post:after {
		left: 50%;
		margin-left: -50px;
	}
	.categorizing { margin-bottom: 0; }
	.categorizing p {
		text-align: center;
	}
}