/*==========================================================================
Sidebar
==========================================================================*/
aside.sidebar {
	position: relative;
	.widget-image {
		width: 100%;
		height: auto;
	}
	.contact-details {
		p, span, a {
			@include fontStyle(heading, 1.1rem, 300);
			margin: 0;
		}
	}
	.widget {
		margin: 0 0 2em;
		padding: 1em;
		a { 
			opacity: .7;
			&:hover { opacity: 1; }
		}
		&.has-bg { 
			border: none;
		}
		input {
			padding: .75em;
			font-size: .9rem;
			margin: .5em 0;
			&[type=submit] {
				@include fontStyle($font-type: heading, $font-size: 1.2rem, $font-weight: null, $font-style: null, $text-align: null, $text-transform: uppercase, $line-height: null, $letter-spacing: null);
				display: inline-block;
				padding: .5em 1.5em;
				cursor: pointer;
				width: auto;
			}
		}
		.button { margin-bottom: 0; }
		&.has-bg:after, &:last-child:after { height: 0; }
		h3 { 
			margin: 0 0 1rem;
			font-size: 1.8rem;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				padding: .5em 0;
				border-top-width: 1px;
				border-top-style: solid;
			}
		}
		#wp-calendar {
			width: 100%;
			text-align: center;
			th { text-align: center; }
			caption {
				@include fontStyle($font-type: heading, $font-size: 1.4rem, $font-weight: 600, $font-style: null, $text-align: left, $text-transform: null, $line-height: null, $letter-spacing: null);
				margin-bottom: 1em;
			}
		}
		&:last-child { margin-bottom: 0; }
	}
	h3.widget-title {
		font-size: 1.3rem;
	}
	.widget-hours {
		.day, time {
			display: inline-block;
			width: 48%;
		}
		.day { 
			width: 30%;
			font-weight: 600;
		}
		time { 
			width: 65%;
			margin-left: 3%;
		}
		p {
			padding-bottom: .75em;
			margin: 0;
		}
	}
	.widget-custom {
		padding: 0;
		.content {
			padding: 1.5em;
		}
	}
	.widget-tags {
		ul li { padding: 0; }
		a, .select { 
			display: block;
			padding: .5em;
			cursor: pointer;
		}
		.select {
			position: relative;
			.ion-icons {
				position: absolute;
				right: .5em;
				top: .5em;
			}
		}
		.selections ul { display: none; }
		.selector.active ul {
			display: block;
		}
		p { margin: 0; }
	}
}