/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
@font-face {
  font-family: 'sofia_pro_light_condensedRg';
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot');
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.woff') format('woff'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.ttf') format('truetype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.svg#sofia_pro_light_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@font-face {
  font-family: 'sofia_pro_light_condensedRg';
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot');
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.woff') format('woff'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.ttf') format('truetype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.svg#sofia_pro_light_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.primary {
  background-color: #fff;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary p, .primary span, .primary blockquote, .primary blockquote p, .primary dl, .primary dt, .primary dd, .primary table, .primary table th, .primary table th tr, .primary table td, .primary ul, .primary ol, .primary li, body .primary {
  color: #565656;
}
.primary .st-single-color.social a:before {
  color: #1e9ad8 !important;
}
.primary .st-single-color.social a:hover:before {
  color: #156a95 !important;
}
.primary.adjusted {
  background-color: #f2f2f2;
}
.button.primary {
  color: #1e9ad8;
}
.button.primary:hover {
  color: #fff;
  background-color: #1e9ad8;
}
.feature .button.primary {
  color: #1e9ad8;
  background-color: #fff;
}
.rule {
  background-color: #d9d9d9;
}
.home .orbit-container .orbit-bullets-container .orbit-bullets li {
  border-color: #fff;
  background-color: #fff;
}
.footer-add, .the-post, footer.post .social, .cat-nav, .gallery .content, .gallery .content .categories, .gallery .content .social-share, aside.sidebar .widget, aside.sidebar, .contact .social-connect:nth-child(2), .contact .social-share:nth-child(2), .product-summary .product_meta, .product-summary form, .product-summary .social {
  border-color: #d9d9d9;
}
.home-slider h2, .home-slider p, .home-slider span {
  color: #fff;
}
span.onsale {
  color: #fff;
}
.home .contact .contact-icon {
  background-color: #1e9ad8;
  color: #fff;
}
.line-up {
  border-color: #fff;
  color: #fff;
}
.breadcrumb {
  background-color: #d9d9d9;
}
.breadcrumb a {
  color: #4d4d4d;
}
nav.main .menu > li:hover > a, time .year, time .month, .cat-nav .current-cat > a, .cat-nav a:hover, .product-details .form .alt, .product-details .alt, nav.shop:before {
  color: #fff;
}
.overlay .product-details h1, .overlay .product-details h2, .overlay .product-details h3, .overlay .product-details h4, .overlay .product-details h5, .overlay .product-details p, .overlay .product-details span, .overlay .product-details blockquote, .overlay .product-details blockquote p, .overlay .product-details dl, .overlay .product-details dt, .overlay .product-details dd, .overlay .product-details table, .overlay .product-details table th, .overlay .product-details table th tr, .overlay .product-details table td, .overlay .product-details ul, .overlay .product-details ol, .overlay .product-details li {
  color: #fff;
}
.overlay .product-details .form h1, .overlay .product-details .form h2, .overlay .product-details .form h3, .overlay .product-details .form h4, .overlay .product-details .form h5, .overlay .product-details .form p, .overlay .product-details .form span, .overlay .product-details .form blockquote, .overlay .product-details .form blockquote p, .overlay .product-details .form dl, .overlay .product-details .form dt, .overlay .product-details .form dd, .overlay .product-details .form table, .overlay .product-details .form table th, .overlay .product-details .form table th tr, .overlay .product-details .form table td, .overlay .product-details .form ul, .overlay .product-details .form ol, .overlay .product-details .form li {
  color: #1e9ad8;
}
.product-details .form {
  background-color: rgba(255, 255, 255, .7);
}
.product-thumb .button {
  background-color: #fff;
  color: #1e9ad8;
}
.product-thumb .button:hover {
  background-color: #1e9ad8;
  color: #fff;
}
aside.sidebar .searchform {
  background-color: #d9d9d9;
}
aside.sidebar .searchform input[type="submit"] {
  color: #fff;
}
aside.sidebar .searchform input[type="submit"]:hover {
  color: #1e9ad8;
}
aside.sidebar .gform_wrapper input[type=text], aside.sidebar .gform_wrapper input[type=url], aside.sidebar .gform_wrapper input[type=email], aside.sidebar .gform_wrapper input[type=tel], aside.sidebar .gform_wrapper input[type=number], aside.sidebar .gform_wrapper input[type=password], aside.sidebar .gform_wrapper textarea.textarea {
  background-color: #d9d9d9;
  color: #565656;
}
aside.sidebar .widget.has-bg .button {
  background-color: #fff;
  color: #1e9ad8;
}
aside.sidebar .widget.has-bg .button:hover {
  background-color: #d93;
  color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .7);
}
.overlay-primary h2, .overlay-primary h3, .overlay-primary h4, .overlay-primary h5, .overlay-primary p, .overlay-primary span {
  color: #565656;
}
.overlay-primary .featured {
  background-color: #1e9ad8;
  color: #fff;
}
.border-primary {
  border-color: #fff;
}
.intro.tertiary h1, .intro.tertiary h2, .intro.tertiary h3, .intro.tertiary h4, .intro.tertiary h5, .intro.tertiary p, .intro.tertiary span, .intro.tertiary blockquote, .intro.tertiary blockquote p, .intro.tertiary dl, .intro.tertiary dt, .intro.tertiary dd, .intro.tertiary table, .intro.tertiary table th, .intro.tertiary table th tr, .intro.tertiary table td, .intro.tertiary ul, .intro.tertiary ol, .intro.tertiary li, body .intro.tertiary {
  color: #fff;
}
.current-cat, .current-cat-parent {
  background-color: rgba(217, 217, 217, .5);
}
.current-cat-parent ul {
  background-color: rgba(77, 77, 77, .10);
}
.product-details .panel {
  background-color: rgba(255, 255, 255, .5);
}
.cat-nav a, .counter, aside.sidebar ul a {
  color: #565656;
}
.flex-control-paging li a, .flex-control-paging li a.flex-active, .gallery .tabs dd a, h1:after {
  background-color: #565656;
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .7);
}
.overlay-secondary h2, .overlay-secondary h3, .overlay-secondary h4, .overlay-secondary h5, .overlay-secondary p, .overlay-secondary span {
  color: #fff;
}
.overlay-secondary .featured {
  background-color: #fff;
  color: #565656;
}
.border-secondary {
  border-color: #565656;
}
.tertiary, time, .continue, .cat-nav .current-cat > a, .cat-nav a:hover, .gallery .tabs dd.active a, .product-details .alt, .widget.has-bg {
  background-color: #1e9ad8;
}
header.main h1, footer.main h1, header.main h2, footer.main h2, header.main h3, footer.main h3, header.main h4, footer.main h4, header.main h5, footer.main h5, header.main p, footer.main p, header.main span, footer.main span, header.main blockquote, footer.main blockquote, header.main blockquote p, footer.main blockquote p, header.main dl, footer.main dl, header.main dt, footer.main dt, header.main dd, footer.main dd, header.main table, footer.main table, header.main table th, footer.main table th, header.main table th tr, footer.main table th tr, header.main table td, footer.main table td, header.main ul, footer.main ul, header.main ol, footer.main ol, header.main li, footer.main li, header.main a, footer.main a {
  color: #fff;
}
header.main a:hover, footer.main a:hover {
  color: #d9d9d9;
}
.cta-box h1, .widget.has-bg h1, .cta-box h2, .widget.has-bg h2, .cta-box h3, .widget.has-bg h3, .cta-box h4, .widget.has-bg h4, .cta-box h5, .widget.has-bg h5, .cta-box a, .widget.has-bg a {
  color: #fff;
}
.cta-box p, .widget.has-bg p, .cta-box span, .widget.has-bg span, .cta-box blockquote, .widget.has-bg blockquote, .cta-box blockquote p, .widget.has-bg blockquote p, .cta-box dl, .widget.has-bg dl, .cta-box dt, .widget.has-bg dt, .cta-box dd, .widget.has-bg dd, .cta-box table, .widget.has-bg table, .cta-box table th, .widget.has-bg table th, .cta-box table th tr, .widget.has-bg table th tr, .cta-box table td, .widget.has-bg table td, .cta-box ul, .widget.has-bg ul, .cta-box ol, .widget.has-bg ol, .cta-box li, .widget.has-bg li {
  color: #d9d9d9;
}
.overlay-tertiary, .gallery-overlay {
  background-color: rgba(30, 154, 216, .7);
}
.overlay-tertiary h2, .gallery-overlay h2, .overlay-tertiary h3, .gallery-overlay h3, .overlay-tertiary h4, .gallery-overlay h4, .overlay-tertiary h5, .gallery-overlay h5, .overlay-tertiary p, .gallery-overlay p, .overlay-tertiary span, .gallery-overlay span {
  color: #fff;
}
.overlay-tertiary .featured, .gallery-overlay .featured {
  background-color: #fff;
  color: #1e9ad8;
}
.button, .continue {
  color: #fff;
  background-color: #d93;
}
.button:hover, .continue:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.counter .current {
  color: #1e9ad8;
}
a, .flex-direction-nav a {
  color: #1e9ad8;
}
a:hover, .flex-direction-nav a:hover {
  color: #1b8ac2;
}
.home .slick-dots .slick-active button {
  background-color: #1e9ad8;
}
.home .slick-dots button {
  background-color: #fff;
  border-color: #fff;
}
footer.main {
  border-color: #1b8ac2;
}
.home .contact p, .home .contact span, .home .contact a {
  color: #1e9ad8;
}
.home .contact .interested:hover, .home .contact a:hover {
  color: #156a95;
}
.reveal-modal-bg, div.pp_overlay {
  background-color: rgba(30, 154, 216, .9);
}
.has-children.active, .has-children ul a:hover, .has-children.active .active a {
  background-color: rgba(30, 154, 216, .40);
}
aside.sidebar li:hover {
  background-color: #1e9ad8;
  color: #fff;
}
aside.sidebar li:hover a {
  color: #fff;
}
aside.sidebar .gform_wrapper li:hover, div.pp_default a:before {
  color: #1e9ad8;
}
.border-tertiary {
  border-color: #1e9ad8;
}
.quaternary {
  background-color: #d93;
}
.quaternary h1, .quaternary h2, .quaternary h3, .quaternary h4, .quaternary h5, .quaternary p, .quaternary span, .quaternary blockquote, .quaternary blockquote p, .quaternary dl, .quaternary dt, .quaternary dd, .quaternary table, .quaternary table th, .quaternary table th tr, .quaternary table td, .quaternary ul, .quaternary ol, .quaternary li, .quaternary a {
  color: #fff;
}
nav.main .menu > li > a:after, .product-details h3:after {
  background-color: #d93;
}
header.main .upper a, header.main .upper input, header.main .upper span {
  color: #d93;
}
header.main .upper .searchform {
  border-color: #d93;
}
nav.main ul ul {
  background-color: rgba(221, 153, 51, .95);
}
nav.main ul ul li {
  border-color: rgba(30, 154, 216, .25);
}
nav.main ul ul a {
  color: #1e9ad8;
}
nav.main ul ul a:hover {
  color: #156a95;
  background-color: rgba(30, 154, 216, .25);
}
time .date, .price, .product-thumb span.price, aside.sidebar .gform_wrapper .gfield_required, aside.sidebar .gform_wrapper div.validation_error {
  color: #d93;
}
.product-details footer.reveal span, .product-details footer.reveal a, .product-details footer.reveal .st-single-color.social a:before {
  color: #d93 !important;
}
.product-details footer.reveal .st-single-color.social a:hover:before {
  color: #a8701c !important;
}
footer.reveal {
  border-color: #d93;
}
.button.view-details, .button-alt, header.main .customSelect {
  background-color: #d93;
  color: #fff;
}
.button.view-details:hover, .button-alt:hover, header.main .customSelect:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.overlay-quaternary {
  background-color: rgba(221, 153, 51, .7);
}
.overlay-quaternary h2, .overlay-quaternary h3, .overlay-quaternary h4, .overlay-quaternary h5, .overlay-quaternary p, .overlay-quaternary span {
  color: #fff;
}
.overlay-quaternary .featured {
  background-color: #fff;
  color: #d93;
}
.border-quaternary {
  border-color: #d93;
}
header.main .filled .searchform {
  background-color: #d93;
}
header.main .filled .searchform input {
  color: #fff;
}
.ilightbox-overlay.dark {
  background-color: #565656 !important;
}
div.jigoshop_message {
  background-color: #d38d23;
  border-color: #a8701c;
}
div.jigoshop_message span {
  color: #fff;
}
.quantity input.plus:hover, .quantity input.minus:hover {
  background-color: #d93;
  color: #fff;
}
.jigoshop .add-cart .button {
  background-color: #d93;
  color: #fff;
}
.gallery-list .tabs dd.active a {
  background-color: #1e9ad8;
}
.gallery-list .tabs dd a {
  background-color: #565656;
}
.product-single .product-details .panel, .product-single .product-details .active {
  background-color: #1e9ad8;
}
.product-single .tabs li {
  background-color: #d93;
}
.product-single .related.products {
  border-color: #d93;
}
.product-single .panel h1, .product-single .panel h2, .product-single .panel h3, .product-single .panel h4, .product-single .panel h5, .product-single .panel h6, .product-single .panel p, .product-single .panel span, .product-single .panel a, .product-single .panel ul, .product-single .panel ol, .product-single .panel li, .product-single .panel input, .product-single .panel textarea {
  color: #fff;
}
.product-single .panel input, .product-single .panel textarea {
  background-color: rgba(255, 255, 255, .75);
}
.jigoshop form.cart button, .jigoshop .button, .jigoshop input[type=submit] {
  background-color: #1e9ad8;
  color: #fff;
}
.jigoshop form.cart button:hover, .jigoshop .button:hover, .jigoshop input[type=submit]:hover {
  background-color: #1b8ac2;
}
.jigoshop .button-alt {
  background-color: #d93;
  color: #fff;
}
.jigoshop .quantity input.qty {
  background-color: rgba(221, 153, 51, .5);
  color: #fff;
}
.jigoshop .tertiary h3, .jigoshop .tertiary p, .jigoshop .tertiary span, .jigoshop .tertiary label, .jigoshop .tertiary input {
  color: #fff;
}
.jigoshop .tertiary input[type=submit] {
  background-color: #d93;
  color: #1e9ad8;
}
.jigoshop .tertiary .alt {
  color: #1e9ad8;
  background-color: #fff;
}
.jigoshop-products .product-details h3, .jigoshop-products .product-details p {
  color: #fff;
}
.jigoshop-products .product-details .button {
  color: #1e9ad8;
  background-color: #d93;
}
.jigoshop-products .product-details .button:hover {
  color: #fff;
  background-color: #1e9ad8;
}
#commentform input[type=submit] {
  background-color: #1e9ad8;
  color: #fff;
}
#commentform input[type=submit]:hover {
  background-color: #d93;
  color: #fff;
}
.widget.has-bg .social a:before {
  color: #fff !important;
}
.widget.has-bg .button {
  background-color: #fff;
}
.widget.has-bg .button a {
  color: #1e9ad8;
}
.widget.has-bg .button:hover {
  background-color: #d93;
}
.widget.has-bg .button:hover a {
  color: #fff;
}
.widget .button {
  background-color: #d93;
}
.widget .button a {
  color: #fff;
}
.widget .button:hover {
  background-color: #1e9ad8;
}
.widget .button:hover a {
  color: #fff;
}
.primary .social-share.st-single-color a:before, .primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #1e9ad8;
}
.primary .social-share.st-single-color a:hover:before, .primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #187aab;
}
.secondary .social-share.st-single-color a:before, .secondary .social-connect.st-single-color a:before, .tertiary .social-share.st-single-color a:before, .tertiary .social-connect.st-single-color a:before, .quaternary .social-share.st-single-color a:before, .quaternary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #fff;
}
.secondary .social-share.st-single-color a:hover:before, .secondary .social-connect.st-single-color a:hover:before, .tertiary .social-share.st-single-color a:hover:before, .tertiary .social-connect.st-single-color a:hover:before, .quaternary .social-share.st-single-color a:hover:before, .quaternary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
@media only screen and (max-width: 64em) {
  aside.sidebar, .single-gallery .content {
    background-color: #d9d9d9;
  }
  aside.sidebar .searchform, .single-gallery .content .searchform, aside.sidebar .gform_wrapper input[type=text], .single-gallery .content .gform_wrapper input[type=text], aside.sidebar .gform_wrapper input[type=url], .single-gallery .content .gform_wrapper input[type=url], aside.sidebar .gform_wrapper input[type=email], .single-gallery .content .gform_wrapper input[type=email], aside.sidebar .gform_wrapper input[type=tel], .single-gallery .content .gform_wrapper input[type=tel], aside.sidebar .gform_wrapper input[type=number], .single-gallery .content .gform_wrapper input[type=number], aside.sidebar .gform_wrapper input[type=password], .single-gallery .content .gform_wrapper input[type=password], aside.sidebar .gform_wrapper textarea.textarea, .single-gallery .content .gform_wrapper textarea.textarea {
    background-color: #f2f2f2;
  }
  aside.sidebar .searchform input[type="submit"], .single-gallery .content .searchform input[type="submit"], aside.sidebar .gform_wrapper input[type=text] input[type="submit"], .single-gallery .content .gform_wrapper input[type=text] input[type="submit"], aside.sidebar .gform_wrapper input[type=url] input[type="submit"], .single-gallery .content .gform_wrapper input[type=url] input[type="submit"], aside.sidebar .gform_wrapper input[type=email] input[type="submit"], .single-gallery .content .gform_wrapper input[type=email] input[type="submit"], aside.sidebar .gform_wrapper input[type=tel] input[type="submit"], .single-gallery .content .gform_wrapper input[type=tel] input[type="submit"], aside.sidebar .gform_wrapper input[type=number] input[type="submit"], .single-gallery .content .gform_wrapper input[type=number] input[type="submit"], aside.sidebar .gform_wrapper input[type=password] input[type="submit"], .single-gallery .content .gform_wrapper input[type=password] input[type="submit"], aside.sidebar .gform_wrapper textarea.textarea input[type="submit"], .single-gallery .content .gform_wrapper textarea.textarea input[type="submit"] {
    color: #565656;
  }
  aside.sidebar .widget, .single-gallery .content .widget, aside.sidebar .categories, .single-gallery .content .categories, aside.sidebar .social, .single-gallery .content .social {
    border-color: #f2f2f2;
  }
  .categories-nav .customSelect {
    background-color: #d9d9d9;
  }
}
