/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
@charset "UTF-8";
/* Slider */
/*==========================================================================
MIXINS
==========================================================================*/
@font-face {
  font-family: 'sofia_pro_light_condensedRg';
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot');
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.woff') format('woff'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.ttf') format('truetype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.svg#sofia_pro_light_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, aside.sidebar .searchform:before, .clearfix:after, aside.sidebar .searchform:after {
  content: " ";
  display: table;
}
.clearfix:after, aside.sidebar .searchform:after {
  clear: both;
}
.clearfix, aside.sidebar .searchform {
  *zoom: 1;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /* Arrows */
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.5;
}
.slick-prev:before, .slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-next {
  right: -25px;
  /* Dots */
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: 1.5em;
  list-style: none;
  display: block;
  text-align: right;
  padding: 0 1.5em;
  width: 100%;
  margin: 0;
  z-index: 100;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  padding: 0;
  cursor: pointer;
  margin: 0 0 0 0.5em;
}
.slick-dots li button {
  border-width: 3px;
  border-style: solid;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  opacity: 1;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
h1, h2, h3, h4, h5, h6, .featured-title {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
}
.page h1 {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
.page h1:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 1px;
}
.page h1:after {
  opacity: 0.25;
}
h1 {
  margin: 0 0 1rem;
}
.home h1 {
  padding: 0;
}
.home h1:after {
  display: none;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2.2rem;
}
h4, .featured-title {
  font-size: 1.8rem;
}
h5, h6 {
  font-size: 1.5rem;
}
p, ul, ol, li, blockquote, blockquote p, dl, dt, dd, table, tr, td {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-size: 0.9rem;
  line-height: 1.5em;
}
p:last-child, ul:last-child, ol:last-child, li:last-child, blockquote:last-child, blockquote p:last-child, dl:last-child, dt:last-child, dd:last-child, table:last-child, tr:last-child, td:last-child {
  margin-bottom: 0;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
blockquote {
  padding: 1em;
  border-left-width: 3px;
}
blockquote .credit {
  font-size: 0.7rem;
  font-style: normal;
  opacity: 0.6;
}
blockquote p {
  margin: 0;
}
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
fieldset {
  margin: 0;
  padding: 0;
  /*==========================================================================
Containers & Shared Styles
==========================================================================*/
}
body {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.row {
  max-width: 1000px;
}
.staff-list [class*="column"] + [class*="column"]:last-child, .page-slide.column-content [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.container {
  padding: 1.5em 0;
}
.table, .table-row, .table-cell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.button, .button-alt, .page-slide .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  padding: 0.45em 1em;
  text-decoration: none !important;
  margin: 0;
}
a.symbol {
  font-size: 2em;
}
a.symbol:before {
  margin-right: 0;
}
.rule {
  display: block;
  width: 100%;
  height: 1px;
}
.prepend {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}
.the-page .featured-image {
  margin-bottom: 1.5em;
  width: 100%;
}
.social .prepend, .social a {
  display: inline-block;
  margin-right: 0.25rem;
}
.customSelect {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
}
.tinynav, .customSelectInner {
  width: 100% !important;
}
select.tinynav {
  width: 92% !important;
  cursor: pointer;
  height: 46px !important;
  /*==========================================================================
Header
==========================================================================*/
}
header.main {
  padding: 1.5em 0;
}
header.main .above-center {
  text-align: center;
}
header.main h1 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0.5rem 0;
}
header.main h1:hover {
  opacity: 0.8;
}
header.main a.symbol {
  display: inline-block;
  text-decoration: none;
  line-height: normal;
}
header.main a.symbol:before {
  font-size: 1em;
  margin: 0;
}
header.main a.symbol:hover {
  opacity: 0.8;
}
header.main .filled input {
  padding: 0.25em 0.5em;
}
header.main .underline .searchform {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
header.main .searchform input {
  border: none;
  outline: none;
  background-color: transparent;
}
.upper {
  text-align: right;
  margin-bottom: -1.5em;
}
.upper p, .upper nav a, .upper input[type=text], .upper span, .upper .prepend {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  margin: 0;
}
.upper .social a {
  font-size: 1.1rem;
  padding-left: 0.25em;
}
.upper .line-up {
  display: inline-block;
  line-height: 0.5rem;
  padding-left: 0.75em;
  margin-left: 0.75em;
  position: relative;
}
.upper .line-up:first-child {
  padding: 0;
  margin: 0;
  border: 0;
}
.upper.line .line-up {
  border-left-width: 1px;
  border-left-style: solid;
}
.upper.line .line-up:first-child {
  border: none;
}
.upper.bullet .line-up:before {
  content: '\2022';
  position: absolute;
  left: -0.5em;
  top: 0.7em;
  font-size: 0.75rem;
}
.upper.bullet .line-up:first-child:before {
  content: '';
}
header.main nav ul {
  margin: 0;
}
header.main nav .menu {
  text-align: right;
}
header.main nav .menu li {
  list-style-type: none;
}
header.main nav .menu > li {
  display: inline-block;
}
header.main nav .menu a {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav.main {
  padding-top: 2.5em;
}
nav.main .menu > li {
  margin-left: 1em;
  position: relative;
}
nav.main .menu > li > a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: block;
  padding-bottom: 1em;
  overflow: hidden;
}
nav.main .menu > li > a:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: black;
}
nav.main .menu > li:hover a:after {
  bottom: 0.5em;
}
nav.main .menu > li:hover ul {
  display: block;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  right: 0;
  z-index: 100;
}
nav.main .menu > li:hover ul li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: relative;
}
nav.main .menu > li:hover ul li:hover ul {
  display: block;
}
nav.main .menu > li:hover ul a {
  font-size: 0.9rem;
  display: block;
  padding: 0.5em 1em;
}
nav.main .menu > li:hover ul ul {
  display: none;
  top: 0;
  right: 100%;
}
nav.main .menu ul {
  display: none;
}
nav.main .menu a {
  font-size: 1.2rem;
}
nav.main .menu .current-menu-item a:after {
  bottom: 0.5em;
}
nav.secondary ul, nav.shop ul {
  display: inline-block;
}
nav.secondary li, nav.shop li {
  padding-left: 0.75em;
}
nav.secondary li:first-child, nav.shop li:first-child {
  padding: 0;
}
nav.shop:before {
  font-family: 'Ionicons';
  content: '\f167';
  display: inline-block;
  margin-right: 1em;
}
.customSelectInner:after {
  font-family: 'Ionicons';
  content: '\f151';
  display: inline-block;
  margin-left: 1em;
}
.breadcrumb {
  /*==========================================================================
Footer
==========================================================================*/
}
.breadcrumb p, .breadcrumb span {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
}
.breadcrumb span {
  display: inline-block;
  padding: 0 0.5em;
}
.breadcrumb span:first-child {
  padding-left: 0;
}
footer.main {
  padding: 1.5em 0;
  border-top-width: 1px;
  border-top-style: solid;
}
footer.main p, footer.main nav a, footer.main .small-print a, footer.main li {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  margin: 0;
}
footer.main .small-print {
  text-align: right;
}
footer.main .social a {
  font-size: 1.5rem;
  display: inline-block;
  padding-right: 0.25em;
}
footer.main .social a:before {
  margin: 0;
}
nav.footer ul {
  margin: 0;
}
nav.footer li {
  list-style-type: none;
  display: inline-block;
  margin-right: 0.5em;
}
.footer-add {
  padding: 1.5em 0;
  border-top-width: 1px;
  border-top-style: solid;
  /*==========================================================================
Sidebar
==========================================================================*/
}
.footer-add img {
  margin-bottom: 0;
}
aside.sidebar {
  border-left-width: 1px;
  border-left-style: solid;
  /*==========================================================================
Page Specific
==========================================================================*/
}
aside.sidebar h4.widgettitle {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
aside.sidebar .widget {
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 1.5em;
  margin-top: 1.5em;
}
aside.sidebar .widget:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}
aside.sidebar .searchform input {
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
}
aside.sidebar .searchform input[type="submit"] {
  width: 15%;
  float: right;
  padding: 0.25em;
  font-size: 1.6rem;
}
aside.sidebar .searchform input[type="text"] {
  width: 80%;
  float: left;
  padding: 0.75em;
}
aside.sidebar ul {
  margin: 0;
}
aside.sidebar ul li {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  list-style-type: none;
  position: relative;
  padding: 0.25em 0.5em 0.25em 1.25em;
}
aside.sidebar ul li:before {
  content: '-';
  position: absolute;
  top: 0.25em;
  left: 0.25em;
}
aside.sidebar #wp-calendar {
  width: 100%;
}
aside.sidebar #wp-calendar caption {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}
aside.sidebar .widget-custom {
  position: relative;
}
aside.sidebar .widget-custom .widget-image {
  display: block;
  margin-bottom: 1em;
}
aside.sidebar .widget-custom .button {
  font-size: 0.9rem;
}
aside.sidebar .has-bg {
  padding: 1em;
}
aside.sidebar .has-bg:first-child {
  padding: 1em;
}
aside.sidebar .categories-nav {
  height: 48px;
}
aside.sidebar .widget .social .prepend {
  display: block;
}
aside.sidebar .widget.widget-login .button a, aside.sidebar .widget.widget-login .button {
  width: 100%;
}
.home-slider {
  margin: 0;
}
.home-slider img {
  margin: 0;
}
.home-slider .slide {
  position: relative;
}
.home-slider .slide-caption {
  position: absolute;
  bottom: 0;
  z-index: 100;
  padding: 1em;
  width: 50%;
  /* FF3.6+ */
  background: -moz-linear-gradient(left, rgba(43, 43, 43, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(43, 43, 43, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(left, rgba(43, 43, 43, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, rgba(43, 43, 43, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: -ms-linear-gradient(left, rgba(43, 43, 43, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  background: linear-gradient(to right, rgba(43, 43, 43, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a62b2b2b', endColorstr='#00000000',GradientType=1);
}
.home-slider .slide-caption h2, .home-slider .slide-caption p, .home-slider .slide-caption a {
  margin: 0;
  text-shadow: 0 0 5px #000;
}
.home .rule {
  margin: 0 0 1.5em;
}
.home .section {
  padding: 1.5em 0 0;
}
.home .section:first-child {
  padding: 0;
}
.home .section:first-child .rule {
  display: none;
}
.feature {
  position: relative;
  vertical-align: middle;
  display: block;
}
.feature .overlay {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  text-align: center;
  overflow: hidden;
  padding: 1.5em;
  opacity: 0;
}
.feature .details, .feature .button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  opacity: 0;
}
.feature .details {
  margin-bottom: 1.5em;
}
.feature .button {
  bottom: -200%;
}
.feature .featured-title {
  font-size: 1.4rem;
  display: block;
}
.feature:hover .overlay, .feature:hover .details, .feature:hover .button {
  opacity: 1;
}
.feature:hover .button {
  bottom: 0;
}
.feature.border-primary, .feature.border-secondary, .feature.border-tertiary, .feature.border-quaternary {
  border-width: 5px;
  border-style: solid;
}
.feature.border-primary:hover, .feature.border-secondary:hover, .feature.border-tertiary:hover, .feature.border-quaternary:hover {
  border-width: 10px;
}
.featured-posts .features .columns:nth-child(n+5) {
  margin-top: 2em;
}
.cta-box .call {
  padding: 1em;
}
.cta-box .cta-go {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cta-box p:last-of-type {
  margin-bottom: 0;
}
.cta-box .image img {
  margin: 0;
}
.cta-box.has-image .call {
  width: 80%;
}
.cta-box.has-image .image {
  width: 20%;
  text-align: right;
}
.contact .prepend, .contact .link-co {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contact .prepend {
  font-size: 1rem;
  display: block;
}
.contact .interested {
  display: block;
  font-size: 1rem;
}
.contact .social {
  margin: 0.75em 0;
}
.contact .social-share a {
  font-size: 2.5rem;
  display: inline-block;
}
.contact .social-share a:before {
  margin: 0;
  font-size: inherit;
}
.contact .social-connect:nth-child(2), .contact .social-share:nth-child(2) {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 1.5em;
  margin-top: 1.5em;
}
.link-co, .link-fo {
  display: block;
  line-height: normal;
}
.link-co {
  font-size: 1.3rem;
  padding-right: 0.5em;
}
.contact-icon {
  line-height: 45px;
  font-size: 2.3rem;
  display: inline-block;
  margin-right: 0.25em;
  text-align: center;
  height: 45px;
  width: 45px;
  background-color: black;
  border-radius: 100%;
  float: left;
}
.post-list .the-post {
  padding-left: 120px;
}
.post-list time {
  position: absolute;
  top: auto;
  left: 0;
}
.post-list .content p {
  margin: 0;
}
.single time {
  float: left;
  margin: 0 2em 1em 0;
}
article.post h1, article.post h2 {
  line-height: 1em;
  margin: 0;
  line-height: 1em;
  margin: 0;
  font-weight: normal;
}
article.post h1 a, article.post h2 a {
  font-size: 1em;
}
article.post .img-zoom {
  margin-bottom: 1em;
}
.the-post {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 2em;
}
.categorizing {
  margin: 0.25em 0 1.25em;
}
footer.post {
  margin-top: 2em;
  text-align: right;
}
footer.post .social {
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 1.5em;
  padding: 0.75em 0;
}
#commentform input[type=submit] {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  display: block;
}
.continue-wrap {
  display: block;
  text-align: right;
}
.continue {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  white-space: nowrap;
  margin-top: 1em;
  padding: 0.5em 1em;
}
time {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  padding: 1.1em 0;
  width: 90px;
  height: 90px;
  text-align: center;
}
time span {
  display: inline-block;
  text-align: center;
}
time .date {
  font-size: 3em;
  display: block;
  margin-bottom: 0.15em;
}
time .year {
  margin-left: 0.35em;
}
.pagination {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: right;
  font-size: 0.9rem;
}
.pagination span, .pagination a {
  display: inline-block;
  padding: 0.25rem;
}
.pagination .current {
  font-weight: bold;
  padding: 0.25em 0.5em;
}
div.main-content p.categories, div.main-content p.tags {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.7em;
}
div.main-content p.categories a, div.main-content p.tags a {
  font-style: italic;
}
.socialize, .socialize p {
  text-align: right;
  margin: 0;
}
.socialize .symbol, .socialize p .symbol {
  display: inline-block;
}
.comment-link {
  margin-bottom: 0;
}
.comment-link a {
  display: block;
  font-weight: bold;
}
#commentform input[type=submit] {
  padding: 0.5em;
}
#comment {
  width: 100%;
}
.comment-meta {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
div.main-content ol.commentlist {
  margin: 0;
}
div.main-content ol.commentlist li {
  list-style-type: none;
  margin: 0 0 2em;
}
div.main-content ol.commentlist .comment-author {
  width: 100%;
  margin: 0;
  border: none;
}
.reply {
  text-align: right;
}
.comment-reply-link {
  display: inline-block;
  padding: 0.1em 0.6em;
}
.children {
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 1em;
  margin: 1em 0;
}
.intro .details {
  padding: 1em;
  margin-bottom: 1.5em;
}
.cat-nav {
  margin: 0;
}
.cat-nav ul {
  margin: 0;
}
.cat-nav li {
  list-style-type: none;
}
.cat-nav li a {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: block;
  padding: 0.5em;
}
.cat-nav .customSelect {
  margin-bottom: 1.5em;
}
.cat-nav .current-cat-parent ul, .cat-nav .children {
  padding: 0;
}
.gallery .content {
  border-left-width: 1px;
  border-left-style: solid;
}
.gallery .content h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}
.gallery .content .categories, .gallery .content .social-share {
  display: block;
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top-width: 1px;
  border-top-style: solid;
}
.gallery .content .social-share a.symbol {
  font-size: 3rem;
}
.gallery .overlay, .gallery .gallery-overlay {
  text-align: left;
}
.gallery .overlay h2, .gallery .gallery-overlay h2 {
  font-size: 1.5rem;
}
.gallery .link {
  display: block;
}
.gallery .featured-image {
  margin: 0;
}
.gallery.excerpt {
  margin-bottom: 1.5em;
}
.single .gallery .content {
  margin-bottom: 0;
}
.flex-control-paging li a {
  opacity: 0.5;
}
.flex-control-paging li a.flex-active {
  opacity: 1;
}
.product-list {
  margin: 0;
}
.product-list li {
  list-style-type: none;
  text-align: center;
}
.post-type-archive-product .reveal-modal, .tax-product_cat .reveal-modal {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.product-details .price {
  font-size: 1.3rem;
}
.product-details h3 {
  position: relative;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
}
.product-details h3:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 25%;
  height: 1px;
}
.product-details .form {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em 0 0;
  padding: 1.5em;
}
.product-details .alt-break, .product-details .alt {
  font-family: "sofia_pro_light_condensedRg", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}
.product-details .alt {
  padding: 0.5em;
  margin-top: 0.5em;
}
.product-details .social-share {
  font-size: 1rem;
}
.product-details .social-share a.symbol {
  margin-right: 0.25em;
}
.product-details footer.reveal {
  margin-top: 2em;
  padding: 1em 0 0;
  border-top-style: solid;
  border-top-width: 1px;
}
.product-details footer.reveal a, .product-details footer.reveal a.symbol, .product-details footer.reveal .icon {
  font-size: 1.5rem;
}
.product-details footer.reveal .controls {
  text-align: right;
}
.product-details footer.reveal .controls a {
  display: inline-block;
  margin-left: 1em;
  position: relative;
  top: auto;
  right: auto;
}
.product-details .button {
  width: 100%;
}
.product-summary input[type=submit] {
  border: 0;
  display: inline-block;
  margin-top: 0.5em !important;
}
.product-summary .quantity {
  clear: both;
}
[class*="column"] + [class*="column"]:last-child {
  float: left;
}
.product-thumb {
  margin-bottom: 1.5em;
}
.product-thumb h4, .product-thumb p, .product-thumb span {
  text-align: left;
}
.product-thumb .button {
  text-align: center;
}
.product-thumb .details {
  margin-bottom: 1em;
}
.jigoshop a.remove {
  font-family: 'Ionicons' !important;
  content: '\f12a';
  text-indent: 0;
  background-color: transparent;
  background-image: none;
  height: auto;
  width: auto;
}
.error404 {
  /*==========================================================================
Gravity Forms
==========================================================================*/
}
.error404 main {
  text-align: center;
}
.product-details .gform_wrapper {
  margin: 0;
  max-width: 100%;
}
.product-details .gform_wrapper .top_label .gfield_label {
  padding: 0;
  margin: 0;
}
.product-details .gform_wrapper .top_label input.large {
  border: none;
  width: 100%;
}
.product-details .gform_wrapper .gform_footer {
  margin: 0;
  padding-bottom: 0;
}
.gform_wrapper li, aside.sidebar .gform_wrapper li {
  padding: 0;
  font-size: 0.9rem;
}
.gform_wrapper li:hover, aside.sidebar .gform_wrapper li:hover {
  background-color: transparent;
}
.gform_wrapper input[type=text], aside.sidebar .gform_wrapper input[type=text], .gform_wrapper input[type=url], aside.sidebar .gform_wrapper input[type=url], .gform_wrapper input[type=email], aside.sidebar .gform_wrapper input[type=email], .gform_wrapper input[type=tel], aside.sidebar .gform_wrapper input[type=tel], .gform_wrapper input[type=number], aside.sidebar .gform_wrapper input[type=number], .gform_wrapper input[type=password], aside.sidebar .gform_wrapper input[type=password], .gform_wrapper textarea.textarea, aside.sidebar .gform_wrapper textarea.textarea {
  border: none;
  padding: 0.5em;
  font-size: 0.9rem;
}
.gform_wrapper .gform_footer, aside.sidebar .gform_wrapper .gform_footer {
  padding: 0;
}
.gform_wrapper div.validation_error, aside.sidebar .gform_wrapper div.validation_error {
  font-size: 0.9rem;
  line-height: normal;
}
@media print {
  /*==========================================================================
Responsive
==========================================================================*/  .slideshow, .features, .home .contact, .sidebar, .flex-video, header.main .large-9, .social, .breadcrumb, .cat-nav, form, footer.main, .tinynav, .footer-add, .alt-break {
    display: none !important;
  }
  a:link:after {
    content: '' !important;
  }
  .product-summary .large-6 {
    width: 50%;
  }
}
@media only screen and (max-width: 40em) {
  .home .cta-box.has-image .image, .home .cta-box.has-image .call {
    width: 100% !important;
    float: none !important;
  }
  .home .home-slider .slide-caption {
    width: 100%;
  }
  .home .home-slider .slide-caption h2 {
    font-size: 1.5rem;
  }
  .home .home-slider .slick-dots {
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  .home .home-slider .slide-img {
    width: 100%;
  }
}
@media only screen and (max-width: 64em) {
  select.tinynav {
    height: 46px;
    width: 97% !important;
  }
  header.main .logo {
    margin-bottom: 1.5em;
  }
  header.main .upper, header.main .logo {
    text-align: center;
  }
  header.main nav.main ul.menu {
    display: none;
  }
  header.main select.tinynav {
    height: 45px !important;
  }
  .home .featured-posts img {
    width: 100%;
  }
  .home .featured-posts .medium-6.large-3 {
    margin-bottom: 1.5em;
  }
  .home .cta-contact .columns {
    margin: 0 0 1.5em;
  }
  .home .cta-contact .columns .contact {
    text-align: center;
  }
  .home .cta-box.has-image .image {
    width: 35%;
  }
  .home .cta-box.has-image .call {
    width: 65%;
  }
  .home .orbit-container .orbit-slides-container li .orbit-caption {
    width: 100%;
  }
  .blog .the-post {
    padding-left: 0;
  }
  .blog time {
    position: relative;
    width: 100%;
    margin-bottom: 1.5em;
    height: auto;
  }
  .product-thumb img, .gallery.excerpt img {
    width: 100%;
  }
  .feature .overlay, .feature .overlay .details, .feature .overlay .button {
    opacity: 1;
    bottom: auto;
  }
  .categories-nav .tinynav {
    margin-bottom: 1.5em;
  }
  .categories-nav .cat-nav {
    display: none !important;
  }
  .single-gallery .container, .blog .container, .page .container {
    padding-bottom: 0;
  }
  .single-gallery aside.sidebar, .blog aside.sidebar, .page aside.sidebar, .single-gallery .content, .blog .content, .page .content {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 1.5em;
    border: none;
  }
}
@media only screen and (min-width: 64.063em) {
  .product.large-12, .product.large-6:nth-child(2n+1), .product.large-4:nth-child(3n+1), .product.large-3:nth-child(4n+1), .product.large-2:nth-child(6n+1) {
    clear: left;
  }
  .cat-nav {
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 0;
  }
  .tinynav, .customSelect {
    display: none !important;
  }
}
@font-face {
  font-family: 'sofia_pro_light_condensedRg';
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot');
  src: url('fonts/sofiaprocond/SofiaProLiCond-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.woff') format('woff'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.ttf') format('truetype'), url('fonts/sofiaprocond/SofiaProLiCond-webfont.svg#sofia_pro_light_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, aside.sidebar .searchform:before, .clearfix:after, aside.sidebar .searchform:after {
  content: " ";
  display: table;
}
.clearfix:after, aside.sidebar .searchform:after {
  clear: both;
}
.clearfix, aside.sidebar .searchform {
  *zoom: 1;
}
.primary {
  background-color: #fff;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary p, .primary span, .primary blockquote, .primary blockquote p, .primary dl, .primary dt, .primary dd, .primary table, .primary table th, .primary table th tr, .primary table td, .primary ul, .primary ol, .primary li, body .primary {
  color: #565656;
}
.primary .st-single-color.social a:before {
  color: #1e9ad8 !important;
}
.primary .st-single-color.social a:hover:before {
  color: #156a95 !important;
}
.primary.adjusted {
  background-color: #f2f2f2;
}
.button.primary {
  color: #1e9ad8;
}
.button.primary:hover {
  color: #fff;
  background-color: #1e9ad8;
}
.feature .button.primary {
  color: #1e9ad8;
  background-color: #fff;
}
.rule {
  background-color: #d9d9d9;
}
.home .orbit-container .orbit-bullets-container .orbit-bullets li {
  border-color: #fff;
  background-color: #fff;
}
.footer-add, .the-post, footer.post .social, .cat-nav, .gallery .content, .gallery .content .categories, .gallery .content .social-share, aside.sidebar .widget, aside.sidebar, .contact .social-connect:nth-child(2), .contact .social-share:nth-child(2), .product-summary .product_meta, .product-summary form, .product-summary .social {
  border-color: #d9d9d9;
}
.home-slider h2, .home-slider p, .home-slider span {
  color: #fff;
}
span.onsale {
  color: #fff;
}
.home .contact .contact-icon {
  background-color: #1e9ad8;
  color: #fff;
}
.line-up {
  border-color: #fff;
  color: #fff;
}
.breadcrumb {
  background-color: #d9d9d9;
}
.breadcrumb a {
  color: #4d4d4d;
}
nav.main .menu > li:hover > a, time .year, time .month, .cat-nav .current-cat > a, .cat-nav a:hover, .product-details .form .alt, .product-details .alt, nav.shop:before {
  color: #fff;
}
.overlay .product-details h1, .overlay .product-details h2, .overlay .product-details h3, .overlay .product-details h4, .overlay .product-details h5, .overlay .product-details p, .overlay .product-details span, .overlay .product-details blockquote, .overlay .product-details blockquote p, .overlay .product-details dl, .overlay .product-details dt, .overlay .product-details dd, .overlay .product-details table, .overlay .product-details table th, .overlay .product-details table th tr, .overlay .product-details table td, .overlay .product-details ul, .overlay .product-details ol, .overlay .product-details li {
  color: #fff;
}
.overlay .product-details .form h1, .overlay .product-details .form h2, .overlay .product-details .form h3, .overlay .product-details .form h4, .overlay .product-details .form h5, .overlay .product-details .form p, .overlay .product-details .form span, .overlay .product-details .form blockquote, .overlay .product-details .form blockquote p, .overlay .product-details .form dl, .overlay .product-details .form dt, .overlay .product-details .form dd, .overlay .product-details .form table, .overlay .product-details .form table th, .overlay .product-details .form table th tr, .overlay .product-details .form table td, .overlay .product-details .form ul, .overlay .product-details .form ol, .overlay .product-details .form li {
  color: #1e9ad8;
}
.product-details .form {
  background-color: rgba(255, 255, 255, .7);
}
.product-thumb .button {
  background-color: #fff;
  color: #1e9ad8;
}
.product-thumb .button:hover {
  background-color: #1e9ad8;
  color: #fff;
}
aside.sidebar .searchform {
  background-color: #d9d9d9;
}
aside.sidebar .searchform input[type="submit"] {
  color: #fff;
}
aside.sidebar .searchform input[type="submit"]:hover {
  color: #1e9ad8;
}
aside.sidebar .gform_wrapper input[type=text], aside.sidebar .gform_wrapper input[type=url], aside.sidebar .gform_wrapper input[type=email], aside.sidebar .gform_wrapper input[type=tel], aside.sidebar .gform_wrapper input[type=number], aside.sidebar .gform_wrapper input[type=password], aside.sidebar .gform_wrapper textarea.textarea {
  background-color: #d9d9d9;
  color: #565656;
}
aside.sidebar .widget.has-bg .button {
  background-color: #fff;
  color: #1e9ad8;
}
aside.sidebar .widget.has-bg .button:hover {
  background-color: #d93;
  color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .7);
}
.overlay-primary h2, .overlay-primary h3, .overlay-primary h4, .overlay-primary h5, .overlay-primary p, .overlay-primary span {
  color: #565656;
}
.overlay-primary .featured {
  background-color: #1e9ad8;
  color: #fff;
}
.border-primary {
  border-color: #fff;
}
.intro.tertiary h1, .intro.tertiary h2, .intro.tertiary h3, .intro.tertiary h4, .intro.tertiary h5, .intro.tertiary p, .intro.tertiary span, .intro.tertiary blockquote, .intro.tertiary blockquote p, .intro.tertiary dl, .intro.tertiary dt, .intro.tertiary dd, .intro.tertiary table, .intro.tertiary table th, .intro.tertiary table th tr, .intro.tertiary table td, .intro.tertiary ul, .intro.tertiary ol, .intro.tertiary li, body .intro.tertiary {
  color: #fff;
}
.current-cat, .current-cat-parent {
  background-color: rgba(217, 217, 217, .5);
}
.current-cat-parent ul {
  background-color: rgba(77, 77, 77, .10);
}
.product-details .panel {
  background-color: rgba(255, 255, 255, .5);
}
.cat-nav a, .counter, aside.sidebar ul a {
  color: #565656;
}
.flex-control-paging li a, .flex-control-paging li a.flex-active, .gallery .tabs dd a, h1:after {
  background-color: #565656;
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .7);
}
.overlay-secondary h2, .overlay-secondary h3, .overlay-secondary h4, .overlay-secondary h5, .overlay-secondary p, .overlay-secondary span {
  color: #fff;
}
.overlay-secondary .featured {
  background-color: #fff;
  color: #565656;
}
.border-secondary {
  border-color: #565656;
}
.tertiary, time, .continue, .cat-nav .current-cat > a, .cat-nav a:hover, .gallery .tabs dd.active a, .product-details .alt, .widget.has-bg {
  background-color: #1e9ad8;
}
header.main h1, footer.main h1, header.main h2, footer.main h2, header.main h3, footer.main h3, header.main h4, footer.main h4, header.main h5, footer.main h5, header.main p, footer.main p, header.main span, footer.main span, header.main blockquote, footer.main blockquote, header.main blockquote p, footer.main blockquote p, header.main dl, footer.main dl, header.main dt, footer.main dt, header.main dd, footer.main dd, header.main table, footer.main table, header.main table th, footer.main table th, header.main table th tr, footer.main table th tr, header.main table td, footer.main table td, header.main ul, footer.main ul, header.main ol, footer.main ol, header.main li, footer.main li, header.main a, footer.main a {
  color: #fff;
}
header.main a:hover, footer.main a:hover {
  color: #d9d9d9;
}
.cta-box h1, .widget.has-bg h1, .cta-box h2, .widget.has-bg h2, .cta-box h3, .widget.has-bg h3, .cta-box h4, .widget.has-bg h4, .cta-box h5, .widget.has-bg h5, .cta-box a, .widget.has-bg a {
  color: #fff;
}
.cta-box p, .widget.has-bg p, .cta-box span, .widget.has-bg span, .cta-box blockquote, .widget.has-bg blockquote, .cta-box blockquote p, .widget.has-bg blockquote p, .cta-box dl, .widget.has-bg dl, .cta-box dt, .widget.has-bg dt, .cta-box dd, .widget.has-bg dd, .cta-box table, .widget.has-bg table, .cta-box table th, .widget.has-bg table th, .cta-box table th tr, .widget.has-bg table th tr, .cta-box table td, .widget.has-bg table td, .cta-box ul, .widget.has-bg ul, .cta-box ol, .widget.has-bg ol, .cta-box li, .widget.has-bg li {
  color: #d9d9d9;
}
.overlay-tertiary, .gallery-overlay {
  background-color: rgba(30, 154, 216, .7);
}
.overlay-tertiary h2, .gallery-overlay h2, .overlay-tertiary h3, .gallery-overlay h3, .overlay-tertiary h4, .gallery-overlay h4, .overlay-tertiary h5, .gallery-overlay h5, .overlay-tertiary p, .gallery-overlay p, .overlay-tertiary span, .gallery-overlay span {
  color: #fff;
}
.overlay-tertiary .featured, .gallery-overlay .featured {
  background-color: #fff;
  color: #1e9ad8;
}
.button, .continue {
  color: #fff;
  background-color: #d93;
}
.button:hover, .continue:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.counter .current {
  color: #1e9ad8;
}
a, .flex-direction-nav a {
  color: #1e9ad8;
}
a:hover, .flex-direction-nav a:hover {
  color: #1b8ac2;
}
.home .slick-dots .slick-active button {
  background-color: #1e9ad8;
}
.home .slick-dots button {
  background-color: #fff;
  border-color: #fff;
}
footer.main {
  border-color: #1b8ac2;
}
.home .contact p, .home .contact span, .home .contact a {
  color: #1e9ad8;
}
.home .contact .interested:hover, .home .contact a:hover {
  color: #156a95;
}
.reveal-modal-bg, div.pp_overlay {
  background-color: rgba(30, 154, 216, .9);
}
.has-children.active, .has-children ul a:hover, .has-children.active .active a {
  background-color: rgba(30, 154, 216, .40);
}
aside.sidebar li:hover {
  background-color: #1e9ad8;
  color: #fff;
}
aside.sidebar li:hover a {
  color: #fff;
}
aside.sidebar .gform_wrapper li:hover, div.pp_default a:before {
  color: #1e9ad8;
}
.border-tertiary {
  border-color: #1e9ad8;
}
.quaternary {
  background-color: #d93;
}
.quaternary h1, .quaternary h2, .quaternary h3, .quaternary h4, .quaternary h5, .quaternary p, .quaternary span, .quaternary blockquote, .quaternary blockquote p, .quaternary dl, .quaternary dt, .quaternary dd, .quaternary table, .quaternary table th, .quaternary table th tr, .quaternary table td, .quaternary ul, .quaternary ol, .quaternary li, .quaternary a {
  color: #fff;
}
nav.main .menu > li > a:after, .product-details h3:after {
  background-color: #d93;
}
header.main .upper a, header.main .upper input, header.main .upper span {
  color: #d93;
}
header.main .upper .searchform {
  border-color: #d93;
}
nav.main ul ul {
  background-color: rgba(221, 153, 51, .95);
}
nav.main ul ul li {
  border-color: rgba(30, 154, 216, .25);
}
nav.main ul ul a {
  color: #1e9ad8;
}
nav.main ul ul a:hover {
  color: #156a95;
  background-color: rgba(30, 154, 216, .25);
}
time .date, .price, .product-thumb span.price, aside.sidebar .gform_wrapper .gfield_required, aside.sidebar .gform_wrapper div.validation_error {
  color: #d93;
}
.product-details footer.reveal span, .product-details footer.reveal a, .product-details footer.reveal .st-single-color.social a:before {
  color: #d93 !important;
}
.product-details footer.reveal .st-single-color.social a:hover:before {
  color: #a8701c !important;
}
footer.reveal {
  border-color: #d93;
}
.button.view-details, .button-alt, header.main .customSelect {
  background-color: #d93;
  color: #fff;
}
.button.view-details:hover, .button-alt:hover, header.main .customSelect:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.overlay-quaternary {
  background-color: rgba(221, 153, 51, .7);
}
.overlay-quaternary h2, .overlay-quaternary h3, .overlay-quaternary h4, .overlay-quaternary h5, .overlay-quaternary p, .overlay-quaternary span {
  color: #fff;
}
.overlay-quaternary .featured {
  background-color: #fff;
  color: #d93;
}
.border-quaternary {
  border-color: #d93;
}
header.main .filled .searchform {
  background-color: #d93;
}
header.main .filled .searchform input {
  color: #fff;
}
.ilightbox-overlay.dark {
  background-color: #565656 !important;
}
div.jigoshop_message {
  background-color: #d38d23;
  border-color: #a8701c;
}
div.jigoshop_message span {
  color: #fff;
}
.quantity input.plus:hover, .quantity input.minus:hover {
  background-color: #d93;
  color: #fff;
}
.jigoshop .add-cart .button {
  background-color: #d93;
  color: #fff;
}
.gallery-list .tabs dd.active a {
  background-color: #1e9ad8;
}
.gallery-list .tabs dd a {
  background-color: #565656;
}
.product-single .product-details .panel, .product-single .product-details .active {
  background-color: #1e9ad8;
}
.product-single .tabs li {
  background-color: #d93;
}
.product-single .related.products {
  border-color: #d93;
}
.product-single .panel h1, .product-single .panel h2, .product-single .panel h3, .product-single .panel h4, .product-single .panel h5, .product-single .panel h6, .product-single .panel p, .product-single .panel span, .product-single .panel a, .product-single .panel ul, .product-single .panel ol, .product-single .panel li, .product-single .panel input, .product-single .panel textarea {
  color: #fff;
}
.product-single .panel input, .product-single .panel textarea {
  background-color: rgba(255, 255, 255, .75);
}
.jigoshop form.cart button, .jigoshop .button, .jigoshop input[type=submit] {
  background-color: #1e9ad8;
  color: #fff;
}
.jigoshop form.cart button:hover, .jigoshop .button:hover, .jigoshop input[type=submit]:hover {
  background-color: #1b8ac2;
}
.jigoshop .button-alt {
  background-color: #d93;
  color: #fff;
}
.jigoshop .quantity input.qty {
  background-color: rgba(221, 153, 51, .5);
  color: #fff;
}
.jigoshop .tertiary h3, .jigoshop .tertiary p, .jigoshop .tertiary span, .jigoshop .tertiary label, .jigoshop .tertiary input {
  color: #fff;
}
.jigoshop .tertiary input[type=submit] {
  background-color: #d93;
  color: #1e9ad8;
}
.jigoshop .tertiary .alt {
  color: #1e9ad8;
  background-color: #fff;
}
.jigoshop-products .product-details h3, .jigoshop-products .product-details p {
  color: #fff;
}
.jigoshop-products .product-details .button {
  color: #1e9ad8;
  background-color: #d93;
}
.jigoshop-products .product-details .button:hover {
  color: #fff;
  background-color: #1e9ad8;
}
#commentform input[type=submit] {
  background-color: #1e9ad8;
  color: #fff;
}
#commentform input[type=submit]:hover {
  background-color: #d93;
  color: #fff;
}
.widget.has-bg .social a:before {
  color: #fff !important;
}
.widget.has-bg .button {
  background-color: #fff;
}
.widget.has-bg .button a {
  color: #1e9ad8;
}
.widget.has-bg .button:hover {
  background-color: #d93;
}
.widget.has-bg .button:hover a {
  color: #fff;
}
.widget .button {
  background-color: #d93;
}
.widget .button a {
  color: #fff;
}
.widget .button:hover {
  background-color: #1e9ad8;
}
.widget .button:hover a {
  color: #fff;
}
.primary .social-share.st-single-color a:before, .primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #1e9ad8;
}
.primary .social-share.st-single-color a:hover:before, .primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #187aab;
}
.secondary .social-share.st-single-color a:before, .secondary .social-connect.st-single-color a:before, .tertiary .social-share.st-single-color a:before, .tertiary .social-connect.st-single-color a:before, .quaternary .social-share.st-single-color a:before, .quaternary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #fff;
}
.secondary .social-share.st-single-color a:hover:before, .secondary .social-connect.st-single-color a:hover:before, .tertiary .social-share.st-single-color a:hover:before, .tertiary .social-connect.st-single-color a:hover:before, .quaternary .social-share.st-single-color a:hover:before, .quaternary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
@media only screen and (max-width: 64em) {
  aside.sidebar, .single-gallery .content {
    background-color: #d9d9d9;
  }
  aside.sidebar .searchform, .single-gallery .content .searchform, aside.sidebar .gform_wrapper input[type=text], .single-gallery .content .gform_wrapper input[type=text], aside.sidebar .gform_wrapper input[type=url], .single-gallery .content .gform_wrapper input[type=url], aside.sidebar .gform_wrapper input[type=email], .single-gallery .content .gform_wrapper input[type=email], aside.sidebar .gform_wrapper input[type=tel], .single-gallery .content .gform_wrapper input[type=tel], aside.sidebar .gform_wrapper input[type=number], .single-gallery .content .gform_wrapper input[type=number], aside.sidebar .gform_wrapper input[type=password], .single-gallery .content .gform_wrapper input[type=password], aside.sidebar .gform_wrapper textarea.textarea, .single-gallery .content .gform_wrapper textarea.textarea {
    background-color: #f2f2f2;
  }
  aside.sidebar .searchform input[type="submit"], .single-gallery .content .searchform input[type="submit"], aside.sidebar .gform_wrapper input[type=text] input[type="submit"], .single-gallery .content .gform_wrapper input[type=text] input[type="submit"], aside.sidebar .gform_wrapper input[type=url] input[type="submit"], .single-gallery .content .gform_wrapper input[type=url] input[type="submit"], aside.sidebar .gform_wrapper input[type=email] input[type="submit"], .single-gallery .content .gform_wrapper input[type=email] input[type="submit"], aside.sidebar .gform_wrapper input[type=tel] input[type="submit"], .single-gallery .content .gform_wrapper input[type=tel] input[type="submit"], aside.sidebar .gform_wrapper input[type=number] input[type="submit"], .single-gallery .content .gform_wrapper input[type=number] input[type="submit"], aside.sidebar .gform_wrapper input[type=password] input[type="submit"], .single-gallery .content .gform_wrapper input[type=password] input[type="submit"], aside.sidebar .gform_wrapper textarea.textarea input[type="submit"], .single-gallery .content .gform_wrapper textarea.textarea input[type="submit"] {
    color: #565656;
  }
  aside.sidebar .widget, .single-gallery .content .widget, aside.sidebar .categories, .single-gallery .content .categories, aside.sidebar .social, .single-gallery .content .social {
    border-color: #f2f2f2;
  }
  .categories-nav .customSelect {
    background-color: #d9d9d9;
  }
}
