.excerpt {
	padding: 1em 0;
	h2 {
		font-size: 1.6rem;
		a { font-size: 1em; }
	}
	.continue {
		display: block;
		padding: 0;
		margin-top: 1em;
		text-align: right;
	}
	div.featured-image {
		margin: 1em 0;
	}
	.categorizing {
		.columns {
			padding: 0;
		}
		p, a { 
			margin: 0;
			font-size: .8rem;
		}
	}
	.content p:last-child { margin-bottom: 0; }
	time { display: block; }
}
.full {
	padding: 1em 0;
	h1 { 
		font-size: 2rem;
		margin-bottom: 1em;
	}
	div.featured-image { margin: 0 0 1em; }
	.categorizing {
		margin-bottom: 1em;
		.columns {
			padding: 0;
		}
		p, a { 
			margin: 0;
			font-size: .8rem;
		}
	}
	.content p:last-child { margin-bottom: 0; }
	time { display: block; }
	header { margin-bottom: 1.5em;}
}
.pagination {
	padding: 1em 0;
	text-transform: uppercase;
	span, a { 
		padding: .25em;
		font-size: 1.2rem;
	}
}
.categorizing {
	padding-top: 1em;
	margin-top: 1em;
}