/*==========================================================================
MIXINS
==========================================================================*/
@mixin fontStyle($font-type: null, $font-size: null, $font-weight: null, $font-style: null, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null) {
	@if $font-type == heading {
		font-family: 'Gill Sans','Gill Sans MT',Calibri,sans-serif
	}
	@else if $font-type == paragraph {
		font-family: Candara,Calibri,Segoe,'Segoe UI',Optima,Arial,sans-serif
	}
	@if $font-size != null {
		font-size: $font-size;
	}
	@if $font-weight != null {
		font-weight: $font-weight;
	}
	@if $font-style != null {
		font-style: $font-style;
	}
	@if $text-transform != null {
		text-transform: $text-transform; 
	}
	@if $text-align != null {
		text-align: $text-align;
	}
	@if $line-height != null {
		line-height: $line-height;	
	}
	@if $letter-spacing != null {
		letter-spacing: $letter-spacing;
	}
}

@mixin transition($prop,$time) {
	-webkit-transition: $prop $time ease-in-out;
	-moz-transition: $prop $time ease-in-out;
	-o-transition: $prop $time ease-in-out;
	-ms-transition: $prop $time ease-in-out;
	transition: $prop $time ease-in-out;    
}

@mixin transform($prop) {
	transform: $prop;
	-webkit-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	-moz-transform: $prop; 
}


// Boilerplate //
h1, h1 a, h2, h3, h4, h5, h6 {
	@include fontStyle($font-type: heading, $font-size: null, $font-weight: normal, $font-style: null, $text-align: null, $text-transform: null, $line-height: normal, $letter-spacing: 0);
}
h1 {
	margin: 0 auto;
	font-size: 2.5rem;
	display: inline-block;
}
h2 { font-size: 2rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.3rem; }
h5, h6 { font-size: 1.1rem; }
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
	@include fontStyle(paragraph, 1rem);
}
ul {
	padding-left: 5%;
}
.content {
	ul, ol {
		li { margin: 1em 0;}
	}
}
a, input[type=submit] {
	@include transition(all,.3s);
	&:hover { opacity: .9; }
}
blockquote {
	padding: 2em;
	margin: 2em 0;
	border: none;
	p, li, ol, ul {
		&:last-child { margin: 0; }
	}
	p, li, ol, ul, a {
		@include fontStyle($font-type: heading, $font-size: 1.25rem, $font-weight: null, $font-style: italic, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null);
	}
	a { 
		opacity: .5;
		text-decoration: underline;
	}
}
pre {
	padding: 1.5rem;
	margin: 2em 0;
	max-width: 100%;
}
hr {
	border: none;
	position: relative;
	margin: 3em 75% 3em 0;
	display: block;
	height: 4px;
	width: 25%;
}
.vcard {
	border: none;
	padding: 0;
	display: block;
	margin: 0;
	p, span, a {
		font-size: .7rem;
		padding: 0;
	}
}
.prepend { margin-right: .5rem;}
.button, .continue {
	@include fontStyle($font-type: heading, $font-size: null, $font-weight: normal, $font-style: null, $text-align: null, $text-transform: uppercase, $line-height: null, $letter-spacing: .2em);
	@include transition(all,.3s);
	padding: .5em 1.5em;
	margin-top: 1.5em;
}
// Input Fields //
input, textarea { 
	width: 100%;
	border-width: 3px;
	border-style: solid;
	padding: .5em;
}
label { 
	display: block;
	margin-bottom: .5em;
}
.label {
	white-space: normal;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin: .5em 1.5em .5em 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter, img.aligncenter {
	margin: .5em auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}