$alpha:  320px;
$beta :  500px;
$gamma:  600px;
$delta:  992px;

@mixin bp($device-width) {
  @media screen and (min-width: $device-width) {
    @content;
  }
}
@mixin bpmax($device-width) {
  @media screen and (max-width: $device-width) {
    @content;
  }
}