// This is kindof the main content area, where posts show up and things like that.
.content {
    position: relative;
    h1,h2,h3,h4,h5,h6 {
        position: relative;
        z-index: 2;
        display: inline;
        padding-right: 1em;
    }
}
.main-wrap, footer.main .upper {
	.column, .columns {
		padding: 1.5em;
	}
}
.sidebar .vcard {
    p, span {
        font-size: 1rem;
        margin: 0;
    }
}
.grid-item__container, .post.excerpt, .post.full header {
    &:first-child {
        border: none;
    }
}