// Default Styles

html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a,a:before,a:after,li {
    box-sizing: border-box;
    transition: all ease-in .3s;
}

.row {
    max-width: 1100px;
}

.secondary > .row {
    padding-left: .5em;
    padding-right: .5em;
}

.inline-menu {
    display: inline-block;
}

.button {
    display: inline-block;
    margin: 0 auto;
    border: none;
    max-width: 500px;
    transition: .1s all ease-in;
}

.searchform {
    margin: 1em 0;
}

input[type="submit"] {
    cursor: pointer;
    @include bp($beta) {
        background-color: $tertiary;
        border-color: $tertiary;
        border-radius: 4px;
    }
}

.foreohfore {
    text-align: center;
    padding: 200px 0;
    padding: 28vh 0;
}

.p:first-of-type {
    margin-top: 1em;
}

.topbar a.phone {
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 2px;
}