.footer-inner {
   padding: 2em 0;
   font-size: .7em;
}

.pre-footer-menu {
    display: inline-block;
}

.pre-footer-menu, footer .inline-list li {
    margin-right: 1em;
    display: inline;
    @include bp($beta) {
        margin-right: 1em;
    }
}

.copyright {
    margin-top: 1em;
    margin-bottom: 0;
}

.footer-inner .inline-menu {
    display: inline;
}

#menu-footer-menu {
    display: inline;
    li {
        padding: 0;
    }
}
footer.main {
    a, p { font-size: .9rem;}
    .post-list {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
        a { text-decoration: underline; }
    }
    .title {
        display: block;
    }
    date {
        text-transform: uppercase;
        font-size: .8rem;
    }
    .excerpt {
        opacity: .8;
        padding: 0;
    }
}
.upper .columns:first-child { border: none; }
