//Logo
.logo {
    display: inline-block;
    margin: 1em;
}

//Logo Sized with Max-Height
.logo a img {
    max-height: 225px;
    width: auto;
}

//Topbar
.topbar {
    padding: .75em 1em;
    line-height: 1em;
    font-size: .9rem;
    text-align: right;
    .phone { float: left; }
    .custom, .topbar-nav, .social { 
        display: inline-block;
    }
    span {
        &:first-child { 
            text-align: left;
        }
        &:nth-child(2) { 
            text-align: center; 
            p { 
                text-align: center; 
                display: block; 
                width: 100%;
            }
        }
    }
    nav { text-align: right; }
    a, p { font-size: 1rem; }
    @include bpmax(650px) {
        .topbar-nav, .custom {
            display: none;
        }
    }
}
#menu-top-menu {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0; 
    li {
        display: inline-block;
        margin-left: 1em;
    }
    a {
        text-transform: uppercase;
        font-size: .8rem;
    }
}
ul#menu-main-menu { padding: 0; }

//Get Topbar Spans (Phone Number & Custom Content) to flow with nav.


.topbar .inline-list li {
    display: inline-block;
    margin-right: .75em;
}

.topbar span p {
    margin: 0;
}

// Fix Span Aligment
.text-center .topbar, .text-right .topbar { span, nav { @include bp($beta) { float: none; } } }

// Align Topbar Right, Left, and Center
.text-right .topbar .social-connect  { @include bp($beta) { float: right; } }
.text-left .topbar .social-connect   { @include bp($beta) { float: left; } }
.text-center .topbar .social-connect { @include bp($beta) { float: none; display: inline-block; } }

//Align Social Icons Properly
.topbar .st-icon, .topbar [class^="st-icon-"] {
    height: auto;
    padding: 0;
    margin-top: -.2em;
}


#main-menu .inline-list li {
    padding: 0;
    a {
        display: block;
        padding: .75em 1.25em;
    }
}
.menu-item-has-children:hover > .sub-menu { padding: 0; }

header.page {
    h1 { padding: .5rem; }
}
.header-image {
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    @include bpmax(650px){
        height: 250px;
    }
}

.social-connect { margin-left: 1em; }
