.slick-dots li button {
    opacity: .5;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}
.slick-dots li.slick-active button {
    opacity: 1;
}
.home-slideshow {
    position: relative;
    overflow: hidden;
    height: 550px;
    .cta-button { font-size: 1.2rem; }
}
.side-right .slide-inner {
    right: .75em;
    text-align: right;
}

.side-left .slide-inner {
    left: .75em;
    right: .75em;
}

.side-center .slide-inner {
    right: 0;
    left: 0;
    text-align: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.slide-wrap.noverlay {
    background: none;
}

.slide-content {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 100%;
    top: 0;
    text-shadow: black 1px 1px 5px;
}

.slide-inner {
    position: absolute;
    margin: auto;
    bottom: 2.5em;
    max-width: 100%;
    padding: 0 1.5em;
    z-index: 10;
}

.slick-dots {
    position: absolute;
    bottom: .75em;
    right: 0;
    top: auto;
    margin: 0;
    button, li {
        transition: all .3s ease-in;
        height: 12px;
        width: 12px;
    }
    button {
        margin: 0;
        border-width: 3px;
        border-style: solid;
        &:before { content: ''; }
        &:hover {
            opacity: .8;
        }
    }
}

.home-slider {
    position: relative;
    margin: 0;
    .slide {
        min-height: 550px;
        position: relative;
        background: {
            size: cover;
            position: center;
        }
    }
    .content {
        position: absolute;
    }
}

.overlay-no {
    text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

.slide-inner {
    font-size: 1.5em;
    line-height: 1.5em;
    > h1,h2,h3,h4,h5,h6,p {
        margin: 0;
    }
}

.cta-button {
    font-weight: bold;
    display: block;
    transition: .2s ease-in all;
}


@include bpmax(650px){
    .home-slideshow { height: 250px; }
    .home-slider .slide { min-height: 250px; }
}