// Icon Grid Area

.icon-area__icon img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

.icon-area__title {
    text-align: center;
    margin: .5em;
}

.icon-area__label {
    text-align: center;
    @include cf();
    display: block;
    margin: 1em;
    h3 {
        font-size: 1.2em;
        margin: 0;
    }
}

.icon-grid-area {
    padding: 1.5em 4em;
}

.icon {
    display: inline-block;
    font-size: 5em;
}

.shape {
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 50% 0;
    transition: .3s all ease-in;
    &, > * {
        line-height: 0;
    }
}

.no-shape {
    width: 100%;
    height: 100%;
}

.shape--image-bg {
    background-size: cover;
}

.circle {
    border-radius: 100%;
}

.rounded-square {
    border-radius: 20%;
}

.diamond {
    transform: rotate(45deg);
    border-radius: 20%;
}

.diamond .icon {
    transform: rotate(-45deg);
}

.rectangle {
    display: none;
}

.rectangle__title {
    color: $primary;
    margin: 0 auto;
}

//Icon Content Area
.row.icon-content {
    margin: 1em;
}



//ICON GRID
.icon-grid {
    float: left;
    padding: .75em;
    width: 50%;
}

.icon-grid-2 {
    @include bp($beta) {
        width: 33%;
        &:nth-of-type(4n) {
            clear: left;
        }
    }
    @include bp($delta) {
        width: 16.6666666667%;
        &:nth-of-type(4n) {
            clear: none;
        }
    }
}

.icon-grid-3 {
    @include bp($beta) {
        width: 33%;
        &:nth-of-type(4n) {
            clear: left;
        }
    }
    @include bp($delta) {
        width: 25%;
        &:nth-of-type(4n) {
            clear: none;
        }
    }
}

.icon-grid-4 {
    @include bp($beta) {
        width: 33%;
        &:nth-of-type(4n) {
            clear: left;
        }
    }
}

.icon-area__img {
    height: 13em;
    background-size: cover;
}