// //Main Navigation
// .main-nav {
//     position: relative;
// }

.menu-pull {
    display: block;
    margin: .5em 0;
    i { padding-right: .5em; }
    @include bp(1082px) {
        display: none;
    }
}

// #main-menu {
//     display: none;
//     &.active {
//         display: block;
//     }
//     @include bp(1082px) {
//         display: inline-block;
//     }
//     &:after {
//         content: " ";
//         position: absolute;
//         width: 100%;
//         padding: 2em;
//     }
// }

// .navicon {
//     margin: 0 1em;
// }

// .center-nav .inline-list {
//     text-align: center;
// }

// .icon-img {
//     width: 100%;
// }

// .inline-list {
//     overflow: visible;
//     margin: 0;
//     li {
//         display: block;
//         float: none;
//         margin: 0;
//         margin-bottom: .5em;
//         padding: .5em 0;
//     }
//     @include bp(1082px) {
//         li {
//             padding: .5em 1.5em;
//             margin-left: 0;
//             margin-bottom: 0;
//             display: inline-block;
//             position: static;
//             cursor: pointer;
//             &:last-of-type {
//                 margin-right: 0;
//             }
//         }
//     }
// }

// .inline-list > li > .sub-menu {
//     display: block;
//     list-style: none;
//     margin: .5em 0 0 0;
//     @include bp(1082px) {
//         display: none;
//         left: 0;
//         right: 0;
//         top: 100%;
//         position: absolute;
//         z-index: 4;
//         padding: .5em;
//     }
// }

// .inline-list .sub-menu .sub-menu {
//     display: block;
//     list-style: none;
//     margin: 0;
//     @include bp(1082px) {
//         display: none;
//         left: 0;
//         top: 100%;
//         position: absolute;
//         z-index: 4;
//         padding: .5em;
//         li {
//             display: block;
//         }
//     }
// }

// .sub-menu .sub-menu {
//     min-width: 100%;
// }

// .inline-list li > .sub-menu .sub-menu li {
//     @include bp(1082px) {
//         padding: 0;
//     }
// }

// // .menu-item-has-children:after {
// //     @include bp(1082px) {
// //         content: "\f123";
// //         font-family: "Ionicons";
// //         margin-left: .4em;
// //         font-size: .8em;
// //     }
// // }

// // .sub-menu li:before {
// //     content: "\2014";
// //     margin-right: .5em;
// //     @include bp(1082px) {
// //         display: none;
// //         content: "";
// //     }
// // }

// .menu-item-has-children:hover > .sub-menu {
//  @include bp(1082px) {
//     display: block;
//     margin: 0;
// }
// }

// .sub-menu {
//     @include bp(1082px) {
//         box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.09), 0 11px 17px 0 rgba(0, 0, 0, 0.2);
//     }
// }
.main-nav.row {
    padding: 0;
}
#main-menu {
    display: block; 
    a { font-size: 1rem; }
}
#main-menu.dropdown .inline-list {
    margin: 0;
    li { 
        list-style-type: none;
        position: relative;
        &:hover > .sub-menu, .sub-menu li:hover .sub-menu {
            display: block;
        }
        @include bp(1082px) {
            .sub-menu li:hover .sub-menu {
                left: 100%;
                top: 0;
            }
        }
    }
    > li {
        display: inline-block;
        list-style-type: none;
        text-align: left;
    }
    ul { 
        margin: 0;
        position: absolute;
    }
    a {
        white-space: nowrap;
    }
    .sub-menu {
        left: 0;
        z-index: 100;
        display: none;
    }
}


#main-menu.dropline .inline-list {
    margin: 0;
    position: relative;
    li { 
        list-style-type: none;
        &:hover .sub-menu {
            display: block;
        }
    }
    > li {
        display: inline-block;
        list-style-type: none;
    }
    ul { 
        margin: 0;
        position: absolute;
    }
    a {
        white-space: nowrap;
    }
    .sub-menu {
        left: 0;
        z-index: 100;
        display: none;
        width: 100%;
        li {
            display: inline-block;
        }
    }
}


#main-menu {
    @include bpmax(1081px) {
        .inline-list {
            display: none;
            li {
                display: block;
                width: 100%;
                a {
                    text-align: center;
                }
                .sub-menu {
                    display: block !important;
                    position: relative !important;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        &.active .inline-list {
            display: block;
        }
    }
}
