//For annoying Wordpress Admin Bar Mobile Thing
body {
    position: static;
}

ul, p {
    line-height: inherit;
    font-size: inherit;
}

h1,h2,h3,h4,h5,h6 {
    color: inherit;
}

div.gform_wrapper {
    max-width: 500px;
    margin: 0 auto;
    label {
        color: inherit;
    }
}

.screen-reader-text {
   border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

ul, ol, dl {
    margin: 0;
    list-style-position: inside;
}

[class*="column"]+[class*="column"]:last-child {
    float: left;
    clear: none;
}

.row .row {
    margin: 0 auto;
    padding: 0;
}

.inline-list>li>* {
    display: inline-block;
}

.screen-reader-text {
    display: none;
}