//Banner with inlined image background
.page-header {
    height: 450px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

//Inner Area for Header Content
.header-content {
    position: absolute;
    padding: 1em;
    @include bp($beta) {
        padding: 2em;
        width: 45%
    }
    @include bp($delta) {
        width: 35%;
    }
}

//Header Links
.header-content a {
    font-weight: bold;
}

.header-position-left,.header-position-right,.header-position-center {
    left: 0;
    right: 0;
    bottom: 0;
}

//Header Positions
.header-position-left {
    @include bp($beta) {
        left: 0;
        height: 100%;

    }
}
.header-position-right {
    @include bp($beta) {
        right: 0;
        left: auto;
        height: 100%;
    }
}
.header-position-center {
    @include bp($beta) {
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
}

.page-title {
    display: inline;
    z-index: 2;
    line-height: 2em;
    clear: both;
    position: relative;
    font-size: 1.5em;
    padding: 0 .5em;
    @include bp($beta) {
        padding: 0 2em;
        font-size: 2em;
    }
}

.page-title-box {
    @include bp($beta) {
        padding: 1em 2em;
    }
}
