// Icon Grid Area

.the-grid {
    text-align: center;
    position: relative;
    li { padding: 1em; }
    .columns { padding: 0 1.5em !important; }
}

.grid-has-circle, .grid-has-square, .grid-has-rounded-square {
    @include bp($gamma) {
        padding: 0 2em;
    }
}

.has-circle,.has-square, .has-rounded-square {
    margin: 0 0.5em;
    @include bp($beta) {
        margin: 0;
        padding: .5em;
    }
}
.grid-item__container {
    text-align: center;
}
.grid-item__icon {
    max-width: 350px;
    display: inline-block;
}

.grid-item__icon img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

.the-grid__title {
    text-align: center;
    display: inline-block;
    clear: both;
    font-size: 1.5em;
    z-index: 2;
    margin: .5em 0;
    position: relative;
    padding: 0 .5em;
    @include bp($gamma) {
        font-size: 2em;
    }
}

.the-grid .header-border:before {
    top: -28px;
    @include bp($gamma) {
        top: -36px;
    }
}

.main-wrap .grid-item__label {
    text-align: center;
    @include cf();
    display: block;
    margin: 0;
    padding: .5em;
    h3 {
        font-size: 1.1rem;
        text-transform: uppercase;
        line-height: 1.2em;
        margin: 0;
    }
}

.icon-grid-area {
    padding: 1.5em 4em;
}

.icon {
    display: inline-block;
    font-size: 5em;
    @include bp($beta) {
        font-size: 9em;
    }
}

.shape {
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 50% 0;
    transition: .3s all ease-in;
    &, > * {
        line-height: 0;
    }
}

.no-shape {
    width: 100%;
    height: 100%;
}

.shape--image-bg {
    background-size: cover;
    background-position: center;
}

.circle {
    border-radius: 100%;
}

.rounded-square {
    border-radius: 20%;
}

.diamond {
    transform: rotate(45deg);
    border-radius: 20%;
}

.diamond .icon {
    transform: rotate(-45deg);
}

.rectangle {
    display: none;
}

.rectangle__title {
    margin: 1em 2em;
}

//Icon Content Area
.row.icon-content {
    margin: 1em;
}


.icon-grid-2 {
    @include bp($beta) {
        width: 33%;
        &:nth-of-type(4n) {
            clear: left;
        }
    }
    @include bp($delta) {
        width: 16.6666666667%;
        &:nth-of-type(4n) {
            clear: none;
        }
        .icon {
            font-size: 6em;
        }
    }
}

.icon-grid-3 {
    @include bp($beta) {
        width: 50%;
    }
    @include bp($delta) {
        width: 25%;
        &:nth-of-type(4n) {
            clear: none;
        }
    }
}

.icon-grid-4 {
    @include bp($beta) {
        width: 33.33333333333333%;
        &:nth-of-type(4n) {
            clear: left;
        }
    }
}

.grid-item__img {
    height: 13em;
    background-size: cover;
}


//Grid Content Area
.grid-content__item {
    padding: 0 .125em;
    @include cf();
    &:first-of-type {
        margin-top: 0;
    }
}

.grid-content__item .header-border {
    top: 8px;
}

.grid-content__title {
    margin: 0 0 .5em 0;
    line-height: 2.3125rem;
    display: inline;
    padding-right: .5em;
    z-index: 2;
    clear: both;
    position: relative;
}

.grid-content__item__sidebar {
    padding: 0;
}

.grid-content__img {
    height: 13em;
    background-size: cover;
}

.grid-content__more {
    padding: .5em;
}

.bleurgh {
    @include bp($beta) {
        margin-top: 1em;
        padding: 0;
    }
    @include bp($gamma) {
        margin-top: 0;
        padding: 0 0.9375em;
    }

}

.grid-content__item__sidebar .icon {
    font-size: 11em;
}

.grid-item__icon .custom-icon-img {
  width: 40%;
  margin-top: -24%;
}

.grid-content__item__sidebar img.custom-icon-img {
  margin-top: -33%;
  width: 50%;
}