.sidebar {
    z-index: 2;
    min-height: 100%;
    height: 100%;
    padding-top: 1em;
}

.widget-title {
    font-size: 1.2em;
    padding-right: 1em;
    clear: both;
    // display: inline;
    z-index: 2;
    text-transform: uppercase;
}

.widget {
    margin-bottom: 2em;
    position: relative;
    @include cf();
    &.has-bg {
        padding: 1em;
    }
    &.widget-social {
        margin-left: 0;
    }
    .social { margin: 0; }
}

.widget:before {
    top: 0.8em;
    content: " ";
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: -1;
}

.widget ul, .widget a {
    list-style: none;
}
.widget .menu a {
    display: block;
}
.widget .menu a:after {
    content: '\f125';
    float: right;
    font-family: 'ionicons';
}

#searchsubmit {
    display: inline;
    width: 25%;
    margin: 0;
    float: left;
}

#s {
    display: inline;
    width: 75%;
    margin: 0;
    float: left;
}

.widget {
    ul { padding: 0; }
    li { padding: .25em .5em; }
    input[type=submit] { border-radius: 0; }
    .button { display: block; }
    p:last-child, p:last-child span { margin-bottom: 0; }
    &.widget-custom .content { padding: 1em; }
}

.widget {
    .gform_wrapper li {
        background-color: transparent !important;
        padding: 0;
    }
}