// Wordpress Defined Styles

input, textarea {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: .5em;
}
label {
    display: block;
    margin-bottom: .5em;
}

.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin: .5em 1.5em .5em 0;
}
.alignright, img.alignright {
    display: inline;
    float: right;
    margin: .5em 0 .5em 1.5em;
}
.aligncenter, img.aligncenter {
    margin: .5em auto;
    display: block;
    clear: both;
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}
article.main hr {
    border: none;
    height: 1px;
    width: 30%;
    margin: 1em 0;
}
.button {
    margin: 0;
    border-width: 4px;
    border-style: solid;
    text-decoration: none !important;
}
.emails a { display: block; }
