/* Slider */
/*==========================================================================
MIXINS
==========================================================================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url("./ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  /* Icons */
}
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Arrows */
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev:before {
  content: "\2190";
}
.slick-next {
  right: -25px;
}
.slick-next:before {
  content: "\2192";
  /* Dots */
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
[dir="rtl"] .slick-next:before {
  content: "\2190";
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
[dir="rtl"] .slick-prev:before {
  content: "\2192";
}
[dir="rtl"] .slick-slide {
  float: right;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.primary {
  background-color: #fff;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6, .primary p, .primary ul, .primary ol, .primary dt, .primary dd, .primary blockquote p {
  color: #565656;
}
.primary a {
  color: #d93;
}
.primary a:hover {
  color: #a8701c;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6 {
  border-color: #68b038;
}
.callout h4.primary:hover {
  background-color: #e6e6e6;
}
.secondary {
  background-color: #565656;
}
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6, .secondary p, .secondary ul, .secondary ol, .secondary dt, .secondary dd, .secondary blockquote p {
  color: #fff;
}
.secondary a {
  color: #fff;
}
.secondary a:hover {
  color: #d9d9d9;
}
.callout h4.secondary:hover {
  background-color: #3d3d3d;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary p, .tertiary ul, .tertiary ol, .tertiary dt, .tertiary dd, .tertiary blockquote p {
  color: #f7fcfe;
}
.tertiary.lighter {
  background-color: #5ab9e8;
}
.tertiary a {
  color: #0e4a68;
}
.tertiary a:hover {
  color: #87ccee;
}
.callout h4.tertiary:hover {
  background-color: #187aab;
}
.quaternary {
  background-color: #d93;
}
.quaternary h1, .quaternary h2, .quaternary h3, .quaternary h4, .quaternary h5, .quaternary h6, .quaternary p, .quaternary ul, .quaternary ol, .quaternary dt, .quaternary dd, .quaternary blockquote p {
  color: #fff;
}
.quaternary a {
  color: #efd0a0;
}
.quaternary a:hover {
  color: #7c5315;
}
.callout h4.quaternary:hover {
  background-color: #bd7e20;
}
.quinary {
  background-color: #68b038;
}
.quinary h1, .quinary h2, .quinary h3, .quinary h4, .quinary h5, .quinary h6, .quinary p, .quinary ul, .quinary ol, .quinary dt, .quinary dd, .quinary blockquote p {
  color: #f2f9ee;
}
.quinary a {
  color: #2f4f19;
}
.quinary a:hover {
  color: #acdb8d;
}
.callout h4.quinary:hover {
  background-color: #51892c;
}
.senary {
  background-color: #f2f2f2;
}
.senary h1, .senary h2, .senary h3, .senary h4, .senary h5, .senary h6 {
  color: #68b038;
}
.senary p, .senary ul, .senary ol, .senary dt, .senary dd, .senary blockquote p {
  color: #565656;
}
.senary a {
  color: #d93;
}
.senary a:hover {
  color: #a8701c;
}
.callout h4.senary:hover {
  background-color: #d9d9d9;
}
body {
  background-color: #68b038;
}
.home .slider-text h2, h1 .title {
  background-color: #68b038;
  color: #f2f9ee;
}
.breadcrumbs span, .breadcrumbs a {
  color: #fff;
}
a.button {
  background-color: #68b038;
  color: #f2f9ee;
}
a.button:hover {
  background-color: #467626;
  color: #f2f9ee;
}
.announcement {
  background-color: #bd7e20;
  border-color: #ecc58a;
  color: #fff;
}
.info-band .location .end-cap {
  border-right-color: #5ab9e8;
}
.info-band .phone .front-cap, .info-band .phone .end-cap {
  border-right-color: #d93;
}
.info-band .searchform input[type=text] {
  background-color: rgba(255, 255, 255, .65);
  color: #d93;
}
.info-band .searchform input[type=submit] {
  background-color: #fff;
  color: #d93;
}
.menu-top li {
  color: #d93;
}
.navigation {
  background-color: rgba(104, 176, 56, .8);
}
.navigation a {
  color: #f2f9ee;
}
.navigation li:hover, .navigation li ul, .navigation li.current-menu-item {
  background-color: rgba(144, 206, 102, .8);
}
.navigation li:hover > a, .navigation li ul > a, .navigation li.current-menu-item > a {
  color: #467626;
}
.navigation li ul a {
  color: #467626;
}
nav.footer {
  border-top-color: #fff;
}
.primary .widget-custom.has-bg {
  background-color: #1e9ad8;
}
.primary .widget-custom.has-bg h1, .primary .widget-custom.has-bg h2, .primary .widget-custom.has-bg h3, .primary .widget-custom.has-bg h4, .primary .widget-custom.has-bg h5, .primary .widget-custom.has-bg h6, .primary .widget-custom.has-bg p, .primary .widget-custom.has-bg ul, .primary .widget-custom.has-bg ol, .primary .widget-custom.has-bg dt, .primary .widget-custom.has-bg dd, .primary .widget-custom.has-bg blockquote p {
  color: #f7fcfe;
}
.primary .widget-custom.has-bg.lighter {
  background-color: #5ab9e8;
}
.primary .widget-custom.has-bg a {
  color: #0e4a68;
}
.primary .widget-custom.has-bg a:hover {
  color: #87ccee;
}
.primary .widget-custom.has-bg a.button {
  background-color: #fff;
  color: #1e9ad8;
}
.primary .widget-custom.has-bg a.button:hover {
  background-color: #156a95;
  color: #f7fcfe;
}
.callout .cta-link-outside {
  color: #68b038;
}
.callout .cta-link-outside:hover {
  color: #467626;
}
.slider-text p {
  color: #fff;
}
.backdrop {
  background-color: #d9d9d9;
}
.backdrop .overlay.left {
  background: -moz-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d9d9d9), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, rgba(217, 217, 217, 0)));
  background: -webkit-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -o-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -ms-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: linear-gradient(to right, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
}
.backdrop .overlay.right {
  background: -moz-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217, 217, 217, 0)), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -o-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -ms-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: linear-gradient(to right, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
}
.post time {
  color: #68b038;
}
aside.sidebar h4.widgettitle {
  background-color: #1e9ad8;
  color: #f7fcfe;
}
@media only screen and (max-width: 40em) {
  aside.sidebar {
    background-color: #e6e6e6;
  }
}
.container .gform_wrapper input[type=submit] {
  background-color: #68b038;
  color: #fff;
}
.container .gform_wrapper input[type=submit]:hover {
  background-color: #82c853;
}
nav.menu-top li:before {
  content: 7;
}
