/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media only screen {
  /* Define mobile styles */}
@media only screen and (max-width: 40em) {
  /* max-width 640px, mobile-only styles, use when QAing mobile issues */  .end-cap, .front-cap {
    display: none;
  }
  .ribbon .location p, .ribbon .phone {
    text-align: center;
  }
  footer.main .logo-footer {
    margin-bottom: 1em;
  }
  footer.main .social-connect, footer.main .copyright p, footer.main .logo-footer {
    text-align: center;
  }
  aside.sidebar {
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
  }
  .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half, .gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
    float: none !important;
    width: 100% !important;
  }
  .location-info {
    margin-top: 2em;
  }
  .backdrop {
    min-height: 0;
    padding: 0;
    background-image: none !important;
  }
  .backdrop h1 {
    margin: 0;
  }
  .navigation {
    position: relative;
    margin: 0;
  }
  .home .homepage-slider .slide {
    height: 600px;
  }
  .tinynav {
    display: block;
    margin: 1em 0;
  }
  .navigation ul.menu {
    display: none;
  }
  .menu-top {
    margin-bottom: 1.5em;
  }
  .menu-top #menu-top-menu.text-right {
    text-align: center !important;
  }
}
@media only screen and (max-width: 64em) {
  h1 {
    font-size: 1.8em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 1em;
  }
  header.main .searchform {
    text-align: right;
    margin-bottom: 1em;
    clear: both;
  }
  header.main .searchform input {
    float: left;
  }
  header.main .searchform input[type=text] {
    padding: 0.75em;
    font-size: 0.9rem;
    width: 80%;
    margin: 0;
    outline: none;
    height: 40px;
  }
  header.main .searchform input[type=submit] {
    line-height: normal;
    padding: 0.5rem 0.75rem;
    width: 20%;
    height: 40px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .cta h4 {
    font-size: 1.6rem;
    font-style: italic;
    margin: 0;
  }
  .cta p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    /*==========================================================================
HELPER CLASSES
==========================================================================*/
    margin: 0.5em 0;
  }
  .contact-details {
    margin-top: 1em;
  }
  .container {
    padding-bottom: 0;
  }
  .home .container {
    padding-bottom: 2em;
  }
  .half-band {
    height: auto;
  }
  .backdrop-bg .overlay {
    display: none;
  }
  .callout:nth-child(2n+1) {
    clear: left;
  }
  .callout {
    text-align: center;
  }
}
@media only screen and (min-width: 40.063em) {
  /* min-width 641px, medium screens */  aside.sidebar {
    background-color: transparent !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */}
@media only screen and (min-width: 64.063em) {
  /* min-width 1025px, large screens */}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */}
@media only screen and (min-width: 90.063em) {
  /* min-width 1441px, xlarge screens */}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */}
@media only screen and (min-width: 120.063em) {
  /* min-width 1921px, xlarge screens */}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.primary {
  background-color: #fff;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6, .primary p, .primary ul, .primary ol, .primary dt, .primary dd, .primary blockquote p {
  color: #565656;
}
.primary a {
  color: #d93;
}
.primary a:hover {
  color: #a8701c;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6 {
  border-color: #68b038;
}
.callout h4.primary:hover {
  background-color: #e6e6e6;
}
.secondary {
  background-color: #565656;
}
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6, .secondary p, .secondary ul, .secondary ol, .secondary dt, .secondary dd, .secondary blockquote p {
  color: #fff;
}
.secondary a {
  color: #fff;
}
.secondary a:hover {
  color: #d9d9d9;
}
.callout h4.secondary:hover {
  background-color: #3d3d3d;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary p, .tertiary ul, .tertiary ol, .tertiary dt, .tertiary dd, .tertiary blockquote p {
  color: #f7fcfe;
}
.tertiary.lighter {
  background-color: #5ab9e8;
}
.tertiary a {
  color: #0e4a68;
}
.tertiary a:hover {
  color: #87ccee;
}
.callout h4.tertiary:hover {
  background-color: #187aab;
}
.quaternary {
  background-color: #d93;
}
.quaternary h1, .quaternary h2, .quaternary h3, .quaternary h4, .quaternary h5, .quaternary h6, .quaternary p, .quaternary ul, .quaternary ol, .quaternary dt, .quaternary dd, .quaternary blockquote p {
  color: #fff;
}
.quaternary a {
  color: #efd0a0;
}
.quaternary a:hover {
  color: #7c5315;
}
.callout h4.quaternary:hover {
  background-color: #bd7e20;
}
.quinary {
  background-color: #68b038;
}
.quinary h1, .quinary h2, .quinary h3, .quinary h4, .quinary h5, .quinary h6, .quinary p, .quinary ul, .quinary ol, .quinary dt, .quinary dd, .quinary blockquote p {
  color: #f2f9ee;
}
.quinary a {
  color: #2f4f19;
}
.quinary a:hover {
  color: #acdb8d;
}
.callout h4.quinary:hover {
  background-color: #51892c;
}
.senary {
  background-color: #f2f2f2;
}
.senary h1, .senary h2, .senary h3, .senary h4, .senary h5, .senary h6 {
  color: #68b038;
}
.senary p, .senary ul, .senary ol, .senary dt, .senary dd, .senary blockquote p {
  color: #565656;
}
.senary a {
  color: #d93;
}
.senary a:hover {
  color: #a8701c;
}
.callout h4.senary:hover {
  background-color: #d9d9d9;
}
body {
  background-color: #68b038;
}
.home .slider-text h2, h1 .title {
  background-color: #68b038;
  color: #f2f9ee;
}
.breadcrumbs span, .breadcrumbs a {
  color: #fff;
}
a.button {
  background-color: #68b038;
  color: #f2f9ee;
}
a.button:hover {
  background-color: #467626;
  color: #f2f9ee;
}
.announcement {
  background-color: #bd7e20;
  border-color: #ecc58a;
  color: #fff;
}
.info-band .location .end-cap {
  border-right-color: #5ab9e8;
}
.info-band .phone .front-cap, .info-band .phone .end-cap {
  border-right-color: #d93;
}
.info-band .searchform input[type=text] {
  background-color: rgba(255, 255, 255, .65);
  color: #d93;
}
.info-band .searchform input[type=submit] {
  background-color: #fff;
  color: #d93;
}
.menu-top li {
  color: #d93;
}
.navigation {
  background-color: rgba(104, 176, 56, .8);
}
.navigation a {
  color: #f2f9ee;
}
.navigation li:hover, .navigation li ul, .navigation li.current-menu-item {
  background-color: rgba(144, 206, 102, .8);
}
.navigation li:hover > a, .navigation li ul > a, .navigation li.current-menu-item > a {
  color: #467626;
}
.navigation li ul a {
  color: #467626;
}
nav.footer {
  border-top-color: #fff;
}
.primary .widget-custom.has-bg {
  background-color: #1e9ad8;
}
.primary .widget-custom.has-bg h1, .primary .widget-custom.has-bg h2, .primary .widget-custom.has-bg h3, .primary .widget-custom.has-bg h4, .primary .widget-custom.has-bg h5, .primary .widget-custom.has-bg h6, .primary .widget-custom.has-bg p, .primary .widget-custom.has-bg ul, .primary .widget-custom.has-bg ol, .primary .widget-custom.has-bg dt, .primary .widget-custom.has-bg dd, .primary .widget-custom.has-bg blockquote p {
  color: #f7fcfe;
}
.primary .widget-custom.has-bg.lighter {
  background-color: #5ab9e8;
}
.primary .widget-custom.has-bg a {
  color: #0e4a68;
}
.primary .widget-custom.has-bg a:hover {
  color: #87ccee;
}
.primary .widget-custom.has-bg a.button {
  background-color: #fff;
  color: #1e9ad8;
}
.primary .widget-custom.has-bg a.button:hover {
  background-color: #156a95;
  color: #f7fcfe;
}
.callout .cta-link-outside {
  color: #68b038;
}
.callout .cta-link-outside:hover {
  color: #467626;
}
.slider-text p {
  color: #fff;
}
.backdrop {
  background-color: #d9d9d9;
}
.backdrop .overlay.left {
  background: -moz-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d9d9d9), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, rgba(217, 217, 217, 0)));
  background: -webkit-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -o-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -ms-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: linear-gradient(to right, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
}
.backdrop .overlay.right {
  background: -moz-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217, 217, 217, 0)), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -o-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -ms-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: linear-gradient(to right, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
}
.post time {
  color: #68b038;
}
aside.sidebar h4.widgettitle {
  background-color: #1e9ad8;
  color: #f7fcfe;
}
@media only screen and (max-width: 40em) {
  aside.sidebar {
    background-color: #e6e6e6;
  }
}
.container .gform_wrapper input[type=submit] {
  background-color: #68b038;
  color: #fff;
}
.container .gform_wrapper input[type=submit]:hover {
  background-color: #82c853;
}
nav.menu-top li:before {
  content: 7;
}
