/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
/* Slider */
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: white url("./ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
  /* Icons */
}
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
  /* Arrows */
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev:before {
  content: "\2190";
}
.slick-next {
  right: -25px;
}
.slick-next:before {
  content: "\2192";
  /* Dots */
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
[dir="rtl"] .slick-next:before {
  content: "\2190";
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
[dir="rtl"] .slick-prev:before {
  content: "\2192";
}
[dir="rtl"] .slick-slide {
  float: right;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 400;
  line-height: normal;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  margin: 1.5em 0 0.5em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
h1, h2, h3 {
  padding-left: 0.7rem;
  border-left-width: 0.75rem;
  border-left-style: solid;
}
h4, h5 {
  text-transform: uppercase;
}
h1 {
  font-size: 2.5em;
  margin-top: 0;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1.1em;
}
p, ul, ol, blockquote, dl, dt, dd, .textwidget, .gform_confirmation_message {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-transform: normal;
  text-align: left;
  letter-spacing: normal;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
a {
  transition: color 0.3s linear;
}
li {
  transition: background-color 0.3s linear;
}
div.main p, div.main ul, div.main ol, div.main blockquote, div.main dl, div.main dt, div.main dd {
  line-height: 1.8rem;
}
div.main p:last-child, div.main ul:last-child, div.main ol:last-child, div.main blockquote:last-child, div.main dl:last-child, div.main dt:last-child, div.main dd:last-child {
  margin-bottom: 0;
}
div.main ul, div.main ol {
  margin-left: 2rem;
}
div.main blockquote {
  border: none;
  padding: 2em 2em 2em 12em;
  position: relative;
}
div.main blockquote:before, div.main blockquote:after {
  position: absolute;
  font-size: 10rem;
}
div.main blockquote:before {
  content: '\201C';
  left: 20px;
  top: 50%;
}
div.main blockquote:after {
  content: '\201D';
  left: 80px;
  top: 55%;
}
div.main blockquote p, div.main blockquote ul li, div.main blockquote ol li {
  line-height: 1.7em;
  font-size: 1.2rem;
  font-style: italic;
}
div.main hr {
  border: none;
  border-bottom: 1px solid;
  width: 20%;
}
input[type=text], textarea {
  border-width: 1px;
  border-style: solid;
}
input[type=submit] {
  border: none;
}
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
.vcard {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  /*==========================================================================
Containers & Shared Styles
==========================================================================*/
}
.vcard p {
  margin-bottom: 0.5em;
}
.container {
  padding: 2em 0;
}
header.main ul.menu, footer.main ul.menu {
  text-align: center;
  margin: 0;
}
header.main ul.menu > li, footer.main ul.menu > li {
  display: inline-block;
}
header.main ul.menu li, footer.main ul.menu li {
  list-style-type: none;
}
header.main ul.menu a, footer.main ul.menu a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: block;
  padding: 0.75em;
}
a.symbol {
  font-size: 16px;
}
a.symbol:before {
  margin: 0;
}
.prepend {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: inline-block;
}
.breadcrumbs {
  border: none;
  border-radius: 0;
  margin: 1em 0;
  padding: 0 0.5em 0.25em;
}
.breadcrumbs a, .breadcrumbs span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: inline-block;
  padding: 0 0.4em;
}
.breadcrumbs a:first-child, .breadcrumbs span:first-child {
  padding-left: 0;
}
.cta {
  position: relative;
}
.cta .row {
  position: relative;
  z-index: 5;
}
.cta .columns {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.cta .half-band {
  right: 0;
  left: auto;
  z-index: 1;
}
.cta h3 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-style: italic;
  margin: 0;
  padding: 0;
  border: none;
}
.cta p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 400;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  margin: 0.5em 0;
}
.location-band {
  padding: 3em 0;
}
.location-band h3.location-title {
  border: none;
  padding: 0;
  font-size: 2rem;
}
.location-map {
  width: 100%;
  height: 300px;
  border-width: 1px;
  border-style: solid;
}
.vcard p {
  margin: 0;
  font-size: 1.2rem;
  font-style: italic;
}
.vcard p.fn {
  display: none;
}
.overlay {
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(transparent 60%, rgba(0, 0, 0, .80));
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(transparent 60%, rgba(0, 0, 0, .80));
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(transparent 60%, rgba(0, 0, 0, .80));
  /* Standard syntax */
  background: linear-gradient(transparent 60%, rgba(0, 0, 0, .80));
  /*==========================================================================
Header
==========================================================================*/
}
header.main {
  padding-top: 1.5em;
}
header.main .logo {
  display: block;
  margin: 0 0 1.5em;
}
header.main .logo img {
  display: block;
  margin: 0 auto;
}
header.main .searchform {
  text-align: right;
  padding: 0.3em 0;
}
header.main .searchform label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  padding-right: 0.5em;
}
header.main .searchform input {
  border: none;
  display: inline-block;
  padding: 0.25em;
  font-size: 0.8rem;
  text-transform: uppercase;
  outline: none;
}
header.main .searchform input[type=submit] {
  width: 21px;
  height: 21px;
}
.info-band {
  position: relative;
  min-height: 34px;
}
.info-band p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: inline-block;
  margin: 0;
  padding: 0.3em;
}
.info-band .row {
  position: relative;
  z-index: 5;
}
.info-band .phone {
  min-height: 34px;
}
.end-cap, .front-cap {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 17px solid transparent;
}
.end-cap {
  right: -1px;
}
.front-cap {
  left: -17px;
}
.half-band {
  position: absolute;
  width: 50%;
  left: 0;
  top: 0;
  height: 100%;
}
.no-address .half-band {
  width: 30%;
}
.backdrop {
  position: relative;
}
.backdrop .backdrop-bg {
  min-height: 27em;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backdrop .backdrop-bg > .columns {
  position: absolute;
  bottom: 0;
  left: 0;
}
.backdrop .backdrop-bg .overlay {
  width: 25%;
  z-index: 2;
  height: 100%;
}
.backdrop .backdrop-bg .overlay.left {
  top: 0;
  left: 0;
}
.backdrop .backdrop-bg .overlay.right {
  top: 0;
  left: auto;
  right: 0;
}
.backdrop h1 {
  padding: 1rem 1.5rem 1rem 0;
  font-style: italic;
  position: relative;
  display: inline-block;
  margin: 0;
}
.backdrop h1 span.title {
  display: block;
  position: relative;
  z-index: 5;
}
.backdrop h1 span.band {
  position: absolute;
  width: 1000%;
  height: 100%;
  top: 0;
  left: -900%;
  z-index: 3;
}
.navigation {
  position: absolute;
  width: 100%;
  margin-bottom: 2em;
  z-index: 1000;
}
.tinynav {
  display: none;
}
nav.main ul.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  text-align: left;
  min-width: 150px;
  z-index: 100;
}
nav.main ul.menu li {
  position: relative;
}
nav.main ul.menu li:hover > ul {
  display: block;
}
nav.main ul.menu li:hover ul a {
  font-size: 0.75rem;
  text-transform: capitalize;
  white-space: nowrap;
}
nav.main ul.menu li:hover ul ul {
  left: 100%;
  top: 0;
}
header.main .menu-top ul.menu.text-right a {
  padding: 0 0 0 1.5em;
}
header.main .menu-top ul.menu.text-center a {
  padding: 0 1.5em;
}
header.main .menu-top ul.menu.text-left a {
  padding: 0 1.5em 0 0;
}
header.main .menu-top ul.menu li {
  position: relative;
}
header.main .menu-top ul.menu li:before {
  content: '\2022';
  position: absolute;
  left: 0.4em;
  top: 0.15em;
  line-height: 1em;
  font-size: 0.9em;
}
header.main .menu-top ul.menu li:first-child:before {
  content: '';
}
.announcement {
  padding: 0.5em 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /*==========================================================================
Footer
==========================================================================*/
}
.announcement p {
  margin: 0;
  text-align: center;
}
footer.main {
  margin-bottom: 0.5em;
  /*==========================================================================
Sidebar
==========================================================================*/
}
footer.main .upper {
  padding: 1.5em 0;
  text-align: right;
}
footer.main nav.footer {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0.5em 0;
}
footer.main ul.menu a {
  font-size: 0.7rem;
}
footer.main .social-connect, footer.main .social-share {
  text-align: right;
  margin-bottom: 0.5em;
}
footer.main .social-connect a.symbol, footer.main .social-share a.symbol {
  margin-left: 0.5rem;
}
footer.main .logo-footer {
  text-align: left;
}
footer.main p {
  margin: 0 0 0.2em;
  font-size: 0.75rem;
  text-align: right;
  text-transform: uppercase;
}
h4.widgettitle {
  font-size: 0.95rem;
  padding: 0.6em 0.4em 0.4em;
  margin-bottom: 2em;
}
aside.sidebar .widget {
  margin-bottom: 2em;
}
aside.sidebar ul {
  margin: -1.5em 0 0;
}
aside.sidebar ul li {
  list-style-type: none;
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0.7em 0;
}
aside.sidebar ul li:first-child {
  border: none;
}
aside.sidebar .post-date {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
}
aside.sidebar #calendar_wrap table {
  width: 100%;
}
aside.sidebar #calendar_wrap table td, aside.sidebar #calendar_wrap table th {
  text-align: center;
}
aside.sidebar #calendar_wrap table tfoot td#prev {
  text-align: left;
}
aside.sidebar #calendar_wrap table tfoot td#next {
  text-align: right;
}
aside.sidebar #calendar_wrap table tfoot td a {
  text-transform: uppercase;
  font-size: 0.7rem;
}
aside.sidebar #calendar_wrap table caption {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  padding-bottom: 1em;
}
.widget .searchform {
  text-align: right;
  margin-bottom: 2em;
  clear: both;
}
.widget .searchform input {
  float: left;
}
.widget .searchform input[type=text] {
  padding: 0.75em;
  font-size: 0.9rem;
  width: 80%;
  outline: none;
  height: 40px;
}
.widget .searchform input[type=submit] {
  line-height: normal;
  padding: 0.5rem 0.75rem;
  width: 20%;
  height: 40px;
  font-weight: bold;
  font-size: 1.5rem;
}
.widget-cta {
  padding: 1.5em;
}
.widget-cta p, .widget-cta a {
  text-align: center;
  margin: 0;
}
.widget-cta p.top {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.widget-cta p.btm {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.widget-cta .btn {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: block;
  padding: 1em;
  margin-top: 1em;
}
.widget-custom {
  /*==========================================================================
Page Specific
==========================================================================*/
}
.widget-custom h4 {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 1rem;
}
.widget-custom h4, .widget-custom p {
  text-align: cneter;
}
.widget-custom .button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  width: 100%;
  margin: 0;
}
.widget-custom.has-bg {
  padding: 1.5em;
}
.home .container {
  padding-top: 0;
}
.home .homepage-slider {
  margin: 0;
}
.home .homepage-slider .slide {
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .backdrop {
  position: relative;
  padding: 0;
}
.home .backdrop h2 {
  border: none;
  padding: 1rem;
  padding-left: 500%;
  margin-left: -500%;
  font-style: italic;
  font-size: 2rem;
}
.home .backdrop .slider-text p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.home .backdrop .button {
  margin-bottom: 0;
}
.home .backdrop .tabs-content .content {
  overflow-y: auto;
}
.callouts {
  margin: 3em auto 1em;
}
.callout {
  margin-bottom: 1em;
}
.callout h4, .callout p {
  text-align: center;
}
.callout h4 {
  transition: background-color 0.3s linear;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.callout h4 img, .callout h4 .icon {
  display: block;
  margin: 0 auto 1rem;
}
.callout h4 .icon {
  font-size: 5em;
}
.callout h4 .cta-link {
  font-style: normal;
  font-size: 1.2rem;
  margin: -1em;
  padding: 1em;
}
.callout h4.has-bg {
  padding: 1em;
  margin: 0 0 1.5em;
}
.callout p:last-child {
  margin: 0;
}
.callout .cta-link, .callout .cta-link-outside {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: block;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.slider-info {
  position: absolute;
  width: 100%;
  z-index: 5;
  bottom: 2em;
  left: 0;
}
.slider-text {
  width: 90%;
}
article.post {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
article.post footer.post {
  margin-top: 2em;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 1em;
}
.continue {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 400;
  font-style: italic;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: block;
  margin-top: 1em;
}
time {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.pagination {
  text-align: right;
  font-size: 0.9rem;
}
.pagination span, .pagination a {
  display: inline-block;
  padding: 0.25rem;
}
.pagination .current {
  font-weight: bold;
}
div.main p.categories, div.main p.tags {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.7em;
}
.socialize, .socialize p {
  text-align: right;
  margin: 0;
}
.socialize .symbol, .socialize p .symbol {
  display: inline-block;
  margin-left: 0.2em;
}
.comment-link {
  margin-bottom: 0;
}
.comment-link a {
  display: block;
  font-weight: bold;
}
#respond {
  padding-top: 2em;
}
#commentform input[type=submit] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  padding: 0.5em;
}
#comment {
  width: 100%;
}
.comment-meta {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
div.main ol.commentlist {
  margin: 0;
}
div.main ol.commentlist li {
  list-style-type: none;
  margin: 0 0 2em;
}
div.main ol.commentlist .comment-author {
  width: 100%;
  margin: 0;
  border: none;
}
.reply {
  text-align: right;
}
.comment-reply-link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  display: inline-block;
  padding: 0.1em 0.6em;
}
.children {
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 1em;
  margin: 1em 0;
}
.error404 h3 {
  margin-top: 0;
}
article.post.gallery {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.flexslider .slides {
  margin: 0;
}
.gallery .featured {
  width: 100%;
}
.single .gallery .content {
  margin-bottom: 4em;
}
.single .gallery .categorizing {
  margin: 0;
}
.gallery [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.gallery-image {
  margin-bottom: 1em;
  position: relative;
}
.columns.gallery-image.no-space {
  padding: 0;
  margin: 0;
}
.flexslider .slides img {
  max-height: 500px;
  width: auto;
  margin: 0 auto;
}
.gallery-image img {
  margin: 0;
}
.gallery-image .caption {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  font-size: 0.7rem;
  background: rgba(0, 0, 0, .8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  zoom: 1;
}
.gallery-image:hover .caption {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.gallery-image.full {
  width: 100%;
  background-image: url(plugins/skins/loading-medium.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
.gallery-image.full img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
#carousel .slides li {
  margin: 0;
}
ol.flex-control-nav {
  margin: 0;
  text-align: center;
}
.counter {
  font-size: 0.8rem;
}
.flex-direction-nav a {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  text-indent: -1000px;
  overflow: hidden;
  /*==========================================================================
Gravity Forms
==========================================================================*/
}
.container .gform_wrapper .top_label .gfield_label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  font-weight: normal !important;
}
.container .gform_wrapper .top_label li.gfield.gf_left_half input.medium, .container .gform_wrapper .top_label li.gfield.gf_left_half input.large, .container .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .container .gform_wrapper .top_label li.gfield.gf_left_half select.large, .container .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .container .gform_wrapper .top_label li.gfield.gf_right_half input.large, .container .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .container .gform_wrapper .top_label li.gfield.gf_right_half select.large, .container .gform_wrapper .top_label input.large, .container .gform_wrapper .top_label select.large, .container .gform_wrapper .top_label textarea.textarea, .container .gform_wrapper .ginput_complex .ginput_full input[type=text], .container .gform_wrapper .ginput_complex .ginput_full input[type=url], .container .gform_wrapper .ginput_complex .ginput_full input[type=email], .container .gform_wrapper .ginput_complex .ginput_full input[type=tel], .container .gform_wrapper .ginput_complex .ginput_full input[type=number], .container .gform_wrapper .ginput_complex .ginput_full input[type=password], .container .gform_wrapper .ginput_complex input[type=text], .container .gform_wrapper .ginput_complex input[type=url], .container .gform_wrapper .ginput_complex input[type=email], .container .gform_wrapper .ginput_complex input[type=tel], .container .gform_wrapper .ginput_complex input[type=number], .container .gform_wrapper .ginput_complex input[type=password], .container .gform_wrapper .ginput_complex select, .container .gform_wrapper .top_label input.medium, .container .gform_wrapper .top_label select.medium, .container .gform_wrapper input[type=text], .container .gform_wrapper input[type=url], .container .gform_wrapper input[type=email], .container .gform_wrapper input[type=tel], .container .gform_wrapper input[type=number], .container .gform_wrapper input[type=password] {
  padding: 1em;
  font-size: 1.2em;
}
.container .gform_wrapper .ginput_complex .ginput_left, .container .gform_wrapper .ginput_complex .ginput_right, .container .gform_wrapper .ginput_complex .ginput_full {
  overflow: visible;
}
.container .gform_wrapper input[type=submit] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
  padding: 0.5em 1em;
}
.container .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .container .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin: 0;
}
.container .gform_wrapper .validation_message {
  font-weight: normal;
  font-size: 0.7rem;
}
.container .gform_wrapper .top_label .gfield_description.validation_message, .container .gform_wrapper .gfield_description.validation_message {
  padding: 0;
}
.container .gform_wrapper .gfield_description {
  font-size: 0.75rem;
  font-style: italic;
}
.container .gform_wrapper li.gfield {
  margin: 2em 0;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.primary {
  background-color: #fff;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6, .primary p, .primary ul, .primary ol, .primary dt, .primary dd, .primary blockquote p {
  color: #565656;
}
.primary a {
  color: #d93;
}
.primary a:hover {
  color: #a8701c;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6 {
  border-color: #68b038;
}
.callout h4.primary:hover {
  background-color: #e6e6e6;
}
.secondary {
  background-color: #565656;
}
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6, .secondary p, .secondary ul, .secondary ol, .secondary dt, .secondary dd, .secondary blockquote p {
  color: #fff;
}
.secondary a {
  color: #fff;
}
.secondary a:hover {
  color: #d9d9d9;
}
.callout h4.secondary:hover {
  background-color: #3d3d3d;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary p, .tertiary ul, .tertiary ol, .tertiary dt, .tertiary dd, .tertiary blockquote p {
  color: #f7fcfe;
}
.tertiary.lighter {
  background-color: #5ab9e8;
}
.tertiary a {
  color: #0e4a68;
}
.tertiary a:hover {
  color: #87ccee;
}
.callout h4.tertiary:hover {
  background-color: #187aab;
}
.quaternary {
  background-color: #d93;
}
.quaternary h1, .quaternary h2, .quaternary h3, .quaternary h4, .quaternary h5, .quaternary h6, .quaternary p, .quaternary ul, .quaternary ol, .quaternary dt, .quaternary dd, .quaternary blockquote p {
  color: #fff;
}
.quaternary a {
  color: #efd0a0;
}
.quaternary a:hover {
  color: #7c5315;
}
.callout h4.quaternary:hover {
  background-color: #bd7e20;
}
.quinary {
  background-color: #68b038;
}
.quinary h1, .quinary h2, .quinary h3, .quinary h4, .quinary h5, .quinary h6, .quinary p, .quinary ul, .quinary ol, .quinary dt, .quinary dd, .quinary blockquote p {
  color: #f2f9ee;
}
.quinary a {
  color: #2f4f19;
}
.quinary a:hover {
  color: #acdb8d;
}
.callout h4.quinary:hover {
  background-color: #51892c;
}
.senary {
  background-color: #f2f2f2;
}
.senary h1, .senary h2, .senary h3, .senary h4, .senary h5, .senary h6 {
  color: #68b038;
}
.senary p, .senary ul, .senary ol, .senary dt, .senary dd, .senary blockquote p {
  color: #565656;
}
.senary a {
  color: #d93;
}
.senary a:hover {
  color: #a8701c;
}
.callout h4.senary:hover {
  background-color: #d9d9d9;
}
body {
  background-color: #68b038;
}
.home .slider-text h2, h1 .title {
  background-color: #68b038;
  color: #f2f9ee;
}
.breadcrumbs span, .breadcrumbs a {
  color: #fff;
}
a.button {
  background-color: #68b038;
  color: #f2f9ee;
}
a.button:hover {
  background-color: #467626;
  color: #f2f9ee;
}
.announcement {
  background-color: #bd7e20;
  border-color: #ecc58a;
  color: #fff;
}
.info-band .location .end-cap {
  border-right-color: #5ab9e8;
}
.info-band .phone .front-cap, .info-band .phone .end-cap {
  border-right-color: #d93;
}
.info-band .searchform input[type=text] {
  background-color: rgba(255, 255, 255, .65);
  color: #d93;
}
.info-band .searchform input[type=submit] {
  background-color: #fff;
  color: #d93;
}
.menu-top li {
  color: #d93;
}
.navigation {
  background-color: rgba(104, 176, 56, .8);
}
.navigation a {
  color: #f2f9ee;
}
.navigation li:hover, .navigation li ul, .navigation li.current-menu-item {
  background-color: rgba(144, 206, 102, .8);
}
.navigation li:hover > a, .navigation li ul > a, .navigation li.current-menu-item > a {
  color: #467626;
}
.navigation li ul a {
  color: #467626;
}
nav.footer {
  border-top-color: #fff;
}
.primary .widget-custom.has-bg {
  background-color: #1e9ad8;
}
.primary .widget-custom.has-bg h1, .primary .widget-custom.has-bg h2, .primary .widget-custom.has-bg h3, .primary .widget-custom.has-bg h4, .primary .widget-custom.has-bg h5, .primary .widget-custom.has-bg h6, .primary .widget-custom.has-bg p, .primary .widget-custom.has-bg ul, .primary .widget-custom.has-bg ol, .primary .widget-custom.has-bg dt, .primary .widget-custom.has-bg dd, .primary .widget-custom.has-bg blockquote p {
  color: #f7fcfe;
}
.primary .widget-custom.has-bg.lighter {
  background-color: #5ab9e8;
}
.primary .widget-custom.has-bg a {
  color: #0e4a68;
}
.primary .widget-custom.has-bg a:hover {
  color: #87ccee;
}
.primary .widget-custom.has-bg a.button {
  background-color: #fff;
  color: #1e9ad8;
}
.primary .widget-custom.has-bg a.button:hover {
  background-color: #156a95;
  color: #f7fcfe;
}
.callout .cta-link-outside {
  color: #68b038;
}
.callout .cta-link-outside:hover {
  color: #467626;
}
.slider-text p {
  color: #fff;
}
.backdrop {
  background-color: #d9d9d9;
}
.backdrop .overlay.left {
  background: -moz-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d9d9d9), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, rgba(217, 217, 217, 0)));
  background: -webkit-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -o-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -ms-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: linear-gradient(to right, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
}
.backdrop .overlay.right {
  background: -moz-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217, 217, 217, 0)), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -o-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -ms-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: linear-gradient(to right, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
}
.post time {
  color: #68b038;
}
aside.sidebar h4.widgettitle {
  background-color: #1e9ad8;
  color: #f7fcfe;
}
@media only screen and (max-width: 40em) {
  aside.sidebar {
    background-color: #e6e6e6;
  }
}
.container .gform_wrapper input[type=submit] {
  background-color: #68b038;
  color: #fff;
}
.container .gform_wrapper input[type=submit]:hover {
  background-color: #82c853;
}
nav.menu-top li:before {
  content: 7;
}
