@charset "UTF-8";
/* Arrows */
/*==========================================================================
MIXINS
==========================================================================*/
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff image-url("ajax-loader.gif", false, false) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /* Icons */
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
@font-face {
  font-family: "slick";
  src: font-url("slick.eot");
  src: font-url("slick.eot?#iefix") format("embedded-opentype"), font-url("slick.woff") format("woff"), font-url("slick.ttf") format("truetype"), font-url("slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: '\2190';
}
[dir="rtl"] .slick-prev:before {
  content: '\2192';
}
.slick-next {
  right: -25px;
  /* Dots */
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: '\2192';
}
[dir="rtl"] .slick-next:before {
  content: '\2190';
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body, .primary {
  background-color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .8);
}
body h1, .primary h1, .overlay-primary h1, body h1 a, .primary h1 a, .overlay-primary h1 a, body h2, .primary h2, .overlay-primary h2, body h3, .primary h3, .overlay-primary h3, body h4, .primary h4, .overlay-primary h4, body h5, .primary h5, .overlay-primary h5, body h6, .primary h6, .overlay-primary h6, body a, .primary a, .overlay-primary a {
  color: #1689cc;
}
body p, .primary p, .overlay-primary p, body ol, .primary ol, .overlay-primary ol, body ul, .primary ul, .overlay-primary ul, body li, .primary li, .overlay-primary li, body blockquote, .primary blockquote, .overlay-primary blockquote, body dl, .primary dl, .overlay-primary dl, body dt, .primary dt, .overlay-primary dt, body dd, .primary dd, .overlay-primary dd, body table, .primary table, .overlay-primary table, body tr, .primary tr, .overlay-primary tr, body td, .primary td, .overlay-primary td, body span, .primary span, .overlay-primary span, body pre, .primary pre, .overlay-primary pre, body label, .primary label, .overlay-primary label, body input, .primary input, .overlay-primary input, body textarea, .primary textarea, .overlay-primary textarea {
  color: #316ab0;
}
body hr:after, .primary hr:after, .overlay-primary hr:after {
  border-top-color: #1689cc;
}
body blockquote, .primary blockquote, .overlay-primary blockquote {
  background-color: #1689cc;
}
body blockquote p, .primary blockquote p, .overlay-primary blockquote p, body blockquote ol, .primary blockquote ol, .overlay-primary blockquote ol, body blockquote ul, .primary blockquote ul, .overlay-primary blockquote ul, body blockquote li, .primary blockquote li, .overlay-primary blockquote li, body blockquote span, .primary blockquote span, .overlay-primary blockquote span, body blockquote cite, .primary blockquote cite, .overlay-primary blockquote cite, body blockquote a, .primary blockquote a, .overlay-primary blockquote a {
  color: #fff;
}
body a.button, .primary a.button, .overlay-primary a.button, body input[type=submit], .primary input[type=submit], .overlay-primary input[type=submit] {
  background-color: rgba(22, 137, 204, .8);
  border-color: #1689cc;
  color: #fff;
}
body a.button:hover, .primary a.button:hover, .overlay-primary a.button:hover, body input[type=submit]:hover, .primary input[type=submit]:hover, .overlay-primary input[type=submit]:hover {
  background-color: rgba(32, 70, 116, .8);
  color: #fff;
  border-color: #204674;
}
.section-block .primary ul.list li:nth-child(odd) {
  background-color: #d9d9d9;
}
.section-block .primary ul.list li:nth-child(even) {
  background-color: #bfbfbf;
}
.section-block .primary .section-list .list {
  background-color: #d9d9d9;
}
.primary.section-cta.cta-box a.button {
  background-color: #e6e6e6;
  color: #000;
}
.primary.section-cta.cta-box a.button:hover {
  background-color: #d9d9d9;
  color: #fff;
}
header .primary {
  border-bottom: solid 5px #8bb5c9;
}
.secondary {
  background-color: #204674;
}
.overlay-secondary {
  background-color: rgba(32, 70, 116, .8);
}
.secondary h1, .overlay-secondary h1, .secondary h1 a, .overlay-secondary h1 a, .secondary h2, .overlay-secondary h2, .secondary h3, .overlay-secondary h3, .secondary h4, .overlay-secondary h4, .secondary h5, .overlay-secondary h5, .secondary h6, .overlay-secondary h6, .secondary a, .overlay-secondary a {
  color: #fff;
}
.secondary p, .overlay-secondary p, .secondary ol, .overlay-secondary ol, .secondary ul, .overlay-secondary ul, .secondary li, .overlay-secondary li, .secondary blockquote, .overlay-secondary blockquote, .secondary dl, .overlay-secondary dl, .secondary dt, .overlay-secondary dt, .secondary dd, .overlay-secondary dd, .secondary table, .overlay-secondary table, .secondary tr, .overlay-secondary tr, .secondary td, .overlay-secondary td, .secondary span, .overlay-secondary span, .secondary pre, .overlay-secondary pre, .secondary label, .overlay-secondary label, .secondary input, .overlay-secondary input, .secondary textarea, .overlay-secondary textarea {
  color: #fff;
}
.secondary hr:after, .overlay-secondary hr:after {
  border-top-color: #1689cc;
}
.secondary blockquote, .overlay-secondary blockquote {
  background-color: #1689cc;
}
.secondary blockquote p, .overlay-secondary blockquote p, .secondary blockquote ol, .overlay-secondary blockquote ol, .secondary blockquote ul, .overlay-secondary blockquote ul, .secondary blockquote li, .overlay-secondary blockquote li, .secondary blockquote span, .overlay-secondary blockquote span, .secondary blockquote cite, .overlay-secondary blockquote cite, .secondary blockquote a, .overlay-secondary blockquote a {
  color: #fff;
}
.secondary a.button, .overlay-secondary a.button, .secondary input[type=submit], .overlay-secondary input[type=submit] {
  background-color: rgba(255, 255, 255, .8);
  border-color: #fff;
  color: #204674;
}
.secondary a.button:hover, .overlay-secondary a.button:hover, .secondary input[type=submit]:hover, .overlay-secondary input[type=submit]:hover {
  background-color: rgba(22, 137, 204, .8);
  color: #fff;
  border-color: #1689cc;
}
.section-block .secondary ul.list li:nth-child(odd) {
  background-color: #0f2238;
}
.section-block .secondary ul.list li:nth-child(even) {
  background-color: #4783cc;
}
.section-block .secondary .section-list .list {
  background-color: #0f2238;
}
.secondary.section-cta.cta-box a.button {
  background-color: #152e4c;
  color: #fff;
}
.secondary.section-cta.cta-box a.button:hover {
  background-color: #0f2238;
  color: #fff;
}
.tertiary {
  background-color: #1689cc;
}
.overlay-tertiary {
  background-color: rgba(22, 137, 204, .8);
}
.tertiary h1, .overlay-tertiary h1, .tertiary h1 a, .overlay-tertiary h1 a, .tertiary h2, .overlay-tertiary h2, .tertiary h3, .overlay-tertiary h3, .tertiary h4, .overlay-tertiary h4, .tertiary h5, .overlay-tertiary h5, .tertiary h6, .overlay-tertiary h6, .tertiary a, .overlay-tertiary a {
  color: #fff;
}
.tertiary p, .overlay-tertiary p, .tertiary ol, .overlay-tertiary ol, .tertiary ul, .overlay-tertiary ul, .tertiary li, .overlay-tertiary li, .tertiary blockquote, .overlay-tertiary blockquote, .tertiary dl, .overlay-tertiary dl, .tertiary dt, .overlay-tertiary dt, .tertiary dd, .overlay-tertiary dd, .tertiary table, .overlay-tertiary table, .tertiary tr, .overlay-tertiary tr, .tertiary td, .overlay-tertiary td, .tertiary span, .overlay-tertiary span, .tertiary pre, .overlay-tertiary pre, .tertiary label, .overlay-tertiary label, .tertiary input, .overlay-tertiary input, .tertiary textarea, .overlay-tertiary textarea {
  color: #fff;
}
.tertiary hr:after, .overlay-tertiary hr:after {
  border-top-color: #1689cc;
}
.tertiary blockquote, .overlay-tertiary blockquote {
  background-color: #1689cc;
}
.tertiary blockquote p, .overlay-tertiary blockquote p, .tertiary blockquote ol, .overlay-tertiary blockquote ol, .tertiary blockquote ul, .overlay-tertiary blockquote ul, .tertiary blockquote li, .overlay-tertiary blockquote li, .tertiary blockquote span, .overlay-tertiary blockquote span, .tertiary blockquote cite, .overlay-tertiary blockquote cite, .tertiary blockquote a, .overlay-tertiary blockquote a {
  color: #fff;
}
.tertiary a.button, .overlay-tertiary a.button, .tertiary input[type=submit], .overlay-tertiary input[type=submit] {
  background-color: rgba(255, 255, 255, .8);
  border-color: #fff;
  color: #1689cc;
}
.tertiary a.button:hover, .overlay-tertiary a.button:hover, .tertiary input[type=submit]:hover, .overlay-tertiary input[type=submit]:hover {
  background-color: rgba(139, 181, 201, .8);
  color: #fff;
  border-color: #8bb5c9;
}
.section-block .tertiary ul.list li:nth-child(odd) {
  background-color: #44adeb;
}
.section-block .tertiary ul.list li:nth-child(even) {
  background-color: #72c1f0;
}
.section-block .tertiary .section-list .list {
  background-color: #44adeb;
}
.tertiary.section-cta.cta-box a.button {
  background-color: #116a9e;
  color: #fff;
}
.tertiary.section-cta.cta-box a.button:hover {
  background-color: #0f5b87;
  color: #fff;
}
.quaternary, .has-bg {
  background-color: #8bb5c9;
}
.overlay-quaternary {
  background-color: rgba(139, 181, 201, .8);
}
.quaternary h1, .overlay-quaternary h1, .quaternary h1 a, .overlay-quaternary h1 a, .quaternary h2, .overlay-quaternary h2, .quaternary h3, .overlay-quaternary h3, .quaternary h4, .overlay-quaternary h4, .quaternary h5, .overlay-quaternary h5, .quaternary h6, .overlay-quaternary h6, .quaternary a, .overlay-quaternary a {
  color: #fff;
}
.quaternary p, .overlay-quaternary p, .quaternary ol, .overlay-quaternary ol, .quaternary ul, .overlay-quaternary ul, .quaternary li, .overlay-quaternary li, .quaternary blockquote, .overlay-quaternary blockquote, .quaternary dl, .overlay-quaternary dl, .quaternary dt, .overlay-quaternary dt, .quaternary dd, .overlay-quaternary dd, .quaternary table, .overlay-quaternary table, .quaternary tr, .overlay-quaternary tr, .quaternary td, .overlay-quaternary td, .quaternary span, .overlay-quaternary span, .quaternary pre, .overlay-quaternary pre, .quaternary label, .overlay-quaternary label, .quaternary input, .overlay-quaternary input, .quaternary textarea, .overlay-quaternary textarea {
  color: #fff;
}
.quaternary hr:after, .overlay-quaternary hr:after {
  border-top-color: #1689cc;
}
.quaternary blockquote, .overlay-quaternary blockquote {
  background-color: #1689cc;
}
.quaternary blockquote p, .overlay-quaternary blockquote p, .quaternary blockquote ol, .overlay-quaternary blockquote ol, .quaternary blockquote ul, .overlay-quaternary blockquote ul, .quaternary blockquote li, .overlay-quaternary blockquote li, .quaternary blockquote span, .overlay-quaternary blockquote span, .quaternary blockquote cite, .overlay-quaternary blockquote cite, .quaternary blockquote a, .overlay-quaternary blockquote a {
  color: #fff;
}
.quaternary a.button, .overlay-quaternary a.button, .quaternary input[type=submit], .overlay-quaternary input[type=submit] {
  background-color: rgba(22, 137, 204, .8);
  border-color: #1689cc;
  color: #fff;
}
.quaternary a.button:hover, .overlay-quaternary a.button:hover, .quaternary input[type=submit]:hover, .overlay-quaternary input[type=submit]:hover {
  background-color: rgba(32, 70, 116, .8);
  color: #fff;
  border-color: #204674;
}
.section-block .quaternary ul.list li:nth-child(odd) {
  background-color: #5794b1;
}
.section-block .quaternary ul.list li:nth-child(even) {
  background-color: #447891;
}
.section-block .quaternary .section-list .list {
  background-color: #5794b1;
}
.quaternary.section-cta.cta-box a.button {
  background-color: #689fb9;
  color: #000;
}
.quaternary.section-cta.cta-box a.button:hover {
  background-color: #5794b1;
  color: #fff;
}
body {
  background-color: #fff;
  color: #204674;
}
.container {
  background-color: #e6e6e6;
}
a.button, a.continue {
  background-color: #8bb5c9;
  color: #000;
}
a.button:hover, a.continue:hover {
  background-color: #8bb5c9;
}
input, textarea {
  border-color: #8bb5c9;
}
input[type=submit] {
  background-color: #8bb5c9;
  color: #fff;
}
input[type=submit]:hover, input[type=submit]:active {
  background-color: #fff;
  color: #8bb5c9;
}
header.main a, header.main span {
  color: #1689cc;
}
header.main nav.main .menu ul, header.main nav.main .menu ul li:hover {
  background-color: rgba(87, 148, 177, .9);
}
header.main nav.main ul li, header.main nav.main ul {
  border-color: #8bb5c9;
}
header.main .sub-menu a {
  color: #fff;
}
header.main .upper .social, header.main .upper nav, header.main .upper .custom, header.main .upper .vcard {
  border-color: rgba(0, 0, 0, .5);
}
header.main .upper .social span, header.main .upper nav span, header.main .upper .custom span, header.main .upper .vcard span, header.main .upper .social p, header.main .upper nav p, header.main .upper .custom p, header.main .upper .vcard p, header.main .upper .social a, header.main .upper nav a, header.main .upper .custom a, header.main .upper .vcard a {
  color: #204674;
}
.backdrop h1.primary {
  background-color: rgba(255, 255, 255, .8);
  color: #1689cc;
}
.backdrop h1.secondary {
  background-color: rgba(32, 70, 116, .8);
  color: #fff;
}
.backdrop h1.tertiary {
  background-color: rgba(22, 137, 204, .8);
  color: #fff;
}
.backdrop h1.quaternary {
  background-color: rgba(139, 181, 201, .8);
  color: #204674;
}
aside.sidebar .widget {
  background-color: #1689cc;
}
aside.sidebar .widget h1, aside.sidebar .widget h2, aside.sidebar .widget h3, aside.sidebar .widget h4, aside.sidebar .widget h5, aside.sidebar .widget h6, aside.sidebar .widget p, aside.sidebar .widget ul, aside.sidebar .widget ol, aside.sidebar .widget li, aside.sidebar .widget span, aside.sidebar .widget a, aside.sidebar .widget label {
  color: #fff;
}
aside.sidebar .widget input {
  border-color: #fff;
  background-color: #72c1f0;
  color: #fff;
}
aside.sidebar .widget:after {
  background-color: rgba(32, 70, 116, .5);
}
aside.sidebar .widget-hours .hours p {
  border-top-color: rgba(32, 70, 116, .25);
}
aside.sidebar li {
  border-color: rgba(255, 255, 255, .1);
}
aside.sidebar #wp-calendar caption {
  color: #8bb5c9;
}
footer.main p, footer.main a, footer.main span {
  color: #1689cc;
}
footer.main nav.footer li {
  border-left-color: #1689cc;
}
.home-slideshow .slide-content.overlay-primary h2, .home-slideshow .slide-content.overlay-primary h3, .home-slideshow .slide-content.overlay-primary h4, .home-slideshow .slide-content.overlay-primary h5, .home-slideshow .slide-content.overlay-primary h6, .home-slideshow .slide-content.overlay-primary p {
  color: #204674;
}
.home-slideshow .slide-content.overlay-secondary h2, .home-slideshow .slide-content.overlay-secondary h3, .home-slideshow .slide-content.overlay-secondary h4, .home-slideshow .slide-content.overlay-secondary h5, .home-slideshow .slide-content.overlay-secondary h6, .home-slideshow .slide-content.overlay-secondary p {
  color: #fff;
}
.home-slideshow .slide-content.overlay-tertiary h2, .home-slideshow .slide-content.overlay-tertiary h3, .home-slideshow .slide-content.overlay-tertiary h4, .home-slideshow .slide-content.overlay-tertiary h5, .home-slideshow .slide-content.overlay-tertiary h6, .home-slideshow .slide-content.overlay-tertiary p {
  color: #fff;
}
.home-slideshow .slide-content.overlay-quaternary h2, .home-slideshow .slide-content.overlay-quaternary h3, .home-slideshow .slide-content.overlay-quaternary h4, .home-slideshow .slide-content.overlay-quaternary h5, .home-slideshow .slide-content.overlay-quaternary h6, .home-slideshow .slide-content.overlay-quaternary p {
  color: #1689cc;
}
.home-slider .slick-dots button {
  background-color: #fff;
  border-color: #1689cc;
}
.home-slider .slick-dots button:hover, .slick-active .home-slider .slick-dots button {
  background-color: #1689cc;
}
.home-slider .slick-dots .slick-active button {
  background-color: #1689cc;
}
.important-primary {
  border-color: #fff;
}
.important-secondary {
  border-color: #204674;
}
.important-tertiary {
  border-color: #1689cc;
}
.important-quaternary {
  border-color: #8bb5c9;
}
.post time {
  background-color: #8bb5c9;
}
.post time span {
  color: #fff;
}
.the-post:after {
  background-color: #abc7e8;
}
.comment-list .children, .comments {
  background-color: rgba(32, 70, 116, .1);
}
.comment-list .comment, .comment-intro, .the-post, footer.post {
  border-color: #abc7e8;
}
.comment .fn {
  color: #8bb5c9;
}
.button.button-customize.primary-bg {
  background-color: #fff;
  color: #000;
}
.button.button-customize.secondary-bg {
  background-color: #204674;
  color: #fff;
}
.button.button-customize.tertiary-bg {
  background-color: #1689cc;
  color: #fff;
}
.button.button-customize.quaternary-bg {
  background-color: #8bb5c9;
  color: #000;
}
.button.button-customize.primary-border {
  border-color: #fff;
}
.button.button-customize.secondary-border {
  border-color: #204674;
}
.button.button-customize.tertiary-border {
  border-color: #1689cc;
}
.button.button-customize.quaternary-border {
  border-color: #8bb5c9;
}
.button.button-customize.primary-hover:hover {
  background-color: #fff;
  color: #000;
}
.button.button-customize.secondary-hover:hover {
  background-color: #204674;
  color: #fff;
}
.button.button-customize.tertiary-hover:hover {
  background-color: #1689cc;
  color: #fff;
}
.button.button-customize.quaternary-hover:hover {
  background-color: #8bb5c9;
  color: #000;
}
.button.button-customize.primary-hover-border:hover {
  border-color: #fff;
}
.button.button-customize.secondary-hover-border:hover {
  border-color: #204674;
}
.button.button-customize.tertiary-hover-border:hover {
  border-color: #1689cc;
}
.button.button-customize.quaternary-hover-border:hover {
  border-color: #8bb5c9;
}
@media only screen and (max-width: 40em) {
  nav.main {
    background-color: #1689cc;
  }
  nav.main span {
    color: #fff;
  }
}
@media only screen and (min-width: 40.063em) {
  /* min-width 641px, medium screens */}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */}
@media only screen and (min-width: 64.063em) {
  /* min-width 1025px, large screens */}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */}
@media only screen and (min-width: 90.063em) {
  /* min-width 1441px, xlarge screens */}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */}
@media only screen and (min-width: 120.063em) {
  /* min-width 1921px, xxlarge screens */}
header.main .cta, footer.main .cta, aside.sidebar .cta, .widget .cta, .the-post .cta, .main-content .cta, article.gallery .cta, li.product .cta, header.main .button, footer.main .button, aside.sidebar .button, .widget .button, .the-post .button, .main-content .button, article.gallery .button, li.product .button {
  font-family: Arimo, sans-serif !important;
}
aside.sidebar p, .widget p, .the-post p, .main-content p, article.gallery p, li.product p, aside.sidebar span, .widget span, .the-post span, .main-content span, article.gallery span, li.product span, aside.sidebar ol, .widget ol, .the-post ol, .main-content ol, article.gallery ol, li.product ol, aside.sidebar ul, .widget ul, .the-post ul, .main-content ul, article.gallery ul, li.product ul, aside.sidebar li, .widget li, .the-post li, .main-content li, article.gallery li, li.product li, aside.sidebar label, .widget label, .the-post label, .main-content label, article.gallery label, li.product label, aside.sidebar input, .widget input, .the-post input, .main-content input, article.gallery input, li.product input, aside.sidebar input[type=submit], .widget input[type=submit], .the-post input[type=submit], .main-content input[type=submit], article.gallery input[type=submit], li.product input[type=submit], aside.sidebar em, .widget em, .the-post em, .main-content em, article.gallery em, li.product em, aside.sidebar dt, .widget dt, .the-post dt, .main-content dt, article.gallery dt, li.product dt, aside.sidebar dd, .widget dd, .the-post dd, .main-content dd, article.gallery dd, li.product dd, aside.sidebar a, .widget a, .the-post a, .main-content a, article.gallery a, li.product a, aside.sidebar nav a, .widget nav a, .the-post nav a, .main-content nav a, article.gallery nav a, li.product nav a {
  font-family: Open Sans, sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p, span, input[type=submit] {
  font-family: Archivo Black, sans-serif !important;
}
header.primary {
  background: #204674 !important;
}
header.main a {
  color: #fff !important;
}
footer {
  background: #1689cc !important;
}
footer.main a {
  color: #fff !important;
}
footer.main p {
  color: #fff !important;
}
