@charset "UTF-8";
/* Arrows */
/*==========================================================================
MIXINS
==========================================================================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff image-url("ajax-loader.gif", false, false) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /* Icons */
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
@font-face {
  font-family: "slick";
  src: font-url("slick.eot");
  src: font-url("slick.eot?#iefix") format("embedded-opentype"), font-url("slick.woff") format("woff"), font-url("slick.ttf") format("truetype"), font-url("slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: '\2190';
}
[dir="rtl"] .slick-prev:before {
  content: '\2192';
}
.slick-next {
  right: -25px;
  /* Dots */
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: '\2192';
}
[dir="rtl"] .slick-next:before {
  content: '\2190';
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  z-index: 4;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 38px;
  line-height: 20px;
  text-align: center;
  color: ;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: ;
  opacity: 0.75;
}
input, textarea {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin: 0.5em 1.5em 0.5em 0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin: 0.5em 0 0.5em 1.5em;
}
.aligncenter, img.aligncenter {
  margin: 0.5em auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
article.main hr {
  border: none;
  height: 1px;
  width: 30%;
  margin: 1em 0;
}
.button {
  margin: 0;
  border-width: 4px;
  border-style: solid;
  text-decoration: none !important;
}
.emails a {
  display: block;
}
h1, h1 a, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0;
}
h1 {
  margin: 0 auto;
  font-size: 2.5rem;
  display: inline-block;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h5, h6 {
  font-size: 1.1rem;
}
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1rem;
}
ul {
  padding-left: 5%;
}
.content ul li, .content ol li {
  margin: 1em 0;
}
a, input[type=submit] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, input[type=submit]:hover {
  opacity: 0.9;
}
blockquote {
  padding: 2em;
  margin: 2em 0;
  border: none;
}
blockquote p:last-child, blockquote li:last-child, blockquote ol:last-child, blockquote ul:last-child {
  margin: 0;
}
blockquote p, blockquote li, blockquote ol, blockquote ul, blockquote a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.25rem;
  font-style: italic;
}
blockquote a {
  opacity: 0.5;
  text-decoration: underline;
}
pre {
  padding: 1.5rem;
  margin: 2em 0;
  max-width: 100%;
}
hr {
  border: none;
  position: relative;
  margin: 3em 75% 3em 0;
  display: block;
  height: 4px;
  width: 25%;
}
.vcard {
  border: none;
  padding: 0;
  display: block;
  margin: 0;
}
.vcard p, .vcard span, .vcard a {
  font-size: 0.7rem;
  padding: 0;
}
.prepend {
  margin-right: 0.5rem;
}
.button, .continue {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5em 1.5em;
  margin-top: 1.5em;
}
input, textarea {
  width: 100%;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
.label {
  white-space: normal;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin: 0.5em 1.5em 0.5em 0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin: 0.5em 0 0.5em 1.5em;
}
.aligncenter, img.aligncenter {
  margin: 0.5em auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
body {
  position: static;
}
ul, p {
  line-height: inherit;
  font-size: inherit;
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
}
div.gform_wrapper {
  max-width: 500px;
  margin: 0 auto;
}
div.gform_wrapper label {
  color: inherit;
}
.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
ul, ol, dl {
  margin: 0;
  list-style-position: inside;
}
[class*="column"] + [class*="column"]:last-child {
  float: left;
  clear: none;
}
.row .row {
  margin: 0 auto;
  padding: 0;
}
.inline-list > li > * {
  display: inline-block;
}
.screen-reader-text {
  display: none;
}
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
a, a:before, a:after, li {
  box-sizing: border-box;
  transition: all ease-in 0.3s;
}
.row {
  max-width: 1100px;
}
.secondary > .row {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.inline-menu {
  display: inline-block;
}
.button {
  display: inline-block;
  margin: 0 auto;
  border: none;
  max-width: 500px;
  transition: 0.1s all ease-in;
}
.searchform {
  margin: 1em 0;
}
input[type="submit"] {
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  input[type="submit"] {
    background-color: ;
    border-color: ;
    border-radius: 4px;
  }
}
.foreohfore {
  text-align: center;
  padding: 200px 0;
  padding: 28vh 0;
}
.p:first-of-type {
  margin-top: 1em;
}
.topbar a.phone {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.logo {
  display: inline-block;
  margin: 1em;
}
.logo a img {
  max-height: 225px;
  width: auto;
}
.topbar {
  padding: 0.75em 1em;
  line-height: 1em;
  font-size: 0.9rem;
  text-align: right;
}
.topbar .phone {
  float: left;
}
.topbar .custom, .topbar .topbar-nav, .topbar .social {
  display: inline-block;
}
.topbar span:first-child {
  text-align: left;
}
.topbar span:nth-child(2) {
  text-align: center;
  margin-right: 0.5em;
}
.topbar span:nth-child(2) p {
  text-align: center;
  display: block;
  width: 100%;
}
.topbar nav {
  text-align: right;
}
.topbar a, .topbar p {
  font-size: 1rem;
}
@media screen and (max-width: 650px) {
  .topbar .topbar-nav, .topbar .custom {
    display: none;
  }
}
#menu-top-menu {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
#menu-top-menu li {
  display: inline-block;
  margin-left: 1em;
}
#menu-top-menu a {
  text-transform: uppercase;
  font-size: 0.8rem;
}
ul#menu-main-menu {
  padding: 0;
}
.topbar .inline-list li {
  display: inline-block;
  margin-right: 0.75em;
}
.topbar span p {
  margin: 0;
}
@media screen and (min-width: 500px) {
  .text-center .topbar span, .text-right .topbar span, .text-center .topbar nav, .text-right .topbar nav {
    float: none;
  }
}
@media screen and (min-width: 500px) {
  .text-right .topbar .social-connect {
    float: right;
  }
}
@media screen and (min-width: 500px) {
  .text-left .topbar .social-connect {
    float: left;
  }
}
@media screen and (min-width: 500px) {
  .text-center .topbar .social-connect {
    float: none;
    display: inline-block;
  }
}
.topbar .st-icon, .topbar [class^="st-icon-"] {
  height: auto;
  padding: 0;
  margin-top: -0.2em;
}
#main-menu .inline-list li {
  padding: 0;
}
#main-menu .inline-list li a {
  display: block;
  padding: 0.75em 1.25em;
}
.menu-item-has-children:hover > .sub-menu {
  padding: 0;
}
header.page h1 {
  padding: 0.5rem;
}
.header-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 650px) {
  .header-image {
    height: 250px;
  }
}
.social-connect {
  margin-left: 1em;
}
.menu-pull {
  display: block;
  margin: 0.5em 0;
}
.menu-pull i {
  padding-right: 0.5em;
}
@media screen and (min-width: 1082px) {
  .menu-pull {
    display: none;
  }
}
.main-nav.row {
  padding: 0;
}
#main-menu {
  display: block;
}
#main-menu a {
  font-size: 1rem;
}
#main-menu.dropdown .inline-list {
  margin: 0;
}
#main-menu.dropdown .inline-list li {
  list-style-type: none;
  position: relative;
}
#main-menu.dropdown .inline-list li:hover > .sub-menu, #main-menu.dropdown .inline-list li .sub-menu li:hover .sub-menu {
  display: block;
}
@media screen and (min-width: 1082px) {
  #main-menu.dropdown .inline-list li .sub-menu li:hover .sub-menu {
    left: 100%;
    top: 0;
  }
}
#main-menu.dropdown .inline-list > li {
  display: inline-block;
  list-style-type: none;
  text-align: left;
}
#main-menu.dropdown .inline-list ul {
  margin: 0;
  position: absolute;
}
#main-menu.dropdown .inline-list a {
  white-space: nowrap;
}
#main-menu.dropdown .inline-list .sub-menu {
  left: 0;
  z-index: 100;
  display: none;
}
#main-menu.dropline .inline-list {
  margin: 0;
  position: relative;
}
#main-menu.dropline .inline-list li {
  list-style-type: none;
}
#main-menu.dropline .inline-list li:hover .sub-menu {
  display: block;
}
#main-menu.dropline .inline-list > li {
  display: inline-block;
  list-style-type: none;
}
#main-menu.dropline .inline-list ul {
  margin: 0;
  position: absolute;
}
#main-menu.dropline .inline-list a {
  white-space: nowrap;
}
#main-menu.dropline .inline-list .sub-menu {
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
}
#main-menu.dropline .inline-list .sub-menu li {
  display: inline-block;
}
@media screen and (max-width: 1081px) {
  #main-menu .inline-list {
    display: none;
  }
  #main-menu .inline-list li {
    display: block;
    width: 100%;
  }
  #main-menu .inline-list li a {
    text-align: center;
  }
  #main-menu .inline-list li .sub-menu {
    display: block !important;
    position: relative !important;
    margin: 0;
    padding: 0;
  }
  #main-menu.active .inline-list {
    display: block;
  }
}
.footer-inner {
  padding: 2em 0;
  font-size: 0.7em;
}
.pre-footer-menu {
  display: inline-block;
}
.pre-footer-menu, footer .inline-list li {
  margin-right: 1em;
  display: inline;
}
@media screen and (min-width: 500px) {
  .pre-footer-menu, footer .inline-list li {
    margin-right: 1em;
  }
}
.copyright {
  margin-top: 1em;
  margin-bottom: 0;
}
.footer-inner .inline-menu {
  display: inline;
}
#menu-footer-menu {
  display: inline;
}
#menu-footer-menu li {
  padding: 0;
}
footer.main a, footer.main p {
  font-size: 0.9rem;
}
footer.main .post-list {
  margin: 0;
  padding: 0;
}
footer.main .post-list li {
  list-style-type: none;
}
footer.main .post-list a {
  text-decoration: underline;
}
footer.main .title {
  display: block;
}
footer.main date {
  text-transform: uppercase;
  font-size: 0.8rem;
}
footer.main .excerpt {
  opacity: 0.8;
  padding: 0;
}
.upper .columns:first-child {
  border: none;
}
.sidebar {
  z-index: 2;
  min-height: 100%;
  height: 100%;
  padding-top: 1em;
}
.widget-title {
  font-size: 1.2em;
  padding-right: 1em;
  clear: both;
  z-index: 2;
  text-transform: uppercase;
}
.widget {
  margin-bottom: 2em;
  position: relative;
}
.widget:after {
  content: "";
  display: table;
  clear: both;
}
.widget.has-bg {
  padding: 1em;
}
.widget.widget-social {
  margin-left: 0;
}
.widget .social {
  margin: 0;
}
.widget:before {
  top: 0.8em;
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: -1;
}
.widget ul, .widget a {
  list-style: none;
}
.widget .menu a {
  display: block;
}
.widget .menu a:after {
  content: '\f125';
  float: right;
  font-family: 'ionicons';
}
#searchsubmit {
  display: inline;
  width: 25%;
  margin: 0;
  float: left;
}
#s {
  display: inline;
  width: 75%;
  margin: 0;
  float: left;
}
.widget ul {
  padding: 0;
}
.widget li {
  padding: 0.25em 0.5em;
}
.widget input[type=submit] {
  border-radius: 0;
}
.widget .button {
  display: block;
}
.widget p:last-child, .widget p:last-child span {
  margin-bottom: 0;
}
.widget.widget-custom .content {
  padding: 1em;
}
.widget .gform_wrapper li {
  background-color: transparent !important;
  padding: 0;
}
.the-grid {
  text-align: center;
  position: relative;
}
.the-grid li {
  padding: 1em;
}
.the-grid .columns {
  padding: 0 1.5em !important;
}
@media screen and (min-width: 600px) {
  .grid-has-circle, .grid-has-square, .grid-has-rounded-square {
    padding: 0 2em;
  }
}
.has-circle, .has-square, .has-rounded-square {
  margin: 0 0.5em;
}
@media screen and (min-width: 500px) {
  .has-circle, .has-square, .has-rounded-square {
    margin: 0;
    padding: 0.5em;
  }
}
.grid-item__container {
  text-align: center;
}
.grid-item__icon {
  max-width: 350px;
  display: inline-block;
}
.grid-item__icon img {
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
.the-grid__title {
  text-align: center;
  display: inline-block;
  clear: both;
  font-size: 1.5em;
  z-index: 2;
  margin: 0.5em 0;
  position: relative;
  padding: 0 0.5em;
}
@media screen and (min-width: 600px) {
  .the-grid__title {
    font-size: 2em;
  }
}
.the-grid .header-border:before {
  top: -28px;
}
@media screen and (min-width: 600px) {
  .the-grid .header-border:before {
    top: -36px;
  }
}
.main-wrap .grid-item__label {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0.5em;
}
.main-wrap .grid-item__label:after {
  content: "";
  display: table;
  clear: both;
}
.main-wrap .grid-item__label h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0;
}
.icon-grid-area {
  padding: 1.5em 4em;
}
.icon {
  display: inline-block;
  font-size: 5em;
}
@media screen and (min-width: 500px) {
  .icon {
    font-size: 9em;
  }
}
.shape {
  text-align: center;
  display: block;
  height: 0;
  width: 100%;
  padding: 50% 0;
  transition: 0.3s all ease-in;
}
.shape, .shape > * {
  line-height: 0;
}
.no-shape {
  width: 100%;
  height: 100%;
}
.shape--image-bg {
  background-size: cover;
  background-position: center;
}
.circle {
  border-radius: 100%;
}
.rounded-square {
  border-radius: 20%;
}
.diamond {
  transform: rotate(45deg);
  border-radius: 20%;
}
.diamond .icon {
  transform: rotate(-45deg);
}
.rectangle {
  display: none;
}
.rectangle__title {
  margin: 1em 2em;
}
.row.icon-content {
  margin: 1em;
}
@media screen and (min-width: 500px) {
  .icon-grid-2 {
    width: 33%;
  }
  .icon-grid-2:nth-of-type(4n) {
    clear: left;
  }
}
@media screen and (min-width: 992px) {
  .icon-grid-2 {
    width: 16.66667%;
  }
  .icon-grid-2:nth-of-type(4n) {
    clear: none;
  }
  .icon-grid-2 .icon {
    font-size: 6em;
  }
}
@media screen and (min-width: 500px) {
  .icon-grid-3 {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .icon-grid-3 {
    width: 25%;
  }
  .icon-grid-3:nth-of-type(4n) {
    clear: none;
  }
}
@media screen and (min-width: 500px) {
  .icon-grid-4 {
    width: 33.33333%;
  }
  .icon-grid-4:nth-of-type(4n) {
    clear: left;
  }
}
.grid-item__img {
  height: 13em;
  background-size: cover;
}
.grid-content__item {
  padding: 0 0.125em;
}
.grid-content__item:after {
  content: "";
  display: table;
  clear: both;
}
.grid-content__item:first-of-type {
  margin-top: 0;
}
.grid-content__item .header-border {
  top: 8px;
}
.grid-content__title {
  margin: 0 0 0.5em 0;
  line-height: 2.3125rem;
  display: inline;
  padding-right: 0.5em;
  z-index: 2;
  clear: both;
  position: relative;
}
.grid-content__item__sidebar {
  padding: 0;
}
.grid-content__img {
  height: 13em;
  background-size: cover;
}
.grid-content__more {
  padding: 0.5em;
}
@media screen and (min-width: 500px) {
  .bleurgh {
    margin-top: 1em;
    padding: 0;
  }
}
@media screen and (min-width: 600px) {
  .bleurgh {
    margin-top: 0;
    padding: 0 0.9375em;
  }
}
.grid-content__item__sidebar .icon {
  font-size: 11em;
}
.grid-item__icon .custom-icon-img {
  width: 40%;
  margin-top: -24%;
}
.grid-content__item__sidebar img.custom-icon-img {
  margin-top: -33%;
  width: 50%;
}
.callout .row {
  padding: 1.5em;
}
.callout .row h1 {
  margin: 0 0 0.5em 0;
  font-size: 1.5em;
}
.callout .row p {
  margin-bottom: 0.5em;
}
.callout-copy {
  margin: 0;
}
.content {
  position: relative;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  position: relative;
  z-index: 2;
  display: inline;
  padding-right: 1em;
}
.main-wrap .column, footer.main .upper .column, .main-wrap .columns, footer.main .upper .columns {
  padding: 1.5em;
}
.sidebar .vcard p, .sidebar .vcard span {
  font-size: 1rem;
  margin: 0;
}
.grid-item__container:first-child, .post.excerpt:first-child, .post.full header:first-child {
  border: none;
}
.slick-dots li button {
  opacity: 0.5;
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
.home-slideshow {
  position: relative;
  overflow: hidden;
  height: 550px;
}
.home-slideshow .cta-button {
  font-size: 1.2rem;
}
.side-right .slide-inner {
  right: 0.75em;
  text-align: right;
}
.side-left .slide-inner {
  left: 0.75em;
  right: 0.75em;
}
.side-center .slide-inner {
  right: 0;
  left: 0;
  text-align: center;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.slide-wrap.noverlay {
  background: none;
}
.slide-content {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 100%;
  top: 0;
  text-shadow: black 1px 1px 5px;
}
.slide-inner {
  position: absolute;
  margin: auto;
  bottom: 2.5em;
  max-width: 100%;
  padding: 0 1.5em;
  z-index: 10;
}
.slick-dots {
  position: absolute;
  bottom: 0.75em;
  right: 0;
  top: auto;
  margin: 0;
}
.slick-dots button, .slick-dots li {
  transition: all 0.3s ease-in;
  height: 12px;
  width: 12px;
}
.slick-dots button {
  margin: 0;
  border-width: 3px;
  border-style: solid;
}
.slick-dots button:before {
  content: '';
}
.slick-dots button:hover {
  opacity: 0.8;
}
.home-slider {
  position: relative;
  margin: 0;
}
.home-slider .slide {
  min-height: 550px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.home-slider .content {
  position: absolute;
}
.overlay-no {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}
.slide-inner {
  font-size: 1.5em;
  line-height: 1.5em;
}
.slide-inner > h1, .slide-inner h2, .slide-inner h3, .slide-inner h4, .slide-inner h5, .slide-inner h6, .slide-inner p {
  margin: 0;
}
.cta-button {
  font-weight: bold;
  display: block;
  transition: 0.2s ease-in all;
}
@media screen and (max-width: 650px) {
  .home-slideshow {
    height: 250px;
  }
  .home-slider .slide {
    min-height: 250px;
  }
}
.page-header {
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.header-content {
  position: absolute;
  padding: 1em;
}
@media screen and (min-width: 500px) {
  .header-content {
    padding: 2em;
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .header-content {
    width: 35%;
  }
}
.header-content a {
  font-weight: bold;
}
.header-position-left, .header-position-right, .header-position-center {
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 500px) {
  .header-position-left {
    left: 0;
    height: 100%;
  }
}
@media screen and (min-width: 500px) {
  .header-position-right {
    right: 0;
    left: auto;
    height: 100%;
  }
}
@media screen and (min-width: 500px) {
  .header-position-center {
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
.page-title {
  display: inline;
  z-index: 2;
  line-height: 2em;
  clear: both;
  position: relative;
  font-size: 1.5em;
  padding: 0 0.5em;
}
@media screen and (min-width: 500px) {
  .page-title {
    padding: 0 2em;
    font-size: 2em;
  }
}
@media screen and (min-width: 500px) {
  .page-title-box {
    padding: 1em 2em;
  }
}
.excerpt {
  padding: 1em 0;
}
.excerpt h2 {
  font-size: 1.6rem;
}
.excerpt h2 a {
  font-size: 1em;
}
.excerpt .continue {
  display: block;
  padding: 0;
  margin-top: 1em;
  text-align: right;
}
.excerpt div.featured-image {
  margin: 1em 0;
}
.excerpt .categorizing .columns {
  padding: 0;
}
.excerpt .categorizing p, .excerpt .categorizing a {
  margin: 0;
  font-size: 0.8rem;
}
.excerpt .content p:last-child {
  margin-bottom: 0;
}
.excerpt time {
  display: block;
}
.full {
  padding: 1em 0;
}
.full h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}
.full div.featured-image {
  margin: 0 0 1em;
}
.full .categorizing {
  margin-bottom: 1em;
}
.full .categorizing .columns {
  padding: 0;
}
.full .categorizing p, .full .categorizing a {
  margin: 0;
  font-size: 0.8rem;
}
.full .content p:last-child {
  margin-bottom: 0;
}
.full time {
  display: block;
}
.full header {
  margin-bottom: 1.5em;
}
.pagination {
  padding: 1em 0;
  text-transform: uppercase;
}
.pagination span, .pagination a {
  padding: 0.25em;
  font-size: 1.2rem;
}
.categorizing {
  padding-top: 1em;
  margin-top: 1em;
}
.primary {
  background-color: #fff;
}
.primary-darker {
  background-color: #e6e6e6;
}
.primary-lighter {
  background-color: #fff;
}
.primary, .overlay-primary {
  color: #7c7c7c;
}
.primary h1, .overlay-primary h1, .primary h1 a, .overlay-primary h1 a, .primary h2, .overlay-primary h2, .primary h3, .overlay-primary h3, .primary h4, .overlay-primary h4, .primary h5, .overlay-primary h5, .primary h6, .overlay-primary h6, .primary a, .overlay-primary a {
  color: #00aeef;
}
.primary p, .overlay-primary p, .primary ol, .overlay-primary ol, .primary ul, .overlay-primary ul, .primary li, .overlay-primary li, .primary blockquote, .overlay-primary blockquote, .primary dl, .overlay-primary dl, .primary dt, .overlay-primary dt, .primary dd, .overlay-primary dd, .primary table, .overlay-primary table, .primary tr, .overlay-primary tr, .primary td, .overlay-primary td, .primary span, .overlay-primary span, .primary pre, .overlay-primary pre, .primary label, .overlay-primary label, .primary input, .overlay-primary input, .primary textarea, .overlay-primary textarea {
  color: #7c7c7c;
}
.primary hr, .overlay-primary hr {
  background-color: #00aeef;
}
.primary blockquote, .overlay-primary blockquote {
  background-color: #e6e6e6;
}
.primary a.button, .overlay-primary a.button, .primary input[type=submit], .overlay-primary input[type=submit], .primary div.button, .overlay-primary div.button {
  background-color: #00aeef;
  color: #fff;
}
.primary a.button:hover, .overlay-primary a.button:hover, .primary input[type=submit]:hover, .overlay-primary input[type=submit]:hover, .primary div.button:hover, .overlay-primary div.button:hover {
  background-color: #0089bc;
  color: #fff;
}
.primary a.button a, .overlay-primary a.button a, .primary input[type=submit] a, .overlay-primary input[type=submit] a, .primary div.button a, .overlay-primary div.button a {
  color: #fff;
}
.primary #main-menu li:hover, .overlay-primary #main-menu li:hover, .primary #main-menu .current_page_item, .overlay-primary #main-menu .current_page_item, .primary #main-menu .current_menu_ancestor, .overlay-primary #main-menu .current_menu_ancestor {
  background-color: #fff;
}
.primary #main-menu .sub-menu, .overlay-primary #main-menu .sub-menu {
  background-color: #fff;
}
.primary #main-menu .sub-menu li:hover, .overlay-primary #main-menu .sub-menu li:hover {
  background-color: #e6e6e6;
}
.secondary {
  background-color: #565656;
}
.secondary-lighter {
  background-color: #707070;
}
.secondary h1, .overlay-secondary h1, .secondary h1 a, .overlay-secondary h1 a, .secondary h2, .overlay-secondary h2, .secondary h3, .overlay-secondary h3, .secondary h4, .overlay-secondary h4, .secondary h5, .overlay-secondary h5, .secondary h6, .overlay-secondary h6, .secondary a, .overlay-secondary a {
  color: #fff;
}
.secondary p, .overlay-secondary p, .secondary ol, .overlay-secondary ol, .secondary ul, .overlay-secondary ul, .secondary li, .overlay-secondary li, .secondary blockquote, .overlay-secondary blockquote, .secondary dl, .overlay-secondary dl, .secondary dt, .overlay-secondary dt, .secondary dd, .overlay-secondary dd, .secondary table, .overlay-secondary table, .secondary tr, .overlay-secondary tr, .secondary td, .overlay-secondary td, .secondary span, .overlay-secondary span, .secondary pre, .overlay-secondary pre, .secondary label, .overlay-secondary label, .secondary input, .overlay-secondary input, .secondary textarea, .overlay-secondary textarea {
  color: #fff;
}
.secondary hr, .overlay-secondary hr {
  background-color: #00aeef;
}
.secondary blockquote, .overlay-secondary blockquote {
  background-color: #3d3d3d;
}
.secondary a.button, .overlay-secondary a.button, .secondary input[type=submit], .overlay-secondary input[type=submit], .secondary div.button, .overlay-secondary div.button {
  background-color: rgba(255, 255, 255, .8);
  border-color: #fff;
  color: #565656;
}
.secondary a.button:hover, .overlay-secondary a.button:hover, .secondary input[type=submit]:hover, .overlay-secondary input[type=submit]:hover, .secondary div.button:hover, .overlay-secondary div.button:hover {
  background-color: #e6e6e6;
  color: #fff;
  border-color: #00aeef;
}
.secondary #main-menu li:hover, .overlay-secondary #main-menu li:hover, .secondary #main-menu .current_page_item, .overlay-secondary #main-menu .current_page_item, .secondary #main-menu .current_menu_ancestor, .overlay-secondary #main-menu .current_menu_ancestor {
  background-color: #565656;
}
.secondary #main-menu .sub-menu, .overlay-secondary #main-menu .sub-menu {
  background-color: #565656;
}
.secondary #main-menu .sub-menu li:hover, .overlay-secondary #main-menu .sub-menu li:hover {
  background-color: #3d3d3d;
}
.tertiary {
  background-color: #00aeef;
}
.tertiary-lighter {
  background-color: #23c3ff;
}
.tertiary h1, .overlay-tertiary h1, .tertiary h1 a, .overlay-tertiary h1 a, .tertiary h2, .overlay-tertiary h2, .tertiary h3, .overlay-tertiary h3, .tertiary h4, .overlay-tertiary h4, .tertiary h5, .overlay-tertiary h5, .tertiary h6, .overlay-tertiary h6, .tertiary a, .overlay-tertiary a {
  color: #fff;
}
.tertiary p, .overlay-tertiary p, .tertiary ol, .overlay-tertiary ol, .tertiary ul, .overlay-tertiary ul, .tertiary li, .overlay-tertiary li, .tertiary blockquote, .overlay-tertiary blockquote, .tertiary dl, .overlay-tertiary dl, .tertiary dt, .overlay-tertiary dt, .tertiary dd, .overlay-tertiary dd, .tertiary table, .overlay-tertiary table, .tertiary tr, .overlay-tertiary tr, .tertiary td, .overlay-tertiary td, .tertiary span, .overlay-tertiary span, .tertiary pre, .overlay-tertiary pre, .tertiary label, .overlay-tertiary label, .tertiary input, .overlay-tertiary input, .tertiary textarea, .overlay-tertiary textarea {
  color: #fff;
}
.tertiary hr, .overlay-tertiary hr {
  background-color: #00aeef;
}
.tertiary blockquote, .overlay-tertiary blockquote {
  background-color: #0089bc;
}
.tertiary a.button, .overlay-tertiary a.button, .tertiary input[type=submit], .overlay-tertiary input[type=submit], .tertiary div.button, .overlay-tertiary div.button {
  background-color: rgba(255, 255, 255, .8);
  border-color: #fff;
  color: #00aeef;
}
.tertiary a.button:hover, .overlay-tertiary a.button:hover, .tertiary input[type=submit]:hover, .overlay-tertiary input[type=submit]:hover, .tertiary div.button:hover, .overlay-tertiary div.button:hover {
  background-color: #e6e6e6;
  color: #00aeef;
  border-color: #691c33;
}
.tertiary .st-single-color a:before, .overlay-tertiary .st-single-color a:before {
  color: #fff !important;
}
.tertiary #main-menu li:hover, .overlay-tertiary #main-menu li:hover, .tertiary #main-menu .current_page_item, .overlay-tertiary #main-menu .current_page_item, .tertiary #main-menu .current_menu_ancestor, .overlay-tertiary #main-menu .current_menu_ancestor {
  background-color: #00aeef;
}
.tertiary #main-menu .sub-menu, .overlay-tertiary #main-menu .sub-menu {
  background-color: #00aeef;
}
.tertiary #main-menu .sub-menu li:hover, .overlay-tertiary #main-menu .sub-menu li:hover {
  background-color: #0089bc;
}
.quaternary, .has-bg {
  background-color: #691c33;
}
.quaternary-lighter {
  background-color: #912747;
}
.quaternary h1, .overlay-quaternary h1, .has-bg h1, .quaternary h1 a, .overlay-quaternary h1 a, .has-bg h1 a, .quaternary h2, .overlay-quaternary h2, .has-bg h2, .quaternary h3, .overlay-quaternary h3, .has-bg h3, .quaternary h4, .overlay-quaternary h4, .has-bg h4, .quaternary h5, .overlay-quaternary h5, .has-bg h5, .quaternary h6, .overlay-quaternary h6, .has-bg h6, .quaternary a, .overlay-quaternary a, .has-bg a {
  color: #fff;
}
.quaternary p, .overlay-quaternary p, .has-bg p, .quaternary ol, .overlay-quaternary ol, .has-bg ol, .quaternary ul, .overlay-quaternary ul, .has-bg ul, .quaternary li, .overlay-quaternary li, .has-bg li, .quaternary blockquote, .overlay-quaternary blockquote, .has-bg blockquote, .quaternary dl, .overlay-quaternary dl, .has-bg dl, .quaternary dt, .overlay-quaternary dt, .has-bg dt, .quaternary dd, .overlay-quaternary dd, .has-bg dd, .quaternary table, .overlay-quaternary table, .has-bg table, .quaternary tr, .overlay-quaternary tr, .has-bg tr, .quaternary td, .overlay-quaternary td, .has-bg td, .quaternary span, .overlay-quaternary span, .has-bg span, .quaternary pre, .overlay-quaternary pre, .has-bg pre, .quaternary label, .overlay-quaternary label, .has-bg label, .quaternary input, .overlay-quaternary input, .has-bg input, .quaternary textarea, .overlay-quaternary textarea, .has-bg textarea {
  color: #fff;
}
.quaternary hr, .overlay-quaternary hr, .has-bg hr {
  background-color: #00aeef;
}
.quaternary blockquote, .overlay-quaternary blockquote, .has-bg blockquote {
  background-color: #41111f;
}
.quaternary a.button, .overlay-quaternary a.button, .has-bg a.button, .quaternary input[type=submit], .overlay-quaternary input[type=submit], .has-bg input[type=submit], .quaternary div.button, .overlay-quaternary div.button, .has-bg div.button {
  background-color: rgba(0, 174, 239, .8);
  border-color: #00aeef;
  color: #fff;
}
.quaternary a.button:hover, .overlay-quaternary a.button:hover, .has-bg a.button:hover, .quaternary input[type=submit]:hover, .overlay-quaternary input[type=submit]:hover, .has-bg input[type=submit]:hover, .quaternary div.button:hover, .overlay-quaternary div.button:hover, .has-bg div.button:hover {
  background-color: #0089bc;
  color: #fff;
  border-color: #565656;
}
.quaternary #main-menu li:hover, .overlay-quaternary #main-menu li:hover, .has-bg #main-menu li:hover, .quaternary #main-menu .current_page_item, .overlay-quaternary #main-menu .current_page_item, .has-bg #main-menu .current_page_item, .quaternary #main-menu .current_menu_ancestor, .overlay-quaternary #main-menu .current_menu_ancestor, .has-bg #main-menu .current_menu_ancestor {
  background-color: #691c33;
}
@media screen and (min-width: 1082px) {
  .quaternary #main-menu .sub-menu, .overlay-quaternary #main-menu .sub-menu, .has-bg #main-menu .sub-menu {
    background-color: #691c33;
  }
  .quaternary #main-menu .sub-menu li:hover, .overlay-quaternary #main-menu .sub-menu li:hover, .has-bg #main-menu .sub-menu li:hover {
    background-color: #41111f;
  }
}
@media screen and (max-width: 1081px) {
  .quaternary #main-menu .inline-list, .overlay-quaternary #main-menu .inline-list, .has-bg #main-menu .inline-list {
    background-color: #691c33;
  }
  .quaternary #main-menu .inline-list a, .overlay-quaternary #main-menu .inline-list a, .has-bg #main-menu .inline-list a {
    border-bottom: 1px solid rgba(145, 39, 71, .5);
  }
  .quaternary #main-menu .inline-list a:hover, .overlay-quaternary #main-menu .inline-list a:hover, .has-bg #main-menu .inline-list a:hover {
    background-color: #4d1425;
  }
  .quaternary #main-menu .inline-list .sub-menu, .overlay-quaternary #main-menu .inline-list .sub-menu, .has-bg #main-menu .inline-list .sub-menu {
    background-color: rgba(65, 17, 31, .5);
  }
}
body {
  background-color: #565656;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: #00aeef;
}
.content a, .content blockquote cite a {
  color: #691c33;
}
.slick-dots li button {
  background-color: #fff;
}
aside.sidebar {
  border-left: 1px solid #e6e6e6;
}
.social a:before {
  color: #fff !important;
}
.categorizing {
  border-top: 1px dotted #ededed;
}
.upper .columns {
  border-left: 1px solid rgba(255, 255, 255, .5);
}
.grid-item__container, .post.excerpt, .post.full header {
  border-top: 1px solid #e6e6e6;
}
.grid-content__item {
  border-top: 1px solid #e6e6e6;
}
.widget li:nth-child(odd) {
  background-color: #ededed;
}
.widget li:nth-child(even) {
  background-color: #f5f5f5;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .8);
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .8);
}
.overlay-tertiary {
  background-color: rgba(0, 174, 239, .8);
}
.overlay-quaternary {
  background-color: rgba(105, 28, 51, .8);
}
.icon-area {
  background-color: #f9f9f9;
}
input {
  border-color: #691c33;
}
.cta-button {
  color: #00aeef;
}
.cta-button:hover {
  color: #23c3ff;
}
input[type="submit"] {
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  input[type="submit"] {
    background-color: #00aeef;
    border-color: #00aeef;
  }
}
.shape:hover {
  background-color: #23c3ff;
}
.rectangle__title {
  color: #fff;
}
.main-nav a {
  color: #fff;
}
.header-content a {
  color: #565656;
}
.page-title {
  background-color: #fff;
}
.the-grid__title {
  background-color: #fff;
}
.shape:hover {
  background-color: #23c3ff;
}
.rectangle__title {
  color: #fff;
}
.grid-content__title {
  background-color: #fff;
}
#searchsubmit {
  color: #fff;
}
#s {
  color: #565656;
}
.overlay.overlay-primary {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(255, 255, 255, .25) 77%, rgba(255, 255, 255, .75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(77%, rgba(255, 255, 255, .75)), color-stop(100%, rgba(255, 255, 255, .75)));
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(255, 255, 255, .25) 77%, rgba(255, 255, 255, .75) 100%);
  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(255, 255, 255, .25) 77%, rgba(255, 255, 255, .75) 100%);
  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(255, 255, 255, .25) 77%, rgba(255, 255, 255, .75) 100%);
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(255, 255, 255, .25) 77%, rgba(255, 255, 255, .75) 100%);
}
.overlay.overlay-secondary {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(86, 86, 86, .25) 77%, rgba(86, 86, 86, .75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(77%, rgba(86, 86, 86, .75)), color-stop(100%, rgba(86, 86, 86, .75)));
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(86, 86, 86, .25) 77%, rgba(86, 86, 86, .75) 100%);
  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(86, 86, 86, .25) 77%, rgba(86, 86, 86, .75) 100%);
  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(86, 86, 86, .25) 77%, rgba(86, 86, 86, .75) 100%);
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(86, 86, 86, .25) 77%, rgba(86, 86, 86, .75) 100%);
}
.overlay.overlay-tertiary {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 174, 239, .25) 77%, rgba(0, 174, 239, .75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(77%, rgba(0, 174, 239, .75)), color-stop(100%, rgba(0, 174, 239, .75)));
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 174, 239, .25) 77%, rgba(0, 174, 239, .75) 100%);
  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 174, 239, .25) 77%, rgba(0, 174, 239, .75) 100%);
  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 174, 239, .25) 77%, rgba(0, 174, 239, .75) 100%);
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 174, 239, .25) 77%, rgba(0, 174, 239, .75) 100%);
}
.overlay.overlay-quaternary {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(105, 28, 51, .25) 77%, rgba(105, 28, 51, .75) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(77%, rgba(105, 28, 51, .75)), color-stop(100%, rgba(105, 28, 51, .75)));
  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(105, 28, 51, .25) 77%, rgba(105, 28, 51, .75) 100%);
  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(105, 28, 51, .25) 77%, rgba(105, 28, 51, .75) 100%);
  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(105, 28, 51, .25) 77%, rgba(105, 28, 51, .75) 100%);
  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(105, 28, 51, .25) 77%, rgba(105, 28, 51, .75) 100%);
}
