// Small screens
@media only screen and (max-width: 40em) {
	footer.main {
		margin-top: 0;
		nav.footer ul, .social {
			text-align: center;
		}
		.logo {
			display: block;
			text-align: center;
		}
	}
	.hour-container {
		border-width: 1px 0 0 0;
		margin: 1em 0 0;
		padding: {
			top: 1em;
			// bottom: 1em;
		}
	}
	.extra {
		margin-bottom: 0;
	}
	header.main, footer.main {
		.contact-details {
			text-align: center;
		}
	}
	.home .backdrop {
		padding: 0;
	}
	.backdrop {
		height: auto;
		min-height: auto;
		padding: 2em 0;
		h1 {
			font-size: 2.5rem;
		}
		.overlay {
			background-color: rgba(#000000, .25);
		}
	}
	.home .home-slider {
		height: 400px !important;
		div {
			height: 400px !important;
		}
		.slide-caption { 
			height: 400px;
			padding-top: 0;
		}
		h3 {
			font-size: 1.5rem;
			line-height: 1.25em;
		}
	}
	div.main .columns.no-space {
		margin: 0;
	}
	header.main {
		.left-side .band {
			border-width: 1px;
			margin-bottom: 0 !important;
		}
		.lower .columns, .hasCustomSelect {
			margin-top: 0 !important;
		}
		.social-block, .vcard {
			display: none;
		}
		.logo img {
			max-height: 100px;
			margin-bottom: 1em;
		}
		a.icon {
			font-family: "Ionicons" !important;
		}
	}
	.mobile-buttons a {
		display: block;
		font-size: 2em;
		text-align: center;
		padding: .5em;
		border-width: 0;
		border-style: solid;
	}
	#commentform p {
		&:nth-child(1), &:nth-child(2) {
			display: block;
			width: 100%;
			margin: 0;
		}
	}
	header.blog, header.blog .recent-entries, .hour-container {
		text-align: center;
	}
	nav.footer, .extra, footer.main .logo {
		display: none;
	}
	.section .type-content.has-bg {
		padding: 0 0.9375em;
		background: none !important;
	}
	.widget {
		text-align: center;
	}
	input {
		-webkit-appearance: none;
		border-radius: 0;
	}
	.slider-pages {
		.excerpt-image.pull-8 {
			margin-top: 100px;
		}
		.excerpt-image, .excerpt-image.first {
			text-align: center;
		}
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.mobile-buttons {
		display: none;
	}
	.home {
		.home-slider, .home-slider div { height: 500px !important; }
		.slide-caption { 
			padding-top: 0;
			h3 {
				font-size: 2rem;
				line-height: 1.5em;
			}
		}
	}
}
@media only screen and (min-width: 40.063em) {
	.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}
	.backdrop {
		min-height: 200px;
	}
}
@media only screen and (max-width: 64em) {
	.home {
		.orbit-container .orbit-slides-container>* .orbit-caption {
			bottom: auto;
			top: 2em;
		}
		.home-slider .orbit-caption h3 {
			font-size: 3em;
		}
	}
	header.main {
		.right-side .band, .left-side .band {
			margin: 0;
			width: 100%;
			margin-bottom: 1em;
		}
		.contact-details p, .contact-details p span, .contact-details p a {
			font-size: 1.1rem;
		}
		nav.main {
			display: none;
		}
	}
	.extra {
		border-top-width: 1px;
		border-top-style: solid;
		margin-top: 1em;
		padding: 1em 0 0;
	}
	.hour-container h4 {
		margin: 0;
	}
	footer.main {
		nav.footer {
			li {
				padding: .25em .5em;
			}
		}
	}
	.backdrop {
		.table {
			width: 80%;
		}
	}
	.widget-gallery.full {
		padding: 1em 1.53em;
	}
	.image img {
		display: block;
		margin: 0 auto;
	}
	nav.footer {
		padding: .75em 0;
	}
	.extra {
		text-align: center;
	}
	.post {
		h1, header h2, header h2 a {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.8rem;
		}
		h3 {
			font-size: 1.6rem;
		}
		h4 {
			font-size: 1.4rem;
		}
		h5 {
			font-size: 1.2rem;
		}
		h6 {
			font-size: 1rem;
		}
		blockquote p, blockquote p a, blockquote ol, blockquote p ul, blockquote li  {
			font-size: 1.2em;
		}
	}
	.customSelect {
		text-align: left;
	}
	.hasCustomSelect {
		cursor: pointer;
	}
	.tinynav{
		width: 100% !important;
		height: 48px !important;
	}
	.type-content, .type-image {
		margin: 2em 0;
	}
	.type-widget {
		padding: 0;
	}
	.not-mobile {
		display: none;
	}
	header.main {
		padding-top: 1em;
	}
	header.main .lower .columns {
		padding: 0;
		margin-top: 1em;
	}
	.sb-search {
		width: 100%;
		height: 48px !important;
		input, span {
			height: 48px !important;
			line-height: 48px;
		}
	}
	.customSelectInner {
		width: 100% !important;
		padding: 1em;
		span {
			display: inline-block;
			&.title {
				width: 80%;
				min-width: 100px;
			}
			&.icon {
				float: right;
			}
		}
	}
	footer.main .vcard, .copyright {
		text-align: center;
	}
	footer.main .top {
		display: inline-block;
		margin: 2em 0 1.25em;
	}
	.widget .apps.row {
		text-align: center !important;
		.columns a:first-child {
			display: block;
		}
	}
	.align-inner, .align-outer {
		text-align: center;
	}
	.hours {
		-moz-column-count: 1;
		-moz-column-gap: 1.5em;
		-webkit-column-count: 1;
		-webkit-column-gap: 1.5em;
	}
}
// Large screens
@media only screen and (min-width: 64.063em) {
	.home {
		header.main {
			z-index: 5;
		}
	}
	.section {
		margin: 4em 0;
		.flush.columns:first-child {
			padding-left: 0;
		}
		.flush.columns:last-child {
			padding-right: 0;
		}
		&.section-1.start-image {
			.flush.columns:last-child {
				padding-left: 0;
				padding-right: 0.9375em;
			}
			.flush.columns:first-child {
				padding-right: 0;
				padding-left: 0.9375em;
			}
		}
	}
	.section-1 {
		padding: 4em 0 0;
		margin: 0;
		.widget {
			margin: -5.5em 0 5.5em;
			position: relative;
			z-index: 10;
		}
	}
	.post {
		.alignleft, img.alignleft {
			display: inline;
			float: left;
			margin: .5em 1.5em .5em -15%;
		}
		.alignright, img.alignright {
			display: inline;
			float: right;
			margin: .5em -15% .5em 1.5em;
		}
	}
	.tinynav, .customSelect {
		display: none !important;
	}
	.mobile, .top {
		display: none;
	}
	.hours {
		-moz-column-count: 2;
		-moz-column-gap: 1.5em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1.5em;
	}
}