/*==========================================================================
Imports
==========================================================================*/
@import "includes";
@import "slick";



/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h1 a, h2, h3, h4, h5, h6 {
	@include fontStyle(heading, null, normal);
	a, span {
		@include fontStyle(heading, 1em, normal);
	}
}
h2 { font-size: 1.3rem; }
h3 { font-size: 1.1rem; }
h4 {
	font-size: 1.1rem;
	font-weight: 400;
}
h5, h6 {
	font-size: 1rem;
	font-weight: 400;
}
h1, h1 a {
	margin: 0;
	font-size: 1.4rem;
}
p, ul, ol, a, blockquote, dl, dt, dd, .textwidget, table, tr, td, span {
	@include fontStyle(paragraph, 1rem);	
}
pre { margin: 1em 0; }
.button {
	@include fontStyle(paragraph, .85rem, normal, normal, center, uppercase, normal, 2px);
	padding: .5em 1em;
}
table {
	background-color: transparent;
	border: none;
	margin: 0;
}
// Form Fields //
input[type=text] {
	border-width: 1px;
	border-style: solid;
}
input[type=submit] {
	border: none;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin: .5em 1.5em .5em 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter, img.aligncenter {
	margin: .5em auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
article.main hr {
	border: none;
	height: 1px;
	width: 30%;
	margin: 1em 0;
}
// Post Styles //
.post {
	h1, header h2, header h2 a {
		padding: 0;
		display: block;
		font-size: 3rem;
		text-align: center;
		position: relative;
		z-index: 5;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.7rem;
	}
	h5 {
		font-size: 1.4rem;
	}
	h6 {
		font-size: 1.1rem;
	}
	ul, ol, li {
		text-align: left;
	}
	ul, ol {
		margin: 1em 5%;	
	}
	blockquote {
		padding: 1em 5%;
		border: none;
	}
	blockquote p, blockquote p a, blockquote ol, blockquote p ul, blockquote li  {
		font-size: 2.5rem;
	}
}




/*==========================================================================
Containers & Shared Styles
==========================================================================*/
// Containers
.row { max-width: 100%; }
// Navigation
nav .menu {
	text-align: center;
	margin: 0;
	li { float: none; }
	a {
		text-transform: uppercase;
		font-size: .8rem;
	}
}
// Social
.max-socialize {
	.social { display: inline-block; }
	.social-connect {
		border-right-width: 1px;
		border-right-style: solid;
		padding-right: 1em; 
	}
}
a.symbol {
	font-size: 32px;
	&:before {
		margin: 0;
		font-size: 0;
	}
}
.social-share {
	display: block;
	&.has-mono a {
		&:before {
			content: '';
			margin: 0;
			font-size: 0;
		}
		span {
			background-image: none;
			display: none;
		}
	}
}
.prepend {
	text-transform: uppercase;
	display: inline-block;
}
// Breadcrumbs
.breadcrumbs {
	border: none;
	border-radius: 0;
	p {
		width: 100%;
		text-align: center;
	}
	p, p a, span {
		font-size: .7rem;
	}
}
//Misc.
.vcard p { margin: 0; }
span.inline { padding-right: .5em; }
span.inline:first-child {
	border-right-style: solid;
	border-right-width: 1px;
	margin-right: .5em;
}
.table, .table-row, .table-cell {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.table { 
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: -webkit-linear-gradient(transparent 20%, rgba(#000000, .80)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(transparent 20%, rgba(#000000, .80)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(transparent 20%, rgba(#000000, .80)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(transparent 20%, rgba(#000000, .80)); /* Standard syntax */
}
// Diamond
.ring-box {
	display: inline-block;
	position: relative;
}
.diamond {
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 50px; 
	height: 50px;
	margin: 0 0 0 25px;
	/* Rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* Rotate Origin */
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.ring {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
// Contact Details
.vcard p, .vcard span, .vcard a { font-size: .8rem; }
.vcard {
	padding: 0;
	border: none;
	margin: 0;
	.fn.org { display: none; }
}
.street-address, .locale {
	display: inline-block;
	margin: 0 10px 0 0;
}
.street-address:after { content: ','; }

[class*="column"]+[class*="column"]:last-child { float: left; }



/*==========================================================================
Header
==========================================================================*/
// Header Container //
header.main {
	.logo, .logo img {
		display: block;
		margin: 0 auto;
	}
	.tel {
		display: inline-block;
		margin: 0;
		&:last-child {
			border-left-width: 1px;
			border-left-style: solid;
			padding-left: 10px;
			margin-left: 10px;
		}
	}
	.header-contents { padding: 1.2em 0 0; }
}
// Main Navigation //
nav.main {
	margin-top: 1em;
	position: relative;
	.menu > li:first-child a { padding-left: 0; }
	a {
		display: block;
		padding: .75em 0;
		letter-spacing: 3px;
		margin: 0;
	}
	.sub-menu {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		text-align: left;
        background-color: #fff;
		padding: 0 0 1.5em;
		display: none;
		overflow: hidden;
		box-shadow: 0 10px 10px rgba(#000000, .25);
		z-index: 20;
		.bull, a {
			display: block;
			float: left;
		}
		a { padding: 0; }
		.band {
			background-color: #000000;
			height: 5px;
			display: block;
			margin: 0 0 1.5em;
			width: 100%;
		}
	}
	.menu-image { text-align: right; }
	h3 { font-size: 2.2rem; }
	.links {
		-moz-column-count: 2;
		-moz-column-gap: 1.5em;
		-webkit-column-count: 2;
		-webkit-column-gap: 1.5em;
	}
	p { margin: 0; }
	.table-cell { width: auto; }
}
// Shop Navigation //
.shop-nav {
	margin-bottom: 1em;
	text-align: right;
}
.cart-quantity {
	display: inline-block;
	padding: .5em;
	font-size: .7rem;
	border-radius: 5px;
	margin-left: 1em;
	&:before {
		font-family: 'Ionicons';
		content: '\f167';
		padding-right: .3rem;
	}
}
nav.shop {
	display: inline-block;
	li {
		display: inline-block;
		padding-left: 1em;
	}
}
// Search Form
.sb-search {
	position: relative;
	width: 0%;
	min-width: 35px;
	height: 35px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	border: none;
}
input.sb-search-input[type=text] {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	width: 100%;
	height: 35px;
	margin: 0;
	z-index: 10;
	padding: .5em 48px .5em .5em;
	font-family: inherit;
	font-size: .9rem;
	border: none;
}
.sb-icon-search, .sb-search-submit  {
	width: 35px;
	height: 35px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 35px;
	text-align: center;
	cursor: pointer;
	border: none;
}
.sb-search-submit {
    opacity: 0;
	border: none;
	outline: none;
}
.sb-icon-search {
	z-index: 90;
	font-size: 1.5em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
// Social //
header.main {
	.social-connect, .social-share {
		text-align: left;
		a {
			font-size: 16px;
			display: inline-block;
			margin: .5em .25em 0 0;
		}
	}
	a.symbol:before { margin: 0; }
}
// Contact
header.main {
	.band {
		border-top-width: 5px;
		border-top-style: solid;
		width: 50%;
		margin-bottom: 1em;
	}
	.right-side .band { margin-left: 50%; }
	.vcard { text-align: left; }
}
// Backdrop
.backdrop {
	height: 350px;
	position: relative;
	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
	.table {
		width: 80%;
		margin: 0 auto;
		position: relative;
		z-index: 5;
	}
	h1, h3, p { 
		text-align: center;
		text-shadow: 0 0 5px rgba(#000, .8);
	}
	h1 {
		text-transform: capitalize;
		margin-bottom: .5rem;
		font: {
			size: 3.5rem;
			weight: normal;
		}
	}
}




/*==========================================================================
Footer
==========================================================================*/
// Footer Container
footer.main {
	margin-top: 4em;
	.upper {
		border-style: solid;
		border-width: 5px 0 1px 0;
	}
	.lower {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		padding: 1em 0;
	}
	p, span, a {
		font-size: .8rem;
		margin: 0;
	}
	.vcard {
		width: 100%;
	}
	.vcard p, .contact-details a {
		text-transform: uppercase;
	}
	.social {
		margin: 1em 0;
		text-align: right;
	}
	.social-connect {
		margin-left: -.5em;
		a {
			display: inline-block;
			padding-left: .25rem;
		}
	}
	.max-socialize .copyright p {
		padding-top: .5em;
	}
	.logo {
		display: block;
		margin-bottom: .5em;
	}
}
// Footer Navigation
nav.footer {
	ul { 
		text-align: left;
	}
	li {
		padding: 1em 1.5em 1em 0;
		display: inline-block;
	}
}
// Copyright
.copyright {
	p {
		padding: .5em 0;
	}
	a {
		font-size: .7rem;
		text-transform: uppercase;
	}
}
// Hours
.hour-container {
	border-style: solid;
	border-width: 0 1px 0 1px;
	h4 {
		font-size: 1.6rem;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 1rem;
	}
}
.hours {
	p {
		padding: 0;
		margin: 0 0 .5em;
		text-transform: uppercase;
	}
	span {
		font-weight: bold;
		padding: 0;
	}
}
// Extra
.extra {
	border: none;
	text-align: right;
}



/*==========================================================================
Page Sections
==========================================================================*/
// Section Container
.section {
	h2 {
		font-size: 3rem;
		line-height: normal;
		margin-bottom: 1rem;
	}
}
// Content
.section .type-content.has-bg {
	padding-right: 15%;
	background: {
		repeat: no-repeat;
	}
	&.first {
		padding-left: 15%;
		padding-right: 0.9375em;
	}
}
.section .gallery {
	.flush.pull-8.columns:last-child {
		padding: {
			left: 0;
			right: 0.9375em;
		}
	}
	.first li {
		text-align: right;
		img { display: inline; }
	}
	.int-slider {
		.slick-prev, .slick-next { bottom: -60px; }
		.slick-next { left: 35px; }
		.slick-prev { left: 0px; }
	}
	.first {
		.slick-prev {
			left: auto;
			right: 60px;
		}
		.slick-next {
			right: 20px;
			left: auto;
		}
	}
}
// Widget
.widget {
	padding: 1em 1.53em;
	.button {
		padding: .5em 1em;
		margin: 0 0 .5em;
		font-size: .75rem;
	}
	h3 {
		font: {
			size: 2.2rem;
			weight: normal;
		}
	}
	p a { text-decoration: underline; }
	p a.button { text-decoration: none; }
	.image.first { text-align: right; }
	label {
		font-size: .75rem;
		text-transform: uppercase;
	}
	.gform_wrapper input {
		border: none;
		&[type=text]  {
			padding: 1em;
			font-size: .8rem;
		}
	}
	.gform_wrapper .gform_footer {
		margin: 1em 0 0;
		padding: 0;
		input[type=submit]{ font-size: .8rem; }
	}
}
.type-widget.full {
	.align-inner { text-align: right; }
	.last.align-inner { text-align: left; }
}
// Share
.widget-share {
	text-align: center;
	h3 {
		font-size: 2.5rem;
		margin-top: 0;
		line-height: normal;
	}
	a { padding: 0 .25rem; }
}
// Testimonials
.widget-testimonial {
	h3 { margin: .5em 0 1em; }
	.diamond { margin-bottom: -25px; }
	.ring {
		@include fontStyle(heading, 7rem, normal);
		top: -28px;
		left: 4px;
		height: 0;
	}
	.button.share {
		background-color: transparent;
		padding: {
			left: 0;
			right: 0;
		}
		&:hover { background-color: transparent; }
	}
	.more { margin-right: 1em; }
	.testimonials, .orbit-bullets li { cursor: pointer; }
	&.full {
		text-align: center;
		.ring-box {
			display: block;
			text-align: center;
			width: 50px;
			height: 50px;
			margin: 0 auto .5em;
		}
	}
}
ul.testimonials {
	margin: 0;
	li {
		list-style-type: none;
		margin: 0;
		padding-right: 1px;
	}
}
.credit {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .7rem;
}
// Gallery
.widget-gallery {
	&.full {
		padding: 1em 25%;
		text-align: center;
	}
}
.image.first { text-align: right; }
// Forms
.main .widget .gform_wrapper {
	.top_label li.gfield.gf_left_half input.medium, .top_label li.gfield.gf_left_half input.large, .top_label li.gfield.gf_left_half select.medium, .top_label li.gfield.gf_left_half select.large, .top_label li.gfield.gf_right_half input.medium, .top_label li.gfield.gf_right_half input.large, .top_label li.gfield.gf_right_half select.medium, .top_label li.gfield.gf_right_half select.large, .top_label input.large, .top_label select.large, .top_label textarea.textarea, .ginput_complex .ginput_full input[type=text], .ginput_complex .ginput_full input[type=url], .ginput_complex .ginput_full input[type=email], .ginput_complex .ginput_full input[type=tel], .ginput_complex .ginput_full input[type=number], .ginput_complex .ginput_full input[type=password], .ginput_complex input[type=text], .ginput_complex input[type=url], .ginput_complex input[type=email], .ginput_complex input[type=tel], .ginput_complex input[type=number], .ginput_complex input[type=password], .ginput_complex select, .top_label input.medium, .top_label select.medium {
		font-size: .8rem;
		padding: .5em;
	}
	.top_label .gfield_label {
		font-size: .7rem;
	}
}



/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.home {
	header.main { width: 100%; }
	.header-contents {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
	}
	.home-slider, .home-slider div { height: 700px; }
	.home-slider { overflow: hidden; }
	.home-slider div {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.slide-caption {
		bottom: 2em;
		text-align: center;
		padding: 0;
		z-index: 5;
		position: relative;
		padding-top: 25%;
		h3 {
			font-size: 3rem;
			font-weight: normal;
			line-height: 4.25rem;
		}
		.button {
			text-transform: uppercase;
			letter-spacing: 3px;
			padding: .5em;
		}
	}
	.slick-dots {
		margin: .75em auto;
		position: absolute;
		top: auto;
		bottom: 10px;
		width: 100%;
		button {
			background-color: #fff;
			border-radius: 100%;
			height: 10px;
			width: 10px;
			margin: 0;
			&:before { content: ''; }
		}
		li {
			opacity: .5;
			width: auto;
			height: auto;
			&.slick-active { opacity: 1; }
		}
	}
	.slick-slide .table-row {
		position: relative;
		z-index: 100;
	}
	.backdrop { height: auto; }
}
// Blog //
header.blog {
	h3 {
		text-align: center;
		padding: .4em;
		font-size: 1.3rem;
		margin: 0;
	}
	.category span, select, .recent-entries a {
		display: inline-block;
		margin: .75em 0;
	}
	.recent-entries a {
		font-size: .8rem;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-top: .85rem;
	}
	.recent-entries { text-align: right; }
	select { 
		width: 80%;
		font-size: .7rem;
		height: auto;
	}
}
article.post {
	padding: 3em 0;
	text-align: center;
	&.full { padding-top: 3em; }
	.diamond {
		margin: 0 0 0 50px;
	}
	.divider .diamond {
		margin: 0 0 0 12px;
		&:first-child { margin: 0 0 0 5px; }
	}
	.ring {
		top: -5px;
		left: 13px;
		width: 75px;
		text-align: center;
	}
	time {
		span {
			@include fontStyle(heading);
			width: 75px;
			display: block;
			text-align: center;
			&.date {
				font-size: 1.8em;
				line-height: 1.3rem;
			}
			&.month {
				font-size: .7em;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
	}
	.featured {
		display: block;
		margin: 1em auto;
	}
	header h2 { margin-top: 1rem; }
}
.divider {
	margin: -2.5em auto 4em;
	text-align: center;
	.diamond {
		display: inline-block;
		position: relative;
		height: 8px;
		width: 8px;
		margin: 0 0 0 12px;
		&:first-child {
			margin: 0 0 0 5px;
		}
	}
}
.single {
	.has-featured {
		.ring-box {
			margin: -15px auto 50px;
			display: block;
			width: 96px;
		}
		.categorizing { margin-top: -2.5em; }
	}
	.ring-box { margin-top: 20px; }
	.divider { padding: 3em 0; }
}
.post-list {
	text-align: center;
	.post:first-child .divider { display: none; }	
	.ring-box { margin-top: 25px; }
}
.categorizing {
	text-align: center;	
	position: relative;
	z-index: 5;
}
div.main .categorizing {
	padding: 1em 0 2em;
	p, a {
		margin: 0;
		font: {
			style: italic;
			size: .8rem;
		}
	}
}
.continue-wrap {
	display: block;
	margin: 1em auto 0;
}
.continue {
	display: inline-block;
	padding: .25em 1em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: .8rem;
	white-space: nowrap;
}
#infscr-loading {
	padding:  0 0 3em;
	.loading {
		font-size: 3em;
	}
	img {
		display: none;
	}
}
#respond {
	margin-top: -1.8em;
	h3, h3 a, h3#comments {
		font-size: 2.8rem;
		padding: 0;
		margin: 0 0 .5em;
	}
	textarea, input[type=text], input[type=email] {
		width: 100%;
		border: none;
		padding: 1em;
	}
	label small {
		font-size: .8rem;
		text-transform: uppercase;
	}
	input[type=submit] {
		border: none;
		margin: 1em auto 3em;
		display: block;
		padding: .5em 1em;
	}
}
#commentform p {
	margin-bottom: .5em;
}
.comments {
	text-align: center;
}
.comment-body {
	padding: 2em;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		height: 1px;
		width: 30%;
		bottom: .5em;
		left: 35%;
	}
}
.comment-list li { list-style-type: none; }
.comment-list, .children { margin: 0 0 6em; }
.comment > .children { margin-bottom: 1em; }
.children li:last-child .comment-body:after { background-color: transparent; }
.comment-author {
	border: none;
	padding: 0;
	margin: 0;
}
.says { display: none; }
.comment-reply-link { text-transform: uppercase; }
.avatar { display: none; }
.comment-meta { margin-bottom: 1em; }
.comment-meta a { font-size: .7rem; }
.vcard cite.fn {
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
}
// Testimonials //
.test-container {
	max-width: 64em;
	padding: 4em 0 0;
	h1 {
		text-align: center;
		font-size: 2rem;
	}
	.columns:nth-child(odd) {
		clear: left;
	}
	blockquote {
		margin: 2em 0;
		border-left-width: 3px;
		p:last-child {
			margin-bottom: .25em;
		}
		cite {
			opacity: .7;
		}
	}
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
}
// 404 //
.error404 {
	.container .columns{
		margin: 4em auto;
	}
}



/*==========================================================================
Reveal Modal
==========================================================================*/
.reveal-modal {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border: none;
	.row {
		max-width: 100%;
	}
	.product-image img {
		display: block;
		margin: 0 auto;
	}
	.details {
		h1, h2, h3, h4, h5, h6, p {
			text-align: center;
		}
		.price {
			font-size: 1.1rem;
			margin-bottom: .25rem;
			display: block;
			text-align: center;
		}
		h3 {
			font-size: 1.7rem;
			margin: 0 0 1.25em;
			position: relative;
			&:after {
				display: block;
				width: 20%;
				margin: 1.2em auto 0;
				height: 1px;
				content: ' ';
				bottom: 0;
			}
		}
	}
	.form {
		margin: 2em 0 0;
		padding: 1em;
		input {
			margin-bottom: 0;
			outline: none;
			border: none;
		}
		.gform_wrapper {
			width: 100%;
			margin: 0;
			max-width: 100%;
			display: block !important;
		}
		.gform_wrapper .gform_heading {
			width: 100%;
		}
		.gform_wrapper h2.gsection_title, .gform_wrapper .gsection_description, .gform_wrapper h3.gform_title {
			margin: 0 0 .5em;
			letter-spacing: 3px !important;
			text-align: center;
			width: 100%;
		}
		.gform_wrapper span.gform_description {
			line-height: 1.8em;
			text-align: center;
			display: block;
		}
		.gform_wrapper .top_label .gfield_label {
			margin: 0;
			font: {
				weight: normal;
				size: .8rem;
			}
		}
		.gform_wrapper .gform_footer {
			margin: 0;
			padding: .25em 0 0;
		}
		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
			@include fontStyle(heading, .9rem, null, null, null, uppercase);
			margin: 0;
			padding: .5em 1em;
		}
		.alt-break, .alt {
			@include fontStyle(heading, 1.1rem, null, null, center, uppercase);
			margin: .5em 0;
		}
		.alt {
			padding: .5em;
			margin: 0;
		}
		.button {
			margin: 0;
			width: 100%;
		}
	}
	footer.reveal {
		padding: 1em 0;
		margin-top: 1em;
		border-top-width: 1px;
		border-top-style: solid;
		.row {
			margin: 0;
		}
		.columns {
			padding: 0;
		}
		.social a.symbol {
			font-size: 1.3rem;
			padding-right: .25em;
			display: inline-block;
			&:before {
				margin-right: 0;
			}
			&:hover {
				opacity: .8;
			}
		}
	}
	.controls {
		text-align: right;
		a {
			font-size: 2rem;
			display: inline-block;
			margin-left: 1em;
			&:hover {
				text-decoration: none;
				opacity: .8;
			}
			&.close-reveal-modal {
				position: relative;
				top: auto;
				right: auto;
				margin-left: 2em;
			}
		}
	}
}



/*==========================================================================
Jigoshop
==========================================================================*/
.post-type-archive-product, .tax-product_cat {
	footer.main {
		margin-top: 0;
	}
}
.product-nav.bottom {
	margin-bottom: 3em;
}
#breadcrumb {
	padding: .5em 1em;
	text: {
		align: center;
		transform: uppercase;
	}
	a { font-size: .75rem; }
}
.product-list {
	padding: 4em 0;
	li {
		list-style-type: none;
		&.first {
			clear: left;
		}
	}
	img {
		display: block;
		margin: 0 auto;
	}
	&[class*="block-grid-"] {
		margin: 0;
	}
}
.product {
	margin: {
		top: 1.5em;
		bottom: 1.5em;
	}
}
.product-thumb {
	.img { height: 300px; }
	.details {
		text-align: center;
		margin-top: 1.5em;
	}
	strong {
		@include fontStyle(paragraph, 1.1em, normal, normal, center, uppercase, null, 2px);
		display: block;
	}
}
.product-nav {
	.pagination {
		text-align: center;
		padding-top: .5em;
		padding-bottom: .5em;
		span, a, p {
			font-size: .9rem;
			line-height: normal;
			font-weight: bold;
		}
		a { font-weight: normal; }
		a.prev {
			float: left;
		}
		a.next {
			float: right;
		}
		.current {
			display: inline-block;
			height: 18px;
			width: 18px;
			text-align: center;
			font-size: .8rem;
			line-height: 1rem;
			top: -1px;
			position: relative;
		}
	}
	.navigation {
		padding-top: 2em;
		border-top-width: 0;
		border-top-style: solid;
		.nav-next, .nav-previous {
			a {
				@extend .button;
				padding: .5em;
				font-size: .75rem;
				text-transform: uppercase;
				letter-spacing: 3px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.nav-next {
			float: right;
		}
		.nav-previous {
			float: left;
		}
	}
	&.bottom {
		margin-bottom: 0;
		background-color: transparent;
		.pagination {
			padding: .5em 1em;
		}
	}
}
.cta-band {
	margin: 4em 0;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
	h3, p {
		text-align: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1, h2, h3, h4, h5 {
		&:after {
			display: block;
			width: 10%;
			margin: .4em auto;
			height: 1px;
			content: ' ';
			bottom: 0;
			opacity: .5;
		}
	}
	.button {
		padding: .5em 1em;
		text-transform: uppercase;
		font-size: .8rem;
		margin: .5em 0 0;
	}
	.content {
		position: relative;
		z-index: 5;
	}
	.expander {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100%;
		width: 300%;
		z-index: 0;
	}
}
.product-single {
	padding: 4em 0 0;
	.product-list {
		padding: 2em 0 0;
	}
}
.jigoshop-cart {
	input.qty {
		height: 22px;
	}
	.button {
		font-size: .8rem;
		text-transform: uppercase;
		width: auto !important;
	}
	.button-alt {
		border-radius: none !important;
	}
	.cart-collaterals {
		.cart_totals, .shipping_calculator {
			width: 35%;
			h2 {
				font-size: 1.3rem;
			}
		}
	}
}
.jigoshop a.remove {
	font-family: 'Ionicons' !important;
	content: '\f12a';
	text-indent: 0;
	background-color: transparent;
	background-image: none;
	height: auto;
	width: auto;
	&:hover {
		background-color: transparent;
	}
}
.jigoshop-cart input.qty { height: 35px; }
.jigoshop {
	form .form-row input.input-text, #content .form-row input.input-text, form .form-row textarea, #content .form-row textarea {
		padding: .75em;
	}
}



/*==========================================================================
Gravity Forms
==========================================================================*/
.main .gform_wrapper {
	.top_label .gfield_label {
		font-weight: normal !important;
	}
	.top_label li.gfield.gf_left_half input.medium, .top_label li.gfield.gf_left_half input.large, .top_label li.gfield.gf_left_half select.medium, .top_label li.gfield.gf_left_half select.large, .top_label li.gfield.gf_right_half input.medium, .top_label li.gfield.gf_right_half input.large, .top_label li.gfield.gf_right_half select.medium, .top_label li.gfield.gf_right_half select.large,
	.top_label input.large, .top_label select.large, .top_label textarea.textarea,
	.ginput_complex .ginput_full input[type=text], .ginput_complex .ginput_full input[type=url], .ginput_complex .ginput_full input[type=email], .ginput_complex .ginput_full input[type=tel], .ginput_complex .ginput_full input[type=number], .ginput_complex .ginput_full input[type=password],
	.ginput_complex input[type=text], .ginput_complex input[type=url], .ginput_complex input[type=email], .ginput_complex input[type=tel], .ginput_complex input[type=number], .ginput_complex input[type=password], .ginput_complex select,
	.top_label input.medium, .top_label select.medium {
		padding: .75em;
		font-size: 1em;
	}
	.ginput_complex .ginput_left, .ginput_complex .ginput_right, .ginput_complex .ginput_full {
		overflow: visible;
	}
	input[type=submit]{
		padding: .5em;
	}
	li.gfield.gfield_error.gfield_contains_required label.gfield_label, li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		margin: 0;
	}
	.validation_message {
		font: {
			weight: normal;
			size: .7rem;
		}
	}
	.top_label .gfield_description.validation_message, .gfield_description.validation_message {
		padding: 0;
	}
}



/*==========================================================================
Responsive
==========================================================================*/
@import "responsive";

