/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body, .primary {
  background-color: #fff;
}
body h1, .primary h1, body h1 a, .primary h1 a, body h2, .primary h2, body h3, .primary h3, body h4, .primary h4, body h5, .primary h5, body h6, .primary h6, body a, .primary a {
  color: #d93;
}
body p, .primary p, body ol, .primary ol, body ul, .primary ul, body li, .primary li, body blockquote, .primary blockquote, body dl, .primary dl, body dt, .primary dt, body dd, .primary dd, body table, .primary table, body tr, .primary tr, body td, .primary td, body span, .primary span, body pre, .primary pre, body label, .primary label, body input, .primary input, body textarea, .primary textarea {
  color: #565656;
}
body blockquote p, .primary blockquote p, body blockquote ol, .primary blockquote ol, body blockquote ul, .primary blockquote ul, body blockquote li, .primary blockquote li, body blockquote span, .primary blockquote span {
  color: #565656;
}
.secondary {
  background-color: #565656;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h1 a, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary a {
  color: #fff;
}
.tertiary p, .tertiary ol, .tertiary ul, .tertiary li, .tertiary blockquote, .tertiary dl, .tertiary dt, .tertiary dd, .tertiary table, .tertiary tr, .tertiary td, .tertiary span, .tertiary pre, .tertiary label, .tertiary input, .tertiary textarea {
  color: #fff;
}
.quaternary, .has-bg {
  background-color: #d93;
}
.quaternary h1, .has-bg h1, .quaternary h1 a, .has-bg h1 a, .quaternary h2, .has-bg h2, .quaternary h3, .has-bg h3, .quaternary h4, .has-bg h4, .quaternary h5, .has-bg h5, .quaternary h6, .has-bg h6, .quaternary a, .has-bg a {
  color: #000;
}
.quaternary p, .has-bg p, .quaternary ol, .has-bg ol, .quaternary ul, .has-bg ul, .quaternary li, .has-bg li, .quaternary blockquote, .has-bg blockquote, .quaternary dl, .has-bg dl, .quaternary dt, .has-bg dt, .quaternary dd, .has-bg dd, .quaternary table, .has-bg table, .quaternary tr, .has-bg tr, .quaternary td, .has-bg td, .quaternary span, .has-bg span, .quaternary pre, .has-bg pre, .quaternary label, .has-bg label, .quaternary input, .has-bg input, .quaternary textarea, .has-bg textarea {
  color: #000;
}
.quaternary blockquote p, .has-bg blockquote p, .quaternary blockquote ol, .has-bg blockquote ol, .quaternary blockquote ul, .has-bg blockquote ul, .quaternary blockquote li, .has-bg blockquote li, .quaternary blockquote span, .has-bg blockquote span {
  color: #565656;
}
.quaternary .button, .has-bg .button {
  color: #d93;
  background-color: #000;
}
.quaternary .button:hover, .has-bg .button:hover, .quaternary .button:active, .has-bg .button:active {
  color: #d93;
  background-color: #7c5315;
}
.quaternary.widget-hours p, .has-bg.widget-hours p {
  border-top-color: rgba(124, 83, 21, .5);
}
.expander {
  background-color: rgba(0, 0, 0, 0.45);
}
.expander h1, .expander h1 a, .expander h2, .expander h3, .expander h4, .expander h5, .expander h6, .expander p, .expander ol, .expander ul, .expander li, .expander blockquote, .expander dl, .expander dt, .expander dd, .expander table, .expander tr, .expander td, .expander span, .expander pre {
  color: #fff;
}
.expander a {
  color: #bfbfbf;
}
.expander blockquote p, .expander blockquote ol, .expander blockquote ul, .expander blockquote li, .expander blockquote span {
  color: #fff;
}
.arrow-up-large {
  border-bottom-color: rgba(0, 0, 0, 0.45);
}
body {
  background-color: #1e9ad8;
  color: #565656;
}
a.button, a.continue {
  background-color: #d93;
  color: #000;
}
a.button:hover, a.continue:hover {
  background-color: #d93;
}
input, textarea {
  border-color: #d93;
}
input[type=submit] {
  background-color: #d93;
  color: #fff;
}
input[type=submit]:hover, input[type=submit]:active {
  background-color: #fff;
  color: #d93;
}
header.main div, header.main p, header.main a, header.main span {
  color: #000;
}
header.main .upper .social, header.main .upper nav {
  border-color: rgba(0, 0, 0, .5);
}
header.main nav.main .menu ul, header.main nav.main .menu ul li:hover {
  background-color: rgba(189, 126, 32, .9);
}
header.main nav.main ul li, header.main nav.main ul {
  border-color: #d93;
}
aside.sidebar .widget {
  border-left-color: rgba(86, 86, 86, .25);
}
aside.sidebar .widget:after {
  background-color: rgba(86, 86, 86, .5);
}
aside.sidebar .widget-hours .hours p {
  border-top-color: rgba(86, 86, 86, .25);
}
aside.sidebar li {
  border-color: rgba(86, 86, 86, .1);
}
aside.sidebar #wp-calendar caption {
  color: #d93;
}
footer.main p, footer.main a, footer.main span {
  color: #fff;
}
.post time {
  background-color: #d93;
}
.post time span {
  color: #fff;
}
.the-post:after {
  background-color: #d6d6d6;
}
.comment-list .children, .comments {
  background-color: rgba(86, 86, 86, .1);
}
.comment-list .comment, .comment-intro, .the-post, footer.post {
  border-color: #d6d6d6;
}
.comment .fn {
  color: #d93;
}
.gallery-overlay {
  background-color: rgba(30, 154, 216, .75);
}
.gallery-overlay h4, .gallery-overlay p {
  color: #fff;
}
.product-nav {
  border-color: #d6d6d6;
}
div.product #tabs ul.tabs {
  background-color: #d9d9d9;
}
.single-product div.product #tabs .panel {
  background-color: #fff;
  border-color: #d9d9d9;
}
div.product #tabs ul.tabs li.active {
  background-color: #fff;
}
div.product #tabs ul.tabs a {
  background-color: #d9d9d9;
  color: #808080;
}
div.product #tabs ul.tabs a:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.interest-form .alt {
  background-color: #fff;
  color: #1e9ad8;
}
.jigoshop #breadcrumb, .jigoshop #breadcrumb a {
  color: #fff;
}
@media only screen and (max-width: 40em) {
  aside.sidebar {
    background-color: #ededed;
  }
  .sticky aside.sidebar {
    background-color: rgba(0, 0, 0, 0.45);
  }
}
@media only screen and (min-width: 40.063em) {
  /* min-width 641px, medium screens */}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */}
@media only screen and (min-width: 64.063em) {
  /* min-width 1025px, large screens */}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */}
@media only screen and (min-width: 90.063em) {
  /* min-width 1441px, xlarge screens */}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */}
@media only screen and (min-width: 120.063em) {
  /* min-width 1921px, xxlarge screens */}
