/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/* Small screens */
/*==========================================================================
	Containers & Shared Styles
	==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
h1, h1 a, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
}
h1, h1 a {
  margin: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5, h6 {
  font-size: 1.1rem;
}
h4, h6 {
  font-weight: 400;
}
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}
a, input[type=submit] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover, input[type=submit]:hover {
  opacity: 0.8;
}
blockquote {
  padding: 0 0 0 1em;
  border-left-width: 5px;
  border-left-style: solid;
}
blockquote p, blockquote li {
  font-weight: 300;
  font-size: 0.8rem;
}
.vcard {
  border: none;
  padding: 0;
  display: block;
  margin: 0;
}
.fn.org {
  display: none;
}
.button, .continue {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5em 1.5em;
  margin-top: 1.5em;
}
input, textarea {
  width: 100%;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin: 0.5em 1.5em 0.5em 0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin: 0.5em 0 0.5em 1.5em;
}
.aligncenter, img.aligncenter {
  margin: 0.5em auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
article.main hr {
  border: none;
  height: 1px;
  width: 30%;
  margin: 1em 0;
  /*==========================================================================
Containers & Shared Styles
==========================================================================*/
}
body, html {
  min-height: 100%;
  height: 100%;
}
.row {
  max-width: 100%;
}
.menu {
  margin: 0;
}
.page .sticky {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.backdrop.slider {
  position: relative;
}
.backdrop.short, .backdrop.short .spacer {
  height: 300px;
}
.backdrop.medium, .backdrop.medium .spacer {
  height: 450px;
}
.backdrop.tall, .backdrop.tall .spacer {
  height: 600px;
}
.backdrop.full-height, .backdrop.full-height .backdrop-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.backdrop.static {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.spacer {
  display: block;
}
.container {
  padding: 1.5em 0;
}
.columns {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.row .row {
  margin-left: -1.5em;
  margin-right: -1.5em;
}
.has-bg {
  padding: 1.5em;
}
.expander {
  padding: 0;
  position: relative;
}
.expander .content {
  overflow-y: auto;
}
.expander div.main .content.scrolling {
  padding-right: 1em;
  margin-top: 1em;
}
.control:hover {
  opacity: 1;
}
.arrow-up-large {
  position: absolute;
  top: -40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 20px;
}
.arrow-up-large span {
  position: absolute;
  left: -5px;
  top: 5px;
  font-size: 12px;
}
.prepend {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
.breadcrumbs {
  border: none;
  border-radius: 0;
}
.breadcrumbs p {
  width: 100%;
  text-align: center;
}
.breadcrumbs p, .breadcrumbs p a, .breadcrumbs span {
  font-size: 0.7rem;
}
.table, .table-row, .table-cell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.img-zoom, .gallery-image > a {
  display: block;
  overflow: hidden;
  /*==========================================================================
Header
==========================================================================*/
}
.img-zoom img, .gallery-image > a img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.img-zoom:hover img, .gallery-image > a:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
header.main {
  position: relative;
  z-index: 10;
  padding: 0.75em 0;
}
header.main nav {
  text-align: right;
}
header.main nav ul, header.main nav li {
  margin: 0;
}
header.main nav li {
  list-style-type: none;
  display: inline-block;
}
header.main .upper {
  text-align: right;
}
header.main .upper div, header.main .upper p, header.main .upper span, header.main .upper a {
  margin: 0 0 0 0.25em;
  font-size: 0.7rem;
}
header.main .upper .social, header.main .upper nav, header.main .upper .custom {
  display: inline-block;
  border-left-width: 1px;
  border-left-style: solid;
  line-height: 1rem;
  margin-left: 0.75em;
}
header.main .upper .social:first-child, header.main .upper nav:first-child, header.main .upper .custom:first-child {
  border: none;
  padding: 0;
  margin: 0;
}
header.main .upper .social a, header.main .upper nav a, header.main .upper .custom a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}
header.main .upper .social a:hover, header.main .upper nav a:hover, header.main .upper .custom a:hover {
  opacity: 1;
}
header.main .upper .social a {
  font-size: 1.1rem;
  line-height: -0.5em;
  vertical-align: middle;
  display: inline-block;
}
header.main .upper nav li {
  padding-left: 1em;
}
header.main .upper nav a {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
}
header.main .upper .vcard {
  display: inline-block;
}
header.main .upper .vcard div, header.main .upper .vcard p {
  display: inline-block;
}
header.main .upper .vcard .org {
  display: none;
}
nav.main {
  margin-top: 1.25em;
}
nav.main .menu {
  margin: 0;
}
nav.main .menu > li {
  padding-left: 1.5em;
  position: relative;
}
nav.main .menu > li:hover > .sub-menu, nav.main .menu .sub-menu li:hover > .sub-menu {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: translateZ(0);
}
nav.main .menu .sub-menu li {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  font-size: 0.9em;
  position: relative;
  -webkit-transform: translateZ(0);
  list-style-type: none;
  text-align: left;
}
nav.main .menu .sub-menu li:hover > .sub-menu {
  right: 100%;
  top: 0;
}
nav.main .menu .sub-menu li a {
  white-space: nowrap;
  display: block;
  width: 100%;
  padding: 0.5em 1em;
}
nav.main .menu .sub-menu .sub-menu {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}
nav.main a {
  font-size: 1.1em;
  font-weight: 300;
  -webkit-transform: translateZ(0);
}
nav.main .sub-menu {
  display: none;
  position: relative;
  z-index: 100;
}
.tinynav {
  display: none;
  /*==========================================================================
Footer
==========================================================================*/
}
footer.main {
  padding: 1em 0;
}
footer.main p {
  padding: 0.25em 0 0;
  margin: 0;
}
footer.main p, nav.footer p, footer.main a, nav.footer a {
  font-size: 0.7rem;
  font-weight: 300;
}
nav.footer {
  /*==========================================================================
Sidebar
==========================================================================*/
}
nav.footer li {
  padding: 0 0 0 0.25em;
  display: inline-block;
}
nav.footer .menu {
  text-align: right;
}
aside.sidebar {
  position: relative;
  /*==========================================================================
Page Specific
==========================================================================*/
}
aside.sidebar .contact-details p, aside.sidebar .contact-details span, aside.sidebar .contact-details a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
}
aside.sidebar .widget {
  margin: 3em 0;
  position: relative;
}
aside.sidebar .widget.has-bg {
  margin: 1.5em 0;
  border: none;
}
aside.sidebar .widget:first-child {
  margin-top: 1.5em;
}
aside.sidebar .widget .button {
  margin-bottom: 0;
}
aside.sidebar .widget.has-bg:after, aside.sidebar .widget:last-child:after {
  height: 0;
}
aside.sidebar .widget h3 {
  margin: 0 0 1em;
}
aside.sidebar .widget ul {
  margin: 0;
}
aside.sidebar .widget ul li {
  list-style-type: none;
  padding: 0.5em 0;
  border-top-width: 1px;
  border-top-style: solid;
}
aside.sidebar .widget #wp-calendar {
  width: 100%;
  text-align: center;
}
aside.sidebar .widget #wp-calendar th {
  text-align: center;
}
aside.sidebar .widget #wp-calendar caption {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1em;
}
aside.sidebar .widget #searchform input {
  display: inline-block;
}
aside.sidebar .widget #s {
  width: 70%;
}
aside.sidebar .widget #searchsubmit {
  width: 28%;
}
aside.sidebar .widget-hours .day, aside.sidebar .widget-hours time {
  display: inline-block;
  width: 48%;
}
aside.sidebar .widget-hours .day {
  width: 30%;
  font-weight: 600;
}
aside.sidebar .widget-hours time {
  width: 65%;
  margin-left: 3%;
}
aside.sidebar .widget-hours p {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0.75em 0;
  margin: 0;
}
.backdrop .slider, .backdrop .orbit-container, .backdrop .orbit-container .orbit-slides-container, .backdrop .slider li {
  width: 100%;
  height: 100% !important;
}
.backdrop .orbit-timer {
  display: none;
}
.backdrop .slider li {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-title {
  text-transform: uppercase;
  margin-bottom: 2.5em;
}
.post-list .the-post {
  padding-bottom: 1.5em;
}
.post-list .no-date .the-post {
  padding-left: 0;
}
.single time {
  float: left;
  margin: 0 2em 1em 0;
}
article.post h1, article.post h2 {
  line-height: 1em;
  margin: 0;
  font-weight: normal;
}
article.post h1 a, article.post h2 a {
  font-size: 1em;
}
article.post .featured-image {
  margin-bottom: 1em;
}
article.post p:last-child {
  margin-bottom: 0;
}
.the-post {
  position: relative;
  margin-bottom: 2em;
}
.the-post:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 1px;
  display: block;
}
.single .the-post {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.single .the-post:after {
  height: 0;
}
.categorizing {
  margin: 0.25em 0 1.25em;
}
footer.post {
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 2em;
}
.continue-wrap {
  display: block;
  text-align: right;
}
.continue {
  display: inline-block;
  margin-bottom: 0;
  padding: 0.5em 1em;
}
.pagination {
  text-align: right;
  font-size: 0.9rem;
}
.pagination span, .pagination a {
  display: inline-block;
  padding: 0.25rem;
}
.pagination .current {
  font-weight: bold;
  padding: 0.25em 0.5em;
}
div.main p.categories, div.main p.tags {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.7em;
}
.search-results {
  margin-bottom: 1.5em;
}
.comments {
  padding: 1em;
}
.comments label {
  display: block;
}
.comments .form-submit {
  margin: 0;
  text-align: right;
}
.comments input[type=submit] {
  display: inline-block;
  width: auto;
}
.comments input[type=submit]:after {
  content: '\00bb';
}
.comments .comment-form-author, .comments .comment-form-email {
  float: left;
  width: 48%;
}
.comments .comment-form-author {
  margin-right: 4%;
}
.comments .comment-form-url {
  clear: both;
}
.comment-list {
  margin: 0;
}
.comment-list li {
  list-style-type: none;
  padding: 1.5em 0;
}
.comment-list .children {
  margin: 1.5em 0 0 0;
  padding: 0 1.5em;
}
.comment-list .avatar {
  display: none;
}
.comment-list .comment-author .fn, .comment-list .comment-author .says {
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
}
.comment-list .comment-meta a, .comment-list .comment-reply-link {
  font-size: 0.7rem;
}
.comment-list .comment-meta a {
  margin-bottom: 1rem;
  display: block;
}
.comment-list .comment {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.comment-list .comment:last-child {
  border: none;
}
.comment-intro {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}
footer.post {
  padding: 1em 0;
}
.post.gallery header {
  margin-bottom: 2em;
}
.post.gallery .the-post {
  border: none;
  padding: 0;
}
.flexslider .slides {
  margin: 0;
}
.gallery [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.single .gallery .content {
  margin-bottom: 4em;
}
.single .gallery .categorizing {
  margin: 0;
}
.gallery-image {
  margin-bottom: 1em;
  position: relative;
}
.gallery-image img {
  margin: 0;
  min-width: 100%;
}
.gallery-image.no-space {
  padding: 0;
  margin: 0;
}
.gallery-image.full {
  width: 100%;
  background-image: url(plugins/skins/loading-medium.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
.gallery-image.full img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
#carousel .slides li {
  margin: 0;
}
ol.flex-control-nav {
  margin: 0;
  text-align: center;
}
.counter {
  font-size: 0.8rem;
}
.gallery-list .gallery-image {
  position: relative;
  overflow: hidden;
}
.jigoshop #breadcrumb {
  padding: 0.5em 1.5em;
}
.shop-list {
  padding: 3em 0;
}
.product-nav {
  padding: 0.5em 0;
  border-style: solid;
}
.product-nav.top {
  border-width: 0 0 1px 0;
}
.product-nav.bottom {
  border-width: 1px 0 0 0;
}
.product-list {
  margin: 1.5em 0;
}
.error404 {
  /*==========================================================================
Gravity Forms
==========================================================================*/
}
.error404 div.main {
  padding: 4em 0;
}
.error404 header.main {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
}
.gform_wrapper {
  /*==========================================================================
Responsive Styles
==========================================================================*/
}
.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  padding: 0.5em;
  border-style: solid;
}
.gform_wrapper .top_label .gfield_label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.gform_wrapper .gform_footer {
  margin: 0;
  padding: 0;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 0;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  margin: 1em 0;
}
.gform_wrapper div.validation_error {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin: 0;
}
.gform_wrapper .ginput_container + .gfield_description.validation_message, .gform_wrapper .ginput_container + .gfield_description {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  padding: 0 !important;
  margin: 0.5em 0 0;
}
@media only screen and (max-width: 40em) {
  /* Medium screens */  .page .sticky {
    position: relative;
  }
  .arrow-up-large {
    display: none;
  }
  .expander {
    padding: 1.5em 0 0;
  }
  .expander aside.sidebar {
    padding: 1.5em 1em;
    margin-top: 1em;
  }
  .container {
    padding-bottom: 0;
  }
  div.main {
    padding-bottom: 1.5em;
  }
  .backdrop, .backstretch, .backdrop.static, .backdrop.slider, .backdrop-images {
    height: 400px !important;
    position: relative;
    /*==========================================================================
	Header
	==========================================================================*/
  }
  header.main {
    text-align: center;
    /*==========================================================================
	Footer
	==========================================================================*/
  }
  header.main .menu {
    text-align: center;
  }
  header.main nav.top-nav {
    width: 100%;
    margin-top: 1.5em;
  }
  footer.main {
    text-align: center;
    /*==========================================================================
	Page Specific
	==========================================================================*/
  }
  footer.main nav.footer li {
    padding: 0.25em 0.25em;
  }
  .the-post header .category {
    text-align: center;
  }
  .the-post header time {
    padding: 0.5em;
    margin-bottom: 1em;
    display: inline-block;
  }
  .the-post header time span {
    padding: 0 0.25em;
  }
  .tinynav {
    display: block;
    margin: 0 0 1.5em;
  }
  nav.main ul.menu {
    display: none;
  }
  .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
    width: 100% !important;
  }
  .gform_wrapper .top_label li.gfield.gf_left_half input.medium, .gform_wrapper .top_label li.gfield.gf_left_half input.large, .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .gform_wrapper .top_label li.gfield.gf_left_half select.large, .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .gform_wrapper .top_label li.gfield.gf_right_half input.large, .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .gform_wrapper .top_label li.gfield.gf_right_half select.large {
    width: 99% !important;
  }
  .expander h1 a {
    cursor: default;
  }
  .social, header.main .social, footer.main .social, aside.sidebar .social {
    margin: 1em 0;
    display: block;
    text-align: center;
    border: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  article.post time {
    display: block;
    padding: 1em 0;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 100%;
  }
  article.post time span {
    display: inline-block;
    text-align: center;
  }
  article.post time .date {
    font-size: 2em;
    display: block;
    margin-bottom: 0.05em;
    opacity: 0.5;
    line-height: 0.9em;
  }
  article.post time .year {
    margin-left: 0.35em;
  }
  .post-list .the-post {
    padding-left: 100px;
    padding-bottom: 1.5em;
  }
  .post-list time {
    position: absolute;
    top: auto;
    left: 0;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body, .primary {
  background-color: #fff;
}
body h1, .primary h1, body h1 a, .primary h1 a, body h2, .primary h2, body h3, .primary h3, body h4, .primary h4, body h5, .primary h5, body h6, .primary h6, body a, .primary a {
  color: #d93;
}
body p, .primary p, body ol, .primary ol, body ul, .primary ul, body li, .primary li, body blockquote, .primary blockquote, body dl, .primary dl, body dt, .primary dt, body dd, .primary dd, body table, .primary table, body tr, .primary tr, body td, .primary td, body span, .primary span, body pre, .primary pre, body label, .primary label, body input, .primary input, body textarea, .primary textarea {
  color: #565656;
}
body blockquote p, .primary blockquote p, body blockquote ol, .primary blockquote ol, body blockquote ul, .primary blockquote ul, body blockquote li, .primary blockquote li, body blockquote span, .primary blockquote span {
  color: #565656;
}
.secondary {
  background-color: #565656;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h1 a, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary a {
  color: #fff;
}
.tertiary p, .tertiary ol, .tertiary ul, .tertiary li, .tertiary blockquote, .tertiary dl, .tertiary dt, .tertiary dd, .tertiary table, .tertiary tr, .tertiary td, .tertiary span, .tertiary pre, .tertiary label, .tertiary input, .tertiary textarea {
  color: #fff;
}
.quaternary, .has-bg {
  background-color: #d93;
}
.quaternary h1, .has-bg h1, .quaternary h1 a, .has-bg h1 a, .quaternary h2, .has-bg h2, .quaternary h3, .has-bg h3, .quaternary h4, .has-bg h4, .quaternary h5, .has-bg h5, .quaternary h6, .has-bg h6, .quaternary a, .has-bg a {
  color: #000;
}
.quaternary p, .has-bg p, .quaternary ol, .has-bg ol, .quaternary ul, .has-bg ul, .quaternary li, .has-bg li, .quaternary blockquote, .has-bg blockquote, .quaternary dl, .has-bg dl, .quaternary dt, .has-bg dt, .quaternary dd, .has-bg dd, .quaternary table, .has-bg table, .quaternary tr, .has-bg tr, .quaternary td, .has-bg td, .quaternary span, .has-bg span, .quaternary pre, .has-bg pre, .quaternary label, .has-bg label, .quaternary input, .has-bg input, .quaternary textarea, .has-bg textarea {
  color: #000;
}
.quaternary blockquote p, .has-bg blockquote p, .quaternary blockquote ol, .has-bg blockquote ol, .quaternary blockquote ul, .has-bg blockquote ul, .quaternary blockquote li, .has-bg blockquote li, .quaternary blockquote span, .has-bg blockquote span {
  color: #565656;
}
.quaternary .button, .has-bg .button {
  color: #d93;
  background-color: #000;
}
.quaternary .button:hover, .has-bg .button:hover, .quaternary .button:active, .has-bg .button:active {
  color: #d93;
  background-color: #7c5315;
}
.quaternary.widget-hours p, .has-bg.widget-hours p {
  border-top-color: rgba(124, 83, 21, .5);
}
.expander {
  background-color: rgba(0, 0, 0, 0.45);
}
.expander h1, .expander h1 a, .expander h2, .expander h3, .expander h4, .expander h5, .expander h6, .expander p, .expander ol, .expander ul, .expander li, .expander blockquote, .expander dl, .expander dt, .expander dd, .expander table, .expander tr, .expander td, .expander span, .expander pre {
  color: #fff;
}
.expander a {
  color: #bfbfbf;
}
.expander blockquote p, .expander blockquote ol, .expander blockquote ul, .expander blockquote li, .expander blockquote span {
  color: #fff;
}
.arrow-up-large {
  border-bottom-color: rgba(0, 0, 0, 0.45);
}
body {
  background-color: #1e9ad8;
  color: #565656;
}
a.button, a.continue {
  background-color: #d93;
  color: #000;
}
a.button:hover, a.continue:hover {
  background-color: #d93;
}
input, textarea {
  border-color: #d93;
}
input[type=submit] {
  background-color: #d93;
  color: #fff;
}
input[type=submit]:hover, input[type=submit]:active {
  background-color: #fff;
  color: #d93;
}
header.main div, header.main p, header.main a, header.main span {
  color: #000;
}
header.main .upper .social, header.main .upper nav {
  border-color: rgba(0, 0, 0, .5);
}
header.main nav.main .menu ul, header.main nav.main .menu ul li:hover {
  background-color: rgba(189, 126, 32, .9);
}
header.main nav.main ul li, header.main nav.main ul {
  border-color: #d93;
}
aside.sidebar .widget {
  border-left-color: rgba(86, 86, 86, .25);
}
aside.sidebar .widget:after {
  background-color: rgba(86, 86, 86, .5);
}
aside.sidebar .widget-hours .hours p {
  border-top-color: rgba(86, 86, 86, .25);
}
aside.sidebar li {
  border-color: rgba(86, 86, 86, .1);
}
aside.sidebar #wp-calendar caption {
  color: #d93;
}
footer.main p, footer.main a, footer.main span {
  color: #fff;
}
.post time {
  background-color: #d93;
}
.post time span {
  color: #fff;
}
.the-post:after {
  background-color: #d6d6d6;
}
.comment-list .children, .comments {
  background-color: rgba(86, 86, 86, .1);
}
.comment-list .comment, .comment-intro, .the-post, footer.post {
  border-color: #d6d6d6;
}
.comment .fn {
  color: #d93;
}
.gallery-overlay {
  background-color: rgba(30, 154, 216, .75);
}
.gallery-overlay h4, .gallery-overlay p {
  color: #fff;
}
.product-nav {
  border-color: #d6d6d6;
}
div.product #tabs ul.tabs {
  background-color: #d9d9d9;
}
.single-product div.product #tabs .panel {
  background-color: #fff;
  border-color: #d9d9d9;
}
div.product #tabs ul.tabs li.active {
  background-color: #fff;
}
div.product #tabs ul.tabs a {
  background-color: #d9d9d9;
  color: #808080;
}
div.product #tabs ul.tabs a:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.interest-form .alt {
  background-color: #fff;
  color: #1e9ad8;
}
.jigoshop #breadcrumb, .jigoshop #breadcrumb a {
  color: #fff;
}
@media only screen and (max-width: 40em) {
  aside.sidebar {
    background-color: #ededed;
  }
  .sticky aside.sidebar {
    background-color: rgba(0, 0, 0, 0.45);
  }
}
@media only screen and (min-width: 40.063em) {
  /* min-width 641px, medium screens */}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */}
@media only screen and (min-width: 64.063em) {
  /* min-width 1025px, large screens */}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */}
@media only screen and (min-width: 90.063em) {
  /* min-width 1441px, xlarge screens */}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */}
@media only screen and (min-width: 120.063em) {
  /* min-width 1921px, xxlarge screens */}
