.acf-tab-wrap {
  clear: left;
}
.content_content {
	clear: both;
}
.acf-input-table > tbody > tr.acf-row:nth-child(odd) > td.order, .acf-input-table > tbody > tr.acf-row:nth-child(odd) > td.remove, tr.acf-row:nth-child(odd) .acf-tab-group { background-color: #dbf4fe; }
tr.acf-row:nth-child(odd) .acf-fields > .acf-field, tr.acf-row:nth-child(odd) .acf-tab-group li.active a { background-color: #f3fcff; }
tr.acf-row:nth-child(odd) .acf-tab-group li a { background-color: #aedaeb;}
.acf-postbox h3.hndle { background-color: #0074a2; color: #fff;}
tr.acf-row:nth-child(odd) td { background-color: #f3fcff; }
tr.acf-row tr.acf-row:nth-child(even) td, tr.acf-row tr.acf-row:nth-child(even) .acf-fields > .acf-field { background-color: #fff; }

.acf-postbox h3.hndle:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	padding-right: 10px;
}
#acf-group_542318faeecdd h3.hndle:before {
	content: "\f107";
}
#acf-group_542318fa9eef3 h3.hndle:before {
	content: "\f309";
}
#acf-group_542318fb727c3 h3.hndle:before {
	content: "\f181";
}
#acf-group_542318fadf2dd h3.hndle:before {
	content: "\f164";
}