.acf-tab-wrap {
  clear: left;
}
.content_content {
	clear: both;
}
.acf-input-table > tbody > tr.acf-row:nth-child(even) > td.order, .acf-input-table > tbody > tr.acf-row:nth-child(even) > td.remove, tr.acf-row:nth-child(even) .acf-tab-group { background-color: #dbf4fe; }
tr.acf-row:nth-child(even) .acf-fields > .acf-field, tr.acf-row:nth-child(even) .acf-tab-group li.active a { background-color: #f3fcff; }
tr.acf-row:nth-child(even) .acf-tab-group li a { background-color: #aedaeb;}
.acf-postbox h3.hndle.ui-sortable-handle, .acf-postbox h3.hndle { background-color: #0074a2; color: #fff;}
tr.acf-row:nth-child(even) td { background-color: #f3fcff; }
tr.acf-row tr.acf-row:nth-child(even) td, tr.acf-row tr.acf-row:nth-child(even) .acf-fields > .acf-field { background-color: #fff; }

#acf-group_546eaf6f3fd76 h3.hndle.ui-sortable-handle:before,
#acf-group_546157d9c7add h3.hndle.ui-sortable-handle:before,
#acf-group_546e1e2d02081 h3.hndle.ui-sortable-handle:before,
#acf-group_542318fa9eef3 h3.hndle:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1 'dashicons';
	vertical-align: top;
	padding-right: 10px;
}
#acf-group_546eaf6f3fd76 h3.hndle.ui-sortable-handle:before,
#acf-group_546e1e2d02081 h3.hndle.ui-sortable-handle:before {
	content: "\f479";
}
#acf-group_546157d9c7add h3.hndle.ui-sortable-handle:before {
	content: "\f508";
}
#acf-group_542318fa9eef3 h3.hndle:before {
	content: "\f309";
}