/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5, h6 {
  font-size: 1.1rem;
}
h4, h6 {
  font-weight: 400;
}
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
}
a, input[type=submit] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
blockquote {
  padding: 0 0 0 1em;
  border-left-width: 5px;
  border-left-style: solid;
}
blockquote p, blockquote li {
  font-weight: 300;
  font-size: 0.85rem;
}
.vcard {
  border: none;
  padding: 0;
  display: block;
  margin: 0;
}
.fn.org {
  display: none;
}
.button, .continue {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5em 1.5em;
  margin-top: 1.5em;
}
input, textarea {
  width: 100%;
  border-width: 3px;
  border-style: solid;
  padding: 0.5em;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin: 0.5em 1.5em 0.5em 0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin: 0.5em 0 0.5em 1.5em;
}
.aligncenter, img.aligncenter {
  margin: 0.5em auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
#wp-calendar {
  width: 100%;
}
#wp-calendar th, #wp-calendar td {
  text-align: center;
}
#wp-calendar caption {
  margin-bottom: 1em;
  font-weight: normal;
}
hr {
  height: 1px;
  width: 30%;
  margin: 1.5em 0;
}
.title-outside {
  margin: 1rem 0 2rem;
  /*==========================================================================
Containers & Shared Styles
==========================================================================*/
}
.row {
  max-width: 100%;
}
.container {
  padding: 1.5rem;
}
.featured-image {
  margin: 0 auto 1.5rem;
  display: block;
  width: 100%;
  height: auto;
}
.inner {
  padding: 1.5rem;
}
main header {
  margin-bottom: 1.5rem;
}
main header .social {
  text-align: right;
}
.table, .table-row, .table-cell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  /*==========================================================================
Header
==========================================================================*/
}
header.main .upper {
  padding-bottom: 1px;
}
header.main .lower {
  padding: 1em 0;
}
header.main p, header.main ul, header.main li, header.main .button {
  margin: 0;
}
header.main nav {
  text-align: right;
}
header.main nav ul, header.main nav li {
  margin: 0;
}
header.main nav li {
  list-style-type: none;
  display: inline-block;
}
header.main .text p {
  font-size: 0.7rem;
  padding: 0.5rem 0;
}
header.main .clickables {
  text-align: right;
  padding-right: 0;
}
header.main .clickables .social, header.main .clickables #header-search, header.main .clickables .button {
  display: block;
  float: right;
}
header.main .clickables .social, header.main .clickables .show-for-medium-up {
  border: 0;
}
header.main .clickables div {
  padding: 0 0.5rem;
  border-left-width: 1px;
  border-left-style: solid;
  height: 100%;
}
header.main .clickables .ion-search:before {
  top: 15%;
  left: 25%;
  position: absolute;
}
header.main .button {
  height: 100%;
  font-size: 0.7rem;
  vertical-align: middle;
  margin-left: 2px;
}
header.main .button:hover {
  opacity: 1;
}
header.main .st-icon, header.main [class^="st-icon-"] {
  vertical-align: baseline;
}
header.main .mobile-buttons {
  display: none;
}
nav.main {
  margin-top: 1.25em;
  /*==========================================================================
Footer
==========================================================================*/
}
nav.main .menu {
  margin: 0;
}
nav.main .menu > li {
  padding-left: 1.5em;
  position: relative;
}
nav.main .menu > li > a {
  padding: 1rem 0 1rem 0.5rem;
  font-size: 1.1rem;
  display: block;
}
nav.main .menu > li:hover > .sub-menu, nav.main .menu .sub-menu li:hover > .sub-menu {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: translateZ(0);
}
nav.main .menu .sub-menu li {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  font-size: 0.9em;
  position: relative;
  -webkit-transform: translateZ(0);
  list-style-type: none;
  text-align: left;
}
nav.main .menu .sub-menu li:hover > .sub-menu {
  right: 100%;
  top: 0;
}
nav.main .menu .sub-menu li a {
  white-space: nowrap;
  display: block;
  width: 100%;
  padding: 0.5em 1em;
}
nav.main .menu .sub-menu .sub-menu {
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
}
nav.main a {
  font-size: 1.1em;
  font-weight: 300;
  -webkit-transform: translateZ(0);
}
nav.main .sub-menu {
  display: none;
  position: relative;
  z-index: 100;
}
footer.main h3 {
  font-size: 0.8rem;
}
footer.main p, footer.main li, footer.main a, footer.main span {
  font-size: 0.7rem;
}
footer.main ul {
  margin: 0;
}
footer.main li {
  list-style-type: none;
}
footer.main nav.footer ul li {
  float: left;
  width: 33%;
}
footer.main nav.footer ul a {
  text-transform: lowercase;
}
footer.main .social {
  text-align: right;
}
footer.main .details {
  display: inline-block;
  padding-left: 0.35em;
}
.cta_footer span {
  display: block;
}
.footer-details, .footer-links {
  padding: 1rem 0;
}
.footer-links {
  border-top-width: 1px;
  border-top-style: solid;
}
p.small-print, p.small-print a {
  font-size: 0.7rem;
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
}
.back-top {
  float: right;
  display: block;
  padding: 0.75rem 1rem;
  /*==========================================================================
Sidebar
==========================================================================*/
}
.back-top:hover {
  opacity: 1;
}
.event-filter h3, .widget h3, .event-filter #wp-calendar caption, .widget #wp-calendar caption {
  margin: 0 0 0.15rem 0;
  padding: 0.75rem;
  font-size: 1.2rem;
}
.event-filter ul, .widget ul {
  margin: 0 0 2rem;
}
.event-filter li, .widget li {
  list-style-type: none;
  margin-bottom: 0.15rem;
}
.event-filter li a, .widget li a {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}
.event-filter li.recentcomments, .widget li.recentcomments {
  padding: 0.5rem 0.75rem;
}
.widget {
  margin-bottom: 1em;
  /*==========================================================================
Events
==========================================================================*/
}
.widget.widget-hours p {
  margin: 1em 0;
}
.widget.widget-hours .day, .widget.widget-hours time {
  display: inline-block;
  width: 48%;
}
.widget.widget-hours .day {
  width: 30%;
  font-weight: 600;
}
.widget.widget-hours time {
  width: 65%;
  margin-left: 3%;
}
.widget.widget-hours .hours p {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0.75em 0;
  margin: 0;
}
.widget.widget-hours.has-bg p {
  padding: 0.5em 1em;
  margin: 0;
}
.widget.widget-contact p {
  margin: 0;
  padding: 0.5em 0;
}
.widget.widget-contact.has-bg p, .widget.widget-contact.has-bg .emails a {
  padding: 0.5em 1em;
}
.widget .vcard {
  padding: 1em 0;
}
.widget .vcard .emails a {
  display: block;
}
.widget.widget-login .button {
  width: 100%;
  margin: 0;
}
.widget.widget-social.has-bg .social {
  padding: 1em;
}
.widget.widget-custom p {
  padding: 1em 0;
  margin: 0;
}
.widget.widget-custom .button {
  margin: 0 0 1em;
}
.widget.widget-custom .primary .content, .widget.widget-custom .secondary .content, .widget.widget-custom .tertiary .content, .widget.widget-custom .quaternary .content, .widget.widget-custom .hasBG .content {
  padding: 1em;
}
.widget.widget-custom .primary .content h3, .widget.widget-custom .secondary .content h3, .widget.widget-custom .tertiary .content h3, .widget.widget-custom .quaternary .content h3, .widget.widget-custom .hasBG .content h3 {
  padding: 0;
  background-color: transparent;
}
.widget .widget-cta {
  font-size: 1.1rem;
}
.widget .widget-image, .widget .video-thumb {
  width: 100%;
}
.event-filter p {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  margin-top: -2.3em;
}
.event-single .featured-image {
  margin: 0 auto;
  width: 100%;
}
header.event {
  position: relative;
  margin-bottom: 1.5rem;
}
header.event h1 {
  margin: 0;
}
header.event .locations strong, header.event .locations a {
  font-size: 1.1rem;
}
header.event .locations a {
  font-weight: normal;
}
header.event:after {
  content: '';
  position: absolute;
  bottom: -0.75rem;
  width: 30%;
  height: 1px;
}
.infobox .section-content {
  padding: 0.5em 0;
}
.infobox h4 {
  margin: 0;
  font-size: 1.1rem;
}
.infobox p {
  margin-bottom: 0.5em;
}
.infobox .button {
  margin: 0.5em 0;
  width: 100%;
}
.infobox .ticket-price p {
  margin: 0;
}
.event-listing .text {
  padding: 0.5em;
}
.event-listing .event-link {
  font-weight: normal;
}
.event-listing .date, .event-listing .title-location {
  display: inline-block;
}
.event-listing .date {
  vertical-align: top;
  width: 30%;
  padding: 0.5em;
  font-size: 0.75rem;
  font-weight: bold;
}
.event-listing .date span {
  color: inherit;
}
.event-listing .date .small-caps {
  text-transform: uppercase;
  font-size: 0.6rem;
  display: block;
  font-weight: normal;
}
.event-listing .title-location {
  width: 65%;
  margin-left: 3%;
}
.event-listing .title-location p {
  font-weight: normal;
  margin: 0;
  line-height: normal;
  vertical-align: top;
}
.event-listing .title-location p.title {
  font-size: 1.1rem !important;
}
.event-listing .title-location p.location {
  font-size: 0.75rem;
}
.event-listing .media-types {
  float: left;
  width: 55%;
  padding-left: 0.5em;
}
.event-listing .media-types span {
  font-size: 1.25rem;
  padding: 0.4rem;
}
.event-listing .link-bar {
  border-top: 1px solid rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .25);
}
.event-listing .view-details {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  text-transform: uppercase;
  border-left: 1px solid rgba(0, 0, 0, .25);
  font-size: 0.7em;
  padding: 1em 2em;
}
.event-listing .view-details:hover {
  background-color: rgba(0, 0, 0, .5);
}
.event-archive-type .featured-image {
  width: 100%;
  margin: 0;
}
.header-location {
  margin: 0;
}
.header-location .excerpt {
  margin-top: 2em;
}
.location-expander {
  width: 100%;
  margin: 0;
}
.location-expander-content {
  display: none;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
.event .item .image {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
}
.location-content .social {
  text-align: right;
}
.row.location-events {
  margin-top: 3em;
}
.event-media .widget {
  margin: 1.5em 0;
}
.event-media .widget h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.event-media .widget h4 span {
  font-size: 1.1rem;
  margin-right: 0.25rem;
}
.event-media .widget .summary {
  font-style: italic;
}
.event-media .widget .review-info, .event-media .widget .reviewer, .event-media .widget a, .event-media .widget .audio-title {
  font-size: 0.7rem;
  font-weight: bold;
}
.event-media .widget .reviewer, .event-media .widget .audio-title {
  text-transform: uppercase;
}
.event-media .gallery-images li {
  padding-left: 0;
  padding-bottom: 0.5em;
}
.event-media .gallery-images li a {
  padding: 0;
}
.event-media .lightbox-video {
  margin-bottom: 1.5em;
  display: block;
  position: relative;
}
.event-media .lightbox-video .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, .75);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 5em;
  top: 25%;
}
.event-media .audio-title {
  margin-bottom: 0.25em;
}
.event-media .audio-piece {
  margin-bottom: 1.5em;
}
#container .item {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0.49%;
}
#container .item:hover {
  opacity: 0.9;
}
#container .item.w2 {
  width: 15%;
}
#container .item.w3 {
  width: 23%;
}
#container .item.w4 {
  width: 31%;
}
#container .item.w6 {
  width: 47%;
}
#container .item.w8 {
  width: 63%;
}
#container .item.w9 {
  width: 71%;
}
#container .item a {
  font-weight: normal;
}
#container .item img {
  margin: 0;
  width: 100%;
}
#container .item .text {
  padding: 1.5em;
  position: relative;
}
#container .item .date {
  font-size: 0.7rem;
  text-transform: uppercase;
}
#container .item .title {
  font-size: 1.2rem;
}
#container .item .arrow {
  font-size: 2.5rem;
  position: absolute;
  right: 0.35em;
  top: 18%;
  width: auto;
  margin: 0;
  line-height: 1em;
}
#container .item .arrow.below {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  position: relative;
  top: auto;
  right: auto;
}
#container .item .continue {
  display: none;
}
.grid-sizer {
  width: 8%;
}
.collage .image {
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  width: 25%;
}
.collage .spacer {
  margin-top: 100%;
  display: block;
}
.collage img {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.collage .image-wide img {
  height: 100%;
  width: auto;
  max-width: none;
}
.collage .image-tall img {
  height: auto;
  width: 100%;
  max-width: none;
}
.collage-1 .image {
  width: 100%;
}
.collage-2 .image {
  width: 50%;
}
.collage-3 .image {
  width: 50%;
}
.collage-4 .image {
  width: 50%;
}
.collage-5 .image {
  width: 33.33333%;
}
.collage-6 .image {
  width: 33.33333%;
}
.hover-overlay #container .item .images:hover {
  opacity: 0.2;
}
.hover-zoom #container .item .images {
  transition: all 0.2s ease-in-out;
  /*==========================================================================
Page Specific
==========================================================================*/
}
.hover-zoom #container .item .images:hover {
  transform: scale(1.1);
}
.post time {
  font-family: 'Open Sans', sans-serif;
  display: block;
  padding: 1.1em 0;
  width: 90px;
  height: 90px;
  text-align: center;
}
.post time span {
  display: inline-block;
  text-align: center;
}
.post time .date {
  font-size: 3em;
  display: block;
  margin-bottom: 0.15em;
  line-height: 0.85em;
}
.post time .year {
  margin-left: 0.35em;
}
.post-list .the-post {
  padding-left: 120px;
}
.post-list time {
  position: absolute;
  top: auto;
  left: 0;
  top: 0;
  height: 100%;
}
.post-list .content p {
  margin: 0;
}
.single time {
  float: left;
  margin: 0 2em 1em 0;
}
.single .content, .single .meta {
  padding: 0 1.5rem;
}
article.post h1, article.post h2 {
  line-height: 1em;
  margin: 0;
  line-height: 1em;
  margin: 0;
  font-weight: normal;
}
article.post h1 a, article.post h2 a {
  font-size: 1em;
}
article.post .img-zoom {
  margin-bottom: 1em;
}
article.post header {
  padding-top: 1em;
}
.the-post {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 2em;
}
.categorizing {
  margin: 0.25em 0 1.25em;
}
footer.post {
  margin-top: 2em;
  text-align: right;
}
footer.post .social {
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 1.5em;
  padding: 0.75em 0;
}
#commentform input[type=submit] {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  display: block;
}
.continue-wrap {
  display: block;
  text-align: right;
}
.continue {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  white-space: nowrap;
  margin-top: 1em;
  padding: 0.5em 1em;
}
.pagination {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: right;
  font-size: 0.9rem;
}
.pagination span, .pagination a {
  display: inline-block;
  padding: 0.25rem;
}
.pagination .current {
  font-weight: bold;
  padding: 0.25em 0.5em;
}
p.categories, p.tags {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.7em;
}
p.categories a, p.tags a {
  font-style: italic;
}
.socialize, .socialize p {
  text-align: right;
  margin: 0;
}
.socialize .symbol, .socialize p .symbol {
  display: inline-block;
}
.comments {
  padding: 1em;
}
.comments label {
  display: block;
}
.comments .form-submit {
  margin: 0;
  text-align: right;
}
.comments input[type=submit] {
  display: inline-block;
  width: auto;
}
.comments input[type=submit]:after {
  content: '\00bb';
}
.comments .comment-form-author, .comments .comment-form-email {
  float: left;
  width: 48%;
}
.comments .comment-form-author {
  margin-right: 4%;
}
.comments .comment-form-url {
  clear: both;
}
.comment-list {
  margin: 0;
}
.comment-list li {
  list-style-type: none;
  padding: 1.5em 0;
}
.comment-list .children {
  margin: 1.5em 0 0 0;
  padding: 0 1.5em;
}
.comment-list .avatar {
  display: none;
}
.comment-list .comment-author .fn, .comment-list .comment-author .says {
  font-size: 1.1rem;
  font-weight: normal;
  font-style: normal;
}
.comment-list .comment-meta a, .comment-list .comment-reply-link {
  font-size: 0.7rem;
}
.comment-list .comment-meta a {
  margin-bottom: 1rem;
}
.comment-list .comment {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.comment-list .comment:last-child {
  border: none;
}
.comment-intro {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}
.comments {
  padding: 1.5rem;
  /*==========================================================================
Gravity Forms
==========================================================================*/
  /*==========================================================================
Responsive Styles
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media only screen {
  .logo {
    text-align: center;
  }
  .logo img {
    max-height: 100px;
    width: auto;
  }
}
@media only screen and (max-width: 40em) {
  header.main #header-search input {
    -webkit-appearance: none;
    border-radius: 0;
  }
  header.main .clickables, .container {
    padding: 0;
  }
  header.main .button {
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1px 0;
  }
  header.main .lower {
    padding: 1em 0 0;
  }
  header.main .logo {
    padding-bottom: 1.5em;
  }
  header.main #header-search {
    position: relative;
  }
  header.main #header-search input {
    border: none;
    padding: 0.5rem;
  }
  header.main #header-search .icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1.25rem;
  }
  header.main select.tinynav {
    left: 0;
  }
  header.main .customSelectInner {
    font-size: 0.8rem;
  }
  header.main nav.main {
    margin: 0;
    text-align: center;
  }
  header.main .customSelect {
    padding: 1em 0;
  }
  header.main .mobile-buttons {
    display: block;
    text-align: center;
  }
  header.main .mobile-buttons a {
    display: inline-block;
    padding: 0 0 0.5em 0;
    font-size: 2rem;
  }
  header.main .search-mobile {
    border-top-width: 1px;
    border-top-style: solid;
  }
  header.main .search-mobile .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  aside.sidebar {
    margin-top: 1.5em;
    padding: 1.5em 1em;
  }
  .footer-details .columns {
    margin: 1em 0;
  }
  .back-top {
    width: 100%;
    text-align: center;
  }
  footer.main .social {
    text-align: center;
    margin-top: 1.5em;
  }
  .mobile-buttons {
    display: block;
  }
  #container .item[class*=" w"] {
    width: 99%;
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
  #grid-container {
    height: auto !important;
  }
  .container {
    padding-top: 1.5em;
  }
  .event {
    width: 100%;
  }
  .single main .container {
    padding-top: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  #header-search {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: block;
    float: right;
    border-left-width: 1px;
    border-left-style: solid;
    height: 100%;
  }
  #header-search .icon {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 8px;
    top: 3px;
    z-index: 3;
    font-size: 1.2rem;
  }
  #header-search .icon:before {
    right: 0;
    left: auto;
  }
  #header-search input {
    outline: none;
  }
  #header-search input::-webkit-search-decoration, #header-search input::-webkit-search-cancel-button {
    display: none;
  }
  #header-search input[type=search] {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: textfield;
    border: none;
    width: 30px;
    padding: 6px;
    color: transparent;
    cursor: pointer;
    position: relative;
    z-index: 5;
    background-color: transparent;
    opacity: 0;
  }
  #header-search input[type=search]:focus {
    opacity: 1;
    width: 100%;
    padding-right: 32px;
    cursor: auto;
    z-index: 1;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .clickables {
    border-top-width: 1px;
    border-top-style: solid;
  }
}
@media only screen and (max-width: 64em) {
  main header .social, .location-content .social {
    text-align: left;
  }
  header.main .upper {
    text-align: center;
  }
  header.main .upper .clickables {
    padding: 0;
  }
  header.main .upper .clickables .button {
    float: left;
  }
  .event-filter {
    margin-bottom: 1.5em;
  }
  .event-filter h3 {
    cursor: pointer;
    position: relative;
  }
  .event-filter h3:after {
    content: '\f104';
    position: absolute;
    top: 0.75em;
    right: 1em;
    font-family: 'Ionicons';
  }
  .event-filter ul {
    display: none;
    margin: 0;
  }
  ul.menu {
    display: none;
  }
  select.tinynav {
    cursor: pointer;
    height: 100% !important;
    margin: 0;
    right: 0;
    z-index: 100;
  }
  select.tinynav, .customSelectInner, .customSelect {
    width: 100% !important;
  }
  .event-single .container .row {
    margin: 0;
  }
  .event-single .container .row .section-content {
    text-align: center;
  }
  .event-single .container .row header.event {
    padding-top: 1.5em;
  }
  .container {
    padding-bottom: 1.5em;
  }
  .customSelectInner {
    font-size: 1.5rem;
    position: relative;
    padding-right: 1.5em;
  }
  .customSelectInner:after {
    content: '\f20d';
    position: absolute;
    top: 0.75em;
    right: 0;
    top: 0;
    font-family: 'Ionicons';
  }
  .event-media {
    margin-top: 1.5em;
  }
}
@media only screen and (min-width: 64.063em) {
  .tinynav {
    display: none !important;
  }
  .event-filter ul {
    display: block !important;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body, .primary {
  background-color: #fff;
}
body h1, .primary h1, body h1 a, .primary h1 a, body h2, .primary h2, body h3, .primary h3, body h4, .primary h4, body h5, .primary h5, body h6, .primary h6, body a, .primary a {
  color: #1e9ad8;
}
body p, .primary p, body ol, .primary ol, body ul, .primary ul, body li, .primary li, body blockquote, .primary blockquote, body dl, .primary dl, body dt, .primary dt, body dd, .primary dd, body table, .primary table, body tr, .primary tr, body td, .primary td, body span, .primary span, body pre, .primary pre, body label, .primary label, body input, .primary input, body textarea, .primary textarea {
  color: #565656;
}
body a, .primary a {
  color: #d93;
}
body a:hover, .primary a:hover {
  color: #d38d23;
}
body hr, .primary hr {
  border-color: #bfbfbf;
}
body blockquote p, .primary blockquote p, body blockquote ol, .primary blockquote ol, body blockquote ul, .primary blockquote ul, body blockquote li, .primary blockquote li, body blockquote span, .primary blockquote span {
  color: #565656;
}
body .social .prepend, .primary .social .prepend, body .st-single-color a:before, .primary .st-single-color a:before {
  color: #d93;
}
body .button, .primary .button {
  background-color: #1e9ad8;
  border-color: #1e9ad8;
  color: #fff;
}
body .button:hover, .primary .button:hover {
  background-color: #565656;
  color: #fff;
  border-color: #565656;
}
body .button.primary {
  background-color: #fff;
  color: #1e9ad8;
}
body .button.primary:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.secondary {
  background-color: #565656;
}
.secondary h1, .secondary h1 a, .secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6, .secondary a {
  color: #fff;
}
.secondary p, .secondary ol, .secondary ul, .secondary li, .secondary blockquote, .secondary dl, .secondary dt, .secondary dd, .secondary table, .secondary tr, .secondary td, .secondary span, .secondary pre, .secondary label, .secondary input, .secondary textarea {
  color: #fff;
}
.secondary .social .prepend, .secondary .st-single-color a:before {
  color: #d93;
}
.secondary .button {
  background-color: #fff;
  border-color: #fff;
  color: #565656;
}
.secondary .button:hover {
  background-color: #1e9ad8;
  color: #fff;
  border-color: #1e9ad8;
}
body .button.secondary {
  background-color: #565656;
  color: #fff;
}
body .button.secondary:hover {
  background-color: #1e9ad8;
  color: #fff;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h1 a, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary a {
  color: #fff;
}
.tertiary p, .tertiary ol, .tertiary ul, .tertiary li, .tertiary blockquote, .tertiary dl, .tertiary dt, .tertiary dd, .tertiary table, .tertiary tr, .tertiary td, .tertiary span, .tertiary pre, .tertiary label, .tertiary input, .tertiary textarea {
  color: #fff;
}
.tertiary .social .prepend, .tertiary .st-single-color a:before {
  color: #d93;
}
.tertiary .button {
  background-color: #fff;
  border-color: #fff;
  color: #1e9ad8;
}
.tertiary .button:hover {
  background-color: #d93;
  color: #fff;
  border-color: #d93;
}
body .button.tertiary {
  background-color: #1e9ad8;
  color: #fff;
}
body .button.tertiary:hover {
  background-color: #d93;
  color: #fff;
}
.quaternary, .has-bg {
  background-color: #d93;
}
.quaternary h1, .has-bg h1, .quaternary h1 a, .has-bg h1 a, .quaternary h2, .has-bg h2, .quaternary h3, .has-bg h3, .quaternary h4, .has-bg h4, .quaternary h5, .has-bg h5, .quaternary h6, .has-bg h6, .quaternary a, .has-bg a {
  color: #000;
}
.quaternary p, .has-bg p, .quaternary ol, .has-bg ol, .quaternary ul, .has-bg ul, .quaternary li, .has-bg li, .quaternary blockquote, .has-bg blockquote, .quaternary dl, .has-bg dl, .quaternary dt, .has-bg dt, .quaternary dd, .has-bg dd, .quaternary table, .has-bg table, .quaternary tr, .has-bg tr, .quaternary td, .has-bg td, .quaternary span, .has-bg span, .quaternary pre, .has-bg pre, .quaternary label, .has-bg label, .quaternary input, .has-bg input, .quaternary textarea, .has-bg textarea {
  color: #000;
}
.quaternary blockquote p, .has-bg blockquote p, .quaternary blockquote ol, .has-bg blockquote ol, .quaternary blockquote ul, .has-bg blockquote ul, .quaternary blockquote li, .has-bg blockquote li, .quaternary blockquote span, .has-bg blockquote span {
  color: #565656;
}
.quaternary .button, .has-bg .button {
  color: #d93;
  background-color: #000;
}
.quaternary .button:hover, .has-bg .button:hover, .quaternary .button:active, .has-bg .button:active {
  color: #d93;
  background-color: #7c5315;
}
.quaternary.widget-hours p, .has-bg.widget-hours p {
  border-top-color: rgba(124, 83, 21, .5);
}
.quaternary .button, .has-bg .button {
  background-color: #1e9ad8;
  border-color: #1e9ad8;
  color: #fff;
}
.quaternary .button:hover, .has-bg .button:hover {
  background-color: #565656;
  color: #fff;
  border-color: #565656;
}
body .button.quaternary {
  background-color: #d93;
  color: #fff;
}
body .button.quaternary:hover {
  background-color: #1e9ad8;
  color: #fff;
}
body {
  background-color: #1e9ad8;
}
.container {
  background-color: #f2f2f2;
}
header.main .clickables div, header.main .clickables form {
  border-color: rgba(255, 255, 255, .25);
}
nav.main a {
  color: #1e9ad8;
}
nav.main .sub-menu {
  background-color: #d93;
}
nav.main .sub-menu a {
  color: #000;
}
nav.main .sub-menu a:hover {
  background-color: #d38d23;
}
nav.main .sub-menu li {
  border-color: #d38d23;
}
nav.main .sub-menu .sub-menu {
  border-color: #d38d23;
}
input:-moz-placeholder {
  color: rgba(255, 255, 255, .75);
}
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .75);
}
#header-search input:focus {
  color: #fff;
}
footer.main .upper p, footer.main .upper a, footer.main .upper li, footer.main .upper span {
  color: #565656;
}
footer.main .upper h3 {
  color: #1e9ad8;
}
footer.main .upper .details {
  color: #d93;
}
a.back-top {
  background-color: #d93;
  color: #000;
}
a.back-top:hover {
  background-color: #d38d23;
  color: #000;
}
.footer-links {
  border-color: #f2f2f2;
}
.event-filter h3, .widget h3, .event-filter #wp-calendar caption, .widget #wp-calendar caption {
  background-color: #1e9ad8;
  color: #fff;
}
.widget li {
  background-color: #fff;
}
.widget .secondary {
  background-color: #d93;
  color: #000;
}
.widget .hours p {
  border-color: rgba(86, 86, 86, .25);
}
.widget.widget-login .button {
  background-color: rgba(30, 154, 216, .8);
  border-color: #1e9ad8;
  color: #fff;
}
.widget.widget-login .button:hover {
  background-color: rgba(86, 86, 86, .8);
  color: #fff;
  border-color: #565656;
}
.widget.widget-login .button a {
  color: #fff;
}
.widget .hasBG p, .widget .hasBG span, .widget .hasBG ul, .widget .hasBG li, .widget .hasBG ol {
  color: #fff;
}
.event-filter p {
  color: #1e9ad8;
}
.event-filter .event-types li a {
  background-color: #d93;
  color: #fff;
}
.event-filter .event-loc li a, .event-filter .event-month li a {
  background-color: #d93;
  color: #000;
}
.event-single .event-content h1, .event-single .event-content h1 a, .event-single .event-content h2, .event-single .event-content h3, .event-single .event-content h4, .event-single .event-content h5, .event-single .event-content h6, .event-single .event-content a {
  color: #fff;
}
.event-single .event-content p, .event-single .event-content ol, .event-single .event-content ul, .event-single .event-content li, .event-single .event-content blockquote, .event-single .event-content dl, .event-single .event-content dt, .event-single .event-content dd, .event-single .event-content table, .event-single .event-content tr, .event-single .event-content td, .event-single .event-content span, .event-single .event-content pre, .event-single .event-content label, .event-single .event-content input, .event-single .event-content textarea, .event-single .event-content strong, .event-single .event-content em {
  color: #fff;
}
.event-single .event-content blockquote p, .event-single .event-content blockquote ol, .event-single .event-content blockquote ul, .event-single .event-content blockquote li, .event-single .event-content blockquote span {
  color: #fff;
}
.event-single .event-content header.event:after {
  background-color: rgba(255, 255, 255, .5);
}
.event-listing .date {
  background-color: #fff;
}
.event-listing a, .event-listing p, .event-listing span {
  color: #fff;
}
.event-listing a:hover {
  color: #fff;
}
.event-media .summary, .event-media .review-info, .event-media .reviewer, .event-media p {
  color: #969696;
}
.event-media h4 span {
  color: #1e9ad8;
}
#container .item p, #container .item a, #container .item a:hover, #container .item .arrow {
  color: #fff;
}
.location-expander-content {
  background-color: #fafafa;
  border-color: #e6e6e6;
}
.post time {
  background-color: #d93;
}
.post time span {
  color: #000;
}
.the-post:after {
  background-color: #d6d6d6;
}
.comment-list .children, .comments {
  background-color: rgba(86, 86, 86, .1);
}
.comment-list .comment, .comment-intro, .the-post, footer.post {
  border-color: #d6d6d6;
}
.comment .fn {
  color: #d93;
}
@media only screen and (max-width: 40em) {
  aside.sidebar {
    background-color: rgba(30, 154, 216, .15);
  }
  nav.main {
    background-color: #d9d9d9;
  }
  nav.main .customSelectInner .title, nav.main .customSelectInner .icon {
    color: #000;
  }
  .search-mobile {
    border-top-color: #d9d9d9;
    padding: 0.5em 0;
  }
  #header-search input, #header-search input:focus {
    color: #565656;
  }
  #header-search input:-moz-placeholder {
    color: rgba(255, 255, 255, .75);
  }
  #header-search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .75);
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .clickables {
    border-top-color: rgba(255, 255, 255, .25);
  }
}
