/*==========================================================================
MIXINS
==========================================================================*/
@mixin fontStyle($font-type: null, $font-size: null, $font-weight: null, $font-style: null, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null) {
	@if $font-type == heading {
		font-family: 'Open Sans', sans-serif;
	}
	@else if $font-type == paragraph {
		font-family: 'Open Sans', sans-serif;
	}
	@if $font-size != null {
		font-size: $font-size;
	}
	@if $font-weight != null {
		font-weight: $font-weight;
	}
	@if $font-style != null {
		font-style: $font-style;
	}
	@if $text-transform != null {
		text-transform: $text-transform; 
	}
	@if $text-align != null {
		text-align: $text-align;
	}
	@if $line-height != null {
		line-height: $line-height;	
	}
	@if $letter-spacing != null {
		letter-spacing: $letter-spacing;
	}
}

@mixin transition($prop,$time) {
	-webkit-transition: $prop $time ease-in-out;
	-moz-transition: $prop $time ease-in-out;
	-o-transition: $prop $time ease-in-out;
	-ms-transition: $prop $time ease-in-out;
	transition: $prop $time ease-in-out;    
}

@mixin transform($prop) {
	transform: $prop;
	-webkit-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	-moz-transform: $prop; 
}


/*==========================================================================
HELPER CLASSES
==========================================================================*/
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible { visibility: hidden; }
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }