/*==========================================================================
Imports
==========================================================================*/
@import "includes";

// Small screens
@media only screen {
	.logo {
		text-align: center;
		img {
			max-height: 100px;
			width: auto;
		}
	}
}

@media only screen and (max-width: 40em) {
	header.main #header-search input {
		-webkit-appearance: none;
		border-radius: 0;
	}
	header.main .clickables, .container { padding: 0; }
	header.main {
		.button {
			width: 100%;
			height: auto;
			font-size: 1rem;
			font-weight: normal;
			margin: 0 0 1px 0;
		}
		.lower { padding: 1em 0 0; }
		.logo { padding-bottom: 1.5em; }
		#header-search {
			position: relative;
			input { 
				border: none;
				padding: .5rem;
			}
			.icon {
				position: absolute;
				right: .5rem;
				top: .5rem;
				font-size: 1.25rem;
			}
		}
		select.tinynav {
			left: 0;
		}
		.customSelectInner {
			font-size: .8rem;
		}
		nav.main {
			margin: 0;
			text-align: center;
		}
		.customSelect {
			padding: 1em 0;
		}
		.mobile-buttons {
			display: block;
			text-align: center;
			a {
				display: inline-block;
				padding: 0 0 .5em 0;
				font-size: 2rem;
			}
		}
		.search-mobile {
			border-top-width: 1px;
			border-top-style: solid;
			.icon {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	aside.sidebar {
		margin-top: 1.5em;
		padding: 1.5em 1em;
	}
	.footer-details .columns { margin: 1em 0; }
	.back-top {
		width: 100%;
		text-align: center;
	}
	footer.main .social {
		text-align: center;
		margin-top: 1.5em;
	}
	.mobile-buttons { display: block; }
	#container .item[class*=" w"] {
		width: 99%;
		position: relative !important;
		top: auto !important;
		left: auto !important;
	}
	#grid-container {
		height: auto !important;
	}
	.container { padding-top: 1.5em; }
	.event { width: 100%; }
	.single main .container { padding-top: 0; }
}

// Medium screens
@media only screen and (min-width: 40.063em) {
	// Search Form
	#header-search {
		@include transition(all,.3s);
		position: relative;
		display: block;
		float: right;
		border-left-width: 1px;
		border-left-style: solid;
		height: 100%;
		.icon {
			@include transition(all,.3s);
			position: absolute;
			right: 8px;
			top: 3px;
			z-index: 3;
			font-size: 1.2rem;
			&:before { 
				right: 0;
				left: auto;
			}
		}
		input { outline: none; }
		input::-webkit-search-decoration,
		input::-webkit-search-cancel-button {
			display: none; 
		}
		input[type=search] {
			@include transition(all,.3s);
			-webkit-appearance: textfield;
			border: none;
			width: 30px;
			padding: 6px;
			color: transparent;
			cursor: pointer;
			position: relative;
			z-index: 5;
			background-color: transparent;
			opacity: 0;
		}
		input[type=search]:focus {
			opacity: 1;
			width: 100%;
			padding-right: 32px;
			cursor: auto;
			z-index: 1;
		}
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.clickables {
		border-top-width: 1px;
		border-top-style: solid;
	}
}

@media only screen and (max-width: 64em) {
	main header .social, .location-content .social {
		text-align: left;
	}
	header.main .upper {
		text-align: center;
		.clickables {
			padding: 0;
			.button {
				float: left;
			}
		}
	}
	.event-filter {
		margin-bottom: 1.5em;
		h3 { 
			cursor: pointer;
			position: relative;
			&:after {
				content: '\f104';
				position: absolute;
				top: .75em;
				right: 1em;
				font-family: 'Ionicons';
			}
		}
		ul { 
			display: none;
			margin: 0;
		}
	}
	ul.menu { display: none; }
	select.tinynav {
		cursor: pointer;
		height: 100% !important;
		margin: 0;
		right: 0;
		z-index: 100;
	}
	select.tinynav, .customSelectInner, .customSelect {
		width: 100% !important;
	}
	.event-single .container .row {
		margin: 0; 
		.section-content { text-align: center;}
		header.event { padding-top: 1.5em; }
	}
	.container { padding-bottom: 1.5em; }
	.customSelectInner {
		font-size: 1.5rem;
		position: relative;
		padding-right: 1.5em;
		&:after {
			content: '\f20d';
			position: absolute;
			top: .75em;
			right: 0;
			top: 0;
			font-family: 'Ionicons';
		}
	}
	.event-media { margin-top: 1.5em; }
}

// Large screens
@media only screen and (min-width: 64.063em) {
	.tinynav { display: none !important; }
	.event-filter ul { display: block !important; }
}