/*==========================================================================
Imports
==========================================================================*/
@import "includes";



/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h2, h3, h4, h5, h6 {
	@include fontStyle(heading, null, 600);
}
h1 {
	margin: 0;
	font-size: 2rem;
}
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5, h6 { font-size: 1.1rem; }
h4, h6 { font-weight: 400; }
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
	@include fontStyle(paragraph, .85rem);
}
a, input[type=submit] {
	@include transition(all,.3s);
	font-weight: bold; 
}
blockquote {
	padding: 0 0 0 1em;
	border-left-width: 5px;
	border-left-style: solid;
}
blockquote p, blockquote li {
	font-weight: 300;
	font-size: .85rem;
}
.vcard {
	border: none;
	padding: 0;
	display: block;
	margin: 0;
}
.fn.org {
	display: none;
}
.button, .continue {
	@include fontStyle($font-type: heading, $font-size: 1.1rem, $font-weight: 800);
	@include transition(all,.3s);
	padding: .5em 1.5em;
	margin-top: 1.5em;
}
// Input Fields //
input, textarea { 
	width: 100%;
	border-width: 3px;
	border-style: solid;
	padding: .5em;
}
label { 
	display: block;
	margin-bottom: .5em;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin: .5em 1.5em .5em 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter, img.aligncenter {
	margin: .5em auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
#wp-calendar {
	width: 100%;
	th, td { text-align: center; }
	caption { 
		margin-bottom: 1em;
		font-weight: normal;
	}
}
hr {
	height: 1px;
	width: 30%;
	margin: 1.5em 0;
}
.title-outside {
	margin: 1rem 0 2rem;
}


/*==========================================================================
Containers & Shared Styles
==========================================================================*/
.row {
	max-width: 100%;
}
.container {
	padding: 1.5rem;
}
.featured-image {
	margin: 0 auto 1.5rem;
	display: block;
	width: 100%;
	height: auto;
}
.inner {
	padding: 1.5rem;
}
main {
	header {
		margin-bottom: 1.5rem;
		.social { text-align: right; }
	}
}
// CSS Tables
.table, .table-row, .table-cell {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.table { 
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }



/*==========================================================================
Header
==========================================================================*/
header.main {
	.upper { padding-bottom: 1px; }
	.lower { padding: 1em 0; }
	p, ul, li, .button { margin: 0; }
	// Navigations
	nav {
		text-align: right;
		ul, li { margin: 0; }
		li {
			list-style-type: none;
			display: inline-block;
		}
	}
	.text p { 
		font-size: .7rem;
		padding: .5rem 0;
	}
	.clickables {
		text-align: right;
		padding-right: 0;
		.social, #header-search, .button { 
			display: block;
			float: right;
		}
		.social, .show-for-medium-up { border: 0; }
		div {
			padding: 0 .5rem;
			border-left-width: 1px;
			border-left-style: solid;
			height: 100%;
		}
		.ion-search:before {
			top: 15%;
			left: 25%;
			position: absolute;
		}
	}
	.button {
		height: 100%;
		font-size: .7rem;
		vertical-align: middle;
		margin-left: 2px;
		&:hover { opacity: 1; }
	}
	.st-icon, [class^="st-icon-"] { vertical-align: baseline; }
	.mobile-buttons { display: none; }
}
nav.main {
	margin-top: 1.25em;
	.menu {
		margin: 0;
		&> li {
			padding-left: 1.5em;
			position: relative;
			> a { 
				padding: 1rem 0 1rem .5rem;
				font-size: 1.1rem;
				display: block;
			}
		}
		&> li:hover > .sub-menu, .sub-menu li:hover > .sub-menu {
			display: block;
			position: absolute;
			right: 0;
			-webkit-transform: translateZ(0);
		}
		.sub-menu {
			li {
				border-style: solid;
				border-width: 0;
				border-bottom-width: 1px;
				width: 100%;
				font-size: .9em;
				position: relative;
				-webkit-transform: translateZ(0);
				list-style-type: none;
				text-align: left;
				&:hover {
					&> .sub-menu {
						right: 100%;
						top: 0;
					}
				}
				a {
					white-space: nowrap;
					display: block;
					width: 100%;
					padding: .5em 1em;
				}
			}
			.sub-menu {
				border-style: solid;
				border-width: 0;
				border-right-width: 1px;
			}
		}
	}
	a {
		font-size: 1.1em;
		font-weight: 300;
		-webkit-transform: translateZ(0);
	}
	.sub-menu {
		display: none;
		position: relative;
		z-index: 100;
	}
}




/*==========================================================================
Footer
==========================================================================*/
footer.main {
	.lower {
		// padding: 1em 0;
	}
	h3 { font-size: .8rem; }
	p, li, a, span {
		font-size: .7rem;
	}
	ul { margin: 0; }
	li { list-style-type: none; }
	nav.footer ul {
		li {
			float: left;
			width: 33%;
		} 
		a { text-transform: lowercase; }
	}
	.social { text-align: right; }
	.details {
		display: inline-block;
		padding-left: .35em;
	}
}
.cta_footer span { display: block; }
.footer-details, .footer-links { padding: 1rem 0; }
.footer-links {
	border-top-width: 1px;
	border-top-style: solid;
}
p.small-print, p.small-print a {
	font-size: .7rem;
	margin: 0;
	padding: .5em 0;
	text-transform: uppercase;
}
.back-top {
	float: right;
	display: block;
	padding: .75rem 1rem;
	&:hover { opacity: 1; }
}



/*==========================================================================
Sidebar
==========================================================================*/
.event-filter, .widget {
	h3, #wp-calendar caption {
		margin: 0 0 .15rem 0;
		padding: .75rem;
		font-size: 1.2rem;
	}
	ul { margin: 0 0 2rem; }
	li {
		list-style-type: none;
		margin-bottom: .15rem;
		a {
			display: block;
			padding: .5rem .75rem;
			font-size: .8rem;
		}
		&.recentcomments {
			padding: .5rem .75rem;
		}
	}
}
.widget {
	margin-bottom: 1em;
	&.widget-hours {
		p { margin: 1em 0; }
		.day, time {
			display: inline-block;
			width: 48%;
		}
		.day { 
			width: 30%;
			font-weight: 600;
		}
		time { 
			width: 65%;
			margin-left: 3%;
		}
		.hours p {
			border-top-width: 1px;
			border-top-style: solid;
			padding: .75em 0;
			margin: 0;
		}
		&.has-bg {
			p { 
				padding: .5em 1em; 
				margin: 0;
			}
		}
	}
	&.widget-contact {
		p { 
			margin: 0;
			padding: .5em 0;
		}
		&.has-bg {
			p, .emails a {
				padding: .5em 1em;
			}
		}
	}
	.vcard {
		padding: 1em 0;
		.emails a { display: block; }
	}
	&.widget-login {
		.button { 
			width: 100%;
			margin: 0;
		}
	}
	&.widget-social {
		&.has-bg {
			.social { padding: 1em; }
		}
	}
	&.widget-custom {
		p { 
			padding: 1em 0;
			margin: 0;
		}
		.button { margin: 0 0 1em; }
		.primary, .secondary, .tertiary, .quaternary, .hasBG {
			.content { 
				padding: 1em;
				h3 { 
					padding: 0;
					background-color: transparent;
				}
			}
		}
	}
	.widget-cta { font-size: 1.1rem; }
	.widget-image, .video-thumb { width: 100%; }
}



/*==========================================================================
Events
==========================================================================*/
.event-filter {
	p {
		font-size: .7rem;
		margin-bottom: .5rem;
		margin-top: -2.3em;
	}
}
.event-single {
	.featured-image { 
		margin: 0 auto;
		width: 100%;
	}
}
header.event {
	position: relative;
	margin-bottom: 1.5rem;
	h1 { margin: 0; }
	.locations { 
		strong, a { font-size: 1.1rem; }
		a { font-weight: normal; }
	}
	&:after {
		content: '';
		position: absolute; 
		bottom: -.75rem;
		width: 30%;
		height: 1px;
	}
}
.infobox {
	.section-content {
		padding: .5em 0;
	}
	h4 {
		margin: 0; 
		font-size: 1.1rem;
	}
	p { margin-bottom: .5em; }
	.button { 
		margin: .5em 0;
		width: 100%; 
	}
	.ticket-price p { margin: 0; }
}
.event-listing {

	.text {
		padding: .5em;

	}
	.event-link {
		font-weight: normal;
	}
	.date, .title-location { display: inline-block; }
	.date { 
		vertical-align: top;
		width: 30%;
		padding: .5em;
		font-size: .75rem;
		font-weight: bold;
		span { color: inherit; }
		.small-caps {
			text-transform: uppercase;
			font-size: .6rem;
			display: block;
			font-weight: normal;
		}
	}
	.title-location { 
		width: 65%;
		margin-left: 3%;
		p { 
			font-weight: normal; 
			margin: 0;
			line-height: normal;
			vertical-align: top;
			&.title {
				font-size: 1.1rem !important;
			}
			&.location {
				font-size: .75rem;
			}
		}
	}
	.media-types {
		float: left;
		width: 55%;
		padding-left: .5em;
		span {
			font-size: 1.25rem;
			padding: .4rem;
		}
	}
	.link-bar {
		border-top: 1px solid rgba(#000, .25);
		background-color: rgba(#000, .25);
	}
	.view-details {
		@include transition(all,.3s);
		float: right;
		text-transform: uppercase;
		border-left: 1px solid rgba(#000, .25);
		font-size: .7em;
		padding: 1em 2em;
		&:hover {
			background-color: rgba(#000, .5);
		}
	}
}
.event-archive-type .featured-image {
	width: 100%;
	margin: 0;
}
.header-location { 
	margin: 0;
	.excerpt { margin-top: 2em; }
}
.location-expander {
	width: 100%;
	margin: 0;
}
.location-expander-content { 
	display: none;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}
.event .item .image { 
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
}
.location-content {
	.social { text-align: right; }
}
.row.location-events { margin-top: 3em; }
.event-media {
	.widget {
		margin: 1.5em 0;
		h4 {
			font-size: .9rem;
			text-transform: uppercase;
			span {
				font-size: 1.1rem;
				margin-right: .25rem;
			}
		}
		.summary { font-style: italic; }
		.review-info, .reviewer, a, .audio-title {
			font-size: .7rem;
			font-weight: bold;
		}
		.reviewer, .audio-title { text-transform: uppercase; }
	}
	.gallery-images {
		li {
			padding-left: 0;
			padding-bottom: .5em;
			a { padding: 0; }
		}
	}
	.lightbox-video {
		margin-bottom: 1.5em;
		display: block;
		position: relative;
		.icon {
			position: absolute;
			width: 100%;
			height: 100%;
			color: rgba(#fff, .75);
			text-shadow: 1px 1px 0 rgba(#000, .5);
			text-align: center;
			font-size: 5em;
			top: 25%;
		}
	}
	.audio-title { margin-bottom: .25em; }
	.audio-piece { margin-bottom: 1.5em;}
}
// Homepage Events
#container .item {
	@include transition(all,.3s);
	margin: 0.49%;
	&:hover { opacity: .9; }
	&.w2 { width: 15%; } // w * 8% - 1
	&.w3 { width: 23%; }
	&.w4 { width: 31%; }
	&.w6 { width: 47%; }
	&.w8 { width: 63%; }
	&.w9 { width: 71%; }
	a { font-weight: normal; }
	img { 
		margin: 0;
		width: 100%;
	}
	.text {
		padding: 1.5em;
		position: relative;
	}
	.date {
		font-size: .7rem;
		text-transform: uppercase;
	}
	.title {
		font-size: 1.2rem;
	}
	.arrow {
		font-size: 2.5rem;
		position: absolute;
		right: 0.35em;
		top: 18%;
		width: auto;
		margin: 0;
		line-height: 1em;
		&.below {
			font-size: 2rem;
			width: 100%;
			text-align: center;
			position: relative;
			top: auto;
			right: auto;
		}
	}
	.continue { display: none; }
}
.grid-sizer { width: 8%; }

.collage {
	.image {
		float: left;
		position: relative;
		display: block;
		overflow: hidden;
		width: 25%;
	}

	.spacer {
		margin-top: 100%;
		display: block;
	}

	img {
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.image-wide img {
		height: 100%;
		width: auto;
		max-width: none;
	}

	.image-tall img {
		height: auto;
		width: 100%;
		max-width: none;
	}
}

.collage-1 .image { width: 100%; }
.collage-2 .image { width: 50%; }
.collage-3 .image { width: 50%; }
.collage-4 .image { width: 50%; }
.collage-5 .image { width: 33.333333333%; }
.collage-6 .image { width: 33.333333333%; }

.hover-overlay #container .item .images:hover {
	opacity: .2;
}

.hover-zoom #container .item .images {
	transition: all .2s ease-in-out;
	&:hover {
		transform: scale(1.1);
	}
}

/*==========================================================================
Page Specific
==========================================================================*/
// Blog //
.post time {
	@include fontStyle(heading);
	display: block;
	padding: 1.1em 0;
	width: 90px;
	height: 90px;
	text-align: center;
	span {
		display: inline-block;
		text-align: center;
	}
	.date {
		font-size: 3em;
		display: block;
		margin-bottom: .15em;
		line-height: .85em;
	}
	.year {
		margin-left: .35em;
	}
}
.post-list {
	.the-post {
		padding-left: 120px;
	}
	time {
		position: absolute;
		top: auto;
		left: 0;
		top: 0;
		height: 100%;
	}
	.content p { margin: 0;	}
}
.single {
	time {
		float: left;
		margin: 0 2em 1em 0;
	}
	.content, .meta { padding: 0 1.5rem; }
}
article.post {
	h1, h2 {
		line-height: 1em;
		margin: 0;
		line-height: 1em;
		margin: 0;
		font-weight: normal;
		a {
			font-size: 1em;
		} 
	}
	.img-zoom {
		margin-bottom: 1em;
	}
	header { padding-top: 1em; }
}
.the-post {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 2em;
}
.categorizing { margin: .25em 0 1.25em; }
footer.post {
	margin-top: 2em;
	text-align: right;
	.social {
		border-top-width: 1px;
		border-top-style: solid;
		margin-top: 1.5em;
		padding: .75em 0;
	}
}
#commentform input[type=submit] {
	@include fontStyle(heading, 1rem);
	@include transition(all,.3s);
	cursor: pointer;
	border: none;
	display: block;
}
.continue-wrap {
	display: block;
	text-align: right;
}
.continue {
	@include fontStyle(heading, 1.2rem);
	@include transition(all,.3s);
	display: inline-block;
	white-space: nowrap;
	margin-top: 1em;
	padding: .5em 1em;
}
.pagination {
	@include fontStyle(heading, .8rem, null, null, null, uppercase, null, null);
	text-align: right;
	font-size: .9rem;
	span, a {
		display: inline-block;
		padding: .25rem;
	}
	.current {
		font-weight: bold;
		padding: .25em .5em;
	}
}
p.categories, p.tags {
	margin: 0;
	font-size: .8rem;
	line-height: 1.7em;
	a {
		font-style: italic;
	}
}
.socialize, .socialize p {
	text-align: right;
	margin: 0;
	.symbol {
		display: inline-block;
	}
}
// Comments
.comments {
	padding: 1em;
	label { display: block; }
	.form-submit { 
		margin: 0;
		text-align: right;
	}
	input[type=submit] {
		display: inline-block;
		width: auto;
		&:after {
			content: '\00bb';
		}
	}
	.comment-form-author, .comment-form-email {
		float: left;
		width: 48%;
	}
	.comment-form-author { margin-right: 4%; }
	.comment-form-url {
		clear: both;
	}
}
.comment-list {
	margin: 0; 
	li { 
		list-style-type: none;
		padding: 1.5em 0;
	}
	.children {
		margin: 1.5em 0 0 0;
		padding: 0 1.5em;
	}
	.avatar { display: none; }
	.comment-author {
		.fn, .says {
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
		}
	}
	.comment-meta a, .comment-reply-link {
		font-size: .7rem;
	}
	.comment-meta a {
		margin-bottom: 1rem;
	}
	.comment {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:last-child { border: none; }
	}
}
.comment-intro {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
	margin-bottom: .5em;
}
.comments {
	padding: 1.5rem;
}




/*==========================================================================
Gravity Forms
==========================================================================*/



/*==========================================================================
Responsive Styles
==========================================================================*/
@import "responsive";

