/*==========================================================================
Imports
==========================================================================*/
@import "includes";

// Small screens
@media only screen {
}

@media only screen and (max-width: 40em) {
	// Header
	header.main {
		padding-bottom: 0;
		.upper { display: none; }
		.columns { padding: 0; }
		nav.main { 
			text-align: center;
			padding: .75em 0;
		}
		.customSelectInner:after {
			right: 1.5em !important;
		}
	}
	// Blog
	.the-post {
		.category { text-align: center; }
		time { 
			padding: .5em;
			margin-bottom: 1em;
			display: block;
			span { padding: 0 .25em;}
		}
	}
	aside.sidebar {
		margin-top: 3em;
	}
}

// Medium screens
@media only screen and (min-width: 40.063em) {
	article.post {
		time {
			display: block;
			padding: 1em 0;
			width: 80px;
			height: 80px;
			text-align: center;
			span {
				display: inline-block;
				text-align: center;
			}
			.date {
				font-size: 2em;
				display: block;
				margin-bottom: .05em;
				opacity: .5;
				line-height: .9em;
			}
			.year {
				margin-left: .35em;
			}
		}
	}
	.post-list {
		.the-post {
			padding-left: 100px;
			padding-bottom: 1.5em;
		}
		time {
			position: absolute;
			top: auto;
			left: 0;
		}
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}

@media only screen and (max-width: 64em) {
	h1 { font-size: 2.1rem; }
	h2 { font-size: 1.8rem; }
	h3 { font-size: 1.5rem; }
	h4 { font-size: 1.3rem; }
	h5, h6, .button { font-size: 1rem; }

	// Header
	header.main {
		.logo { 
			padding-bottom: 1.5em;
			text-align: center;
			display: block;
		}
		ul.menu { display: none; }
		select.tinynav {
			cursor: pointer;
			height: 100% !important;
			margin: 0;
			right: 0;
			top: 0;
			z-index: 100;
		}
		select.tinynav, .customSelectInner, .customSelect {
			width: 100% !important;
		}
		.tinynav { display: block !important; }
		.customSelectInner {
			font-size: 1.25rem;
			position: relative;
			padding-right: 1.5em;
			&:after {
				content: '\f20d';
				position: absolute;
				top: .5em;
				right: 0;
				top: 0;
				font-family: 'Ionicons';
			}
		}
	}

	// Footer
	footer.main {
		text-align: center;
		ul { 
			padding: 0;
			margin: 1em 0;
		}
		nav.footer {
			.menu { text-align: center; }
			a { 
				font-size: 1rem;
				padding: .75em;
				font-size: .8rem;
			}
		}
		.adr, .numbers, .emails {
			a {
				font-size: 1rem;
				display: block;
				padding: .25em;
				margin: .25em 0;
			}
		}
		.copyright { text-align: center; }
	}

	// Homepage
	.home-slideshow .slide-content {
		max-width: 100%;
		width: 100%;
		bottom: 0;
		top: auto;
		h2 { font-size: 1.5rem; }
		.button { font-size: .8rem; }
	}
	.shift .section-block.shift-up {
		margin-top: auto;
	}
	.padded { padding: .5em; }
}

// Large screens
@media only screen and (min-width: 64.063em) {
}