/*==========================================================================
Imports
==========================================================================*/
@import "includes";
@import "slick";



/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h1 a, h2, h3, h4, h5, h6 {
	@include fontStyle($font-type: heading, $font-size: null, $font-weight: normal, $font-style: italic, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null);
}
h1 {
	margin: 0 auto;
	font-size: 3rem;
	display: inline-block;
	padding: 2rem;
}
h2 { font-size: 2.5rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.8rem; }
h5, h6 { font-size: 1.3rem; }
h4, h6 { font-weight: 400; }
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
	@include fontStyle(paragraph, .9rem);
}
ul, ol {
	padding-left: 5%;
}
a, input[type=submit] {
	@include transition(all,.3s);
	&:hover { opacity: .8; }
}
blockquote {
	padding: 2em;
	margin: 2em -2.5em 2em 0;
	border: none;
	p, li, ol, ul {
		&:last-child { margin: 0; }
	}
	p, li, ol, ul, a {
		@include fontStyle($font-type: heading, $font-size: 1.5rem, $font-weight: null, $font-style: italic, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null);
	}
	a { 
		opacity: .5;
		text-decoration: underline;
	}
}
pre {
	padding: 1.5rem;
	margin: 2em 0;
	max-width: 100%;
}
hr {
	border: none;
	position: relative;
	margin: 3em 0;
	&:after {
		display: block;
		width: 25%;
		border-top-width: 4px;
		border-top-style: solid;
		content: '';
	}
}
.vcard {
	border: none;
	padding: 0;
	display: block;
	margin: 0;
	p, span, a {
		font-size: .7rem;
		padding: 0;
	}
}
.prepend { margin-right: .5rem;}
.button, .continue {
	@include fontStyle($font-type: heading, $font-size: 1.1rem, $font-weight: 800);
	@include transition(all,.3s);
	padding: .5em 1.5em;
	margin-top: 1.5em;
}
// Input Fields //
input, textarea { 
	width: 100%;
	border-width: 3px;
	border-style: solid;
	padding: .5em;
}
label { 
	display: block;
	margin-bottom: .5em;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin: .5em 1.5em .5em 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter, img.aligncenter {
	margin: .5em auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
article.main hr {
	border: none;
	height: 1px;
	width: 30%;
	margin: 1em 0;
}
.button { 
	margin: 0;
	border-width: 4px;
	border-style: solid;
	text-decoration: none !important;
}
.emails a { display: block; }



/*==========================================================================
Containers & Shared Styles
==========================================================================*/
body, html {
	min-height: 100%;
	height: 100%;
}
.row { max-width: 100%; }
.menu { margin: 0; }
// Backdrop //
.backdrop {
	padding: 7% 0;
	text-align: center;
	background: {
		position: center;
		size: cover;
		repeat: no-repeat;
	}
}
// Featured Content Image //
.content-featured { 
	text-align: center;
	img {
		width: 100%;
		height: auto;
	}
}
// Container //
.container {
	padding: 1.5em 0;
}
.columns {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.row .row {
	margin-left: -1.25em;
	margin-right: -1.25em;
}
div .inner {
	padding: 1.5em;
}
.shift {
	.section-block.shift-up { margin-top: -4rem; }
}
.section-block {
	margin: 1.5rem 0;
	overflow: hidden;
	.inside .padded, .section-larger.padded {
		padding: 1.5rem;
	}
	.inside {
		background-position: center;
		background-size: cover;
		height: 100%;
		&[class*='important-'] {
			border-width: 5px;
			border-style: solid;
		}
		.row, .columns { height: 100%; }
	}
	.list {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			&.padded { padding: 1em; }
			p:last-child { margin: 0; }
			&.list-type-image {
				background: {
					repeat: no-repeat;
					size: cover;
					position: center;
				}
			}
			.button-customize { width: 100%; }
			.button-customize.no-border { border: none; }
		}
	}
	.image-bg {
		height: 100%;
		min-height: 250px;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	.inner-bg {
		height: 100%;
		padding-bottom: 2rem;
		position: relative;
	}
	.section-list .list, .section-cta { height: 100%; }
	.button:hover { opacity: 1; }
	&.small-12 .inside { padding: 0 1.5em; }
	.title-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: .5em 1.5em;
		width: 100%; 
		h3 { margin: 0; }
	}
	.section-cta.cta-box {
		position: relative;
		.button {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border: none;
		}
	}
	.section-larger.inside {
		padding: 0;
	}
}
// Navigation
.prepend {
	@include fontStyle(heading, 1em, null, null, null, uppercase);
}



/*==========================================================================
Header
==========================================================================*/
// Header Container //
header.main {
	position: relative;
	z-index: 10;
	padding: 1.5em 0;
	border-bottom:solid 5px #204674;
	// Navigations
	nav {
		text-align: right;
		ul, li { margin: 0; }
		li {
			list-style-type: none;
			display: inline-block;
		}
	}
}
// Top Nav & Social //
header.main .upper {
	text-align: right;
	div, p, span, a { 
		margin: 0 0 0 .25em;
		font-size: .7rem;
	}
	.social, nav, .custom, .vcard {
		display: inline-block;
		border-left-width: 1px;
		border-left-style: solid;
		line-height: .5rem;
		margin-left: .75em;
		&:first-child {
			border: none;
			padding: 0;
			margin: 0;
		}
		a {
			@include transition(all,.2s);
			opacity: .8;
			&:hover { opacity: 1; }
		}
	}
	.social {
		a {
			font-size: 1.1rem;
			line-height: -.5em;
			vertical-align: middle;
			display: inline-block;
		}
	}
	nav {
		ul { padding: 0; }
		li { 
			padding-left: .5em;
			display: inline-block;
		}
		a { 
			text-transform: uppercase;
			font-size: .7rem;
			font-weight: 500;
		}
	}
	.vcard {
		display: inline-block;
		div, p { display: inline-block; }
		.org { display: none; }
	}
}
// Main Navigation //
nav.main {
	padding: 1.5rem 0;
	.menu {
		margin: 0;
		padding: 0;
		&> li {
			padding-left: 1.5em;
			position: relative;
			a {
				display: block;
				padding: .5rem;
			}
		}
		&> li:hover > .sub-menu, .sub-menu li:hover > .sub-menu {
			display: block;
			position: absolute;
			right: 0;
			-webkit-transform: translateZ(0);
		}
		.sub-menu {
			padding: 0;
			li {
				border-style: solid;
				border-width: 0;
				border-bottom-width: 1px;
				width: 100%;
				font-size: .9em;
				position: relative;
				-webkit-transform: translateZ(0);
				list-style-type: none;
				text-align: left;
				&:hover {
					&> .sub-menu {
						right: 100%;
						top: 0;
					}
				}
				a {
					white-space: nowrap;
					display: block;
					width: 100%;
					padding: .75em 1em;
				}
			}
			.sub-menu {
				border-style: solid;
				border-width: 0;
				border-right-width: 1px;
			}
		}
	}
	a {
		@include fontStyle($font-type: heading, $font-size: .9rem, $font-weight: normal, $font-style: null, $text-align: null, $text-transform: uppercase, $line-height: null, $letter-spacing: null);
		-webkit-transform: translateZ(0);
	}
	.sub-menu {
		display: none;
		position: relative;
		z-index: 100;
	}
}
.tinynav { display: none !important; }


/*==========================================================================
Footer
==========================================================================*/
footer.main {
	padding: 2em 0;
	p {
		padding: .25em 0 0;
		margin: 0;
	}
}
footer.main, nav.footer {
	p, a {
		font-size: .8rem;
		font-weight: 300;
	}
}
nav.footer {
	margin-bottom: .75em;
	.menu { text-align: right; }
	li {
		padding: 0 0 0 .25em;
		display: inline-block;
		border-left-width: 1px;
		border-left-style: solid;
		&:first-child { border: 0; }
		&:last-child a { padding-right: 0; }
	}
	a { 
		font-weight: bold;
		padding: 0 .5em;
	}
	li, a { line-height: .9em; }
}
.copyright {
	text-align: right;
}



/*==========================================================================
Sidebar
==========================================================================*/
aside.sidebar {
	position: relative;
	.contact-details {
		p, span, a {
			@include fontStyle(heading, 1.1rem, 300);
			margin: 0;
		}
	}
	.widget {
		margin: 0 0 3em;
		padding: 1.5em;
		a { 
			opacity: .7;
			&:hover { opacity: 1; }
		}
		&.has-bg { 
			// margin: 1.5em 0;
			border: none;
		}
		input {
			padding: .75em;
			font-size: .9rem;
			margin: .5em 0;
			&[type=submit] {
				@include fontStyle($font-type: heading, $font-size: 1.2rem, $font-weight: null, $font-style: null, $text-align: null, $text-transform: uppercase, $line-height: null, $letter-spacing: null);
				display: inline-block;
				padding: .5em 1.5em;
				cursor: pointer;
				width: auto;
			}
		}
		.button { margin-bottom: 0; }
		&.has-bg:after, &:last-child:after { height: 0; }
		h3 { 
			margin: 0 0 1rem;
			font-size: 1.8rem;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				padding: .5em 0;
				border-top-width: 1px;
				border-top-style: solid;
			}
		}
		#wp-calendar {
			width: 100%;
			text-align: center;
			th { text-align: center; }
			caption {
				@include fontStyle($font-type: heading, $font-size: 1.4rem, $font-weight: 600, $font-style: null, $text-align: left, $text-transform: null, $line-height: null, $letter-spacing: null);
				margin-bottom: 1em;
			}
		}
	}
	.widget-hours {
		.day, time {
			display: inline-block;
			width: 48%;
		}
		.day { 
			width: 30%;
			font-weight: 600;
		}
		time { 
			width: 65%;
			margin-left: 3%;
		}
		p {
			border-top-width: 1px;
			border-top-style: solid;
			padding: .75em 0;
			margin: 0;
		}
	}
	.widget-custom {
		padding: 0;
		.content {
			padding: 1.5em;
		}
	}
}



/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.home-slideshow {
	position: relative;
	overflow: hidden;
	height: 500px;
	&.side-right .slide-content { right: 0; }
	&.side-left .slide-content { left: 0; }
	&.side-center .slide-content { right: 0; left: 0; }
	.slide-content {
		position: absolute;
		margin: auto;
		top: 25%;
		max-width: 50%;
		a { text-decoration: underline; }
	}
	.slick-dots {
		position: absolute;
		top: 0;
		right: 0;
		bottom: auto;
		margin: 0;
		button, li {
			@include transition(all,.3s);
			height: 15px;
			width: 15px;
		}
		button {
			margin: 0;
			border-width: 3px;
			border-style: solid;
			&:before { content: ''; }
			&:hover {
				opacity: .8;
			}
		}
	}
}
.home-slider {
	position: relative;
	margin: 0;
	.slide {
		min-height: 500px;
		position: relative;
		background: {
			size: cover;
			position: center;
		}
	}
	.content {
		position: absolute;
	}
}
// Blog //
.blog-title {
	text-transform: uppercase;
	margin-bottom: 2rem;
}
.post-list {
	.the-post {
		padding-bottom: 1.5em;
	}
	.no-date .the-post  {
		padding-left: 0;
	}
}
.single {
	time {
		float: left;
		margin: 0 2em 1em 0;
	}
}
article.post {
	h1, h2 {
		line-height: 1em;
		margin: 0;
		font-weight: normal;
		a { font-size: 1em; } 
	}
	.featured-image { margin-bottom: 1em; }
	p:last-child { margin-bottom: 0; }
}
.the-post {
	position: relative;
	margin-bottom: 2em;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: 1px;
		display: block;
	}
	.single & {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:after {
			height: 0;
		}
	}
	h1 { padding: 0; }
}
.categorizing {
	margin: .25em 0 1.25em;
}
footer.post {
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 2em;
}
.continue-wrap {
	display: block;
	text-align: right;
}
.continue {
	display: inline-block;
	margin-bottom: 0;
	padding: .5em 1em;
}
.pagination {
	text-align: right;
	font-size: .9rem;
	span, a {
		display: inline-block;
		padding: .25rem;
	}
	.current {
		font-weight: bold;
		padding: .25em .5em;
	}
}
div.main {
	p.categories, p.tags {
		margin: 0;
		font-size: .8rem;
		line-height: 1.7em;
	}
}
.search-results { margin-bottom: 1.5em; }
// Comments
.comments {
	padding: 1em;
	label { display: block; }
	.form-submit { 
		margin: 0;
		text-align: right;
	}
	input[type=submit] {
		display: inline-block;
		width: auto;
		&:after {
			content: '\00bb';
		}
	}
	.comment-form-author, .comment-form-email {
		float: left;
		width: 48%;
	}
	.comment-form-author { margin-right: 4%; }
	.comment-form-url {
		clear: both;
	}
}
.comment-list {
	margin: 0; 
	padding: 0;
	li { 
		list-style-type: none;
		padding: 1.5em 0;
	}
	.children {
		margin: 1.5em 0 0 0;
		padding: 0 1.5em;
	}
	.avatar { display: none; }
	.comment-author {
		.fn, .says {
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
		}
	}
	.comment-author, .comment-meta { 
		display: inline-block;
		margin-bottom: 1em;
	}
	.comment-meta a, .comment-reply-link {
		font-size: .7rem;
	}
	.comment-meta a {
		margin-bottom: 1rem;
		// display: block;
	}
	.comment {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:last-child { border: none; }
	}
}
.comment-intro {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
	margin-bottom: .5em;
}
// Footer
footer.post {
	padding: 1em 0;
}
// Gallery //
.post.gallery {
	header {
		margin-bottom: 2em;
	}
	.the-post { 
		border: none;
		padding: 0;
	}
}
.flexslider .slides {
	margin: 0;
}
.gallery {
	h1 { padding: 0; }
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
}
.single .gallery {
	.content {
		margin-bottom: 4em;
	}
	.categorizing {
		margin: 0;
	}
}
.gallery-image {
	margin-bottom: 1em;
	position: relative;
	.inner { padding: 0; }
	img { 
		margin: 0;
		min-width: 100%;
	}
	&.no-space {
		padding: 0;
		margin: 0;
	}
	&.full { 
		width: 100%;
		background-image: url(plugins/skins/loading-medium.gif);
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.full img { 
		width: 100%;
	}
}
#carousel .slides li {
	margin: 0;
}
ol.flex-control-nav {
	margin: 0;
	text-align: center;
}
.counter {
	font-size: .8rem;
}
.gallery-list .gallery-image {
    position: relative;
    overflow: hidden;
}



/*==========================================================================
Gravity Forms
==========================================================================*/
.gform_wrapper {
	input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
		@include fontStyle(paragraph, 1.1rem);
		padding: .5em;
		border-style: solid;
	}
	.top_label .gfield_label {
		@include fontStyle(heading, null, normal, null, null, uppercase);
	}
	.gform_footer {
		margin: 0;
		padding: 0;
	}
	.gform_footer input.button, .gform_footer input[type=submit] {
		@include fontStyle(heading, null, normal, null, null, uppercase);
		padding: .5em 1em;
		margin: 0;
	}
	li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		margin: 1em 0;
	}
	div.validation_error {
		@include fontStyle(heading, null, 400, null, null, uppercase);
	}
	li.gfield.gfield_error.gfield_contains_required label.gfield_label, li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		margin: 0;
	}
	.ginput_container + .gfield_description.validation_message, .ginput_container + .gfield_description {
		@include fontStyle(paragraph, .7rem, normal);
		padding: 0 !important;
		margin: .5em 0 0;
	}
}


/*==========================================================================
Responsive Styles
==========================================================================*/
@import "responsive";

