/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media only screen and (max-width: 40em) {
  header.main {
    padding-bottom: 0;
  }
  header.main .upper {
    display: none;
  }
  header.main .columns {
    padding: 0;
  }
  header.main nav.main {
    text-align: center;
    padding: 0.75em 0;
  }
  header.main .customSelectInner:after {
    right: 1.5em !important;
  }
  .the-post .category {
    text-align: center;
  }
  .the-post time {
    padding: 0.5em;
    margin-bottom: 1em;
    display: block;
  }
  .the-post time span {
    padding: 0 0.25em;
  }
  aside.sidebar {
    margin-top: 3em;
  }
  .backdrop {
    padding: 40px 0;
    padding-top: 200px;
  }
}
@media only screen and (min-width: 40.063em) {
  article.post time {
    display: block;
    padding: 1em 0;
    width: 80px;
    height: 80px;
    text-align: center;
  }
  article.post time span {
    display: inline-block;
    text-align: center;
  }
  article.post time .date {
    font-size: 2em;
    display: block;
    margin-bottom: 0.05em;
    opacity: 0.5;
    line-height: 0.9em;
  }
  article.post time .year {
    margin-left: 0.35em;
  }
  .post-list .the-post {
    padding-left: 100px;
    padding-bottom: 1.5em;
  }
  .post-list time {
    position: absolute;
    top: auto;
    left: 0;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  header.main .tinynav {
    line-height: 3;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 64em) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5, h6, .button {
    font-size: 1rem;
  }
  .no-padding {
    margin: 0;
  }
  header.main .logo {
    text-align: center;
    display: block;
  }
  header.main ul.menu {
    display: none;
  }
  header.main select.tinynav {
    cursor: pointer;
    height: 100% !important;
    margin: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
  header.main select.tinynav, header.main .customSelectInner, header.main .customSelect {
    width: 100% !important;
  }
  header.main .tinynav {
    display: block !important;
  }
  header.main .customSelectInner {
    font-size: 1.25rem;
    position: relative;
    padding-right: 1.5em;
  }
  header.main .customSelectInner:after {
    content: '\f20d';
    position: absolute;
    top: 0.5em;
    right: 0;
    top: 0;
    font-family: 'Ionicons';
  }
  .post-type-archive-portfolio .post-list .post {
    width: 100%;
  }
  footer.main {
    text-align: center;
  }
  footer.main ul {
    padding: 0;
    margin: 1em 0;
  }
  footer.main nav.footer .menu {
    text-align: center;
  }
  footer.main nav.footer a {
    font-size: 0.7rem;
  }
  footer.main .copyright {
    text-align: center;
  }
  .home-slideshow .slide-content {
    max-width: 100%;
    width: 100%;
  }
  .home-slideshow .slide-content h2 {
    font-size: 1.5rem;
  }
  .home-slideshow .slide-content .button {
    font-size: 0.8rem;
  }
  .padded {
    padding: 0.5em;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body, .primary {
  background-color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .8);
}
.overlay-grad-primary {
  /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.42) 68%, #fff 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(255, 255, 255, 0)), color-stop(68%, rgba(255, 255, 255, 0.42)), color-stop(100%, #fff));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.42) 68%, #fff 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.42) 68%, #fff 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.42) 68%, #fff 100%);
}
body h1, .primary h1, .overlay-primary h1, body h1 a, .primary h1 a, .overlay-primary h1 a, body h2, .primary h2, .overlay-primary h2, body h3, .primary h3, .overlay-primary h3, body h4, .primary h4, .overlay-primary h4, body h5, .primary h5, .overlay-primary h5, body h6, .primary h6, .overlay-primary h6, body a, .primary a, .overlay-primary a {
  color: #00aeef;
}
body p, .primary p, .overlay-primary p, body ol, .primary ol, .overlay-primary ol, body ul, .primary ul, .overlay-primary ul, body li, .primary li, .overlay-primary li, body blockquote, .primary blockquote, .overlay-primary blockquote, body dl, .primary dl, .overlay-primary dl, body dt, .primary dt, .overlay-primary dt, body dd, .primary dd, .overlay-primary dd, body table, .primary table, .overlay-primary table, body tr, .primary tr, .overlay-primary tr, body td, .primary td, .overlay-primary td, body span, .primary span, .overlay-primary span, body pre, .primary pre, .overlay-primary pre, body label, .primary label, .overlay-primary label, body input, .primary input, .overlay-primary input, body textarea, .primary textarea, .overlay-primary textarea {
  color: #7c7c7c;
}
body hr:after, .primary hr:after, .overlay-primary hr:after {
  border-top-color: #00aeef;
}
body blockquote, .primary blockquote, .overlay-primary blockquote {
  background-color: #00aeef;
}
body blockquote p, .primary blockquote p, .overlay-primary blockquote p, body blockquote ol, .primary blockquote ol, .overlay-primary blockquote ol, body blockquote ul, .primary blockquote ul, .overlay-primary blockquote ul, body blockquote li, .primary blockquote li, .overlay-primary blockquote li, body blockquote span, .primary blockquote span, .overlay-primary blockquote span, body blockquote cite, .primary blockquote cite, .overlay-primary blockquote cite, body blockquote a, .primary blockquote a, .overlay-primary blockquote a {
  color: #fff;
}
body a.button, .primary a.button, .overlay-primary a.button, body input[type=submit], .primary input[type=submit], .overlay-primary input[type=submit], body div.button, .primary div.button, .overlay-primary div.button {
  background-color: #00aeef;
  color: #fff;
}
body a.button:hover, .primary a.button:hover, .overlay-primary a.button:hover, body input[type=submit]:hover, .primary input[type=submit]:hover, .overlay-primary input[type=submit]:hover, body div.button:hover, .primary div.button:hover, .overlay-primary div.button:hover {
  background-color: #0089bc;
  color: #fff;
}
.section-block .primary ul.list li:nth-child(odd) {
  background-color: #d9d9d9;
}
.section-block .primary ul.list li:nth-child(even) {
  background-color: #bfbfbf;
}
.section-block .primary .section-list .list {
  background-color: #d9d9d9;
}
.primary.section-cta.cta-box a.button {
  background-color: #e6e6e6;
  color: #000;
}
.primary.section-cta.cta-box a.button:hover {
  background-color: #d9d9d9;
  color: #fff;
}
.primary--blend {
  background-color: rgba(255, 255, 255, .9);
  background-blend-mode: multiply;
}
#portfolio-slider {
  background-color: #e6e6e6;
}
.secondary {
  background-color: #565656;
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .8);
}
.overlay-grad-secondary {
  /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(86, 86, 86, 0) 45%, rgba(86, 86, 86, 0.42) 68%, #565656 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(86, 86, 86, 0)), color-stop(68%, rgba(86, 86, 86, 0.42)), color-stop(100%, #565656));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(86, 86, 86, 0) 45%, rgba(86, 86, 86, 0.42) 68%, #565656 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(86, 86, 86, 0) 45%, rgba(86, 86, 86, 0.42) 68%, #565656 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(86, 86, 86, 0) 45%, rgba(86, 86, 86, 0.42) 68%, #565656 100%);
}
.secondary h1, .overlay-secondary h1, .overlay-none h1, .secondary--blend h1, .secondary h1 a, .overlay-secondary h1 a, .overlay-none h1 a, .secondary--blend h1 a, .secondary h2, .overlay-secondary h2, .overlay-none h2, .secondary--blend h2, .secondary h3, .overlay-secondary h3, .overlay-none h3, .secondary--blend h3, .secondary h4, .overlay-secondary h4, .overlay-none h4, .secondary--blend h4, .secondary h5, .overlay-secondary h5, .overlay-none h5, .secondary--blend h5, .secondary h6, .overlay-secondary h6, .overlay-none h6, .secondary--blend h6, .secondary a, .overlay-secondary a, .overlay-none a, .secondary--blend a {
  color: #fff;
}
.secondary p, .overlay-secondary p, .overlay-none p, .secondary--blend p, .secondary ol, .overlay-secondary ol, .overlay-none ol, .secondary--blend ol, .secondary ul, .overlay-secondary ul, .overlay-none ul, .secondary--blend ul, .secondary li, .overlay-secondary li, .overlay-none li, .secondary--blend li, .secondary blockquote, .overlay-secondary blockquote, .overlay-none blockquote, .secondary--blend blockquote, .secondary dl, .overlay-secondary dl, .overlay-none dl, .secondary--blend dl, .secondary dt, .overlay-secondary dt, .overlay-none dt, .secondary--blend dt, .secondary dd, .overlay-secondary dd, .overlay-none dd, .secondary--blend dd, .secondary table, .overlay-secondary table, .overlay-none table, .secondary--blend table, .secondary tr, .overlay-secondary tr, .overlay-none tr, .secondary--blend tr, .secondary td, .overlay-secondary td, .overlay-none td, .secondary--blend td, .secondary span, .overlay-secondary span, .overlay-none span, .secondary--blend span, .secondary pre, .overlay-secondary pre, .overlay-none pre, .secondary--blend pre, .secondary label, .overlay-secondary label, .overlay-none label, .secondary--blend label, .secondary input, .overlay-secondary input, .overlay-none input, .secondary--blend input, .secondary textarea, .overlay-secondary textarea, .overlay-none textarea, .secondary--blend textarea {
  color: #fff;
}
.secondary hr:after, .overlay-secondary hr:after, .overlay-none hr:after, .secondary--blend hr:after {
  border-top-color: #00aeef;
}
.secondary blockquote, .overlay-secondary blockquote, .overlay-none blockquote, .secondary--blend blockquote {
  background-color: #00aeef;
}
.secondary blockquote p, .overlay-secondary blockquote p, .overlay-none blockquote p, .secondary--blend blockquote p, .secondary blockquote ol, .overlay-secondary blockquote ol, .overlay-none blockquote ol, .secondary--blend blockquote ol, .secondary blockquote ul, .overlay-secondary blockquote ul, .overlay-none blockquote ul, .secondary--blend blockquote ul, .secondary blockquote li, .overlay-secondary blockquote li, .overlay-none blockquote li, .secondary--blend blockquote li, .secondary blockquote span, .overlay-secondary blockquote span, .overlay-none blockquote span, .secondary--blend blockquote span, .secondary blockquote cite, .overlay-secondary blockquote cite, .overlay-none blockquote cite, .secondary--blend blockquote cite, .secondary blockquote a, .overlay-secondary blockquote a, .overlay-none blockquote a, .secondary--blend blockquote a {
  color: #fff;
}
.secondary a.button, .overlay-secondary a.button, .overlay-none a.button, .secondary--blend a.button, .secondary input[type=submit], .overlay-secondary input[type=submit], .overlay-none input[type=submit], .secondary--blend input[type=submit], .secondary div.button, .overlay-secondary div.button, .overlay-none div.button, .secondary--blend div.button {
  background-color: rgba(255, 255, 255, .8);
  border-color: #fff;
  color: #691c33;
}
.secondary a.button:hover, .overlay-secondary a.button:hover, .overlay-none a.button:hover, .secondary--blend a.button:hover, .secondary input[type=submit]:hover, .overlay-secondary input[type=submit]:hover, .overlay-none input[type=submit]:hover, .secondary--blend input[type=submit]:hover, .secondary div.button:hover, .overlay-secondary div.button:hover, .overlay-none div.button:hover, .secondary--blend div.button:hover {
  background-color: #e6e6e6;
  color: #00aeef;
  border-color: #00aeef;
}
.section-block .secondary ul.list li:nth-child(odd) {
  background-color: #303030;
}
.section-block .secondary ul.list li:nth-child(even) {
  background-color: #161616;
}
.section-block .secondary .section-list .list {
  background-color: #303030;
}
.secondary.section-cta.cta-box a.button {
  background-color: #3d3d3d;
  color: #fff;
}
.secondary.section-cta.cta-box a.button:hover {
  background-color: #303030;
  color: #fff;
}
.secondary--blend {
  background-color: rgba(86, 86, 86, .9);
  background-blend-mode: multiply;
}
.tertiary {
  background-color: #00aeef;
}
.overlay-tertiary {
  background-color: rgba(0, 174, 239, .8);
}
.overlay-grad-tertiary {
  /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(0, 174, 239, 0) 45%, rgba(0, 174, 239, 0.42) 68%, #00aeef 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(0, 174, 239, 0)), color-stop(68%, rgba(0, 174, 239, 0.42)), color-stop(100%, #00aeef));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(0, 174, 239, 0) 45%, rgba(0, 174, 239, 0.42) 68%, #00aeef 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(0, 174, 239, 0) 45%, rgba(0, 174, 239, 0.42) 68%, #00aeef 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(0, 174, 239, 0) 45%, rgba(0, 174, 239, 0.42) 68%, #00aeef 100%);
}
.tertiary h1, .overlay-tertiary h1, .tertiary h1 a, .overlay-tertiary h1 a, .tertiary h2, .overlay-tertiary h2, .tertiary h3, .overlay-tertiary h3, .tertiary h4, .overlay-tertiary h4, .tertiary h5, .overlay-tertiary h5, .tertiary h6, .overlay-tertiary h6, .tertiary a, .overlay-tertiary a {
  color: #fff;
}
.tertiary p, .overlay-tertiary p, .tertiary ol, .overlay-tertiary ol, .tertiary ul, .overlay-tertiary ul, .tertiary li, .overlay-tertiary li, .tertiary blockquote, .overlay-tertiary blockquote, .tertiary dl, .overlay-tertiary dl, .tertiary dt, .overlay-tertiary dt, .tertiary dd, .overlay-tertiary dd, .tertiary table, .overlay-tertiary table, .tertiary tr, .overlay-tertiary tr, .tertiary td, .overlay-tertiary td, .tertiary span, .overlay-tertiary span, .tertiary pre, .overlay-tertiary pre, .tertiary label, .overlay-tertiary label, .tertiary input, .overlay-tertiary input, .tertiary textarea, .overlay-tertiary textarea {
  color: #fff;
}
.tertiary hr:after, .overlay-tertiary hr:after {
  border-top-color: #00aeef;
}
.tertiary blockquote, .overlay-tertiary blockquote {
  background-color: #00aeef;
}
.tertiary blockquote p, .overlay-tertiary blockquote p, .tertiary blockquote ol, .overlay-tertiary blockquote ol, .tertiary blockquote ul, .overlay-tertiary blockquote ul, .tertiary blockquote li, .overlay-tertiary blockquote li, .tertiary blockquote span, .overlay-tertiary blockquote span, .tertiary blockquote cite, .overlay-tertiary blockquote cite, .tertiary blockquote a, .overlay-tertiary blockquote a {
  color: #fff;
}
.tertiary a.button, .overlay-tertiary a.button, .tertiary input[type=submit], .overlay-tertiary input[type=submit], .tertiary div.button, .overlay-tertiary div.button {
  background-color: rgba(255, 255, 255, .8);
  border-color: #fff;
  color: #691c33;
}
.tertiary a.button:hover, .overlay-tertiary a.button:hover, .tertiary input[type=submit]:hover, .overlay-tertiary input[type=submit]:hover, .tertiary div.button:hover, .overlay-tertiary div.button:hover {
  background-color: #e6e6e6;
  color: #00aeef;
  border-color: #691c33;
}
.tertiary .st-single-color a:before, .overlay-tertiary .st-single-color a:before {
  color: #fff !important;
}
.section-block .tertiary ul.list li:nth-child(odd) {
  background-color: #0076a3;
}
.section-block .tertiary ul.list li:nth-child(even) {
  background-color: #005170;
}
.section-block .tertiary .section-list .list {
  background-color: #0076a3;
}
.tertiary.section-cta.cta-box a.button {
  background-color: #0089bc;
  color: #000;
}
.tertiary.section-cta.cta-box a.button:hover {
  background-color: #0076a3;
  color: #fff;
}
.tertiary--blend {
  background-color: rgba(0, 174, 239, .9);
  background-blend-mode: multiply;
}
.quaternary, .has-bg {
  background-color: #691c33;
}
.overlay-quaternary {
  background-color: rgba(105, 28, 51, .8);
}
.overlay-grad-quaternary {
  /* FF3.6+ */
  background: -moz-linear-gradient(top, rgba(105, 28, 51, 0) 45%, rgba(105, 28, 51, 0.42) 68%, #691c33 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(105, 28, 51, 0)), color-stop(68%, rgba(105, 28, 51, 0.42)), color-stop(100%, #691c33));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(top, rgba(105, 28, 51, 0) 45%, rgba(105, 28, 51, 0.42) 68%, #691c33 100%);
  /* IE10+ */
  background: -ms-linear-gradient(top, rgba(105, 28, 51, 0) 45%, rgba(105, 28, 51, 0.42) 68%, #691c33 100%);
  /* W3C */
  background: linear-gradient(to bottom, rgba(105, 28, 51, 0) 45%, rgba(105, 28, 51, 0.42) 68%, #691c33 100%);
}
.quaternary h1, .overlay-quaternary h1, .quaternary h1 a, .overlay-quaternary h1 a, .quaternary h2, .overlay-quaternary h2, .quaternary h3, .overlay-quaternary h3, .quaternary h4, .overlay-quaternary h4, .quaternary h5, .overlay-quaternary h5, .quaternary h6, .overlay-quaternary h6, .quaternary a, .overlay-quaternary a {
  color: #fff;
}
.quaternary p, .overlay-quaternary p, .quaternary ol, .overlay-quaternary ol, .quaternary ul, .overlay-quaternary ul, .quaternary li, .overlay-quaternary li, .quaternary blockquote, .overlay-quaternary blockquote, .quaternary dl, .overlay-quaternary dl, .quaternary dt, .overlay-quaternary dt, .quaternary dd, .overlay-quaternary dd, .quaternary table, .overlay-quaternary table, .quaternary tr, .overlay-quaternary tr, .quaternary td, .overlay-quaternary td, .quaternary span, .overlay-quaternary span, .quaternary pre, .overlay-quaternary pre, .quaternary label, .overlay-quaternary label, .quaternary input, .overlay-quaternary input, .quaternary textarea, .overlay-quaternary textarea {
  color: #fff;
}
.quaternary hr:after, .overlay-quaternary hr:after {
  border-top-color: #00aeef;
}
.quaternary blockquote, .overlay-quaternary blockquote {
  background-color: #00aeef;
}
.quaternary blockquote p, .overlay-quaternary blockquote p, .quaternary blockquote ol, .overlay-quaternary blockquote ol, .quaternary blockquote ul, .overlay-quaternary blockquote ul, .quaternary blockquote li, .overlay-quaternary blockquote li, .quaternary blockquote span, .overlay-quaternary blockquote span, .quaternary blockquote cite, .overlay-quaternary blockquote cite, .quaternary blockquote a, .overlay-quaternary blockquote a {
  color: #fff;
}
.quaternary a.button, .overlay-quaternary a.button, .quaternary input[type=submit], .overlay-quaternary input[type=submit], .quaternary div.button, .overlay-quaternary div.button {
  background-color: rgba(0, 174, 239, .8);
  border-color: #00aeef;
  color: #fff;
}
.quaternary a.button:hover, .overlay-quaternary a.button:hover, .quaternary input[type=submit]:hover, .overlay-quaternary input[type=submit]:hover, .quaternary div.button:hover, .overlay-quaternary div.button:hover {
  background-color: #0089bc;
  color: #fff;
  border-color: #565656;
}
.section-block .quaternary ul.list li:nth-child(odd) {
  background-color: #2d0c16;
}
.section-block .quaternary ul.list li:nth-child(even) {
  background-color: #ca3a65;
}
.section-block .quaternary .section-list .list {
  background-color: #2d0c16;
}
.quaternary.section-cta.cta-box a.button {
  background-color: #41111f;
  color: #fff;
}
.quaternary.section-cta.cta-box a.button:hover {
  background-color: #2d0c16;
  color: #fff;
}
.quaternary--blend {
  background-color: rgba(105, 28, 51, .9);
  background-blend-mode: multiply;
}
body {
  background-color: #fff;
  color: #565656;
}
a.button, a.continue {
  background-color: #691c33;
  color: #fff;
}
a.button:hover, a.continue:hover {
  background-color: #691c33;
}
input, textarea {
  border-color: #691c33;
}
input[type=submit] {
  background-color: #691c33;
  color: #fff;
}
input[type=submit]:hover, input[type=submit]:active {
  background-color: #fff;
  color: #691c33;
}
header.main nav.main ul.menu > li:hover, header.main nav.main ul.menu > li.current-menu-item {
  background-color: #00aeef;
}
header.main nav.main .sub-menu {
  background-color: rgba(105, 28, 51, .8);
}
header.main nav.main .sub-menu li {
  border-bottom-color: #691c33;
}
header.main nav.main .sub-menu li:hover {
  background-color: #691c33;
}
header.main nav.main .sub-menu .sub-menu {
  background-color: rgba(105, 28, 51, .7);
  border-left-color: #691c33;
}
header.main nav.main .sub-menu .sub-menu li:hover {
  background-color: rgba(105, 28, 51, .7);
}
header.main .upper .social, header.main .upper nav, header.main .upper .custom, header.main .upper .vcard {
  border-color: rgba(255, 255, 255, .25);
}
header.main .upper .social span, header.main .upper nav span, header.main .upper .custom span, header.main .upper .vcard span, header.main .upper .social p, header.main .upper nav p, header.main .upper .custom p, header.main .upper .vcard p, header.main .upper .social a, header.main .upper nav a, header.main .upper .custom a, header.main .upper .vcard a {
  color: #fff;
}
.backdrop h1.primary {
  background-color: rgba(255, 255, 255, .8);
  color: #00aeef;
}
.backdrop h1.secondary {
  background-color: rgba(86, 86, 86, .8);
  color: #fff;
}
.backdrop h1.tertiary {
  background-color: rgba(0, 174, 239, .8);
  color: #fff;
}
.backdrop h1.quaternary {
  background-color: rgba(105, 28, 51, .8);
  color: #565656;
}
aside.sidebar .widget {
  background-color: #00aeef;
}
aside.sidebar .widget h1, aside.sidebar .widget h2, aside.sidebar .widget h3, aside.sidebar .widget h4, aside.sidebar .widget h5, aside.sidebar .widget h6, aside.sidebar .widget p, aside.sidebar .widget ul, aside.sidebar .widget ol, aside.sidebar .widget li, aside.sidebar .widget span, aside.sidebar .widget a, aside.sidebar .widget label {
  color: #fff;
}
aside.sidebar .widget input {
  border-color: #fff;
  background-color: #70d8ff;
  color: #fff;
}
aside.sidebar .widget .button {
  background-color: #fff;
  color: #00aeef;
}
aside.sidebar .widget div.button a {
  color: #00aeef;
}
aside.sidebar .widget .label {
  background-color: rgba(255, 255, 255, .8);
  color: #00aeef;
}
aside.sidebar .widget .st-single-color a:before {
  color: #fff !important;
}
aside.sidebar .widget:after {
  background-color: rgba(86, 86, 86, .5);
}
aside.sidebar li {
  border-color: rgba(255, 255, 255, .1);
}
aside.sidebar #wp-calendar caption {
  color: #691c33;
}
footer.main .lower p, footer.main .lower a, footer.main .lower span {
  color: #00aeef;
}
footer.main .lower .numbers, footer.main .lower .emails {
  border-left-color: #00aeef;
}
.home-slideshow {
  background-color: #e6e6e6;
}
.home-slideshow .slide-content h2, .home-slideshow .slide-content h3, .home-slideshow .slide-content h4, .home-slideshow .slide-content h5, .home-slideshow .slide-content h6, .home-slideshow .slide-content p {
  color: #fff;
}
.home-slider .slick-dots li button {
  background-color: #fff;
  border-color: #00aeef;
}
.home-slider .slick-dots li button:hover, .slick-active .home-slider .slick-dots li button {
  background-color: #00aeef;
}
.home-slider .slick-dots li.slick-active button {
  background-color: #00aeef;
}
.important-primary {
  border-color: #fff;
}
.important-secondary {
  border-color: #565656;
}
.important-tertiary {
  border-color: #00aeef;
}
.important-quaternary {
  border-color: #691c33;
}
.post time {
  background-color: #691c33;
}
.post time span {
  color: #fff;
}
.the-post:after {
  background-color: #d6d6d6;
}
.comment-list .children, .comments {
  background-color: rgba(86, 86, 86, .1);
}
.comment-list .comment, .comment-intro, .the-post, footer.post {
  border-color: #d6d6d6;
}
.comment .fn {
  color: #691c33;
}
.meta {
  border-top-color: #d6d6d6;
}
.button.button-customize.primary-bg {
  background-color: #fff;
  color: #691c33;
}
.button.button-customize.secondary-bg {
  background-color: #565656;
  color: #fff;
}
.button.button-customize.tertiary-bg {
  background-color: #00aeef;
  color: #fff;
}
.button.button-customize.quaternary-bg {
  background-color: #691c33;
  color: #fff;
}
.button.button-customize.primary-border {
  border-color: #fff;
}
.button.button-customize.secondary-border {
  border-color: #565656;
}
.button.button-customize.tertiary-border {
  border-color: #00aeef;
}
.button.button-customize.quaternary-border {
  border-color: #691c33;
}
.button.button-customize.primary-hover:hover {
  background-color: #fff;
  color: #000;
}
.button.button-customize.secondary-hover:hover {
  background-color: #565656;
  color: #fff;
}
.button.button-customize.tertiary-hover:hover {
  background-color: #00aeef;
  color: #000;
}
.button.button-customize.quaternary-hover:hover {
  background-color: #691c33;
  color: #fff;
}
.button.button-customize.primary-hover-border:hover {
  border-color: #fff;
}
.button.button-customize.secondary-hover-border:hover {
  border-color: #565656;
}
.button.button-customize.tertiary-hover-border:hover {
  border-color: #00aeef;
}
.button.button-customize.quaternary-hover-border:hover {
  border-color: #691c33;
}
.selector {
  background-color: #009bd6;
}
.selector ul li {
  background-color: #0094cb;
}
@media only screen and (max-width: 40em) {
  nav.main {
    background-color: #00aeef;
  }
  nav.main span {
    color: #fff;
  }
}
