/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/ui4L3MaHUbARhH-m5bxHRevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/Vj6JEk1YZr8j8R8H2j0b-rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/kbP_6ONYVgE-bLa9ZRbvvnYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OMD20Sg9RTs7sUORCEN-7brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/BM-nqL-L5PgjKPDNaleWB_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/_OKjjqM9ed2qvTR07QdjWwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 400;
  src: local('Arvo Italic'), local('Arvo-Italic'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/ui4L3MaHUbARhH-m5bxHRevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  src: local('Arvo Bold Italic'), local('Arvo-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/arvo/v6/Vj6JEk1YZr8j8R8H2j0b-rO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.primary {
  background-color: #fff;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6, .primary p, .primary ul, .primary ol, .primary dt, .primary dd, .primary blockquote p {
  color: #565656;
}
.primary a {
  color: #d93;
}
.primary a:hover {
  color: #a8701c;
}
.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6 {
  border-color: #68b038;
}
.callout h4.primary:hover {
  background-color: #e6e6e6;
}
.secondary {
  background-color: #565656;
}
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6, .secondary p, .secondary ul, .secondary ol, .secondary dt, .secondary dd, .secondary blockquote p {
  color: #fff;
}
.secondary a {
  color: #fff;
}
.secondary a:hover {
  color: #d9d9d9;
}
.callout h4.secondary:hover {
  background-color: #3d3d3d;
}
.tertiary {
  background-color: #1e9ad8;
}
.tertiary h1, .tertiary h2, .tertiary h3, .tertiary h4, .tertiary h5, .tertiary h6, .tertiary p, .tertiary ul, .tertiary ol, .tertiary dt, .tertiary dd, .tertiary blockquote p {
  color: #f7fcfe;
}
.tertiary.lighter {
  background-color: #5ab9e8;
}
.tertiary a {
  color: #0e4a68;
}
.tertiary a:hover {
  color: #87ccee;
}
.callout h4.tertiary:hover {
  background-color: #187aab;
}
.quaternary {
  background-color: #d93;
}
.quaternary h1, .quaternary h2, .quaternary h3, .quaternary h4, .quaternary h5, .quaternary h6, .quaternary p, .quaternary ul, .quaternary ol, .quaternary dt, .quaternary dd, .quaternary blockquote p {
  color: #fff;
}
.quaternary a {
  color: #efd0a0;
}
.quaternary a:hover {
  color: #7c5315;
}
.callout h4.quaternary:hover {
  background-color: #bd7e20;
}
.quinary {
  background-color: #68b038;
}
.quinary h1, .quinary h2, .quinary h3, .quinary h4, .quinary h5, .quinary h6, .quinary p, .quinary ul, .quinary ol, .quinary dt, .quinary dd, .quinary blockquote p {
  color: #f2f9ee;
}
.quinary a {
  color: #2f4f19;
}
.quinary a:hover {
  color: #acdb8d;
}
.callout h4.quinary:hover {
  background-color: #51892c;
}
.senary {
  background-color: #f2f2f2;
}
.senary h1, .senary h2, .senary h3, .senary h4, .senary h5, .senary h6 {
  color: #68b038;
}
.senary p, .senary ul, .senary ol, .senary dt, .senary dd, .senary blockquote p {
  color: #565656;
}
.senary a {
  color: #d93;
}
.senary a:hover {
  color: #a8701c;
}
.callout h4.senary:hover {
  background-color: #d9d9d9;
}
body {
  background-color: #68b038;
}
.home .slider-text h2, h1 .title {
  background-color: #68b038;
  color: #f2f9ee;
}
.breadcrumbs span, .breadcrumbs a {
  color: #fff;
}
a.button {
  background-color: #68b038;
  color: #f2f9ee;
}
a.button:hover {
  background-color: #467626;
  color: #f2f9ee;
}
.announcement {
  background-color: #bd7e20;
  border-color: #ecc58a;
  color: #fff;
}
.info-band .location .end-cap {
  border-right-color: #5ab9e8;
}
.info-band .phone .front-cap, .info-band .phone .end-cap {
  border-right-color: #d93;
}
.info-band .searchform input[type=text] {
  background-color: rgba(255, 255, 255, .65);
  color: #d93;
}
.info-band .searchform input[type=submit] {
  background-color: #fff;
  color: #d93;
}
.navigation {
  background-color: rgba(104, 176, 56, .8);
}
.navigation a {
  color: #f2f9ee;
}
.navigation li:hover, .navigation li ul {
  background-color: rgba(144, 206, 102, .8);
}
.navigation li:hover > a, .navigation li ul > a {
  color: #467626;
}
.navigation li ul a {
  color: #467626;
}
nav.footer {
  border-top-color: #fff;
}
.widget-custom.has-bg {
  background-color: #1e9ad8;
}
.widget-custom.has-bg h1, .widget-custom.has-bg h2, .widget-custom.has-bg h3, .widget-custom.has-bg h4, .widget-custom.has-bg h5, .widget-custom.has-bg h6, .widget-custom.has-bg p, .widget-custom.has-bg ul, .widget-custom.has-bg ol, .widget-custom.has-bg dt, .widget-custom.has-bg dd, .widget-custom.has-bg blockquote p {
  color: #f7fcfe;
}
.widget-custom.has-bg.lighter {
  background-color: #5ab9e8;
}
.widget-custom.has-bg a {
  color: #0e4a68;
}
.widget-custom.has-bg a:hover {
  color: #87ccee;
}
.widget-custom.has-bg a.button {
  background-color: #fff;
  color: #1e9ad8;
}
.widget-custom.has-bg a.button:hover {
  background-color: #156a95;
  color: #f7fcfe;
}
.callout .cta-link-outside {
  color: #68b038;
}
.callout .cta-link-outside:hover {
  color: #467626;
}
.slider-text p {
  color: #fff;
}
.backdrop {
  background-color: #d9d9d9;
}
.backdrop .overlay.left {
  background: -moz-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #d9d9d9), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, rgba(217, 217, 217, 0)));
  background: -webkit-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -o-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: -ms-linear-gradient(left, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
  background: linear-gradient(to right, #d9d9d9 0%, rgba(217, 217, 217, 0) 52%, rgba(217, 217, 217, 0) 100%);
}
.backdrop .overlay.right {
  background: -moz-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217, 217, 217, 0)), color-stop(52%, rgba(217, 217, 217, 0)), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -o-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: -ms-linear-gradient(left, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
  background: linear-gradient(to right, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0) 52%, #d9d9d9 100%);
}
.post time {
  color: #68b038;
}
aside.sidebar h4.widgettitle {
  background-color: #1e9ad8;
  color: #f7fcfe;
}
