/* Small screens */
@media only screen and (max-width: 40em) {
	/*==========================================================================
	Containers & Shared Styles
	==========================================================================*/
	.page .sticky { position: relative; }
	.arrow-up-large { display: none; }
	.expander { 
		padding: 1.5em 0 0;
		aside.sidebar {
			padding: 1.5em 1em;
			margin-top: 1em;
		}
	}
	.container { padding-bottom: 0; }
	div.main { padding-bottom: 1.5em; }
	.backdrop, .backstretch, .backdrop.static, .backdrop.slider, .backdrop-images {
		height: 400px !important;
		position: relative;
	}



	/*==========================================================================
	Header
	==========================================================================*/
	header.main {
		text-align: center;
		.menu {
			text-align: center;
		}
		nav.top-nav {
			width: 100%;
			margin-top: 1.5em;
		}
	}


	/*==========================================================================
	Footer
	==========================================================================*/
	footer.main {
		text-align: center;
		
		nav.footer li { padding: .25em .25em; }
	}


	/*==========================================================================
	Page Specific
	==========================================================================*/
	// Blog
	.the-post header {
		.category { text-align: center; }
		time { 
			padding: .5em;
			margin-bottom: 1em;
			display: inline-block;
			span { padding: 0 .25em;}
		}
	}


    .tinynav { 
    	display: block;
    	margin: 0 0 1.5em;
    }
    nav.main ul.menu { display: none }
    .gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
    	width: 100% !important;
    }
    .gform_wrapper .top_label li.gfield.gf_left_half input.medium, .gform_wrapper .top_label li.gfield.gf_left_half input.large, .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .gform_wrapper .top_label li.gfield.gf_left_half select.large, .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .gform_wrapper .top_label li.gfield.gf_right_half input.large, .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .gform_wrapper .top_label li.gfield.gf_right_half select.large {
    	width: 99% !important;
    }
    .expander h1 a {
    	cursor: default;
    }
    .social, header.main .social, footer.main .social, aside.sidebar .social {
    	margin: 1em 0;
    	display: block;
    	text-align: center;
    	border: 0;
    	padding: 0;
    }
}

/* Medium screens */
@media only screen and (min-width: 40.063em) {
	article.post {
		time {
			display: block;
			padding: 1em 0;
			width: 80px;
			height: 80px;
			text-align: center;
			border-radius: 100%;
			span {
				display: inline-block;
				text-align: center;
			}
			.date {
				font-size: 2em;
				display: block;
				margin-bottom: .05em;
				opacity: .5;
				line-height: .9em;
			}
			.year {
				margin-left: .35em;
			}
		}
	}
	.post-list {
		.the-post {
			padding-left: 100px;
			padding-bottom: 1.5em;
		}
		time {
			position: absolute;
			top: auto;
			left: 0;
		}
	}
}