/*==========================================================================
Imports
==========================================================================*/
@import "includes";



/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h1 a, h2, h3, h4, h5, h6 {
	@include fontStyle(heading, null, 600);
}
h1, h1 a {
	margin: 0;
	font-size: 1.8rem;
	text-transform: uppercase;
}
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
h5, h6 { font-size: 1.1rem; }
h4, h6 { font-weight: 400; }
body, p, ol, ul, li, a, blockquote, dl, dt, dd, table, tr, td, span {
	@include fontStyle(paragraph, .9rem);
}
a, input[type=submit] {
	@include transition(all,.3s);
	&:hover { opacity: .8; }
}
blockquote {
	padding: 0 0 0 1em;
	border-left-width: 5px;
	border-left-style: solid;
}
blockquote p, blockquote li {
	font-weight: 300;
	font-size: .8rem;
}
.vcard {
	border: none;
	padding: 0;
	display: block;
	margin: 0;
}
.fn.org {
	display: none;
}
.button, .continue {
	@include fontStyle($font-type: heading, $font-size: 1.1rem, $font-weight: 800);
	@include transition(all,.3s);
	padding: .5em 1.5em;
	margin-top: 1.5em;
}
// Input Fields //
input, textarea { 
	width: 100%;
	border-width: 3px;
	border-style: solid;
	padding: .5em;
}
label { 
	display: block;
	margin-bottom: .5em;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
	display: inline;
	float: left;
	margin: .5em 1.5em .5em 0;
}
.alignright, img.alignright {
	display: inline;
	float: right;
	margin: .5em 0 .5em 1.5em;
}
.aligncenter, img.aligncenter {
	margin: .5em auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}
article.main hr {
	border: none;
	height: 1px;
	width: 30%;
	margin: 1em 0;
}



/*==========================================================================
Containers & Shared Styles
==========================================================================*/
body, html {
	min-height: 100%;
	height: 100%;
}
.row { max-width: 100%; }
.menu { margin: 0; }
// Sticker //
.page .sticky {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}
// Backdrop //
.backdrop {
	&.slider {
		position: relative;
	}
	&.short, &.short .spacer { height: 300px; }
	&.medium, &.medium .spacer { height: 450px; }
	&.tall, &.tall .spacer { height: 600px; }
	&.full-height, &.full-height .backdrop-images {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&.static {
		background: {
			repeat: no-repeat;
			size: cover;
			position: center;
		}
	}
}
.spacer {
	display: block;
}
// Container //
.container {
	padding: 1.5em 0;
}
.columns {
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.row .row {
	margin-left: -1.5em;
	margin-right: -1.5em;
}
.has-bg {
	padding: 1.5em;
}
// Expander //
.expander {
	padding: 0;
	position: relative;
	.content {
		overflow-y: auto;
	}
	div.main .content.scrolling {
		padding-right: 1em;
		margin-top: 1em;
	}
}
.control:hover { opacity: 1; }
.arrow-up-large {
	position: absolute;
	top: -40px;
	width: 0; 
	height: 0; 
	border-style: solid;
	border-color: transparent;
	border-width: 20px;
	span {
		position: absolute;
		left: -5px;
		top: 5px;
		font-size: 12px;
	}
}
// Navigation
.prepend {
	@include fontStyle(heading, 1em, null, null, null, uppercase);
}
// Breadcrumbs
.breadcrumbs {
	border: none;
	border-radius: 0;
	p {
		width: 100%;
		text-align: center;
	}
	p, p a, span {
		font-size: .7rem;
	}
}
// CSS Tables
.table, .table-row, .table-cell {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.table { 
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }
// Image Zoom //
.img-zoom, .gallery-image > a {
	display: block;
	overflow: hidden;
	img {
		@include transition(all,.2s);
		@include transform(scale(1));
	}
	&:hover {
		img {@include transform(scale(1.05));}
	}
}



/*==========================================================================
Header
==========================================================================*/
// Header Container //
header.main {
	position: relative;
	z-index: 10;
	padding: .75em 0;
	// Navigations
	nav {
		text-align: right;
		ul, li { margin: 0; }
		li {
			list-style-type: none;
			display: inline-block;
		}
	}
}
// Top Nav & Social //
header.main .upper {
	text-align: right;
	div, p, span, a { 
		margin: 0 0 0 .25em;
		font-size: .7rem;
	}
	.social, nav, .custom {
		display: inline-block;
		border-left-width: 1px;
		border-left-style: solid;
		line-height: 1rem;
		// padding-left: .75em;
		margin-left: .75em;
		&:first-child {
			border: none;
			padding: 0;
			margin: 0;
		}
		a {
			@include transition(all,.2s);
			opacity: .8;
			&:hover { opacity: 1; }
		}
	}
	.social {
		a {
			font-size: 1.1rem;
			line-height: -.5em;
			vertical-align: middle;
			display: inline-block;
		}
	}
	nav {
		li { padding-left: 1em; }
		a { 
			text-transform: uppercase;
			font-size: .7rem;
			font-weight: 500;
		}
	}
	.vcard {
		display: inline-block;
		div, p {
			display: inline-block;
		}
		// .adr, .numbers, .tel, .street-address { padding-left: .5em; }
		.org { display: none; }
	}
}
// Main Navigation //
nav.main {
	margin-top: 1.25em;
	.menu {
		margin: 0;
		&> li {
			padding-left: 1.5em;
			position: relative;
		}
		&> li:hover > .sub-menu, .sub-menu li:hover > .sub-menu {
			display: block;
			position: absolute;
			right: 0;
			-webkit-transform: translateZ(0);
		}
		.sub-menu {
			li {
				border-style: solid;
				border-width: 0;
				border-bottom-width: 1px;
				width: 100%;
				font-size: .9em;
				position: relative;
				-webkit-transform: translateZ(0);
				list-style-type: none;
				text-align: left;
				&:hover {
					&> .sub-menu {
						right: 100%;
						top: 0;
					}
				}
				a {
					white-space: nowrap;
					display: block;
					width: 100%;
					padding: .5em 1em;
				}
			}
			.sub-menu {
				border-style: solid;
				border-width: 0;
				border-right-width: 1px;
			}
		}
	}
	a {
		font-size: 1.1em;
		font-weight: 300;
		-webkit-transform: translateZ(0);
	}
	.sub-menu {
		display: none;
		position: relative;
		z-index: 100;
	}
}
.tinynav {
	display: none;
}



/*==========================================================================
Footer
==========================================================================*/
footer.main {
	padding: 1em 0;
	p {
		padding: .25em 0 0;
		margin: 0;
	}
}
footer.main, nav.footer {
	p, a {
		font-size: .7rem;
		font-weight: 300;
	}
}
nav.footer {
	li {
		padding: 0 0 0 .25em;
		display: inline-block;
	}
	.menu { text-align: right; }
}



/*==========================================================================
Sidebar
==========================================================================*/
aside.sidebar {
	position: relative;
	.contact-details {
		p, span, a {
			@include fontStyle(heading, 1.1rem, 300);
			margin: 0;
		}
	}
	.widget {
		margin: 3em 0;
		position: relative;
		&.has-bg { 
			margin: 1.5em 0;
			border: none;
		}
		&:first-child { margin-top: 1.5em; }
		.button { margin-bottom: 0; }
		&.has-bg:after, &:last-child:after { height: 0; }
		h3 { margin: 0 0 1em; }
		ul {
			margin: 0;
			li {
				list-style-type: none;
				padding: .5em 0;
				border-top-width: 1px;
				border-top-style: solid;
			}
		}
		#wp-calendar {
			width: 100%;
			text-align: center;
			th { text-align: center; }
			caption {
				@include fontStyle($font-type: heading, $font-size: 1.4rem, $font-weight: 600, $font-style: null, $text-align: left, $text-transform: null, $line-height: null, $letter-spacing: null);
				margin-bottom: 1em;
			}
		}
		#searchform input { display: inline-block; }
		#s { width: 70%; }
		#searchsubmit { width: 28%; }
	}
	.widget-hours {
		.day, time {
			display: inline-block;
			width: 48%;
		}
		.day { 
			width: 30%;
			font-weight: 600;
		}
		time { 
			width: 65%;
			margin-left: 3%;
		}
		p {
			border-top-width: 1px;
			border-top-style: solid;
			padding: .75em 0;
			margin: 0;
		}
	}
}



/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.backdrop {
	.slider, .orbit-container, .orbit-container .orbit-slides-container, .slider li {
		width: 100%;
		height: 100% !important;
	}
	.orbit-timer {
		display: none;
	}
	.slider li {
		position: absolute;
		top: 0;
		left: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
// Blog //
.blog-title {
	text-transform: uppercase;
	margin-bottom: 2.5em;
}
.post-list {
	.the-post {
		padding-bottom: 1.5em;
	}
	.no-date .the-post  {
		padding-left: 0;
	}
}
.single {
	time {
		float: left;
		margin: 0 2em 1em 0;
	}
}
article.post {
	h1, h2 {
		line-height: 1em;
		margin: 0;
		font-weight: normal;
		a { font-size: 1em; } 
	}
	.featured-image { margin-bottom: 1em; }
	p:last-child { margin-bottom: 0; }
}
.the-post {
	position: relative;
	margin-bottom: 2em;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100px;
		height: 1px;
		display: block;
	}
	.single & {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:after {
			height: 0;
		}
	}
}
.categorizing {
	margin: .25em 0 1.25em;
}
footer.post {
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 2em;
}
.continue-wrap {
	display: block;
	text-align: right;
}
.continue {
	display: inline-block;
	margin-bottom: 0;
	padding: .5em 1em;
}
.pagination {
	text-align: right;
	font-size: .9rem;
	span, a {
		display: inline-block;
		padding: .25rem;
	}
	.current {
		font-weight: bold;
		padding: .25em .5em;
	}
}
div.main {
	p.categories, p.tags {
		margin: 0;
		font-size: .8rem;
		line-height: 1.7em;
	}
}
.search-results { margin-bottom: 1.5em; }
// Comments
.comments {
	padding: 1em;
	label { display: block; }
	.form-submit { 
		margin: 0;
		text-align: right;
	}
	input[type=submit] {
		display: inline-block;
		width: auto;
		&:after {
			content: '\00bb';
		}
	}
	.comment-form-author, .comment-form-email {
		float: left;
		width: 48%;
	}
	.comment-form-author { margin-right: 4%; }
	.comment-form-url {
		clear: both;
	}
}
.comment-list {
	margin: 0; 
	li { 
		list-style-type: none;
		padding: 1.5em 0;
	}
	.children {
		margin: 1.5em 0 0 0;
		padding: 0 1.5em;
	}
	.avatar { display: none; }
	.comment-author {
		.fn, .says {
			font-size: 1.1rem;
			font-weight: normal;
			font-style: normal;
		}
	}
	.comment-meta a, .comment-reply-link {
		font-size: .7rem;
	}
	.comment-meta a {
		margin-bottom: 1rem;
		display: block;
	}
	.comment {
		border-bottom-width: 1px;
		border-bottom-style: solid;
		&:last-child { border: none; }
	}
}
.comment-intro {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1em;
	margin-bottom: .5em;
}
// Footer
footer.post {
	padding: 1em 0;
}
// Gallery //
.post.gallery {
	header {
		margin-bottom: 2em;
	}
	.the-post { 
		border: none;
		padding: 0;
	}
}
.flexslider .slides {
	margin: 0;
}
.gallery {
	[class*="column"]+[class*="column"]:last-child {
		float: left;
	}
}
.single .gallery {
	.content {
		margin-bottom: 4em;
	}
	.categorizing {
		margin: 0;
	}
}
.gallery-image {
	margin-bottom: 1em;
	position: relative;
	img { 
		margin: 0;
		min-width: 100%;
	}
	&.no-space {
		padding: 0;
		margin: 0;
	}
	&.full { 
		width: 100%;
		background-image: url(plugins/skins/loading-medium.gif);
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.full img { 
		width: 100%;
		opacity: 0;
		transition: opacity .3s ease-in;
	}
}
#carousel .slides li {
	margin: 0;
}
ol.flex-control-nav {
	margin: 0;
	text-align: center;
}
.counter {
	font-size: .8rem;
}
.gallery-list .gallery-image {
    position: relative;
    overflow: hidden;
}
// Shop //
.jigoshop {
	#breadcrumb {
		padding: .5em 1.5em;
	}
}
.shop-list {
	padding: 3em 0;
}
.product-nav {
	padding: .5em 0;
	border-style: solid;
	&.top { border-width: 0 0 1px 0; }
	&.bottom { border-width: 1px 0 0 0; }
}
.product-list {
	margin: 1.5em 0;
}
// 404 //
.error404 {
	div.main {
		padding: 4em 0;
	}
	header.main {
		border-style: solid;
		border-width: 0;
		border-bottom-width: 2px;
	}
}



/*==========================================================================
Gravity Forms
==========================================================================*/
.gform_wrapper {
	input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], textarea {
		@include fontStyle(paragraph, 1.1rem);
		padding: .5em;
		border-style: solid;
	}
	.top_label .gfield_label {
		@include fontStyle(heading, null, normal, null, null, uppercase);
	}
	.gform_footer {
		margin: 0;
		padding: 0;
	}
	.gform_footer input.button, .gform_footer input[type=submit] {
		@include fontStyle(heading, null, normal, null, null, uppercase);
		padding: .5em 1em;
		margin: 0;
	}
	li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		margin: 1em 0;
	}
	div.validation_error {
		@include fontStyle(heading, null, 400, null, null, uppercase);
	}
	li.gfield.gfield_error.gfield_contains_required label.gfield_label, li.gfield.gfield_error.gfield_contains_required div.ginput_container {
		margin: 0;
	}
	.ginput_container + .gfield_description.validation_message, .ginput_container + .gfield_description {
		@include fontStyle(paragraph, .7rem, normal);
		padding: 0 !important;
		margin: .5em 0 0;
	}
}


/*==========================================================================
Responsive Styles
==========================================================================*/
@import "responsive";

