/*==========================================================================
MIXINS
==========================================================================*/
@mixin fontStyle($font-type: null, $font-size: null, $font-weight: null, $font-style: null, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null) {
	@if $font-type == heading and $font-weight == bold {
		font-family: 'bebas_neuebold', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	}
	@else if $font-type == heading {
		font-family: 'bebas_neuebook', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	}
	@else if $font-type == paragraph {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	@if $font-size != null {
		font-size: $font-size;
	}
	@if $font-weight != null and $font-type != heading {
		font-weight: $font-weight;
	}
	@if $font-style != null {
		font-style: $font-style;
	}
	@if $text-transform != null {
		text-transform: $text-transform; 
	}
	@if $text-align != null {
		text-align: $text-align;
	}
	@if $line-height != null {
		line-height: $line-height;	
	}
	@if $letter-spacing != null {
		letter-spacing: $letter-spacing;
	}
}

@mixin transition($prop,$time) {
	-webkit-transition: $prop $time ease-in-out;
	-moz-transition: $prop $time ease-in-out;
	-o-transition: $prop $time ease-in-out;
	-ms-transition: $prop $time ease-in-out;
	transition: $prop $time ease-in-out;    
}

@mixin transform($prop) {
	transform: $prop;
	-webkit-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	-moz-transform: $prop; 
}

@mixin fakeRule(){
	position: relative;
	margin-bottom: 1em;
	padding-bottom: 1em;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 25%;
		height: 1px;
		left: 0;
		right: 0;
		margin: auto;
		opacity: .5;
	}
}

$dark-text-default: #000 !default;
$light-text-default: #fff !default;

// For loop inumerator
$num: 0;

// Calculeate brightness of a given color.
@function brightness($color) {
	// @return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
	@return ((red($color) * .299) + (green($color) * .587) + (blue($color) * .114)) / 255 * 100%;
}

// Compares contrast of a given color to the light/dark arguments and returns whichever is most "contrasty"
@function color-contrast($color, $dark: $dark-text-default, $light: $light-text-default) {
	@if $color == null {
		@return null;
	}
	@else {
		$color-brightness: brightness($color);  
		$light-text-brightness: brightness($light);
		$dark-text-brightness: brightness($dark);
    
		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);  
	}
}



/*==========================================================================
FONT FACES
==========================================================================*/
@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebas-neue/bebasneue_bold-webfont.eot');
    src: url('fonts/bebas-neue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas-neue/bebasneue_bold-webfont.woff') format('woff'),
         url('fonts/bebas-neue/bebasneue_bold-webfont.ttf') format('truetype'),
         url('fonts/bebas-neue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuebook';
    src: url('fonts/bebas-neue/bebasneue_book-webfont.eot');
    src: url('fonts/bebas-neue/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas-neue/bebasneue_book-webfont.woff') format('woff'),
         url('fonts/bebas-neue/bebasneue_book-webfont.ttf') format('truetype'),
         url('fonts/bebas-neue/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*==========================================================================
HELPER CLASSES
==========================================================================*/
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible { visibility: hidden; }
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }