/*==========================================================================
TABLE OF CONTENTS
============================================================================
01. Imports
02. Boilerplate & Wordpress Defined Styles
	02a. Boilerplate
	02b. Wordpress Defined Styles
03. Containers & Shared Styles
	03a. Containers
	03b. CSS Tables
	03c. Misc Shared Styles
04. Header
	04a. Header Container
	04b. Main Navigation
	04c. Header Logo
05. Footer
06. Section Shared Styles
	06a. Section Containers
	06b. Overlay
	06c. Jumper Band
	06d. Section Pop Up
07. Section Styles
	07a. Slideshow
	07b. Simple
	07c. Split
	07d. Complex
	07e. Staff
	07f. Gallery
	07g. Testimonial
	07h. Columns
	07i. FAQ
	07j. Contact
08. Gravity Forms
*/



/*==========================================================================
01. Imports
==========================================================================*/
@import "includes";
@import "slick";


/*==========================================================================
02. Boilerplate & Wordpress Defined Styles
==========================================================================*/
// 02a. Boilerplate //
h1, h2, h3, h4, h5, h6 {
	@include fontStyle(heading, null, normal, null, null, uppercase, normal);
	margin: 1em 0 0;
}
h1, h2 { 
	@include fontStyle(heading, 3.6rem, bold, null, null, uppercase, 3rem);
}
h3 { font-size: 2.5rem; }
h4 { font-size: 2rem; }
h5, h6 { font-size: 1.6rem; }
p, ul, ol, li, blockquote, blockquote p, dl, dt, dd {
	@include fontStyle(paragraph, .8rem, null, null, null, null, 1.5rem);	
}
a {
	@include transition(background-color color,.3s);
	&:hover {
		text-decoration: underline;
	}
}
blockquote {
	padding: 1em;
	border-left-width: 3px;
	.credit {
		font-size: .7rem;
		font-style: normal;
		opacity: .6;
	}
	p {
		margin: 0;
	}
}
.content {
	ul, ol {
		margin-left: 4em;
	}
}
// 02b. Wordpress Defined Styles //
img { margin: 0 0 1.5em 0; }
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: .9em;
	margin: 0;
	padding: .5em;
}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
}



/*==========================================================================
03. Containers & Shared Styles
==========================================================================*/
// 03a. Containers //
body {
	@include fontStyle(paragraph, .9rem, null, null, null, null, 1.8rem);	
}
.row {
	max-width: 100%;
}
.columns {
	padding-left: 1.9375em;
	padding-right: 1.9375em;
}
[class*="column"]+[class*="column"]:last-child {
	.staff-list &, .page-slide.column-content & {
		float: left;
	}
}
// 03b. CSS Tables //
.table, .table-row, .table-cell {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.table { 
	display: table;
	border-collapse: collapse;
	table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }
// 03c. Misc Shared Styles //
.button, .page-slide .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	@include fontStyle(heading, 1.4rem, bold, null, null, uppercase, normal, 1px);	
	padding: .45em 1em;
	text-decoration: none !important;
}
.symbol {
	font-size: 2em;
}
.featured-image {
	display: block;
	margin: 0 auto 3em;
}
.circle-arrow {
	@include transition(all, .3s);
	font-size: 1.5rem;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	text-decoration: none !important;
	border-width: 5px;
	border-style: solid;
	&.ion-arrow-down-a {
		line-height: 32px;
	}
	&.ion-arrow-up-a {
		line-height: 30px;
	}
}
.featured-testimonial {
	padding: 0;
	blockquote {
		p, ol, ul {
			font: {
				size: 1.5rem;
				style: italic;
			}
		}
	}
	.page-slide.testimonials &, .page-slide.column-content &, .page-slide.contact &, .page-slide.staff & {
		padding-left: 1.9375em;
		padding-right: 1.9375em;
	}
}



/*==========================================================================
04. Header
==========================================================================*/
// 04a. Header Container //
header.main {
	padding: 0;
	.above-center {
		text-align: center;
	}
	h1 {
		@include transition(all, .3s);
		margin: .5rem 0;
		&:hover {
			opacity: .8;
		}
	}
	span.prepend {
		@include fontStyle(heading, 1.2rem, null, null, null, uppercase, null, .1em);
		display: block;
	}
	a.symbol {
		display: inline-block;
		text-decoration: none;
		line-height: normal;
		&:before {
			font-size: 1em;
			margin: 0;
		}
		&:hover {
			opacity: .8;
		}
	}
}
.header-next {
	span.prepend {
		padding: .2em .4em;
	}
	.social {
		padding: 0;
		a.symbol {
			margin: .1em 0 0 .4em;
		}
	}
}
.header-above-left, .header-above-center {
	.social {
		text-align: right;
		padding-top: .5em;
	}
	span.prepend {
		text-align: right;
	}
	a.symbol {
		margin-left: .3em;
	}
}
// 04b. Main Navigation //
nav.main {
	display: table;
	height: 100%;
	padding: 0;
	ul.menu, ul.menu li {
		height: 100%;
	}
	ul.menu {
		display: table-row;
		margin: 0;
	}
	li {
		@include transition(all, .3s);
		display: table-cell;
		border-left-width: 1px;
		border-left-style: solid;
		vertical-align: middle;
		&:first-child {
			border: none;
		}
		a {
			@include fontStyle(heading, 1.2rem, null, null, null, uppercase, null, .1em);
			display: table-cell;
			padding: 0 .5em;
			height: 100%;
			vertical-align: middle;
			text-decoration: none;
		}
	}
	&.large-12 {
		li {
			padding: .5em;
			text-align: center;
		}
	}
}
// 04c. Header Logo //
.logo-centered, .logo-next {
	text-align: center;
}
.logo {
	padding: 0;
}
.logo img {
	margin: 0;
	padding: 1em;
}



/*==========================================================================
05. Footer
==========================================================================*/
footer.main {
	text-align: center;
	padding: 2em;
	.back-top {
		@include transition(all,.3s);
		display: inline-block;
		margin-bottom: 3em;
		&.button {
			text-transform: uppercase;
			letter-spacing: .1em;
			background-color: transparent;
			border-width: 3px;
			border-style: solid;
		}
	}
	.small-print p {
		text-align: center;
		margin: .5em 0;
		line-height: normal;
		font-size: .7rem;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
}



/*==========================================================================
06. Section Shared Styles
==========================================================================*/
// 06a. Section Containers //
.slide-container {
	position: relative;
	.social-share {
		position: absolute;
		z-index: 10;
		top: .1em;
		right: 2em;
		a {
			text-decoration: none;
			&:hover {
				opacity: .7;
			}
		}
		.prepend {
			@include fontStyle(heading, .75rem, normal, normal, normal, uppercase, normal, .2em);
		}
	}
}
.page-slide {
	padding: 3em 0;
	position: relative;
	background: {
		size: cover;
		position: center center;
	}
	header {
		margin-bottom: 2em;
		h2 {
			margin-bottom: 0;
		}
		h3 {
			font-size: 2rem;
			letter-spacing: .1rem;
		}
	}
	.social-share {
		position: absolute;
		top: 0;
		right: 0;
	}
	.bg {
		position: absolute;
		height: 100%;
		width: 50%;
		top: 0;
		background: {
			repeat: no-repeat;
			position: center center;
		}
		&.left-side 	{ left: 0; right: auto; }
		&.right-side 	{ right: 0; left: auto; }
	}
	&.simple, &.split, &.complex, &.contact {
		.testimonial-row {
			margin: 0;
		}
	}
	.slide-details {
		position: relative;
		z-index: 10;
	}
}
.has-border {
	padding: 2rem 1.9375em;
}
.has-fixed {
	background: {
		attachment: fixed;
		size: cover;
	}
}
// 06b. Overlay //
.overlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	zoom: 1;
}
// 06c. Jumper Band //
.jumper {
	text-align: center;
	padding: .5em;
	.button {
		margin: 0;
	}
}
// 06d. Section Pop Up //
.popples {
	margin: 2em 0;
	h3 {
		font-size: 1.6rem;
	}
	.more {
		font-weight: bold;
		padding-left: .5em;
	}
}
.popped {
	border: none;
	.burst {
		@include fontStyle(heading, 2rem, normal, normal, center, uppercase, 2rem);
		text-decoration: none;
		width: 2rem;
		top: 0;
		right: 0;
	}
}



/*==========================================================================
07. Section Styles
==========================================================================*/
// 07a. Slideshow //
.page-slide.slideshow {
	padding: 0;
	.slick-dots {
		position: absolute;
		bottom: 1em;
		right: 1.9375em;
		width: auto;
		margin: 0; 
		li {
			border-radius: 0;
			opacity: .5;
			margin: 0 .25rem;
			height: 8px;
			width: 8px;
			&.slick-active { opacity: 1; }
			button { 
				margin: 0;
				height: 8px;
				width: 8px;
			}
			button:before { 
				content: '';
				height: 8px;
				width: 8px;
			}
		}
	}
	.slider {
		height: 610px !important;
		margin: 0;
		.overlay, .slide-details {
			opacity: 0;
		}
		.slides { position: relative; }
		.slides:not(.active-first) .slide-details {
			bottom: 2em;
			position: absolute;
			left: 0;
			-webkit-transition: all 3s ease; 
			-moz-transition: all 3s ease; 
			-o-transition: all 3s ease; 
			transition: all 3s ease;
			z-index: 5;
			h2 {
				font-size: 6rem;
				line-height: 5rem;
			}
		}
		.slides:not(.active-first) .overlay {
			-webkit-transition: all 6s ease; 
			-moz-transition: all 6s ease; 
			-o-transition: all 6s ease; 
			transition: all 6s ease;
		}
		.slides {
			height: 610px;
			background: {
				repeat: no-repeat;
				size: cover;
				position: center;
			}
			// &.active-first {
			// 	.overlay, .slide-details {
			// 		opacity: 0 !important;
			// 	}
			// }
		}
		.slick-active {
			z-index: 10;
			.overlay, .slide-details {
				opacity: 1;
			}
		}
	}
	.ion-arrow-right-a {
		@include transition(all,.3s);
		font-size: 1.8rem;
		line-height: 42px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border-style: solid;
		text-decoration: none;
		border-width: 5px;
		text-align: center;
	}
	.slick-track, .slides {
		// min-width: 100%;
	}
}
// 07b. Simple //
.page-slide.simple, .page-slide.column-content {
	background: {
		size: cover;
		position: center center;
		repeat: no-repeat;
	}
	&.has-focus {
		padding-top: 40em;
	}
	.slide-details {
		padding: 1.5em 3em;
	}
}
// 07c. Split //
.page-slide.split {
	// .left-side, .right-side { width: 50%; }
}
// 07d. Complex //
.page-slide.complex {
	padding: 0;
	.row { 
		position: relative;
		z-index: 3;
	}
	.columns {
		padding: {
			top: 3em;
			bottom: 3em;
		}
	}
}
// 07e. Staff //
.page-slide.staff {
	.staffer {
		@include transition(all, .3s);
		list-style-type: none;
		position: relative;
		opacity: .7;
		margin-bottom: 3em;
		&:hover {
			opacity: 1;
		}
		&> a {
			display: block;
			position: relative;
		}
		.featured-image {
			width: 100%;
			margin: 0;
		}
	}
}
.choose, .division:first-of-type {
	margin-top: 3em;
}
.division-title {
	h3 {
		font-size: 1.8rem;
		padding: .25em .5em;
	}
	margin-bottom: 1em;
}
.staff-info {
	position: absolute;
	bottom: 0;
	padding: .5em;
	width: 100%;
	h4 {
		font-size: 1.2rem;
		margin: 0;
		position: relative;
		padding-right: 50px;
	}
	.opener {
		@include transition(all, .3s);
		position: absolute;
		bottom: 0;
		right: 0;
		display: block;
		height: 40px;
		width: 40px;
		font-size: 1.5rem;
		text-align: center;
		line-height: 2.4rem;
	}
	&.no-image {
		position: relative;
		margin-top: .5em;
	}
}
.staff-popped.reveal-modal {
	padding: 0;
	.staff-image {
		padding: 0;
		.featured-image {
			width: 100%;
			margin: 0;
		}
	}
	.staff-content {
		padding: 2em;
	}
	header {
		h4 {
			font-size: 1.6rem;
			line-height: 1.2rem;
			margin: 0;
		}
		em {
			display: block;
			margin-bottom: 2em;
		}
	}
	.numbers span {
		display: inline-block;
		padding-right: 2em;
		text-transform: uppercase;
		font-size: .7rem;
		margin-bottom: .5em;
		&.icon {
			padding-right: .5rem;
			font-size: .8rem;
		}
	}
	.contact a {
		display: inline-block;
		text-decoration: none;
		text-align: center;
		margin: 0 .5rem 0 0;
		height: 40px;
		&.symbol {
			width: 40px;
			font-size: 40px;
			line-height: 30px;
			&:before {
				margin: 0;
			}
		}
	}
}
// 07f. Gallery //
.page-slide.gallery {
	.gallery-list {
		margin-top: 3em;
		padding-right: 1.25em;
		padding-left: 1.25em;
		&.full-width {
			padding: 0;
		}
	}
	.gallery-image {
		padding: 1em;
		margin: 0;
		&.no-space {
			margin: 0;
		}
	}
	.tabs {
		text-align: center;
		dd {
			display: inline-block;
			float: none;
			margin: 0 .25em;
			a {
				display: block;
				height: 10px;
				width: 10px;
				padding: 0;
				border-radius: 100%;
				opacity: .5;
			}
			&.active a {
				opacity: 1;
			}
		}
	}
}
// 07g. Testimonial //
.page-slide.testimonials {
	blockquote.testimonial {
		border: none;
		position: relative;
		text-align: center;
		p, ol, ul, li {
			font: {
				size: 1.2rem;
				style: italic;
			}
		}
		cite {
			text-transform: uppercase;
		}
	}
}
.all-tests.row {
	margin-top: 2em;
}
// 07h. Columns //
.page-slide.column-content {
	.slide-details {
		padding: 0;
	}
	li {
		list-style-type: none;
		margin: 2em 0;
		text-align: center;
		&:hover {
			.button, .overlay {
				opacity: 1;
			}
			.button { height: auto; }
			.overlay { height: 100%; }
			.heading h3 {
				height: 0;
				opacity: 0;
			}
		}
		h3 {
			@include fontStyle(heading, 2rem, null, null, null, uppercase, null, 1px);
		}
	}
	.inner {
		position: relative;
		max-height: 350px;
		overflow: hidden;
		.overlay {
			@include transition(all,.3s);
			padding: 1em;
			overflow: hidden;
			opacity: 0;
			height: 0;
		}
		img {
			margin: 0;
			width: 100%;
		}
		h3 {
			margin-bottom: .5em;
		}
	}
	.heading {
		padding: 1em;
		height: 5.5em;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 0; 
			height: 0; 
			position: absolute;
			top: -15px;
			left: 0;
			right: 0;
			margin: auto;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid black;
		}
		h3 {
			@include transition(all,.3s);
			margin: .15em 0 0; 
			height: 2rem;
			overflow: hidden;
		}
		.button {
			@include transition(opacity,.3s);
			opacity: 0;
		}
	}
	.medium-4:nth-child(3n+1) {
		clear: left;
	}
	.medium-6:nth-child(2n+1) {
		clear: left;	
	}
	.compact {
		h3 {
			font-size: 2rem;
			line-height: 2.5rem;
			margin: 0;
		}
		.heading {
			overflow: hidden;
			height: 5.5em;
			h3 {
				height: 100%;
				width: 100%;
			}
			.button { 
				margin: 0;
				font-size: 1.2rem;
			}
		}
		p { 
			font-size: 1rem;
			line-height: 1.4rem;
		}
	}
}
// 07i. FAQ //
.page-slide.faq {
}
// 07j. Contact //
.address {
	h4 {
		@include fontStyle(heading, 2rem, normal, normal, center, uppercase, normal, 1px);
		margin: .75em 0;
	}
}
.map {
	height: 500px;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	}
	iframe {
		width: 100% !important;
		height: 100% !important;
	}
}



/*==========================================================================
08. Gravity Forms
==========================================================================*/
.page-slide .gform_wrapper {
	max-width: 100%;
	margin: 0;
	.top_label {
		input.small, input.medium, input.large, textarea.textarea {
			border: none;
			font-size: 1rem;
			padding: .75em;
		}
		label.gfield_label {
			font-weight: normal;
		}
	}
	.gform_footer {
		text-align: right;
	}
}



/*==========================================================================
09. Slicknav
==========================================================================*/
/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	font-size:16px;
}
/* Button */
.slicknav_btn {
	margin: 5px 5px 6px;	
	text-decoration:none;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;  
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {	
	font-weight: bold;	
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #f5f5f5;
}
.slicknav_menu {
	border-bottom-width: 4px;
	border-bottom-style: solid;
}
.slicknav_nav {
	margin:0;	
	padding:0;
	font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0 0 0 20px;
}
.slicknav_nav .slicknav_item {
	padding:5px 10px;
	margin:2px 5px;
}
.slicknav_nav a{
	padding:5px 10px;
	text-decoration:none;
}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}


@media print {
	.social, .print-me, .burst {
		display: none;
	}
}



