/*==========================================================================
MIXINS
==========================================================================*/
@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/averagesans/v2/dnU3R-5A_43y5bIyLztPsaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'), url(http://themes.googleusercontent.com/static/fonts/italiana/v2/H6204F0mjGtjVYNr2mjFcHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body, .home .slide-caption .button, .home .orbit-bullets li.active, .widget .button, .widget-testimonial .diamond, .widget-testimonial .orbit-bullets li.active, .type-content .orbit-container .orbit-slides-container li {
  background-color: #fff;
}
.home .orbit-bullets li {
  background-color: rgba(255, 255, 255, .50);
}
.widget input, .widget textarea {
  background-color: rgba(255, 255, 255, .35);
}
.home .slide-caption h3, .home .slide-caption p, .category span, .recent-entries a, .post time span, input, textarea, .breadcrumbs p, .breadcrumbs p a, .backdrop h1, .backdrop p, .home .slide-caption .button:hover, .widget-testimonial .button.share, .widget .gform_wrapper .gform_footer input[type=submit]:hover, .widget .gform_wrapper div.validation_error, header.blog h3, .continue, .continue:hover, .sb-icon-search, .sb-search-submit, .cart-quantity, .gallery-overlay h4, .gallery-overlay p, .reveal-modal .form p.alt, .reveal-modal .social a.symbol, .reveal-modal .controls a, .button-alt {
  color: #fff;
}
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget p, .widget a.symbol, .widget a, .widget label, .widget .button:hover, .widget .button.share, .widget ol, .widget ul, .widget li {
  color: #fff;
}
@media only screen and (max-width: 64em) {
  .widget.vary-on .orbit-bullets li {
    background-color: #fff;
  }
  .widget.vary-on.widget-testimonial .button.share:hover {
    color: #fff;
  }
}
.reveal-modal .form {
  background-color: rgba(255, 255, 255, .75);
}
.reveal-modal .details h1, .reveal-modal .details h2, .reveal-modal .details h3, .reveal-modal .details h4, .reveal-modal .details h5, .reveal-modal .details h6, .reveal-modal .details p, .reveal-modal .details span, .reveal-modal .details a, .reveal-modal .details ul, .reveal-modal .details ol, .reveal-modal .details li {
  color: #fff;
}
footer.reveal {
  border-color: rgba(255, 255, 255, .5);
}
.interest-form .alt {
  background-color: #fff;
  color: #00aeef;
}
input, textarea, .comment-body:after, .button, .widget .button:hover, .diamond, .continue:hover, .sb-icon-search, .sb-search-submit, .ilightbox-overlay, .cart-quantity {
  background-color: #565656;
}
.comment > .children {
  background-color: rgba(86, 86, 86, .05);
}
.widget-testimonial .orbit-bullets li, .breadcrumbs {
  background-color: rgba(86, 86, 86, .5);
}
body, h1, h1 a, h2, h2 a, h3, h4, h5, h6, p, ul, ol, a, blockquote, dl, dt, dd, .textwidget, table, tr, td, span, nav .menu a, .social a, .social a, .home .slide-caption .button, .counter, .post time, .post time:before, .widget, .widget a.button, .widget-testimonial a.button.share:hover, .widget .gform_wrapper .gform_footer input[type=submit], .breadcrumbs span, .contact-details p a, #commentform label small {
  color: #565656;
}
div.main .categorizing p {
  color: #bcbcbc;
}
@media only screen and (max-width: 64em) {
  .widget.vary-on {
    background-color: #565656;
  }
  .widget.vary-on span.ring {
    color: #565656;
  }
}
#breadcrumb {
  background-color: #bcbcbc;
}
#breadcrumb a {
  color: #565656;
}
.product-nav {
  background-color: #d6d6d6;
}
.product-nav a {
  color: #565656;
}
.product-nav .current {
  background-color: #969696;
  color: #fff;
}
header.blog, input[type=submit], .widget, .button:hover, .slide-caption .button:hover, .backdrop, .continue, .reveal-modal .form .alt, .button-alt {
  background-color: #00aeef;
}
.gallery-overlay {
  background-color: rgba(0, 174, 239, .75);
}
.test-list blockquote {
  border-color: #00aeef;
}
nav.main a:hover, nav.main a.active, a, .social a:hover, span.prepend, .counter .current, #respond h3 a, label small, .vcard cite.fn, .loading, .loading p, .loading em, .widget-testimonial span.ring, .categorizing a, .section .gallery .orbit-container .orbit-prev > span, .section .slider-pages .orbit-container .orbit-prev > span, .section .gallery .orbit-container .orbit-next > span, .section .slider-pages .orbit-container .orbit-next > span, button.icon:before {
  color: #00aeef;
}
a:hover, header.blog a:hover {
  color: #56d1ff;
}
.widget a:hover {
  color: #0089bc;
}
@media only screen and (max-width: 40em) {
  .contact-details p a {
    color: #00aeef;
  }
  .widget.vary-on .orbit-bullets li.active {
    background-color: #00aeef;
  }
}
.reveal-modal-bg, .ilightbox-overlay.dark {
  background-color: rgba(0, 174, 239, .95);
}
.reveal-modal .form h1, .reveal-modal .form h2, .reveal-modal .form h3, .reveal-modal .form h4, .reveal-modal .form h5, .reveal-modal .form h6, .reveal-modal .form p, .reveal-modal .form ul, .reveal-modal .form ol, .reveal-modal .form dt, .reveal-modal .form dd, .reveal-modal .form span, .reveal-modal .form label {
  color: #00aeef;
}
.bg-tertiary {
  background-color: #00aeef;
}
.bg-tertiary h1, .bg-tertiary h2, .bg-tertiary h3, .bg-tertiary h4, .bg-tertiary h5, .bg-tertiary h6, .bg-tertiary p, .bg-tertiary ul, .bg-tertiary ol, .bg-tertiary dt, .bg-tertiary dd, .bg-tertiary span, .bg-tertiary label {
  color: #fff;
}
.customSelect, .button-alt:hover {
  background-color: #691c33;
}
.product-nav.bottom .pagination {
  background-color: rgba(105, 28, 51, .5);
}
.max-socialize .social-connect, span.inline:first-child, header.main .band, footer.main .upper, footer.main .lower, .hour-container, .blog footer.main, .single footer.main, .archive footer.main, .diamond, .extra, header.main .tel:last-child {
  border-color: #691c33;
}
.sb-search-input::-webkit-input-placeholder, .sb-search-input:-moz-placeholder, .sb-search-input::-moz-placeholder, .sb-search-input:-ms-input-placeholder {
  color: #691c33;
}
.customSelect span {
  color: #d04e75;
}
.product-nav.bottom .current {
  background-color: #ca3a65;
  color: #fff;
}
div.main .widget h3 {
  color: #fff;
}
nav.main, .sub-menu {
  background-color: #fff;
}
.header-contents {
  background-color: rgba(255, 255, 255, .5);
}
footer.main {
  background-color: #fff;
}
.bg-primary .social-share.st-single-color a:before, .bg-primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #00aeef;
}
.bg-primary .social-share.st-single-color a:hover:before, .bg-primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #0089bc;
}
.bg-secondary .social-share.st-single-color a:before, .bg-secondary .social-connect.st-single-color a:before, .bg-tertiary .social-share.st-single-color a:before, .bg-tertiary .social-connect.st-single-color a:before, .bg-quaternary .social-share.st-single-color a:before, .bg-quaternary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #fff;
}
.bg-secondary .social-share.st-single-color a:hover:before, .bg-secondary .social-connect.st-single-color a:hover:before, .bg-tertiary .social-share.st-single-color a:hover:before, .bg-tertiary .social-connect.st-single-color a:hover:before, .bg-quaternary .social-share.st-single-color a:hover:before, .bg-quaternary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
.jigoshop.jigoshop-checkout form.checkout input, .jigoshop.jigoshop-checkout form.checkout textarea {
  background-color: #565656;
  color: #fff;
}
