@media only screen and (max-width: 40em) {
  footer.main {
    margin-top: 0;
  }
  footer.main nav.footer ul, footer.main .social {
    text-align: center;
  }
  footer.main .logo {
    display: block;
    text-align: center;
  }
  .hour-container {
    border-width: 1px 0 0 0;
    margin: 1em 0 0;
    padding-top: 1em;
  }
  .extra {
    margin-bottom: 0;
  }
  header.main .contact-details, footer.main .contact-details {
    text-align: center;
  }
  .home .backdrop {
    padding: 0;
  }
  .backdrop {
    height: auto;
    min-height: auto;
    padding: 2em 0;
  }
  .backdrop h1 {
    font-size: 2.5rem;
  }
  .backdrop .overlay {
    background-color: rgba(0, 0, 0, .25);
  }
  .home .home-slider {
    height: 400px !important;
  }
  .home .home-slider div {
    height: 400px !important;
  }
  .home .home-slider .slide-caption {
    height: 400px;
    padding-top: 0;
  }
  .home .home-slider h3 {
    font-size: 1.5rem;
    line-height: 1.25em;
  }
  div.main .columns.no-space {
    margin: 0;
  }
  header.main .left-side .band {
    border-width: 1px;
    margin-bottom: 0 !important;
  }
  header.main .lower .columns, header.main .hasCustomSelect {
    margin-top: 0 !important;
  }
  header.main .social-block, header.main .vcard {
    display: none;
  }
  header.main .logo img {
    max-height: 100px;
    margin-bottom: 1em;
  }
  header.main a.icon {
    font-family: "Ionicons" !important;
  }
  .mobile-buttons a {
    display: block;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    border-width: 0;
    border-style: solid;
  }
  #commentform p:nth-child(1), #commentform p:nth-child(2) {
    display: block;
    width: 100%;
    margin: 0;
  }
  header.blog, header.blog .recent-entries, .hour-container {
    text-align: center;
  }
  nav.footer, .extra, footer.main .logo {
    display: none;
  }
  .section .type-content.has-bg {
    padding: 0 0.9375em;
    background: none !important;
  }
  .widget {
    text-align: center;
  }
  input {
    -webkit-appearance: none;
    border-radius: 0;
  }
  .slider-pages .excerpt-image.pull-8 {
    margin-top: 100px;
  }
  .slider-pages .excerpt-image, .slider-pages .excerpt-image.first {
    text-align: center;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .mobile-buttons {
    display: none;
  }
  .home .home-slider, .home .home-slider div {
    height: 500px !important;
  }
  .home .slide-caption {
    padding-top: 0;
  }
  .home .slide-caption h3 {
    font-size: 2rem;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 40.063em) {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .backdrop {
    min-height: 200px;
  }
}
@media only screen and (max-width: 64em) {
  .home .orbit-container .orbit-slides-container > * .orbit-caption {
    bottom: auto;
    top: 2em;
  }
  .home .home-slider .orbit-caption h3 {
    font-size: 3em;
  }
  header.main .right-side .band, header.main .left-side .band {
    margin: 0;
    width: 100%;
    margin-bottom: 1em;
  }
  header.main .contact-details p, header.main .contact-details p span, header.main .contact-details p a {
    font-size: 1.1rem;
  }
  header.main nav.main {
    display: none;
  }
  .extra {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 1em;
    padding: 1em 0 0;
  }
  .hour-container h4 {
    margin: 0;
  }
  footer.main nav.footer li {
    padding: 0.25em 0.5em;
  }
  .backdrop .table {
    width: 80%;
  }
  .widget-gallery.full {
    padding: 1em 1.53em;
  }
  .image img {
    display: block;
    margin: 0 auto;
  }
  nav.footer {
    padding: 0.75em 0;
  }
  .extra {
    text-align: center;
  }
  .post h1, .post header h2, .post header h2 a {
    font-size: 2rem;
  }
  .post h2 {
    font-size: 1.8rem;
  }
  .post h3 {
    font-size: 1.6rem;
  }
  .post h4 {
    font-size: 1.4rem;
  }
  .post h5 {
    font-size: 1.2rem;
  }
  .post h6 {
    font-size: 1rem;
  }
  .post blockquote p, .post blockquote p a, .post blockquote ol, .post blockquote p ul, .post blockquote li {
    font-size: 1.2em;
  }
  .customSelect {
    text-align: left;
  }
  .hasCustomSelect {
    cursor: pointer;
  }
  .tinynav {
    width: 100% !important;
    height: 48px !important;
  }
  .type-content, .type-image {
    margin: 2em 0;
  }
  .type-widget {
    padding: 0;
  }
  .not-mobile {
    display: none;
  }
  header.main {
    padding-top: 1em;
  }
  header.main .lower .columns {
    padding: 0;
    margin-top: 1em;
  }
  .sb-search {
    width: 100%;
    height: 48px !important;
  }
  .sb-search input, .sb-search span {
    height: 48px !important;
    line-height: 48px;
  }
  .customSelectInner {
    width: 100% !important;
    padding: 1em;
  }
  .customSelectInner span {
    display: inline-block;
  }
  .customSelectInner span.title {
    width: 80%;
    min-width: 100px;
  }
  .customSelectInner span.icon {
    float: right;
  }
  footer.main .vcard, .copyright {
    text-align: center;
  }
  footer.main .top {
    display: inline-block;
    margin: 2em 0 1.25em;
  }
  .widget .apps.row {
    text-align: center !important;
  }
  .widget .apps.row .columns a:first-child {
    display: block;
  }
  .align-inner, .align-outer {
    text-align: center;
  }
  .hours {
    -moz-column-count: 1;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.5em;
  }
}
@media only screen and (min-width: 64.063em) {
  .home header.main {
    z-index: 5;
  }
  .section {
    margin: 4em 0;
  }
  .section .flush.columns:first-child {
    padding-left: 0;
  }
  .section .flush.columns:last-child {
    padding-right: 0;
  }
  .section.section-1.start-image .flush.columns:last-child {
    padding-left: 0;
    padding-right: 0.9375em;
  }
  .section.section-1.start-image .flush.columns:first-child {
    padding-right: 0;
    padding-left: 0.9375em;
  }
  .section-1 {
    padding: 4em 0 0;
    margin: 0;
  }
  .section-1 .widget {
    margin: -5.5em 0 5.5em;
    position: relative;
    z-index: 10;
  }
  .post .alignleft, .post img.alignleft {
    display: inline;
    float: left;
    margin: 0.5em 1.5em 0.5em -15%;
  }
  .post .alignright, .post img.alignright {
    display: inline;
    float: right;
    margin: 0.5em -15% 0.5em 1.5em;
  }
  .tinynav, .customSelect {
    display: none !important;
  }
  .mobile, .top {
    display: none;
  }
  .hours {
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
  }
}
body, .home .slide-caption .button, .home .orbit-bullets li.active, .widget .button, .widget-testimonial .diamond, .widget-testimonial .orbit-bullets li.active, .type-content .orbit-container .orbit-slides-container li {
  background-color: #fff;
}
.home .orbit-bullets li {
  background-color: rgba(255, 255, 255, .50);
}
.widget input, .widget textarea {
  background-color: rgba(255, 255, 255, .35);
}
.home .slide-caption h3, .home .slide-caption p, .category span, .recent-entries a, .post time span, input, textarea, .breadcrumbs p, .breadcrumbs p a, .backdrop h1, .backdrop p, .home .slide-caption .button:hover, .widget-testimonial .button.share, .widget .gform_wrapper .gform_footer input[type=submit]:hover, .widget .gform_wrapper div.validation_error, header.blog h3, .continue, .continue:hover, .sb-icon-search, .sb-search-submit, .cart-quantity, .gallery-overlay h4, .gallery-overlay p, .reveal-modal .form p.alt, .reveal-modal .social a.symbol, .reveal-modal .controls a, .button-alt {
  color: #fff;
}
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget p, .widget a.symbol, .widget a, .widget label, .widget .button:hover, .widget .button.share, .widget ol, .widget ul, .widget li {
  color: #fff;
}
@media only screen and (max-width: 64em) {
  .widget.vary-on .orbit-bullets li {
    background-color: #fff;
  }
  .widget.vary-on.widget-testimonial .button.share:hover {
    color: #fff;
  }
}
.reveal-modal .form {
  background-color: rgba(255, 255, 255, .75);
}
.reveal-modal .details h1, .reveal-modal .details h2, .reveal-modal .details h3, .reveal-modal .details h4, .reveal-modal .details h5, .reveal-modal .details h6, .reveal-modal .details p, .reveal-modal .details span, .reveal-modal .details a, .reveal-modal .details ul, .reveal-modal .details ol, .reveal-modal .details li {
  color: #fff;
}
footer.reveal {
  border-color: rgba(255, 255, 255, .5);
}
.interest-form .alt {
  background-color: #fff;
  color: #00aeef;
}
input, textarea, .comment-body:after, .button, .widget .button:hover, .diamond, .continue:hover, .sb-icon-search, .sb-search-submit, .ilightbox-overlay, .cart-quantity {
  background-color: #565656;
}
.comment > .children {
  background-color: rgba(86, 86, 86, .05);
}
.widget-testimonial .orbit-bullets li, .breadcrumbs {
  background-color: rgba(86, 86, 86, .5);
}
body, h1, h1 a, h2, h2 a, h3, h4, h5, h6, p, ul, ol, a, blockquote, dl, dt, dd, .textwidget, table, tr, td, span, nav .menu a, .social a, .social a, .home .slide-caption .button, .counter, .post time, .post time:before, .widget, .widget a.button, .widget-testimonial a.button.share:hover, .widget .gform_wrapper .gform_footer input[type=submit], .breadcrumbs span, .contact-details p a, #commentform label small {
  color: #565656;
}
div.main .categorizing p {
  color: #bcbcbc;
}
@media only screen and (max-width: 64em) {
  .widget.vary-on {
    background-color: #565656;
  }
  .widget.vary-on span.ring {
    color: #565656;
  }
}
#breadcrumb {
  background-color: #bcbcbc;
}
#breadcrumb a {
  color: #565656;
}
.product-nav {
  background-color: #d6d6d6;
}
.product-nav a {
  color: #565656;
}
.product-nav .current {
  background-color: #969696;
  color: #fff;
}
header.blog, input[type=submit], .widget, .button:hover, .slide-caption .button:hover, .backdrop, .continue, .reveal-modal .form .alt, .button-alt {
  background-color: #00aeef;
}
.gallery-overlay {
  background-color: rgba(0, 174, 239, .75);
}
.test-list blockquote {
  border-color: #00aeef;
}
nav.main a:hover, nav.main a.active, a, .social a:hover, span.prepend, .counter .current, #respond h3 a, label small, .vcard cite.fn, .loading, .loading p, .loading em, .widget-testimonial span.ring, .categorizing a, .section .gallery .orbit-container .orbit-prev > span, .section .slider-pages .orbit-container .orbit-prev > span, .section .gallery .orbit-container .orbit-next > span, .section .slider-pages .orbit-container .orbit-next > span, button.icon:before {
  color: #00aeef;
}
a:hover, header.blog a:hover {
  color: #56d1ff;
}
.widget a:hover {
  color: #0089bc;
}
@media only screen and (max-width: 40em) {
  .contact-details p a {
    color: #00aeef;
  }
  .widget.vary-on .orbit-bullets li.active {
    background-color: #00aeef;
  }
}
.reveal-modal-bg, .ilightbox-overlay.dark {
  background-color: rgba(0, 174, 239, .95);
}
.reveal-modal .form h1, .reveal-modal .form h2, .reveal-modal .form h3, .reveal-modal .form h4, .reveal-modal .form h5, .reveal-modal .form h6, .reveal-modal .form p, .reveal-modal .form ul, .reveal-modal .form ol, .reveal-modal .form dt, .reveal-modal .form dd, .reveal-modal .form span, .reveal-modal .form label {
  color: #00aeef;
}
.bg-tertiary {
  background-color: #00aeef;
}
.bg-tertiary h1, .bg-tertiary h2, .bg-tertiary h3, .bg-tertiary h4, .bg-tertiary h5, .bg-tertiary h6, .bg-tertiary p, .bg-tertiary ul, .bg-tertiary ol, .bg-tertiary dt, .bg-tertiary dd, .bg-tertiary span, .bg-tertiary label {
  color: #fff;
}
.customSelect, .button-alt:hover {
  background-color: #691c33;
}
.product-nav.bottom .pagination {
  background-color: rgba(105, 28, 51, .5);
}
.max-socialize .social-connect, span.inline:first-child, header.main .band, footer.main .upper, footer.main .lower, .hour-container, .blog footer.main, .single footer.main, .archive footer.main, .diamond, .extra, header.main .tel:last-child {
  border-color: #691c33;
}
.sb-search-input::-webkit-input-placeholder, .sb-search-input:-moz-placeholder, .sb-search-input::-moz-placeholder, .sb-search-input:-ms-input-placeholder {
  color: #691c33;
}
.customSelect span {
  color: #d04e75;
}
.product-nav.bottom .current {
  background-color: #ca3a65;
  color: #fff;
}
div.main .widget h3 {
  color: #fff;
}
nav.main, .sub-menu {
  background-color: #fff;
}
.header-contents {
  background-color: rgba(255, 255, 255, .5);
}
footer.main {
  background-color: #fff;
}
.bg-primary .social-share.st-single-color a:before, .bg-primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #00aeef;
}
.bg-primary .social-share.st-single-color a:hover:before, .bg-primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #0089bc;
}
.bg-secondary .social-share.st-single-color a:before, .bg-secondary .social-connect.st-single-color a:before, .bg-tertiary .social-share.st-single-color a:before, .bg-tertiary .social-connect.st-single-color a:before, .bg-quaternary .social-share.st-single-color a:before, .bg-quaternary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #fff;
}
.bg-secondary .social-share.st-single-color a:hover:before, .bg-secondary .social-connect.st-single-color a:hover:before, .bg-tertiary .social-share.st-single-color a:hover:before, .bg-tertiary .social-connect.st-single-color a:hover:before, .bg-quaternary .social-share.st-single-color a:hover:before, .bg-quaternary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
.jigoshop.jigoshop-checkout form.checkout input, .jigoshop.jigoshop-checkout form.checkout textarea {
  background-color: #565656;
  color: #fff;
}
