/*==========================================================================
Imports
==========================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
@charset "UTF-8";
@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/averagesans/v2/dnU3R-5A_43y5bIyLztPsaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'), url(http://themes.googleusercontent.com/static/fonts/italiana/v2/H6204F0mjGtjVYNr2mjFcHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff image-url("ajax-loader.gif", false, false) center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /* Arrows */
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 30px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: -40px;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  left: 40px;
  /* Dots */
}
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\2022';
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
h1, h1 a, h2, h3, h4, h5, h6 {
  font-family: 'Italiana', sans-serif;
  font-weight: normal;
  /*==========================================================================
FONT FACES
==========================================================================*/
}
h1 a, h1 a a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 span, h1 a span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-family: 'Italiana', sans-serif;
  font-size: 1em;
  font-weight: normal;
  /*==========================================================================
FONT FACES
==========================================================================*/
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1.1rem;
  font-weight: 400;
}
h5, h6 {
  font-size: 1rem;
  font-weight: 400;
}
h1, h1 a {
  margin: 0;
  font-size: 1.4rem;
}
p, ul, ol, a, blockquote, dl, dt, dd, .textwidget, table, tr, td, span {
  font-family: 'Average Sans', sans-serif;
  font-size: 1rem;
  /*==========================================================================
FONT FACES
==========================================================================*/
}
pre {
  margin: 1em 0;
}
.button, .product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a {
  font-family: 'Average Sans', sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  letter-spacing: 2px;
  /*==========================================================================
FONT FACES
==========================================================================*/
  padding: 0.5em 1em;
}
table {
  background-color: transparent;
  border: none;
  margin: 0;
}
input[type=text] {
  border-width: 1px;
  border-style: solid;
}
input[type=submit] {
  border: none;
}
.alignleft, img.alignleft {
  display: inline;
  float: left;
  margin: 0.5em 1.5em 0.5em 0;
}
.alignright, img.alignright {
  display: inline;
  float: right;
  margin: 0.5em 0 0.5em 1.5em;
}
.aligncenter, img.aligncenter {
  margin: 0.5em auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
article.main hr {
  border: none;
  height: 1px;
  width: 30%;
  margin: 1em 0;
}
.post {
  /*==========================================================================
Containers & Shared Styles
==========================================================================*/
}
.post h1, .post header h2, .post header h2 a {
  padding: 0;
  display: block;
  font-size: 3rem;
  text-align: center;
  position: relative;
  z-index: 5;
}
.post h2 {
  font-size: 2.3rem;
}
.post h3 {
  font-size: 2rem;
}
.post h4 {
  font-size: 1.7rem;
}
.post h5 {
  font-size: 1.4rem;
}
.post h6 {
  font-size: 1.1rem;
}
.post ul, .post ol, .post li {
  text-align: left;
}
.post ul, .post ol {
  margin: 1em 5%;
}
.post blockquote {
  padding: 1em 5%;
  border: none;
}
.post blockquote p, .post blockquote p a, .post blockquote ol, .post blockquote p ul, .post blockquote li {
  font-size: 2.5rem;
}
.row {
  max-width: 100%;
}
nav .menu {
  text-align: center;
  margin: 0;
}
nav .menu li {
  float: none;
}
nav .menu a {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.max-socialize .social {
  display: inline-block;
}
.max-socialize .social-connect {
  border-right-width: 1px;
  border-right-style: solid;
  padding-right: 1em;
}
a.symbol {
  font-size: 32px;
}
a.symbol:before {
  margin: 0;
  font-size: 0;
}
.social-share {
  display: block;
}
.social-share.has-mono a:before {
  content: '';
  margin: 0;
  font-size: 0;
}
.social-share.has-mono a span {
  background-image: none;
  display: none;
}
.prepend {
  text-transform: uppercase;
  display: inline-block;
}
.breadcrumbs {
  border: none;
  border-radius: 0;
}
.breadcrumbs p {
  width: 100%;
  text-align: center;
}
.breadcrumbs p, .breadcrumbs p a, .breadcrumbs span {
  font-size: 0.7rem;
}
.vcard p {
  margin: 0;
}
span.inline {
  padding-right: 0.5em;
}
span.inline:first-child {
  border-right-style: solid;
  border-right-width: 1px;
  margin-right: 0.5em;
}
.table, .table-row, .table-cell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(transparent 20%, rgba(0, 0, 0, .80));
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(transparent 20%, rgba(0, 0, 0, .80));
  /* For Firefox 3.6 to 15 */
  background: -moz-linear-gradient(transparent 20%, rgba(0, 0, 0, .80));
  /* Standard syntax */
  background: linear-gradient(transparent 20%, rgba(0, 0, 0, .80));
}
.ring-box {
  display: inline-block;
  position: relative;
}
.diamond {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  /* Rotate */
  margin: 0 0 0 25px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  /* Rotate Origin */
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.vcard p, .vcard span, .vcard a {
  font-size: 0.8rem;
}
.vcard {
  padding: 0;
  border: none;
  margin: 0;
}
.vcard .fn.org {
  display: none;
}
.street-address, .locale {
  display: inline-block;
  margin: 0 10px 0 0;
}
.street-address:after {
  content: ',';
}
[class*="column"] + [class*="column"]:last-child {
  float: left;
  /*==========================================================================
Header
==========================================================================*/
}
header.main .logo, header.main .logo img {
  display: block;
  margin: 0 auto;
}
header.main .tel {
  display: inline-block;
  margin: 0;
}
header.main .tel:last-child {
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 10px;
  margin-left: 10px;
}
header.main .header-contents {
  padding: 1.2em 0 0;
}
nav.main {
  margin-top: 1em;
  position: relative;
}
nav.main .menu > li:first-child a {
  padding-left: 0;
}
nav.main a {
  display: block;
  padding: 0.75em 0;
  letter-spacing: 3px;
  margin: 0;
}
nav.main .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: left;
  background-color: #fff;
  padding: 0 0 1.5em;
  display: none;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
  z-index: 20;
}
nav.main .sub-menu .bull, nav.main .sub-menu a {
  display: block;
  float: left;
}
nav.main .sub-menu a {
  padding: 0;
}
nav.main .sub-menu .band {
  background-color: #000;
  height: 5px;
  display: block;
  margin: 0 0 1.5em;
  width: 100%;
}
nav.main .menu-image {
  text-align: right;
}
nav.main h3 {
  font-size: 2.2rem;
}
nav.main .links {
  -moz-column-count: 2;
  -moz-column-gap: 1.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
}
nav.main p {
  margin: 0;
}
nav.main .table-cell {
  width: auto;
}
.shop-nav {
  margin-bottom: 1em;
  text-align: right;
}
.cart-quantity {
  display: inline-block;
  padding: 0.5em;
  font-size: 0.7rem;
  border-radius: 5px;
  margin-left: 1em;
}
.cart-quantity:before {
  font-family: 'Ionicons';
  content: '\f167';
  padding-right: 0.3rem;
}
nav.shop {
  display: inline-block;
}
nav.shop li {
  display: inline-block;
  padding-left: 1em;
}
.sb-search {
  position: relative;
  width: 0%;
  min-width: 35px;
  height: 35px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
  border: none;
}
input.sb-search-input[type=text] {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 100%;
  height: 35px;
  margin: 0;
  z-index: 10;
  padding: 0.5em 48px 0.5em 0.5em;
  font-family: inherit;
  font-size: 0.9rem;
  border: none;
}
.sb-icon-search, .sb-search-submit {
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  border: none;
}
.sb-search-submit {
  opacity: 0;
  border: none;
  outline: none;
}
.sb-icon-search {
  z-index: 90;
  font-size: 1.5em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.sb-search.sb-search-open, .no-js .sb-search {
  width: 100%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
  z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
  z-index: 90;
}
header.main .social-connect, header.main .social-share {
  text-align: left;
}
header.main .social-connect a, header.main .social-share a {
  font-size: 16px;
  display: inline-block;
  margin: 0.5em 0.25em 0 0;
}
header.main a.symbol:before {
  margin: 0;
}
header.main .band {
  border-top-width: 5px;
  border-top-style: solid;
  width: 50%;
  margin-bottom: 1em;
}
header.main .right-side .band {
  margin-left: 50%;
}
header.main .vcard {
  text-align: left;
}
.backdrop {
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*==========================================================================
Footer
==========================================================================*/
}
.backdrop .table {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.backdrop h1, .backdrop h3, .backdrop p {
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, .8);
}
.backdrop h1 {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
  font-weight: normal;
}
footer.main {
  margin-top: 4em;
}
footer.main .upper {
  border-style: solid;
  border-width: 5px 0 1px 0;
}
footer.main .lower {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 1em 0;
}
footer.main p, footer.main span, footer.main a {
  font-size: 0.8rem;
  margin: 0;
}
footer.main .vcard {
  width: 100%;
}
footer.main .vcard p, footer.main .contact-details a {
  text-transform: uppercase;
}
footer.main .social {
  margin: 1em 0;
  text-align: right;
}
footer.main .social-connect {
  margin-left: -0.5em;
}
footer.main .social-connect a {
  display: inline-block;
  padding-left: 0.25rem;
}
footer.main .max-socialize .copyright p {
  padding-top: 0.5em;
}
footer.main .logo {
  display: block;
  margin-bottom: 0.5em;
}
nav.footer ul {
  text-align: left;
}
nav.footer li {
  padding: 1em 1.5em 1em 0;
  display: inline-block;
}
.copyright p {
  padding: 0.5em 0;
}
.copyright a {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.hour-container {
  border-style: solid;
  border-width: 0 1px 0 1px;
}
.hour-container h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}
.hours p {
  padding: 0;
  margin: 0 0 0.5em;
  text-transform: uppercase;
}
.hours span {
  font-weight: bold;
  padding: 0;
}
.extra {
  border: none;
  text-align: right;
  /*==========================================================================
Page Sections
==========================================================================*/
}
.section h2 {
  font-size: 3rem;
  line-height: normal;
  margin-bottom: 1rem;
}
.section .type-content.has-bg {
  padding-right: 15%;
  background-repeat: no-repeat;
}
.section .type-content.has-bg.first {
  padding-left: 15%;
  padding-right: 0.9375em;
}
.section .gallery .flush.pull-8.columns:last-child {
  padding-left: 0;
  padding-right: 0.9375em;
}
.section .gallery .first li {
  text-align: right;
}
.section .gallery .first li img {
  display: inline;
}
.section .gallery .int-slider .slick-prev, .section .gallery .int-slider .slick-next {
  bottom: -60px;
}
.section .gallery .int-slider .slick-next {
  left: 35px;
}
.section .gallery .int-slider .slick-prev {
  left: 0px;
}
.section .gallery .first .slick-prev {
  left: auto;
  right: 60px;
}
.section .gallery .first .slick-next {
  right: 20px;
  left: auto;
}
.widget {
  padding: 1em 1.53em;
}
.widget .button, .widget .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .widget a, .widget .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .widget a {
  padding: 0.5em 1em;
  margin: 0 0 0.5em;
  font-size: 0.75rem;
}
.widget h3 {
  font-size: 2.2rem;
  font-weight: normal;
}
.widget p a {
  text-decoration: underline;
}
.widget p a.button, .widget p .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .widget p a, .widget p .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .widget p a {
  text-decoration: none;
}
.widget .image.first {
  text-align: right;
}
.widget label {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.widget .gform_wrapper input {
  border: none;
}
.widget .gform_wrapper input[type=text] {
  padding: 1em;
  font-size: 0.8rem;
}
.widget .gform_wrapper .gform_footer {
  margin: 1em 0 0;
  padding: 0;
}
.widget .gform_wrapper .gform_footer input[type=submit] {
  font-size: 0.8rem;
}
.type-widget.full .align-inner {
  text-align: right;
}
.type-widget.full .last.align-inner {
  text-align: left;
}
.widget-share {
  text-align: center;
}
.widget-share h3 {
  font-size: 2.5rem;
  margin-top: 0;
  line-height: normal;
}
.widget-share a {
  padding: 0 0.25rem;
}
.widget-testimonial h3 {
  margin: 0.5em 0 1em;
}
.widget-testimonial .diamond {
  margin-bottom: -25px;
}
.widget-testimonial .ring {
  font-family: 'Italiana', sans-serif;
  font-size: 7rem;
  font-weight: normal;
  /*==========================================================================
FONT FACES
==========================================================================*/
  top: -28px;
  left: 4px;
  height: 0;
}
.widget-testimonial .button.share, .widget-testimonial .product-nav .navigation .nav-next a.share, .product-nav .navigation .nav-next .widget-testimonial a.share, .widget-testimonial .product-nav .navigation .nav-previous a.share, .product-nav .navigation .nav-previous .widget-testimonial a.share {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
.widget-testimonial .button.share:hover, .widget-testimonial .product-nav .navigation .nav-next a.share:hover, .product-nav .navigation .nav-next .widget-testimonial a.share:hover, .widget-testimonial .product-nav .navigation .nav-previous a.share:hover, .product-nav .navigation .nav-previous .widget-testimonial a.share:hover {
  background-color: transparent;
}
.widget-testimonial .more {
  margin-right: 1em;
}
.widget-testimonial .testimonials, .widget-testimonial .orbit-bullets li {
  cursor: pointer;
}
.widget-testimonial.full {
  text-align: center;
}
.widget-testimonial.full .ring-box {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 0 auto 0.5em;
}
ul.testimonials {
  margin: 0;
}
ul.testimonials li {
  list-style-type: none;
  margin: 0;
  padding-right: 1px;
}
.credit {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
}
.widget-gallery.full {
  padding: 1em 25%;
  text-align: center;
}
.image.first {
  text-align: right;
}
.main .widget .gform_wrapper {
  /*==========================================================================
Page Specific
==========================================================================*/
}
.main .widget .gform_wrapper .top_label li.gfield.gf_left_half input.medium, .main .widget .gform_wrapper .top_label li.gfield.gf_left_half input.large, .main .widget .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .main .widget .gform_wrapper .top_label li.gfield.gf_left_half select.large, .main .widget .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .main .widget .gform_wrapper .top_label li.gfield.gf_right_half input.large, .main .widget .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .main .widget .gform_wrapper .top_label li.gfield.gf_right_half select.large, .main .widget .gform_wrapper .top_label input.large, .main .widget .gform_wrapper .top_label select.large, .main .widget .gform_wrapper .top_label textarea.textarea, .main .widget .gform_wrapper .ginput_complex .ginput_full input[type=text], .main .widget .gform_wrapper .ginput_complex .ginput_full input[type=url], .main .widget .gform_wrapper .ginput_complex .ginput_full input[type=email], .main .widget .gform_wrapper .ginput_complex .ginput_full input[type=tel], .main .widget .gform_wrapper .ginput_complex .ginput_full input[type=number], .main .widget .gform_wrapper .ginput_complex .ginput_full input[type=password], .main .widget .gform_wrapper .ginput_complex input[type=text], .main .widget .gform_wrapper .ginput_complex input[type=url], .main .widget .gform_wrapper .ginput_complex input[type=email], .main .widget .gform_wrapper .ginput_complex input[type=tel], .main .widget .gform_wrapper .ginput_complex input[type=number], .main .widget .gform_wrapper .ginput_complex input[type=password], .main .widget .gform_wrapper .ginput_complex select, .main .widget .gform_wrapper .top_label input.medium, .main .widget .gform_wrapper .top_label select.medium {
  font-size: 0.8rem;
  padding: 0.5em;
}
.main .widget .gform_wrapper .top_label .gfield_label {
  font-size: 0.7rem;
}
.home header.main {
  width: 100%;
}
.home .header-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.home .home-slider, .home .home-slider div {
  height: 700px;
}
.home .home-slider {
  overflow: hidden;
}
.home .home-slider div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .slide-caption {
  bottom: 2em;
  text-align: center;
  padding: 0;
  z-index: 5;
  position: relative;
  padding-top: 25%;
}
.home .slide-caption h3 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 4.25rem;
}
.home .slide-caption .button, .home .slide-caption .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .home .slide-caption a, .home .slide-caption .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .home .slide-caption a {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0.5em;
}
.home .slick-dots {
  margin: 0.75em auto;
  position: absolute;
  top: auto;
  bottom: 10px;
  width: 100%;
}
.home .slick-dots button {
  background-color: #fff;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin: 0;
}
.home .slick-dots button:before {
  content: '';
}
.home .slick-dots li {
  opacity: 0.5;
  width: auto;
  height: auto;
}
.home .slick-dots li.slick-active {
  opacity: 1;
}
.home .slick-slide .table-row {
  position: relative;
  z-index: 100;
}
.home .backdrop {
  height: auto;
}
header.blog h3 {
  text-align: center;
  padding: 0.4em;
  font-size: 1.3rem;
  margin: 0;
}
header.blog .category span, header.blog select, header.blog .recent-entries a {
  display: inline-block;
  margin: 0.75em 0;
}
header.blog .recent-entries a {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0.85rem;
}
header.blog .recent-entries {
  text-align: right;
}
header.blog select {
  width: 80%;
  font-size: 0.7rem;
  height: auto;
}
article.post {
  padding: 3em 0;
  text-align: center;
}
article.post.full {
  padding-top: 3em;
}
article.post .diamond {
  margin: 0 0 0 50px;
}
article.post .divider .diamond {
  margin: 0 0 0 12px;
}
article.post .divider .diamond:first-child {
  margin: 0 0 0 5px;
}
article.post .ring {
  top: -5px;
  left: 13px;
  width: 75px;
  text-align: center;
}
article.post time span {
  font-family: 'Italiana', sans-serif;
  /*==========================================================================
FONT FACES
==========================================================================*/
  width: 75px;
  display: block;
  text-align: center;
}
article.post time span.date {
  font-size: 1.8em;
  line-height: 1.3rem;
}
article.post time span.month {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
article.post .featured {
  display: block;
  margin: 1em auto;
}
article.post header h2 {
  margin-top: 1rem;
}
.divider {
  margin: -2.5em auto 4em;
  text-align: center;
}
.divider .diamond {
  display: inline-block;
  position: relative;
  height: 8px;
  width: 8px;
  margin: 0 0 0 12px;
}
.divider .diamond:first-child {
  margin: 0 0 0 5px;
}
.single .has-featured .ring-box {
  margin: -15px auto 50px;
  display: block;
  width: 96px;
}
.single .has-featured .categorizing {
  margin-top: -2.5em;
}
.single .ring-box {
  margin-top: 20px;
}
.single .divider {
  padding: 3em 0;
}
.post-list {
  text-align: center;
}
.post-list .post:first-child .divider {
  display: none;
}
.post-list .ring-box {
  margin-top: 25px;
}
.categorizing {
  text-align: center;
  position: relative;
  z-index: 5;
}
div.main .categorizing {
  padding: 1em 0 2em;
}
div.main .categorizing p, div.main .categorizing a {
  margin: 0;
  font-style: italic;
  font-size: 0.8rem;
}
.continue-wrap {
  display: block;
  margin: 1em auto 0;
}
.continue {
  display: inline-block;
  padding: 0.25em 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8rem;
  white-space: nowrap;
}
#infscr-loading {
  padding: 0 0 3em;
}
#infscr-loading .loading {
  font-size: 3em;
}
#infscr-loading img {
  display: none;
}
#respond {
  margin-top: -1.8em;
}
#respond h3, #respond h3 a, #respond h3#comments {
  font-size: 2.8rem;
  padding: 0;
  margin: 0 0 0.5em;
}
#respond textarea, #respond input[type=text], #respond input[type=email] {
  width: 100%;
  border: none;
  padding: 1em;
}
#respond label small {
  font-size: 0.8rem;
  text-transform: uppercase;
}
#respond input[type=submit] {
  border: none;
  margin: 1em auto 3em;
  display: block;
  padding: 0.5em 1em;
}
#commentform p {
  margin-bottom: 0.5em;
}
.comments {
  text-align: center;
}
.comment-body {
  padding: 2em;
  position: relative;
}
.comment-body:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 30%;
  bottom: 0.5em;
  left: 35%;
}
.comment-list li {
  list-style-type: none;
}
.comment-list, .children {
  margin: 0 0 6em;
}
.comment > .children {
  margin-bottom: 1em;
}
.children li:last-child .comment-body:after {
  background-color: transparent;
}
.comment-author {
  border: none;
  padding: 0;
  margin: 0;
}
.says {
  display: none;
}
.comment-reply-link {
  text-transform: uppercase;
}
.avatar {
  display: none;
}
.comment-meta {
  margin-bottom: 1em;
}
.comment-meta a {
  font-size: 0.7rem;
}
.vcard cite.fn {
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}
.test-container {
  max-width: 64em;
  padding: 4em 0 0;
}
.test-container h1 {
  text-align: center;
  font-size: 2rem;
}
.test-container .columns:nth-child(odd) {
  clear: left;
}
.test-container blockquote {
  margin: 2em 0;
  border-left-width: 3px;
}
.test-container blockquote p:last-child {
  margin-bottom: 0.25em;
}
.test-container blockquote cite {
  opacity: 0.7;
}
.test-container [class*="column"] + [class*="column"]:last-child {
  float: left;
}
.error404 {
  /*==========================================================================
Reveal Modal
==========================================================================*/
}
.error404 .container .columns {
  margin: 4em auto;
}
.reveal-modal {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  /*==========================================================================
Jigoshop
==========================================================================*/
}
.reveal-modal .row {
  max-width: 100%;
}
.reveal-modal .product-image img {
  display: block;
  margin: 0 auto;
}
.reveal-modal .details h1, .reveal-modal .details h2, .reveal-modal .details h3, .reveal-modal .details h4, .reveal-modal .details h5, .reveal-modal .details h6, .reveal-modal .details p {
  text-align: center;
}
.reveal-modal .details .price {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  display: block;
  text-align: center;
}
.reveal-modal .details h3 {
  font-size: 1.7rem;
  margin: 0 0 1.25em;
  position: relative;
}
.reveal-modal .details h3:after {
  display: block;
  width: 20%;
  margin: 1.2em auto 0;
  height: 1px;
  content: ' ';
  bottom: 0;
}
.reveal-modal .form {
  margin: 2em 0 0;
  padding: 1em;
}
.reveal-modal .form input {
  margin-bottom: 0;
  outline: none;
  border: none;
}
.reveal-modal .form .gform_wrapper {
  width: 100%;
  margin: 0;
  max-width: 100%;
  display: block !important;
}
.reveal-modal .form .gform_wrapper .gform_heading {
  width: 100%;
}
.reveal-modal .form .gform_wrapper h2.gsection_title, .reveal-modal .form .gform_wrapper .gsection_description, .reveal-modal .form .gform_wrapper h3.gform_title {
  margin: 0 0 0.5em;
  letter-spacing: 3px !important;
  text-align: center;
  width: 100%;
}
.reveal-modal .form .gform_wrapper span.gform_description {
  line-height: 1.8em;
  text-align: center;
  display: block;
}
.reveal-modal .form .gform_wrapper .top_label .gfield_label {
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
}
.reveal-modal .form .gform_wrapper .gform_footer {
  margin: 0;
  padding: 0.25em 0 0;
}
.reveal-modal .form .gform_wrapper .gform_footer input.button, .reveal-modal .form .gform_wrapper .gform_footer .product-nav .navigation .nav-next input, .product-nav .navigation .nav-next .reveal-modal .form .gform_wrapper .gform_footer input, .reveal-modal .form .gform_wrapper .gform_footer .product-nav .navigation .nav-previous input, .product-nav .navigation .nav-previous .reveal-modal .form .gform_wrapper .gform_footer input, .reveal-modal .form .gform_wrapper .gform_footer input[type=submit] {
  font-family: 'Italiana', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  /*==========================================================================
FONT FACES
==========================================================================*/
  margin: 0;
  padding: 0.5em 1em;
}
.reveal-modal .form .alt-break, .reveal-modal .form .alt {
  font-family: 'Italiana', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  /*==========================================================================
FONT FACES
==========================================================================*/
  margin: 0.5em 0;
}
.reveal-modal .form .alt {
  padding: 0.5em;
  margin: 0;
}
.reveal-modal .form .button, .reveal-modal .form .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .reveal-modal .form a, .reveal-modal .form .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .reveal-modal .form a {
  margin: 0;
  width: 100%;
}
.reveal-modal footer.reveal {
  padding: 1em 0;
  margin-top: 1em;
  border-top-width: 1px;
  border-top-style: solid;
}
.reveal-modal footer.reveal .row {
  margin: 0;
}
.reveal-modal footer.reveal .columns {
  padding: 0;
}
.reveal-modal footer.reveal .social a.symbol {
  font-size: 1.3rem;
  padding-right: 0.25em;
  display: inline-block;
}
.reveal-modal footer.reveal .social a.symbol:before {
  margin-right: 0;
}
.reveal-modal footer.reveal .social a.symbol:hover {
  opacity: 0.8;
}
.reveal-modal .controls {
  text-align: right;
}
.reveal-modal .controls a {
  font-size: 2rem;
  display: inline-block;
  margin-left: 1em;
}
.reveal-modal .controls a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.reveal-modal .controls a.close-reveal-modal {
  position: relative;
  top: auto;
  right: auto;
  margin-left: 2em;
}
.post-type-archive-product footer.main, .tax-product_cat footer.main {
  margin-top: 0;
}
.product-nav.bottom {
  margin-bottom: 3em;
}
#breadcrumb {
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
}
#breadcrumb a {
  font-size: 0.75rem;
}
.product-list {
  padding: 4em 0;
}
.product-list li {
  list-style-type: none;
}
.product-list li.first {
  clear: left;
}
.product-list img {
  display: block;
  margin: 0 auto;
}
.product-list[class*="block-grid-"] {
  margin: 0;
}
.product {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.product-thumb .img {
  height: 300px;
}
.product-thumb .details {
  text-align: center;
  margin-top: 1.5em;
}
.product-thumb strong {
  font-family: 'Average Sans', sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  /*==========================================================================
FONT FACES
==========================================================================*/
  display: block;
}
.product-nav .pagination {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.product-nav .pagination span, .product-nav .pagination a, .product-nav .pagination p {
  font-size: 0.9rem;
  line-height: normal;
  font-weight: bold;
}
.product-nav .pagination a {
  font-weight: normal;
}
.product-nav .pagination a.prev {
  float: left;
}
.product-nav .pagination a.next {
  float: right;
}
.product-nav .pagination .current {
  display: inline-block;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
  top: -1px;
  position: relative;
}
.product-nav .navigation {
  padding-top: 2em;
  border-top-width: 0;
  border-top-style: solid;
}
.product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a {
  padding: 0.5em;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-previous a:hover {
  text-decoration: none;
}
.product-nav .navigation .nav-next {
  float: right;
}
.product-nav .navigation .nav-previous {
  float: left;
}
.product-nav.bottom {
  margin-bottom: 0;
  background-color: transparent;
}
.product-nav.bottom .pagination {
  padding: 0.5em 1em;
}
.cta-band {
  margin: 4em 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
.cta-band h3, .cta-band p {
  text-align: center;
}
.cta-band h3:last-child, .cta-band p:last-child {
  margin-bottom: 0;
}
.cta-band h1:after, .cta-band h2:after, .cta-band h3:after, .cta-band h4:after, .cta-band h5:after {
  display: block;
  width: 10%;
  margin: 0.4em auto;
  height: 1px;
  content: ' ';
  bottom: 0;
  opacity: 0.5;
}
.cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a {
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.5em 0 0;
}
.cta-band .content {
  position: relative;
  z-index: 5;
}
.cta-band .expander {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300%;
  z-index: 0;
}
.product-single {
  padding: 4em 0 0;
}
.product-single .product-list {
  padding: 2em 0 0;
}
.jigoshop-cart input.qty {
  height: 22px;
}
.jigoshop-cart .button, .jigoshop-cart .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .jigoshop-cart a, .jigoshop-cart .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .jigoshop-cart a {
  font-size: 0.8rem;
  text-transform: uppercase;
  width: auto !important;
}
.jigoshop-cart .button-alt {
  border-radius: none !important;
}
.jigoshop-cart .cart-collaterals .cart_totals, .jigoshop-cart .cart-collaterals .shipping_calculator {
  width: 35%;
}
.jigoshop-cart .cart-collaterals .cart_totals h2, .jigoshop-cart .cart-collaterals .shipping_calculator h2 {
  font-size: 1.3rem;
}
.jigoshop a.remove {
  font-family: 'Ionicons' !important;
  content: '\f12a';
  text-indent: 0;
  background-color: transparent;
  background-image: none;
  height: auto;
  width: auto;
}
.jigoshop a.remove:hover {
  background-color: transparent;
}
.jigoshop-cart input.qty {
  height: 35px;
}
.jigoshop {
  /*==========================================================================
Gravity Forms
==========================================================================*/
}
.jigoshop form .form-row input.input-text, .jigoshop #content .form-row input.input-text, .jigoshop form .form-row textarea, .jigoshop #content .form-row textarea {
  padding: 0.75em;
}
.main .gform_wrapper {
  /*==========================================================================
Responsive
==========================================================================*/
}
.main .gform_wrapper .top_label .gfield_label {
  font-weight: normal !important;
}
.main .gform_wrapper .top_label li.gfield.gf_left_half input.medium, .main .gform_wrapper .top_label li.gfield.gf_left_half input.large, .main .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .main .gform_wrapper .top_label li.gfield.gf_left_half select.large, .main .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .main .gform_wrapper .top_label li.gfield.gf_right_half input.large, .main .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .main .gform_wrapper .top_label li.gfield.gf_right_half select.large, .main .gform_wrapper .top_label input.large, .main .gform_wrapper .top_label select.large, .main .gform_wrapper .top_label textarea.textarea, .main .gform_wrapper .ginput_complex .ginput_full input[type=text], .main .gform_wrapper .ginput_complex .ginput_full input[type=url], .main .gform_wrapper .ginput_complex .ginput_full input[type=email], .main .gform_wrapper .ginput_complex .ginput_full input[type=tel], .main .gform_wrapper .ginput_complex .ginput_full input[type=number], .main .gform_wrapper .ginput_complex .ginput_full input[type=password], .main .gform_wrapper .ginput_complex input[type=text], .main .gform_wrapper .ginput_complex input[type=url], .main .gform_wrapper .ginput_complex input[type=email], .main .gform_wrapper .ginput_complex input[type=tel], .main .gform_wrapper .ginput_complex input[type=number], .main .gform_wrapper .ginput_complex input[type=password], .main .gform_wrapper .ginput_complex select, .main .gform_wrapper .top_label input.medium, .main .gform_wrapper .top_label select.medium {
  padding: 0.75em;
  font-size: 1em;
}
.main .gform_wrapper .ginput_complex .ginput_left, .main .gform_wrapper .ginput_complex .ginput_right, .main .gform_wrapper .ginput_complex .ginput_full {
  overflow: visible;
}
.main .gform_wrapper input[type=submit] {
  padding: 0.5em;
}
.main .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .main .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin: 0;
}
.main .gform_wrapper .validation_message {
  font-weight: normal;
  font-size: 0.7rem;
}
.main .gform_wrapper .top_label .gfield_description.validation_message, .main .gform_wrapper .gfield_description.validation_message {
  padding: 0;
}
@media only screen and (max-width: 40em) {
  footer.main {
    margin-top: 0;
  }
  footer.main nav.footer ul, footer.main .social {
    text-align: center;
  }
  footer.main .logo {
    display: block;
    text-align: center;
  }
  .hour-container {
    border-width: 1px 0 0 0;
    margin: 1em 0 0;
    padding-top: 1em;
  }
  .extra {
    margin-bottom: 0;
  }
  header.main .contact-details, footer.main .contact-details {
    text-align: center;
  }
  .home .backdrop {
    padding: 0;
  }
  .backdrop {
    height: auto;
    min-height: auto;
    padding: 2em 0;
  }
  .backdrop h1 {
    font-size: 2.5rem;
  }
  .backdrop .overlay {
    background-color: rgba(0, 0, 0, .25);
  }
  .home .home-slider {
    height: 400px !important;
  }
  .home .home-slider div {
    height: 400px !important;
  }
  .home .home-slider .slide-caption {
    height: 400px;
    padding-top: 0;
  }
  .home .home-slider h3 {
    font-size: 1.5rem;
    line-height: 1.25em;
  }
  div.main .columns.no-space {
    margin: 0;
  }
  header.main .left-side .band {
    border-width: 1px;
    margin-bottom: 0 !important;
  }
  header.main .lower .columns, header.main .hasCustomSelect {
    margin-top: 0 !important;
  }
  header.main .social-block, header.main .vcard {
    display: none;
  }
  header.main .logo img {
    max-height: 100px;
    margin-bottom: 1em;
  }
  header.main a.icon {
    font-family: "Ionicons" !important;
  }
  .mobile-buttons a {
    display: block;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    border-width: 0;
    border-style: solid;
  }
  #commentform p:nth-child(1), #commentform p:nth-child(2) {
    display: block;
    width: 100%;
    margin: 0;
  }
  header.blog, header.blog .recent-entries, .hour-container {
    text-align: center;
  }
  nav.footer, .extra, footer.main .logo {
    display: none;
  }
  .section .type-content.has-bg {
    padding: 0 0.9375em;
    background: none !important;
  }
  .widget {
    text-align: center;
  }
  input {
    -webkit-appearance: none;
    border-radius: 0;
  }
  .slider-pages .excerpt-image.pull-8 {
    margin-top: 100px;
  }
  .slider-pages .excerpt-image, .slider-pages .excerpt-image.first {
    text-align: center;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .mobile-buttons {
    display: none;
  }
  .home .home-slider, .home .home-slider div {
    height: 500px !important;
  }
  .home .slide-caption {
    padding-top: 0;
  }
  .home .slide-caption h3 {
    font-size: 2rem;
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 40.063em) {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .backdrop {
    min-height: 200px;
  }
}
@media only screen and (max-width: 64em) {
  .home .orbit-container .orbit-slides-container > * .orbit-caption {
    bottom: auto;
    top: 2em;
  }
  .home .home-slider .orbit-caption h3 {
    font-size: 3em;
  }
  header.main .right-side .band, header.main .left-side .band {
    margin: 0;
    width: 100%;
    margin-bottom: 1em;
  }
  header.main .contact-details p, header.main .contact-details p span, header.main .contact-details p a {
    font-size: 1.1rem;
  }
  header.main nav.main {
    display: none;
  }
  .extra {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 1em;
    padding: 1em 0 0;
  }
  .hour-container h4 {
    margin: 0;
  }
  footer.main nav.footer li {
    padding: 0.25em 0.5em;
  }
  .backdrop .table {
    width: 80%;
  }
  .widget-gallery.full {
    padding: 1em 1.53em;
  }
  .image img {
    display: block;
    margin: 0 auto;
  }
  nav.footer {
    padding: 0.75em 0;
  }
  .extra {
    text-align: center;
  }
  .post h1, .post header h2, .post header h2 a {
    font-size: 2rem;
  }
  .post h2 {
    font-size: 1.8rem;
  }
  .post h3 {
    font-size: 1.6rem;
  }
  .post h4 {
    font-size: 1.4rem;
  }
  .post h5 {
    font-size: 1.2rem;
  }
  .post h6 {
    font-size: 1rem;
  }
  .post blockquote p, .post blockquote p a, .post blockquote ol, .post blockquote p ul, .post blockquote li {
    font-size: 1.2em;
  }
  .customSelect {
    text-align: left;
  }
  .hasCustomSelect {
    cursor: pointer;
  }
  .tinynav {
    width: 100% !important;
    height: 48px !important;
  }
  .type-content, .type-image {
    margin: 2em 0;
  }
  .type-widget {
    padding: 0;
  }
  .not-mobile {
    display: none;
  }
  header.main {
    padding-top: 1em;
  }
  header.main .lower .columns {
    padding: 0;
    margin-top: 1em;
  }
  .sb-search {
    width: 100%;
    height: 48px !important;
  }
  .sb-search input, .sb-search span {
    height: 48px !important;
    line-height: 48px;
  }
  .customSelectInner {
    width: 100% !important;
    padding: 1em;
  }
  .customSelectInner span {
    display: inline-block;
  }
  .customSelectInner span.title {
    width: 80%;
    min-width: 100px;
  }
  .customSelectInner span.icon {
    float: right;
  }
  footer.main .vcard, .copyright {
    text-align: center;
  }
  footer.main .top {
    display: inline-block;
    margin: 2em 0 1.25em;
  }
  .widget .apps.row {
    text-align: center !important;
  }
  .widget .apps.row .columns a:first-child {
    display: block;
  }
  .align-inner, .align-outer {
    text-align: center;
  }
  .hours {
    -moz-column-count: 1;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.5em;
  }
}
@media only screen and (min-width: 64.063em) {
  .home header.main {
    z-index: 5;
  }
  .section {
    margin: 4em 0;
  }
  .section .flush.columns:first-child {
    padding-left: 0;
  }
  .section .flush.columns:last-child {
    padding-right: 0;
  }
  .section.section-1.start-image .flush.columns:last-child {
    padding-left: 0;
    padding-right: 0.9375em;
  }
  .section.section-1.start-image .flush.columns:first-child {
    padding-right: 0;
    padding-left: 0.9375em;
  }
  .section-1 {
    padding: 4em 0 0;
    margin: 0;
  }
  .section-1 .widget {
    margin: -5.5em 0 5.5em;
    position: relative;
    z-index: 10;
  }
  .post .alignleft, .post img.alignleft {
    display: inline;
    float: left;
    margin: 0.5em 1.5em 0.5em -15%;
  }
  .post .alignright, .post img.alignright {
    display: inline;
    float: right;
    margin: 0.5em -15% 0.5em 1.5em;
  }
  .tinynav, .customSelect {
    display: none !important;
  }
  .mobile, .top {
    display: none;
  }
  .hours {
    -moz-column-count: 2;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.5em;
  }
}
body, .home .slide-caption .button, .home .slide-caption .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .home .slide-caption a, .home .slide-caption .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .home .slide-caption a, .home .orbit-bullets li.active, .widget .button, .widget .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .widget a, .widget .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .widget a, .widget-testimonial .diamond, .widget-testimonial .orbit-bullets li.active, .type-content .orbit-container .orbit-slides-container li {
  background-color: #fff;
}
.home .orbit-bullets li {
  background-color: rgba(255, 255, 255, .50);
}
.widget input, .widget textarea {
  background-color: rgba(255, 255, 255, .35);
}
.home .slide-caption h3, .home .slide-caption p, .category span, .recent-entries a, .post time span, input, textarea, .breadcrumbs p, .breadcrumbs p a, .backdrop h1, .backdrop p, .home .slide-caption .button:hover, .home .slide-caption .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .home .slide-caption a:hover, .home .slide-caption .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .home .slide-caption a:hover, .widget-testimonial .button.share, .widget-testimonial .product-nav .navigation .nav-next a.share, .product-nav .navigation .nav-next .widget-testimonial a.share, .widget-testimonial .product-nav .navigation .nav-previous a.share, .product-nav .navigation .nav-previous .widget-testimonial a.share, .widget .gform_wrapper .gform_footer input[type=submit]:hover, .widget .gform_wrapper div.validation_error, header.blog h3, .continue, .continue:hover, .sb-icon-search, .sb-search-submit, .cart-quantity, .gallery-overlay h4, .gallery-overlay p, .reveal-modal .form p.alt, .reveal-modal .social a.symbol, .reveal-modal .controls a, .button-alt {
  color: #fff;
}
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget p, .widget a.symbol, .widget a, .widget label, .widget .button:hover, .widget .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .widget a:hover, .widget .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .widget a:hover, .widget .button.share, .widget .product-nav .navigation .nav-next a.share, .product-nav .navigation .nav-next .widget a.share, .widget .product-nav .navigation .nav-previous a.share, .product-nav .navigation .nav-previous .widget a.share, .widget ol, .widget ul, .widget li {
  color: #fff;
}
@media only screen and (max-width: 64em) {
  .widget.vary-on .orbit-bullets li {
    background-color: #fff;
  }
  .widget.vary-on.widget-testimonial .button.share:hover, .widget.vary-on.widget-testimonial .product-nav .navigation .nav-next a.share:hover, .product-nav .navigation .nav-next .widget.vary-on.widget-testimonial a.share:hover, .widget.vary-on.widget-testimonial .product-nav .navigation .nav-previous a.share:hover, .product-nav .navigation .nav-previous .widget.vary-on.widget-testimonial a.share:hover {
    color: #fff;
  }
}
.reveal-modal .form {
  background-color: rgba(255, 255, 255, .75);
}
.reveal-modal .details h1, .reveal-modal .details h2, .reveal-modal .details h3, .reveal-modal .details h4, .reveal-modal .details h5, .reveal-modal .details h6, .reveal-modal .details p, .reveal-modal .details span, .reveal-modal .details a, .reveal-modal .details ul, .reveal-modal .details ol, .reveal-modal .details li {
  color: #fff;
}
footer.reveal {
  border-color: rgba(255, 255, 255, .5);
}
.interest-form .alt {
  background-color: #fff;
  color: #00aeef;
}
input, textarea, .comment-body:after, .button, .product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a, .widget .button:hover, .widget .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .widget a:hover, .widget .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .widget a:hover, .diamond, .continue:hover, .sb-icon-search, .sb-search-submit, .ilightbox-overlay, .cart-quantity {
  background-color: #565656;
}
.comment > .children {
  background-color: rgba(86, 86, 86, .05);
}
.widget-testimonial .orbit-bullets li, .breadcrumbs {
  background-color: rgba(86, 86, 86, .5);
}
body, h1, h1 a, h2, h2 a, h3, h4, h5, h6, p, ul, ol, a, blockquote, dl, dt, dd, .textwidget, table, tr, td, span, nav .menu a, .social a, .social a, .home .slide-caption .button, .home .slide-caption .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .home .slide-caption a, .home .slide-caption .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .home .slide-caption a, .counter, .post time, .post time:before, .widget, .widget a.button, .widget .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .widget a, .widget .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .widget a, .widget-testimonial a.button.share:hover, .widget-testimonial .product-nav .navigation .nav-next a.share:hover, .product-nav .navigation .nav-next .widget-testimonial a.share:hover, .widget-testimonial .product-nav .navigation .nav-previous a.share:hover, .product-nav .navigation .nav-previous .widget-testimonial a.share:hover, .widget .gform_wrapper .gform_footer input[type=submit], .breadcrumbs span, .contact-details p a, #commentform label small {
  color: #565656;
}
div.main .categorizing p {
  color: #bcbcbc;
}
@media only screen and (max-width: 64em) {
  .widget.vary-on {
    background-color: #565656;
  }
  .widget.vary-on span.ring {
    color: #565656;
  }
}
#breadcrumb {
  background-color: #bcbcbc;
}
#breadcrumb a {
  color: #565656;
}
.product-nav {
  background-color: #d6d6d6;
}
.product-nav a {
  color: #565656;
}
.product-nav .current {
  background-color: #969696;
  color: #fff;
}
header.blog, input[type=submit], .widget, .button:hover, .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-previous a:hover, .slide-caption .button:hover, .slide-caption .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .slide-caption a:hover, .slide-caption .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .slide-caption a:hover, .backdrop, .continue, .reveal-modal .form .alt, .button-alt {
  background-color: #00aeef;
}
.gallery-overlay {
  background-color: rgba(0, 174, 239, .75);
}
.test-list blockquote {
  border-color: #00aeef;
}
nav.main a:hover, nav.main a.active, a, .social a:hover, span.prepend, .counter .current, #respond h3 a, label small, .vcard cite.fn, .loading, .loading p, .loading em, .widget-testimonial span.ring, .categorizing a, .section .gallery .orbit-container .orbit-prev > span, .section .slider-pages .orbit-container .orbit-prev > span, .section .gallery .orbit-container .orbit-next > span, .section .slider-pages .orbit-container .orbit-next > span, button.icon:before {
  color: #00aeef;
}
a:hover, header.blog a:hover {
  color: #56d1ff;
}
.widget a:hover {
  color: #0089bc;
}
@media only screen and (max-width: 40em) {
  .contact-details p a {
    color: #00aeef;
  }
  .widget.vary-on .orbit-bullets li.active {
    background-color: #00aeef;
  }
}
.reveal-modal-bg, .ilightbox-overlay.dark {
  background-color: rgba(0, 174, 239, .95);
}
.reveal-modal .form h1, .reveal-modal .form h2, .reveal-modal .form h3, .reveal-modal .form h4, .reveal-modal .form h5, .reveal-modal .form h6, .reveal-modal .form p, .reveal-modal .form ul, .reveal-modal .form ol, .reveal-modal .form dt, .reveal-modal .form dd, .reveal-modal .form span, .reveal-modal .form label {
  color: #00aeef;
}
.bg-tertiary {
  background-color: #00aeef;
}
.bg-tertiary h1, .bg-tertiary h2, .bg-tertiary h3, .bg-tertiary h4, .bg-tertiary h5, .bg-tertiary h6, .bg-tertiary p, .bg-tertiary ul, .bg-tertiary ol, .bg-tertiary dt, .bg-tertiary dd, .bg-tertiary span, .bg-tertiary label {
  color: #fff;
}
.customSelect, .button-alt:hover {
  background-color: #691c33;
}
.product-nav.bottom .pagination {
  background-color: rgba(105, 28, 51, .5);
}
.max-socialize .social-connect, span.inline:first-child, header.main .band, footer.main .upper, footer.main .lower, .hour-container, .blog footer.main, .single footer.main, .archive footer.main, .diamond, .extra, header.main .tel:last-child {
  border-color: #691c33;
}
.sb-search-input::-webkit-input-placeholder, .sb-search-input:-moz-placeholder, .sb-search-input::-moz-placeholder, .sb-search-input:-ms-input-placeholder {
  color: #691c33;
}
.customSelect span {
  color: #d04e75;
}
.product-nav.bottom .current {
  background-color: #ca3a65;
  color: #fff;
}
div.main .widget h3 {
  color: #fff;
}
nav.main, .sub-menu {
  background-color: #fff;
}
.header-contents {
  background-color: rgba(255, 255, 255, .5);
}
footer.main {
  background-color: #fff;
}
.bg-primary .social-share.st-single-color a:before, .bg-primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #00aeef;
}
.bg-primary .social-share.st-single-color a:hover:before, .bg-primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #0089bc;
}
.bg-secondary .social-share.st-single-color a:before, .bg-secondary .social-connect.st-single-color a:before, .bg-tertiary .social-share.st-single-color a:before, .bg-tertiary .social-connect.st-single-color a:before, .bg-quaternary .social-share.st-single-color a:before, .bg-quaternary .social-connect.st-single-color a:before, .widget .social-share.st-single-color a:before, .widget .social-connect.st-single-color a:before {
  color: #fff;
}
.bg-secondary .social-share.st-single-color a:hover:before, .bg-secondary .social-connect.st-single-color a:hover:before, .bg-tertiary .social-share.st-single-color a:hover:before, .bg-tertiary .social-connect.st-single-color a:hover:before, .bg-quaternary .social-share.st-single-color a:hover:before, .bg-quaternary .social-connect.st-single-color a:hover:before, .widget .social-share.st-single-color a:hover:before, .widget .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
.jigoshop.jigoshop-checkout form.checkout input, .jigoshop.jigoshop-checkout form.checkout textarea {
  background-color: #565656;
  color: #fff;
}
