/*==============================================================================
* SHOP STYLES
==============================================================================*/
/*==========================================================================
01. Imports
==========================================================================*/
/*==========================================================================
Reveal Modal
==========================================================================*/
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.reveal-modal {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  /*==========================================================================
Jigoshop
==========================================================================*/
}
.reveal-modal .row {
  max-width: 100%;
}
.reveal-modal .product-image img {
  display: block;
  margin: 0 auto;
}
.reveal-modal .details h1, .reveal-modal .details h2, .reveal-modal .details h3, .reveal-modal .details h4, .reveal-modal .details h5, .reveal-modal .details h6, .reveal-modal .details p {
  text-align: center;
}
.reveal-modal .details .price {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  display: block;
  text-align: center;
}
.reveal-modal .details h3 {
  font-size: 1.7rem;
  margin: 0 0 1.25em;
  position: relative;
}
.reveal-modal .details h3:after {
  display: block;
  width: 20%;
  margin: 1.2em auto 0;
  height: 1px;
  content: ' ';
  bottom: 0;
}
.reveal-modal .form {
  margin: 2em 0 0;
  padding: 1em;
}
.reveal-modal .form input {
  margin-bottom: 0;
  outline: none;
  border: none;
}
.reveal-modal .form .gform_wrapper {
  width: 100%;
  margin: 0;
  max-width: 100%;
  display: block !important;
}
.reveal-modal .form .gform_wrapper .gform_heading {
  width: 100%;
}
.reveal-modal .form .gform_wrapper h2.gsection_title, .reveal-modal .form .gform_wrapper .gsection_description, .reveal-modal .form .gform_wrapper h3.gform_title {
  margin: 0 0 0.5em;
  letter-spacing: 3px !important;
  text-align: center;
  width: 100%;
}
.reveal-modal .form .gform_wrapper span.gform_description {
  line-height: 1.8em;
  text-align: center;
  display: block;
}
.reveal-modal .form .gform_wrapper .top_label .gfield_label {
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
}
.reveal-modal .form .gform_wrapper .gform_footer {
  margin: 0;
  padding: 0.25em 0 0;
}
.reveal-modal .form .gform_wrapper .gform_footer input.button, .reveal-modal .form .gform_wrapper .gform_footer .product-nav .navigation .nav-next input, .product-nav .navigation .nav-next .reveal-modal .form .gform_wrapper .gform_footer input, .reveal-modal .form .gform_wrapper .gform_footer .product-nav .navigation .nav-previous input, .product-nav .navigation .nav-previous .reveal-modal .form .gform_wrapper .gform_footer input, .reveal-modal .form .gform_wrapper .gform_footer input[type=submit] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 1em;
}
.reveal-modal .form .alt-break, .reveal-modal .form .alt {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
}
.reveal-modal .form .alt {
  padding: 0.5em;
  margin: 0;
}
.reveal-modal .form .button, .reveal-modal .form .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .reveal-modal .form a, .reveal-modal .form .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .reveal-modal .form a {
  margin: 0;
  width: 100%;
}
.reveal-modal footer.reveal {
  padding: 1em 0;
  margin-top: 1em;
  border-top-width: 1px;
  border-top-style: solid;
}
.reveal-modal footer.reveal .row {
  margin: 0;
}
.reveal-modal footer.reveal .columns {
  padding: 0;
}
.reveal-modal footer.reveal .social a.symbol {
  font-size: 1.3rem;
  padding-right: 0.25em;
  display: inline-block;
}
.reveal-modal footer.reveal .social a.symbol:before {
  margin-right: 0;
}
.reveal-modal footer.reveal .social a.symbol:hover {
  opacity: 0.8;
}
.reveal-modal .controls {
  text-align: right;
}
.reveal-modal .controls a {
  font-size: 2rem;
  display: inline-block;
  margin-left: 1em;
}
.reveal-modal .controls a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.reveal-modal .controls a.close-reveal-modal {
  position: relative;
  top: auto;
  right: auto;
  margin-left: 2em;
}
.jigoshop .backdrop {
  height: auto;
  padding: 1.5em;
}
.jigoshop .backdrop .table {
  height: 185px;
}
.post-type-archive-product footer.main, .tax-product_cat footer.main {
  margin-top: 0;
}
.product-nav.bottom {
  margin-bottom: 3em;
}
#breadcrumb {
  padding: 1em;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}
.product-list {
  padding: 4em 0;
}
.product-list li {
  list-style-type: none;
}
.product-list li.first {
  clear: left;
}
.product-list img {
  display: block;
  margin: 0 auto;
}
.product {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.product-thumb .img-zoom {
  margin-bottom: 1.5em;
  height: 300px;
}
.product-thumb .details {
  text-align: center;
}
.product-thumb strong {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  display: block;
}
.product-nav .pagination {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.product-nav .pagination span, .product-nav .pagination a, .product-nav .pagination p {
  font-size: 0.7rem;
}
.product-nav .pagination a.prev {
  float: left;
}
.product-nav .pagination a.next {
  float: right;
}
.product-nav .navigation {
  padding-top: 2em;
  border-top-width: 0;
  border-top-style: solid;
}
.product-nav .navigation:after {
  display: table;
  content: ' ';
  clear: both;
  zoom: 1;
}
.product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5em;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-previous a:hover {
  text-decoration: none;
}
.product-nav .navigation .nav-next {
  float: right;
}
.product-nav .navigation .nav-previous {
  float: left;
}
.cta-band {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
.cta-band h3, .cta-band p {
  text-align: center;
}
.cta-band h3:last-child, .cta-band p:last-child {
  margin-bottom: 0;
}
.cta-band h1:after, .cta-band h2:after, .cta-band h3:after, .cta-band h4:after, .cta-band h5:after {
  display: block;
  width: 10%;
  margin: 0.4em auto;
  height: 1px;
  content: ' ';
  bottom: 0;
  opacity: 0.5;
}
.cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a {
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.5em 0 0;
}
.cta-band .content {
  position: relative;
  z-index: 5;
}
.cta-band .expander {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300%;
  z-index: 0;
}
.product-single {
  padding: 4em 0 0;
}
.product-single .product-list {
  padding: 2em 0 0;
}
.jigoshop-cart {
  /*==========================================================================
Plugins
==========================================================================*/
  /* Sorting Plug */
}
.jigoshop-cart input.qty {
  height: 22px;
}
.jigoshop-cart .button, .jigoshop-cart .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .jigoshop-cart a, .jigoshop-cart .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .jigoshop-cart a {
  font-size: 0.8rem;
  text-transform: uppercase;
  width: auto !important;
}
.jigoshop-cart .button-alt {
  border-radius: none !important;
}
.jigoshop-cart .cart-collaterals .cart_totals, .jigoshop-cart .cart-collaterals .shipping_calculator {
  width: 35%;
}
.jigoshop-cart .cart-collaterals .cart_totals h2, .jigoshop-cart .cart-collaterals .shipping_calculator h2 {
  font-size: 1.3rem;
}
.jigoshop_sorting {
  padding: 1.5em 0.9375em 0;
  text-align: right;
  margin-bottom: -3em;
}
.jigoshop_sorting h3, .jigoshop_sorting form, .jigoshop_sorting select.sorting, .jigoshop_sorting input[type=submit] {
  display: inline-block;
}
.jigoshop_sorting h3 {
  font-size: 0.9rem;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.jigoshop_sorting select.sorting {
  width: 70%;
}
.jigoshop_sorting input {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.5em 1em;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.bg-primary, .backdrop h1 + p:before, .reveal-modal .details h3:after, .cta-band h3:after, .cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a, .slider h2 + p:before, .slick-dots li button {
  background-color: #fff;
}
.reveal-modal .form {
  background-color: rgba(255, 255, 255, .75);
}
header.main p, header.main .adr, header.main .numbers {
  border-color: #fff;
}
footer.reveal {
  border-color: rgba(255, 255, 255, .5);
}
.reveal-modal .details h1, .cta-band h1, .widget.has-bg h1, .reveal-modal .details h2, .cta-band h2, .widget.has-bg h2, .reveal-modal .details h3, .cta-band h3, .widget.has-bg h3, .reveal-modal .details h4, .cta-band h4, .widget.has-bg h4, .reveal-modal .details h5, .cta-band h5, .widget.has-bg h5, .reveal-modal .details h6, .cta-band h6, .widget.has-bg h6, .reveal-modal .details p, .cta-band p, .widget.has-bg p, .reveal-modal .details span, .cta-band span, .widget.has-bg span, .reveal-modal .details a, .cta-band a, .widget.has-bg a, .reveal-modal .details ul, .cta-band ul, .widget.has-bg ul, .reveal-modal .details ol, .cta-band ol, .widget.has-bg ol, .reveal-modal .details li, .cta-band li, .widget.has-bg li {
  color: #fff;
}
.backdrop h1, .backdrop p, .post time span, .continue, .continue:hover, .reveal-modal .form p.alt, .reveal-modal .social a.symbol, .reveal-modal .controls a, nav.main ul ul li:hover a, .pagination .current, #breadcrumb a, #breadcrumb, .navigation a, .navigation a span, .home-featured a:hover p, .home-featured a:hover h4, .home .slide-details h2, .home .slide-details p, .home .slide-details a {
  color: #fff;
}
.widget.has-bg h4:after {
  background-color: #691c33;
}
.widget.has-bg a.button, .widget.has-bg .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .widget.has-bg a, .widget.has-bg .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .widget.has-bg a {
  background-color: #fff;
  color: #00aeef;
}
.widget.has-bg a.button:hover, .widget.has-bg .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .widget.has-bg a:hover, .widget.has-bg .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .widget.has-bg a:hover {
  background-color: #ba315a;
  color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .50);
}
.overlay-primary h1, .overlay-primary p {
  color: #000;
  text-shadow: 0 0 10px #fff;
}
.sidebar .button a, .sidebar .product-nav .navigation .nav-next a a, .product-nav .navigation .nav-next .sidebar a a, .sidebar .product-nav .navigation .nav-previous a a, .product-nav .navigation .nav-previous .sidebar a a, .widget .social-connect a:before, nav.main span {
  color: #fff;
}
.bg-secondary {
  background-color: #565656;
}
.the-post, footer.post {
  border-color: #d6d6d6;
}
p, ul, ol, dt, dd, span, table, td, tr, body, table tr td, table tr th, .continue:hover {
  color: #565656;
}
.categorizing p, .product-thumb .details .price, header.main .cart-stats {
  color: #898989;
}
.sidebar .widget .label.secondary {
  background-color: #898989;
  color: #fff;
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .50);
}
.overlay-secondary h1, .overlay-secondary p {
  color: #fff;
  text-shadow: 0 0 10px #565656;
}
.bg-tertiary, .post time, .continue, nav.main ul > li.current_page_item > a:after, .button, .product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a, .reveal-modal .form .alt, .pagination .current, .ilightbox-toolbar.dark a, .ilightbox-holder.dark, .home-featured a:hover, .widget.has-bg {
  background-color: #00aeef;
}
.reveal-modal-bg, .ilightbox-overlay.dark {
  background-color: rgba(0, 174, 239, .95);
}
nav.main ul ul {
  background-color: rgba(0, 174, 239, .75);
}
.overlay-tertiary {
  background-color: rgba(0, 174, 239, .50);
}
.overlay-tertiary h1, .overlay-tertiary p {
  color: #000;
  text-shadow: 0 0 10px #00aeef;
}
.gallery-overlay {
  background-color: rgba(0, 174, 239, .8);
}
.gallery-overlay h4 {
  color: #e6e6e6;
}
.gallery-overlay p {
  color: #fff;
}
.reveal-modal .form h1, .reveal-modal .form h2, .reveal-modal .form h3, .reveal-modal .form h4, .reveal-modal .form h5, .reveal-modal .form h6, .reveal-modal .form p, .reveal-modal .form ul, .reveal-modal .form ol, .reveal-modal .form dt, .reveal-modal .form dd, .reveal-modal .form span, .reveal-modal .form label {
  color: #00aeef;
}
a, nav.main > ul > li > a:hover, .product-thumb .details strong, .cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a, .home-featured a:hover span {
  color: #00aeef;
}
a:hover {
  color: #0089bc;
}
header.main .upper p, footer.main .lower p, header.main .upper span, footer.main .lower span, header.main .upper a, footer.main .lower a {
  color: #00aeef;
}
.bg-tertiary-light {
  background-color: #fff;
}
header.main .upper {
  border-bottom: 1px solid #effbff;
}
footer.main h3, footer.main p, footer.main a, footer.main span, footer.main li, footer.main .lower p, footer.main .lower a {
  color: #fff;
}
input, textarea {
  border-color: #00aeef;
  color: #00aeef;
}
.bg-quaternary, .continue:hover, .home-featured a:hover span {
  background-color: #691c33;
}
.button:hover, .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-previous a:hover, .button:active, .product-nav .navigation .nav-next a:active, .product-nav .navigation .nav-previous a:active, nav.main ul ul li:hover {
  background-color: #ba315a;
}
.page-gallery, .sidebar li, .navigation, div.main {
  border-color: #691c33;
}
nav.main ul ul a {
  color: #691c33;
}
nav.main > ul > li > a {
  color: #e59fb4;
}
h1, h2, h3, h4, h5, h6 {
  color: #ba315a;
}
.button-alt, .jigoshop-cart .quantity input.plus, .jigoshop-cart .quantity input.minus {
  background-color: #691c33;
  color: #fff;
}
.button-alt:hover, .jigoshop-cart .quantity input.plus:hover, .jigoshop-cart .quantity input.minus:hover {
  background-color: #912747;
  color: #fff;
}
.overlay-quaternary {
  background-color: rgba(105, 28, 51, .50);
}
.overlay-quaternary h1, .overlay-quaternary p {
  color: #fff;
  text-shadow: 0 0 10px #691c33;
}
nav.main ul > li:hover {
  background-color: #912747;
}
nav.main ul > li:hover a {
  color: #fff;
}
.gallery-list .tabs dd.active a {
  background-color: #00aeef;
}
.gallery-list .tabs dd a {
  background-color: #565656;
}
#breadcrumb, .product-nav.bottom, .product-single .product-details .panel, .product-single .product-details .active {
  background-color: #ba315a;
}
.product-single .tabs li {
  background-color: #691c33;
}
.product-single .related.products {
  border-color: #691c33;
}
.product-single .panel h1, .product-single .panel h2, .product-single .panel h3, .product-single .panel h4, .product-single .panel h5, .product-single .panel h6, .product-single .panel p, .product-single .panel span, .product-single .panel a, .product-single .panel ul, .product-single .panel ol, .product-single .panel li, .product-single .panel input, .product-single .panel textarea {
  color: #fbeff3;
}
.product-single .panel input, .product-single .panel textarea {
  background-color: rgba(255, 255, 255, .75);
}
.jigoshop form.cart button, .jigoshop .button, .jigoshop .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .jigoshop a, .jigoshop .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .jigoshop a, .jigoshop input[type=submit] {
  background-color: #00aeef;
  color: #000;
}
.jigoshop form.cart button:hover, .jigoshop .button:hover, .jigoshop .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .jigoshop a:hover, .jigoshop .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .jigoshop a:hover, .jigoshop input[type=submit]:hover {
  background-color: #009bd6;
}
.jigoshop .button-alt {
  background-color: #691c33;
  color: #f0c7d3;
}
.jigoshop .quantity input.qty {
  background-color: rgba(105, 28, 51, .5);
  color: #f0c7d3;
}
.jigoshop .bg-tertiary h3 {
  color: #000;
}
.jigoshop .bg-tertiary p, .jigoshop .bg-tertiary span, .jigoshop .bg-tertiary label {
  color: #000;
}
.jigoshop .bg-tertiary input {
  color: #000;
}
.jigoshop .bg-tertiary input[type=submit] {
  background-color: #691c33;
  color: #f0c7d3;
}
.jigoshop .bg-tertiary .alt {
  color: #00aeef;
  background-color: #fff;
}
.bg-primary .social-share.st-single-color a:before, .bg-primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before {
  color: #00aeef;
}
.bg-primary .social-share.st-single-color a:hover:before, .bg-primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before {
  color: #0089bc;
}
.bg-secondary .social-share.st-single-color a:before, .bg-secondary .social-connect.st-single-color a:before, .bg-tertiary .social-share.st-single-color a:before, .bg-tertiary .social-connect.st-single-color a:before, .bg-quaternary .social-share.st-single-color a:before, .bg-quaternary .social-connect.st-single-color a:before {
  color: #fff;
}
.bg-secondary .social-share.st-single-color a:hover:before, .bg-secondary .social-connect.st-single-color a:hover:before, .bg-tertiary .social-share.st-single-color a:hover:before, .bg-tertiary .social-connect.st-single-color a:hover:before, .bg-quaternary .social-share.st-single-color a:hover:before, .bg-quaternary .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
