@charset "UTF-8";
/* Slider */
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /* Arrows */
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.5;
}
.slick-prev:before, .slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-next {
  right: -25px;
  /* Dots */
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-dots {
  position: absolute;
  bottom: 1.5em;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 0;
  cursor: pointer;
  margin: 0 0.25em;
}
.slick-dots li button {
  border-radius: 100%;
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  opacity: 1;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.bg-primary, .backdrop h1 + p:before, .reveal-modal .details h3:after, .cta-band h3:after, .cta-band .button, .slider h2 + p:before, .slick-dots li button {
  background-color: #fff;
}
.reveal-modal .form {
  background-color: rgba(255, 255, 255, .75);
}
header.main p, header.main .adr, header.main .numbers {
  border-color: #fff;
}
footer.reveal {
  border-color: rgba(255, 255, 255, .5);
}
.reveal-modal .details h1, .cta-band h1, .widget.has-bg h1, .reveal-modal .details h2, .cta-band h2, .widget.has-bg h2, .reveal-modal .details h3, .cta-band h3, .widget.has-bg h3, .reveal-modal .details h4, .cta-band h4, .widget.has-bg h4, .reveal-modal .details h5, .cta-band h5, .widget.has-bg h5, .reveal-modal .details h6, .cta-band h6, .widget.has-bg h6, .reveal-modal .details p, .cta-band p, .widget.has-bg p, .reveal-modal .details span, .cta-band span, .widget.has-bg span, .reveal-modal .details a, .cta-band a, .widget.has-bg a, .reveal-modal .details ul, .cta-band ul, .widget.has-bg ul, .reveal-modal .details ol, .cta-band ol, .widget.has-bg ol, .reveal-modal .details li, .cta-band li, .widget.has-bg li {
  color: #fff;
}
.backdrop h1, .backdrop p, .post time span, .continue, .continue:hover, .reveal-modal .form p.alt, .reveal-modal .social a.symbol, .reveal-modal .controls a, nav.main ul ul li:hover a, .pagination .current, #breadcrumb a, #breadcrumb, .navigation a, .navigation a span, .home-featured a:hover p, .home-featured a:hover h4, .home .slide-details h2, .home .slide-details p, .home .slide-details a {
  color: #fff;
}
.widget.has-bg h4:after {
  background-color: #691c33;
}
.widget.has-bg a.button {
  background-color: #fff;
  color: #00aeef;
}
.widget.has-bg a.button:hover {
  background-color: #ba315a;
  color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .50);
}
.overlay-primary h1, .overlay-primary p {
  color: #000;
  text-shadow: 0 0 10px #fff;
}
.sidebar .button a, .widget .social-connect a:before, nav.main span {
  color: #fff;
}
.bg-secondary {
  background-color: #565656;
}
.the-post, footer.post {
  border-color: #d6d6d6;
}
p, ul, ol, dt, dd, span, table, td, tr, body, table tr td, table tr th, .continue:hover {
  color: #565656;
}
.categorizing p, .product-thumb .details .price, header.main .cart-stats {
  color: #898989;
}
.sidebar .widget .label.secondary {
  background-color: #898989;
  color: #fff;
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .50);
}
.overlay-secondary h1, .overlay-secondary p {
  color: #fff;
  text-shadow: 0 0 10px #565656;
}
.bg-tertiary, .post time, .continue, nav.main ul > li.current_page_item > a:after, .button, .reveal-modal .form .alt, .pagination .current, .ilightbox-toolbar.dark a, .ilightbox-holder.dark, .home-featured a:hover, .widget.has-bg {
  background-color: #00aeef;
}
.reveal-modal-bg, .ilightbox-overlay.dark {
  background-color: rgba(0, 174, 239, .95);
}
nav.main ul ul {
  background-color: rgba(0, 174, 239, .75);
}
.overlay-tertiary {
  background-color: rgba(0, 174, 239, .50);
}
.overlay-tertiary h1, .overlay-tertiary p {
  color: #000;
  text-shadow: 0 0 10px #00aeef;
}
.gallery-overlay {
  background-color: rgba(0, 174, 239, .8);
}
.gallery-overlay h4 {
  color: #e6e6e6;
}
.gallery-overlay p {
  color: #fff;
}
.reveal-modal .form h1, .reveal-modal .form h2, .reveal-modal .form h3, .reveal-modal .form h4, .reveal-modal .form h5, .reveal-modal .form h6, .reveal-modal .form p, .reveal-modal .form ul, .reveal-modal .form ol, .reveal-modal .form dt, .reveal-modal .form dd, .reveal-modal .form span, .reveal-modal .form label {
  color: #00aeef;
}
a, nav.main > ul > li > a:hover, .product-thumb .details strong, .cta-band .button, .home-featured a:hover span {
  color: #00aeef;
}
a:hover {
  color: #0089bc;
}
header.main .upper p, footer.main .lower p, header.main .upper span, footer.main .lower span, header.main .upper a, footer.main .lower a {
  color: #00aeef;
}
.bg-tertiary-light {
  background-color: #fff;
}
header.main .upper {
  border-bottom: 1px solid #effbff;
}
footer.main h3, footer.main p, footer.main a, footer.main span, footer.main li, footer.main .lower p, footer.main .lower a {
  color: #fff;
}
input, textarea {
  border-color: #00aeef;
  color: #00aeef;
}
.bg-quaternary, .continue:hover, .home-featured a:hover span {
  background-color: #691c33;
}
.button:hover, .button:active, nav.main ul ul li:hover {
  background-color: #ba315a;
}
.page-gallery, .sidebar li, .navigation, div.main {
  border-color: #691c33;
}
nav.main ul ul a {
  color: #691c33;
}
nav.main > ul > li > a {
  color: #e59fb4;
}
h1, h2, h3, h4, h5, h6 {
  color: #ba315a;
}
.button-alt, .jigoshop-cart .quantity input.plus, .jigoshop-cart .quantity input.minus {
  background-color: #691c33;
  color: #fff;
}
.button-alt:hover, .jigoshop-cart .quantity input.plus:hover, .jigoshop-cart .quantity input.minus:hover {
  background-color: #912747;
  color: #fff;
}
.overlay-quaternary {
  background-color: rgba(105, 28, 51, .50);
}
.overlay-quaternary h1, .overlay-quaternary p {
  color: #fff;
  text-shadow: 0 0 10px #691c33;
}
nav.main ul > li:hover {
  background-color: #912747;
}
nav.main ul > li:hover a {
  color: #fff;
}
.gallery-list .tabs dd.active a {
  background-color: #00aeef;
}
.gallery-list .tabs dd a {
  background-color: #565656;
}
#breadcrumb, .product-nav.bottom, .product-single .product-details .panel, .product-single .product-details .active {
  background-color: #ba315a;
}
.product-single .tabs li {
  background-color: #691c33;
}
.product-single .related.products {
  border-color: #691c33;
}
.product-single .panel h1, .product-single .panel h2, .product-single .panel h3, .product-single .panel h4, .product-single .panel h5, .product-single .panel h6, .product-single .panel p, .product-single .panel span, .product-single .panel a, .product-single .panel ul, .product-single .panel ol, .product-single .panel li, .product-single .panel input, .product-single .panel textarea {
  color: #fbeff3;
}
.product-single .panel input, .product-single .panel textarea {
  background-color: rgba(255, 255, 255, .75);
}
.jigoshop form.cart button, .jigoshop .button, .jigoshop input[type=submit] {
  background-color: #00aeef;
  color: #000;
}
.jigoshop form.cart button:hover, .jigoshop .button:hover, .jigoshop input[type=submit]:hover {
  background-color: #009bd6;
}
.jigoshop .button-alt {
  background-color: #691c33;
  color: #f0c7d3;
}
.jigoshop .quantity input.qty {
  background-color: rgba(105, 28, 51, .5);
  color: #f0c7d3;
}
.jigoshop .bg-tertiary h3 {
  color: #000;
}
.jigoshop .bg-tertiary p, .jigoshop .bg-tertiary span, .jigoshop .bg-tertiary label {
  color: #000;
}
.jigoshop .bg-tertiary input {
  color: #000;
}
.jigoshop .bg-tertiary input[type=submit] {
  background-color: #691c33;
  color: #f0c7d3;
}
.jigoshop .bg-tertiary .alt {
  color: #00aeef;
  background-color: #fff;
}
.bg-primary .social-share.st-single-color a:before, .bg-primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before {
  color: #00aeef;
}
.bg-primary .social-share.st-single-color a:hover:before, .bg-primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before {
  color: #0089bc;
}
.bg-secondary .social-share.st-single-color a:before, .bg-secondary .social-connect.st-single-color a:before, .bg-tertiary .social-share.st-single-color a:before, .bg-tertiary .social-connect.st-single-color a:before, .bg-quaternary .social-share.st-single-color a:before, .bg-quaternary .social-connect.st-single-color a:before {
  color: #fff;
}
.bg-secondary .social-share.st-single-color a:hover:before, .bg-secondary .social-connect.st-single-color a:hover:before, .bg-tertiary .social-share.st-single-color a:hover:before, .bg-tertiary .social-connect.st-single-color a:hover:before, .bg-quaternary .social-share.st-single-color a:hover:before, .bg-quaternary .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
