/*==========================================================================
Imports
==========================================================================*/
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==============================================================================
* SHOP STYLES
==============================================================================*/
/*==========================================================================
01. Imports
==========================================================================*/
/*==========================================================================
Reveal Modal
==========================================================================*/
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
@charset "UTF-8";
/* Slider */
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
/*==============================================================================
* VARIABLES
==============================================================================*/
/*==========================================================================
MIXINS
==========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.reveal-modal {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
  /*==========================================================================
Jigoshop
==========================================================================*/
}
.reveal-modal .row {
  max-width: 100%;
}
.reveal-modal .product-image img {
  display: block;
  margin: 0 auto;
}
.reveal-modal .details h1, .reveal-modal .details h2, .reveal-modal .details h3, .reveal-modal .details h4, .reveal-modal .details h5, .reveal-modal .details h6, .reveal-modal .details p {
  text-align: center;
}
.reveal-modal .details .price {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  display: block;
  text-align: center;
}
.reveal-modal .details h3 {
  font-size: 1.7rem;
  margin: 0 0 1.25em;
  position: relative;
}
.reveal-modal .details h3:after {
  display: block;
  width: 20%;
  margin: 1.2em auto 0;
  height: 1px;
  content: ' ';
  bottom: 0;
}
.reveal-modal .form {
  margin: 2em 0 0;
  padding: 1em;
}
.reveal-modal .form input {
  margin-bottom: 0;
  outline: none;
  border: none;
}
.reveal-modal .form .gform_wrapper {
  width: 100%;
  margin: 0;
  max-width: 100%;
  display: block !important;
}
.reveal-modal .form .gform_wrapper .gform_heading {
  width: 100%;
}
.reveal-modal .form .gform_wrapper h2.gsection_title, .reveal-modal .form .gform_wrapper .gsection_description, .reveal-modal .form .gform_wrapper h3.gform_title {
  margin: 0 0 0.5em;
  letter-spacing: 3px !important;
  text-align: center;
  width: 100%;
}
.reveal-modal .form .gform_wrapper span.gform_description {
  line-height: 1.8em;
  text-align: center;
  display: block;
}
.reveal-modal .form .gform_wrapper .top_label .gfield_label {
  margin: 0;
  font-weight: normal;
  font-size: 0.8rem;
}
.reveal-modal .form .gform_wrapper .gform_footer {
  margin: 0;
  padding: 0.25em 0 0;
}
.reveal-modal .form .gform_wrapper .gform_footer input.button, .reveal-modal .form .gform_wrapper .gform_footer .product-nav .navigation .nav-next input, .product-nav .navigation .nav-next .reveal-modal .form .gform_wrapper .gform_footer input, .reveal-modal .form .gform_wrapper .gform_footer .product-nav .navigation .nav-previous input, .product-nav .navigation .nav-previous .reveal-modal .form .gform_wrapper .gform_footer input, .reveal-modal .form .gform_wrapper .gform_footer footer.main .form form input[type=submit], footer.main .form form .reveal-modal .form .gform_wrapper .gform_footer input[type=submit], .reveal-modal .form .gform_wrapper .gform_footer .gform_wrapper input[type=submit], .gform_wrapper .reveal-modal .form .gform_wrapper .gform_footer input[type=submit], .reveal-modal .form .gform_wrapper .gform_footer input[type=submit] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em 1em;
}
.reveal-modal .form .alt-break, .reveal-modal .form .alt {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0.5em 0;
}
.reveal-modal .form .alt {
  padding: 0.5em;
  margin: 0;
}
.reveal-modal .form .button, .reveal-modal .form .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .reveal-modal .form a, .reveal-modal .form .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .reveal-modal .form a, .reveal-modal .form footer.main .form form input[type=submit], footer.main .form form .reveal-modal .form input[type=submit], .reveal-modal .form .gform_wrapper input[type=submit], .gform_wrapper .reveal-modal .form input[type=submit] {
  margin: 0;
  width: 100%;
}
.reveal-modal footer.reveal {
  padding: 1em 0;
  margin-top: 1em;
  border-top-width: 1px;
  border-top-style: solid;
}
.reveal-modal footer.reveal .row {
  margin: 0;
}
.reveal-modal footer.reveal .columns {
  padding: 0;
}
.reveal-modal footer.reveal .social a.symbol {
  font-size: 1.3rem;
  padding-right: 0.25em;
  display: inline-block;
}
.reveal-modal footer.reveal .social a.symbol:before {
  margin-right: 0;
}
.reveal-modal footer.reveal .social a.symbol:hover {
  opacity: 0.8;
}
.reveal-modal .controls {
  text-align: right;
}
.reveal-modal .controls a {
  font-size: 2rem;
  display: inline-block;
  margin-left: 1em;
}
.reveal-modal .controls a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.reveal-modal .controls a.close-reveal-modal {
  position: relative;
  top: auto;
  right: auto;
  margin-left: 2em;
}
.jigoshop .backdrop {
  height: auto;
  padding: 1.5em;
}
.jigoshop .backdrop .table {
  height: 185px;
}
.post-type-archive-product footer.main, .tax-product_cat footer.main {
  margin-top: 0;
}
.product-nav.bottom {
  margin-bottom: 3em;
}
#breadcrumb {
  padding: 1em;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
}
.product-list {
  padding: 4em 0;
}
.product-list li {
  list-style-type: none;
}
.product-list li.first {
  clear: left;
}
.product-list img {
  display: block;
  margin: 0 auto;
}
.product {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.product-thumb .img-zoom {
  margin-bottom: 1.5em;
  height: 300px;
}
.product-thumb .details {
  text-align: center;
}
.product-thumb strong {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  display: block;
}
.product-nav .pagination {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.product-nav .pagination span, .product-nav .pagination a, .product-nav .pagination p {
  font-size: 0.7rem;
}
.product-nav .pagination a.prev {
  float: left;
}
.product-nav .pagination a.next {
  float: right;
}
.product-nav .navigation {
  padding-top: 2em;
  border-top-width: 0;
  border-top-style: solid;
}
.product-nav .navigation:after {
  display: table;
  content: ' ';
  clear: both;
  zoom: 1;
}
.product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5em;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-previous a:hover {
  text-decoration: none;
}
.product-nav .navigation .nav-next {
  float: right;
}
.product-nav .navigation .nav-previous {
  float: left;
}
.cta-band {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
.cta-band h3, .cta-band p {
  text-align: center;
}
.cta-band h3:last-child, .cta-band p:last-child {
  margin-bottom: 0;
}
.cta-band h1:after, .cta-band h2:after, .cta-band h3:after, .cta-band h4:after, .cta-band h5:after {
  display: block;
  width: 10%;
  margin: 0.4em auto;
  height: 1px;
  content: ' ';
  bottom: 0;
  opacity: 0.5;
}
.cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a, .cta-band footer.main .form form input[type=submit], footer.main .form form .cta-band input[type=submit], .cta-band .gform_wrapper input[type=submit], .gform_wrapper .cta-band input[type=submit] {
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0.5em 0 0;
}
.cta-band .content {
  position: relative;
  z-index: 5;
}
.cta-band .expander {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 300%;
  z-index: 0;
}
.product-single {
  padding: 4em 0 0;
}
.product-single .product-list {
  padding: 2em 0 0;
}
.jigoshop-cart {
  /*==========================================================================
Plugins
==========================================================================*/
  /* Sorting Plug */
}
.jigoshop-cart input.qty {
  height: 22px;
}
.jigoshop-cart .button, .jigoshop-cart .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .jigoshop-cart a, .jigoshop-cart .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .jigoshop-cart a, .jigoshop-cart footer.main .form form input[type=submit], footer.main .form form .jigoshop-cart input[type=submit], .jigoshop-cart .gform_wrapper input[type=submit], .gform_wrapper .jigoshop-cart input[type=submit] {
  font-size: 0.8rem;
  text-transform: uppercase;
  width: auto !important;
}
.jigoshop-cart .button-alt {
  border-radius: none !important;
}
.jigoshop-cart .cart-collaterals .cart_totals, .jigoshop-cart .cart-collaterals .shipping_calculator {
  width: 35%;
}
.jigoshop-cart .cart-collaterals .cart_totals h2, .jigoshop-cart .cart-collaterals .shipping_calculator h2 {
  font-size: 1.3rem;
}
.jigoshop_sorting {
  padding: 1.5em 0.9375em 0;
  text-align: right;
  margin-bottom: -3em;
}
.jigoshop_sorting h3, .jigoshop_sorting form, .jigoshop_sorting select.sorting, .jigoshop_sorting input[type=submit] {
  display: inline-block;
}
.jigoshop_sorting h3 {
  font-size: 0.9rem;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.jigoshop_sorting select.sorting {
  width: 70%;
}
.jigoshop_sorting input {
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.5em 1em;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
  /* Arrows */
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-prev, .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.5;
}
.slick-prev:before, .slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-next {
  right: -25px;
  /* Dots */
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-dots {
  position: absolute;
  bottom: 1.5em;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 0;
  cursor: pointer;
  margin: 0 0.25em;
}
.slick-dots li button {
  border-radius: 100%;
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  opacity: 1;
}
.slick-dots li.slick-active button {
  opacity: 1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  margin: 1.5em 0 0.5em;
  letter-spacing: 0.1em;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 2.5em;
  margin-top: 0;
}
h1.free {
  text-align: center;
  padding: 0 0 1em;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1.1em;
  /* Paragraph and Lists */
}
body, p, ul, ol, dt, dd, span, table, td, tr, table tr td, table tr th {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1rem;
  font-style: 2rem;
  text-align: left;
}
div.main p, div.main ul, div.main ol, div.main blockquote, div.main dl, div.main dt, div.main dd {
  line-height: 1.8rem;
  /* Paragraph and Lists */
}
div.main p:last-child, div.main ul:last-child, div.main ol:last-child, div.main blockquote:last-child, div.main dl:last-child, div.main dt:last-child, div.main dd:last-child {
  margin-bottom: 0;
}
div.main ul, div.main ol {
  margin-left: 2rem;
  /* Other Styles */
}
div.main blockquote {
  border: none;
  padding: 2em 2em 2em 12em;
  position: relative;
}
div.main blockquote:before, div.main blockquote:after {
  position: absolute;
  font-size: 10rem;
}
div.main blockquote:before {
  content: '\201C';
  left: 20px;
  top: 50%;
}
div.main blockquote:after {
  content: '\201D';
  left: 80px;
  top: 55%;
}
div.main blockquote p, div.main blockquote ul li, div.main blockquote ol li {
  line-height: 1.7em;
  font-size: 1.2rem;
  font-style: italic;
}
div.main pre {
  margin: 1em;
}
div.main hr {
  border: none;
  border-bottom: 1px solid;
  width: 20%;
}
input, textarea {
  outline: none;
  border-width: 1px;
  border-style: solid;
}
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 0.9em;
  margin: 0;
  padding: 0.5em;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
#wp-calendar {
  width: 100%;
  /*==========================================================================
Containers & Shared Styles
==========================================================================*/
}
#wp-calendar th, #wp-calendar td {
  text-align: center;
}
#wp-calendar caption {
  margin-bottom: 1em;
  text-transform: uppercase;
}
html, body {
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  text-align: left;
}
body {
  overflow-x: hidden;
}
.row {
  max-width: 1200px;
}
.container {
  padding: 3em 0;
}
header.main .row, footer.main .row {
  max-width: 100%;
}
.table, .table-row, .table-cell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.table {
  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.img-zoom, .gallery-image > a {
  display: block;
  overflow: hidden;
}
.img-zoom img, .gallery-image > a img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
}
.img-zoom:hover img, .gallery-image > a:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
}
.searchform {
  position: relative;
}
.searchform:after {
  display: table;
  content: ' ';
  clear: both;
  zoom: 1;
}
.searchform input {
  margin: 0;
  display: block;
  float: left;
  height: 32px;
}
.searchform input[type=text] {
  font-size: 0.8rem;
  padding: 0.5rem;
  width: 100%;
  position: relative;
}
.searchform input[type=submit] {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: normal;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  cursor: pointer;
}
.vcard {
  border: none;
  padding: 0;
}
.vcard .fn.org {
  display: none !important;
}
a.symbol {
  font-size: 32px;
  display: inline-block;
  padding-left: 0.25rem;
}
a.symbol:hover {
  text-decoration: none;
}
.social .text {
  display: block;
}
.social span, .social a {
  font-size: 1rem;
  line-height: 1rem;
}
.page .backdrop, .post .backdrop, .blog .backdrop, .single-post .backdrop {
  min-height: 350px;
}
.page .backdrop .table, .post .backdrop .table, .blog .backdrop .table, .single-post .backdrop .table {
  height: 350px;
}
.jigoshop .backdrop {
  min-height: 180px;
}
.jigoshop .backdrop .table {
  height: 180px;
}
.backdrop {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backdrop .table {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.backdrop h1, .backdrop p {
  text-align: center;
}
.backdrop h1 {
  margin-bottom: 0.5rem;
  line-height: 1em;
  font-size: 2.5rem;
  font-weight: normal;
}
.backdrop h1 + p:before {
  display: block;
  width: 20%;
  margin: 0.4em auto;
  height: 1px;
  content: ' ';
  bottom: 0;
}
.backdrop p {
  font-size: 1rem;
}
.backdrop.none h1, .backdrop.none p {
  text-shadow: 0 0 10px #000;
}
.backdrop.shop {
  height: 185px;
}
.backdrop.shop h1:after {
  display: none;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /*==========================================================================
Header
==========================================================================*/
}
header.main .upper {
  padding: 0.6em 0;
}
header.main .upper p, header.main .upper .adr, header.main .upper .numbers {
  line-height: 0.9em;
  font-size: 0.7rem;
  margin: 0 0.4em 0 0;
  padding-left: 0.4em;
  border-width: 0;
  border-left-width: 1px;
  border-style: solid;
}
header.main .upper p:first-child, header.main .upper .adr:first-child, header.main .upper .numbers:first-child, header.main .upper p.street-address, header.main .upper .adr.street-address, header.main .upper .numbers.street-address {
  padding-left: 0;
  border-left: none;
}
header.main .upper p span {
  font-size: 0.7rem;
}
header.main .vcard {
  border: none;
  padding: 0;
  margin: 0;
}
header.main .vcard div, header.main .vcard p {
  display: inline-block;
}
header.main .vcard div.adr, header.main .vcard p.adr {
  opacity: 0.7;
}
header.main .vcard div.postal-code, header.main .vcard p.postal-code, header.main .vcard div.emails, header.main .vcard p.emails {
  display: none;
}
header.main .connect-hours {
  text-align: right;
}
header.main .connect-hours p {
  display: inline-block;
  opacity: 0.7;
  vertical-align: bottom;
  margin-bottom: 4px;
}
header.main .connect-hours .social {
  display: inline-block;
  margin: 0;
  float: right;
}
header.main .connect-hours .social a {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  font-size: 1.2rem;
  float: left;
  display: block;
  line-height: 1em;
}
header.main .connect-hours .social a:hover {
  opacity: 0.7;
}
header.main .connect-hours .social a.symbol:before {
  margin-right: 0.2em;
}
header.main .logo {
  text-align: center;
}
header.main .lower {
  padding: 1em 0;
}
header.main .lower > .row {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: box;
  box-pack: center;
  box-align: center;
  /*==========================================================================
FONT FACES
==========================================================================*/
  /*==========================================================================
HELPER CLASSES
==========================================================================*/
}
header.main .lower .connect {
  text-align: right;
}
header.main .lower .connect span, header.main .lower .connect .social-connect {
  display: inline-block;
}
header.main .lower .connect span {
  text-transform: uppercase;
  line-height: 35px;
  font-size: 1.2em;
  padding-left: 0.5em;
}
header.main .searchform {
  max-width: 75%;
}
header.main .searchform input[type=submit] {
  background-color: transparent;
  border: none;
}
header.main .cart-stats .icon {
  font-size: 1.4rem;
}
nav.main {
  display: table;
  width: 100%;
}
nav.main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: table-row;
  width: 100%;
}
nav.main ul li {
  list-style-type: none;
}
nav.main ul li ul {
  display: none;
  left: auto;
  width: auto;
}
nav.main ul li ul ul {
  left: 100%;
  top: 0;
}
nav.main ul > li {
  display: table-cell;
  position: relative;
}
nav.main ul > li > a {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0.5em 1em 0.7em;
  margin: 0;
  display: block;
  position: relative;
  overflow: hidden;
}
nav.main ul > li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.main ul > li:hover > ul {
  display: block;
}
nav.main ul .current-menu-parent > a:after, nav.main ul .current_page_item > a:after, nav.main ul .current-menu-ancestor > a:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
nav.main ul .current-menu-parent:hover:after, nav.main ul .current_page_item:hover:after, nav.main ul .current-menu-ancestor:hover:after {
  display: none;
}
nav.main ul li li.current_page_item > a:after {
  display: none;
}
nav.main ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  text-align: left;
}
nav.main ul ul li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}
nav.main ul ul li:after, nav.main ul ul li.current-menu-item:after {
  display: none;
}
nav.main a {
  white-space: nowrap;
}
nav.main .tinynav {
  width: 95% !important;
  height: 48px !important;
}
nav.main .customSelect {
  text-align: left;
}
nav.main .hasCustomSelect {
  cursor: pointer;
}
nav.main .customSelectInner {
  width: 100% !important;
  padding: 1em;
}
nav.main .customSelectInner span {
  display: inline-block;
}
nav.main .customSelectInner span.title {
  width: 80%;
  min-width: 100px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
nav.main .customSelectInner span.icon {
  float: right;
}
.cart-stats {
  text-align: right;
  color: #44105e;
  text-transform: uppercase;
  font-size: 0.9em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.cart-stats > div {
  position: relative;
  display: inline;
}
.cart-stats p {
  display: inline;
}
.cart-stats strong {
  font-family: Arial, Helvetica, sans-serif;
  color: #9d82ab;
  font-weight: normal;
  font-size: 1.2em;
  margin-right: 0.4em;
}
.cart-stats i {
  color: #9d82ab;
  font-size: 35px;
  position: absolute;
  margin: 0 5px 0 0;
  top: -4px;
  left: -43px;
}
nav.main--dropline {
  margin-top: 0;
  position: relative;
  /*==========================================================================
Footer
==========================================================================*/
}
nav.main--dropline .menu > li:first-child a {
  padding-left: 0;
}
nav.main--dropline .menu {
  text-align: center;
  margin: 0;
}
nav.main--dropline .menu li {
  float: none;
}
nav.main--dropline .menu a {
  text-transform: uppercase;
  font-size: 0.8rem;
}
nav.main--dropline a {
  display: block;
  padding: 0.75em 0;
  letter-spacing: 3px;
  margin: 0;
}
nav.main--dropline .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: left;
  background-color: #fff;
  padding: 0 0 1.5em;
  display: none;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .25);
  z-index: 20;
}
nav.main--dropline .sub-menu .bull, nav.main--dropline .sub-menu a {
  display: block;
  float: left;
}
nav.main--dropline .sub-menu a {
  padding: 0;
}
nav.main--dropline .sub-menu .band {
  background-color: #000;
  height: 5px;
  display: block;
  margin: 0 0 1.5em;
  width: 100%;
}
nav.main--dropline .menu-image {
  text-align: right;
}
nav.main--dropline h3 {
  font-size: 2.2rem;
}
nav.main--dropline .links {
  -moz-column-count: 2;
  -moz-column-gap: 1.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
}
nav.main--dropline p {
  margin: 0;
}
nav.main--dropline .table-cell {
  width: auto;
}
footer.main h3 {
  opacity: 0.8;
}
footer.main .upper {
  padding: 2em 0;
}
footer.main .upper .columns {
  border-style: solid;
  border-width: 0;
  border-left-width: 1px;
}
footer.main .upper .columns:first-child {
  border-left: 0;
}
footer.main .upper p, footer.main .upper li, footer.main .upper a, footer.main .upper span, footer.main .upper label {
  font-size: 0.9rem;
  margin: 0;
  line-height: 2em;
}
footer.main .upper .menu {
  text-transform: lowercase;
}
footer.main .upper .menu li, footer.main .upper .menu a {
  line-height: 14px;
}
footer.main .upper .menu li {
  padding-bottom: 7px;
}
footer.main .lower {
  padding: 0.8em 0;
}
footer.main .lower p, footer.main .lower a {
  margin: 0;
  font-size: 0.9rem;
}
footer.main h3, footer.main .gform_wrapper h3.gform_title {
  margin: 0 0 0.7em;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: normal;
}
footer.main .page-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap : 20px;
}
footer.main .page-nav ul li {
  list-style-type: none;
}
footer.main .form .gform_wrapper h3.gform_title {
  letter-spacing: 0.2em !important;
}
footer.main .form form input[type=submit] {
  text-transform: uppercase;
  padding: 0.75em 1em;
  font-size: 0.8rem;
  letter-spacing: 0.2em !important;
}
footer.main .connect ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 2em;
}
footer.main .gform_wrapper {
  margin: 0;
}
footer.main .gform_wrapper h3 {
  margin: 0;
}
.payments span {
  font-size: 0.7rem;
}
.payments .icon {
  font-size: 1rem;
}
.copyright {
  /*==========================================================================
Sidebar
==========================================================================*/
}
.copyright p {
  text-align: center;
  font-size: 0.8rem;
}
.copyright .cards a {
  display: inline-block;
  width: 28px;
  height: 19px;
  background: url(../img/card-types.png) no-repeat top left;
  overflow: hidden;
  text-indent: -99px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.copyright .cards a.visa {
  background-position: -30px 0;
}
.copyright .cards a.mastercard {
  background-position: -60px 0;
}
.copyright .cards a.discover {
  background-position: -90px 0;
}
.copyright .cards a:hover {
  opacity: 0.8;
}
.sidebar {
  /*==========================================================================
Page Specific
==========================================================================*/
}
.sidebar ul {
  margin: 0;
}
.sidebar li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  list-style-type: none;
  padding: 0.6em 0;
}
.sidebar .widget {
  margin-bottom: 2em;
}
.sidebar .post-date {
  display: block;
  font-size: 0.7rem;
}
.sidebar .widget.has-bg {
  padding: 1.5em;
}
.sidebar .widget.has-bg .button, .sidebar .widget.has-bg .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .sidebar .widget.has-bg a, .sidebar .widget.has-bg .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .sidebar .widget.has-bg a, .sidebar .widget.has-bg footer.main .form form input[type=submit], footer.main .form form .sidebar .widget.has-bg input[type=submit], .sidebar .widget.has-bg .gform_wrapper input[type=submit], .gform_wrapper .sidebar .widget.has-bg input[type=submit] {
  margin-bottom: 0;
}
.sidebar .widget.has-bg h4 {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.sidebar .widget.has-bg h4:after {
  content: '';
  display: block;
  height: 1px;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.sidebar .widget-hours .day, .sidebar .widget-hours time {
  display: inline-block;
}
.sidebar .widget-hours .day {
  font-weight: bold;
  width: 25%;
  margin-right: 3%;
}
.sidebar .widget-hours time {
  width: 70%;
}
.sidebar .widget-contact .vcard p, .sidebar .widget-contact .vcard span {
  margin: 0;
  font-size: 1.1rem;
}
.sidebar .widget-hours .hours p {
  margin: 0 0 0.25em;
}
.sidebar .widget-image {
  margin: 0 0 1em;
}
.sidebar .widget-social a {
  margin-right: 0.25em;
}
.sidebar h4 {
  font-size: 1.3rem;
}
.sidebar p:last-child {
  margin-bottom: 0;
}
.sidebar .button, .sidebar .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .sidebar a, .sidebar .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .sidebar a, .sidebar footer.main .form form input[type=submit], footer.main .form form .sidebar input[type=submit], .sidebar .gform_wrapper input[type=submit], .gform_wrapper .sidebar input[type=submit] {
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.8em 1.5em;
}
.sidebar .label {
  border: none;
  margin-right: 1em;
  display: inline-block;
}
.sidebar .prepend {
  display: inline-block;
  padding-right: 0.5em;
}
.home .container {
  padding-top: 0;
}
.home-featured {
  margin: 2em auto 0;
}
.home-featured .image {
  overflow: hidden;
}
.home-featured .details {
  padding: 1em;
}
.home-featured .img-zoom {
  height: 100%;
}
.home-featured a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-featured a:hover {
  text-decoration: none;
}
.home-featured .button, .home-featured .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .home-featured a, .home-featured .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .home-featured a, .home-featured footer.main .form form input[type=submit], footer.main .form form .home-featured input[type=submit], .home-featured .gform_wrapper input[type=submit], .gform_wrapper .home-featured input[type=submit] {
  margin: 0;
}
.home-featured h4, .home-featured p, .home-featured a, .home-featured span {
  text-align: center;
}
.home-featured h4 {
  font-size: 1.2rem;
}
.featured-large {
  width: 100%;
}
.featured {
  margin-bottom: 1em;
}
.featured h4 {
  margin-bottom: 1em;
}
.featured img {
  width: 100%;
  height: auto;
}
.home-slider {
  height: 575px;
  overflow: hidden;
}
.home-slider .slide {
  height: 575px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-slider .slide h2 {
  font-size: 3rem;
}
.home-slider .slide h2, .home-slider .slide p {
  text-align: center;
  margin: 0;
  font-weight: normal;
  text-shadow: 0 0 10px #000;
}
.home-slider .slide p {
  font-size: 1.1rem;
}
.home-slider .slide h2 + p:before {
  display: block;
  width: 20%;
  margin: 0.4em auto 0.8em;
  height: 1px;
  content: ' ';
  bottom: 0;
}
.home-slider .slide .overlay, .home-slider .slide .slide-details {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(1, 0.005, 0.465, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0.005, 0.465, 1);
  -o-transition-timing-function: cubic-bezier(1, 0.005, 0.465, 1);
  transition-timing-function: cubic-bezier(1, 0.005, 0.465, 1);
}
.home-slider .slide .slide-details {
  -webkit-transition: all 4000ms cubic-bezier(1, 0.005, 0.465, 1);
  -moz-transition: all 4000ms cubic-bezier(1, 0.005, 0.465, 1);
  -o-transition: all 4000ms cubic-bezier(1, 0.005, 0.465, 1);
  transition: all 4000ms cubic-bezier(1, 0.005, 0.465, 1);
  z-index: 5;
  text-align: center;
}
.home-slider .slide .slide-details a {
  text-decoration: underline;
}
.home-slider .slide .slide-details .button, .home-slider .slide .slide-details .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .home-slider .slide .slide-details a, .home-slider .slide .slide-details .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .home-slider .slide .slide-details a, .home-slider .slide .slide-details footer.main .form form input[type=submit], footer.main .form form .home-slider .slide .slide-details input[type=submit], .home-slider .slide .slide-details .gform_wrapper input[type=submit], .gform_wrapper .home-slider .slide .slide-details input[type=submit] {
  margin-top: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.home-slider .slide .slide-details.block-left {
  padding-right: 50%;
}
.home-slider .slide .slide-details.block-right {
  padding-left: 50%;
}
.home-slider .slide .slide-details.block-center {
  padding: 0 20%;
}
.home-slider .slide .overlay {
  -webkit-transition: all 3000ms cubic-bezier(1, 0.005, 0.465, 1);
  -moz-transition: all 3000ms cubic-bezier(1, 0.005, 0.465, 1);
  -o-transition: all 3000ms cubic-bezier(1, 0.005, 0.465, 1);
  transition: all 3000ms cubic-bezier(1, 0.005, 0.465, 1);
}
.home-slider .slide.fade-in .overlay, .home-slider .slide.fade-in .slide-details {
  opacity: 1;
}
.page-gallery {
  padding-top: 2em;
  border-top-width: 2px;
  border-top-style: solid;
}
.page-gallery h2 {
  text-align: center;
  margin-bottom: 1.5em;
}
.on-page {
  margin-top: 2em;
}
.post-list .the-post {
  padding-left: 120px;
  padding-bottom: 1.5em;
}
.post-list .no-date .the-post {
  padding-left: 0;
}
.post-list .no-date .the-post .continue {
  content: 'More';
}
.post-list time {
  position: absolute;
  top: auto;
  left: 0;
}
.single time {
  float: left;
  margin: 0 2em 1em 0;
}
article.post h1, article.post h2 {
  line-height: 1em;
  margin: 0;
  line-height: 1em;
  margin: 0;
  font-weight: normal;
}
article.post h1 a, article.post h2 a {
  font-size: 1em;
}
article.post .img-zoom {
  margin-bottom: 1em;
}
article.post .socialize {
  padding: 1em 0;
}
.the-post {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 2em;
}
.categorizing {
  margin: 0.25em 0 1.25em;
}
footer.post {
  border-top-width: 1px;
  border-top-style: solid;
  margin-top: 2em;
}
.continue-wrap {
  display: block;
  text-align: right;
}
.continue {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blog time, .single-post time {
  display: block;
  padding: 0.8em 0;
  width: 90px;
  height: 90px;
  text-align: center;
}
.blog time span, .single-post time span {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
.blog time .date, .single-post time .date {
  font-size: 2.4em;
  display: block;
  margin-bottom: 0;
  line-height: normal;
}
.blog time .year, .single-post time .year {
  margin-left: 0.35em;
}
.pagination {
  text-align: right;
}
.pagination span, .pagination a {
  display: inline-block;
  padding: 0.25rem;
}
.pagination .current {
  font-weight: bold;
  padding: 0.25em 0.5em;
}
div.main p.categories, div.main p.tags {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.7em;
}
.socialize, .socialize p {
  text-align: right;
  margin: 0;
}
.socialize .symbol, .socialize p .symbol {
  display: inline-block;
}
.comment-link {
  margin-bottom: 0;
}
.comment-link a {
  display: block;
  font-weight: bold;
}
#commentform input[type=submit] {
  padding: 0.5em;
}
#comment {
  width: 100%;
}
.comment-meta {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
div.main ol.commentlist {
  margin: 0;
}
div.main ol.commentlist li {
  list-style-type: none;
  margin: 0 0 2em;
}
div.main ol.commentlist .comment-author {
  width: 100%;
  margin: 0;
  border: none;
}
.reply {
  text-align: right;
}
.comment-reply-link {
  display: inline-block;
  padding: 0.1em 0.6em;
}
.children {
  border-left-width: 3px;
  border-left-style: solid;
  padding-left: 1em;
  margin: 1em 0;
}
.error404 h3 {
  margin-top: 0;
}
.product-nav .pagination span, .product-nav .pagination a, .product-nav .pagination p {
  font-size: 0.9rem;
  line-height: normal;
}
.single-gallery .post header {
  margin-bottom: 1em;
}
.single-gallery .the-post {
  margin: 0;
}
.post-type-archive-gallery {
  /*==========================================================================
08. Jigoshop
==========================================================================*/
}
.post-type-archive-gallery .the-post {
  padding-left: 0;
}
.post-type-archive-gallery .featured-image {
  margin-bottom: 1em;
}
.product-single {
  /*==========================================================================
08. Gravity Forms
==========================================================================*/
}
.product-single .product-details .tabs {
  text-transform: uppercase;
}
.product-single .button, .product-single .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .product-single a, .product-single .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .product-single a, .product-single footer.main .form form input[type=submit], footer.main .form form .product-single input[type=submit], .product-single .gform_wrapper input[type=submit], .gform_wrapper .product-single input[type=submit], .product-single .button-alt {
  text-transform: uppercase;
}
.gform_wrapper {
  /*==========================================================================
Responsive
==========================================================================*/
}
.gform_wrapper .top_label li.gfield.gf_left_half input.medium, .gform_wrapper .top_label li.gfield.gf_left_half input.large, .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .gform_wrapper .top_label li.gfield.gf_left_half select.large, .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .gform_wrapper .top_label li.gfield.gf_right_half input.large, .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .gform_wrapper .top_label li.gfield.gf_right_half select.large, .gform_wrapper .top_label textarea.textarea {
  padding: 0.5em !important;
  font-size: 0.9rem !important;
}
.gform_wrapper .top_label .gfield_description.validation_message, .gform_wrapper .gfield_description.validation_message {
  padding: 0 !important;
}
.gform_wrapper .top_label .gfield_label {
  font-weight: normal !important;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half, .gform_wrapper .top_label li.gfield.gfield_error.gf_right_half {
  width: 47.5% !important;
}
.gform_wrapper li.gfield {
  border: none;
  padding: 0;
}
.gform_wrapper .gform_heading {
  margin-bottom: 0;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin-top: 0 !important;
}
.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
  padding: 0.5em !important;
  font-size: 0.8rem !important;
}
.gform_wrapper input[type=submit] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 0.8rem !important;
}
.gform_wrapper .gform_footer {
  margin: 1em 0 0 !important;
  padding: 0 !important;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media only screen and (max-width: 40em) {
  div.main {
    padding-bottom: 3em;
    margin-bottom: 2em;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  }
}
@media only screen and (max-width: 64em) {
  header.main nav.main ul.menu {
    display: none;
  }
  header.main .upper, header.main .connect-hours {
    text-align: center;
  }
  header.main .connect-hours {
    margin-top: 1em;
  }
  header.main .lower .connect div {
    text-align: center;
  }
  header.main .searchform {
    margin: 2em auto 0;
  }
  header.main .lower .row {
    display: block;
  }
  footer.main {
    margin-top: 2em;
  }
  footer.main .upper .columns {
    margin-top: 1em;
    border-top-width: 1px;
    padding-top: 1em;
  }
  footer.main .upper .columns:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top-width: 0;
  }
  footer.main .copyright p {
    text-align: center;
  }
  .post-list time {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
  }
  .post-list .the-post {
    padding-left: 0;
  }
  .product-image {
    margin-bottom: 2em;
  }
  .cta-band {
    padding: 1em;
  }
  .cta-band .expander {
    display: none;
  }
  .home .home-slider .slide {
    padding: 1em;
  }
  .home .home-slider .slide h2 {
    font-size: 1.4rem;
  }
  .home .home-slider .slide-details {
    padding: 0 !important;
  }
  .home .home-slider, .home .home-slider .slide {
    height: 500px;
  }
  div.main blockquote {
    padding: 2em 0;
  }
  div.main blockquote:before, div.main blockquote:after {
    content: '';
  }
}
@media only screen and (min-width: 64.063em) {
  .tinynav {
    display: none !important;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.bg-primary, .backdrop h1 + p:before, .reveal-modal .details h3:after, .cta-band h3:after, .cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a, .cta-band footer.main .form form input[type=submit], footer.main .form form .cta-band input[type=submit], .cta-band .gform_wrapper input[type=submit], .gform_wrapper .cta-band input[type=submit], .slider h2 + p:before, .slick-dots li button {
  background-color: #fff;
}
.reveal-modal .form {
  background-color: rgba(255, 255, 255, .75);
}
header.main p, header.main .adr, header.main .numbers {
  border-color: #fff;
}
footer.reveal {
  border-color: rgba(255, 255, 255, .5);
}
.reveal-modal .details h1, .cta-band h1, .widget.has-bg h1, .reveal-modal .details h2, .cta-band h2, .widget.has-bg h2, .reveal-modal .details h3, .cta-band h3, .widget.has-bg h3, .reveal-modal .details h4, .cta-band h4, .widget.has-bg h4, .reveal-modal .details h5, .cta-band h5, .widget.has-bg h5, .reveal-modal .details h6, .cta-band h6, .widget.has-bg h6, .reveal-modal .details p, .cta-band p, .widget.has-bg p, .reveal-modal .details span, .cta-band span, .widget.has-bg span, .reveal-modal .details a, .cta-band a, .widget.has-bg a, .reveal-modal .details ul, .cta-band ul, .widget.has-bg ul, .reveal-modal .details ol, .cta-band ol, .widget.has-bg ol, .reveal-modal .details li, .cta-band li, .widget.has-bg li {
  color: #fff;
}
.backdrop h1, .backdrop p, .post time span, .continue, .continue:hover, .reveal-modal .form p.alt, .reveal-modal .social a.symbol, .reveal-modal .controls a, nav.main ul ul li:hover a, .pagination .current, #breadcrumb a, #breadcrumb, .navigation a, .navigation a span, .home-featured a:hover p, .home-featured a:hover h4, .home .slide-details h2, .home .slide-details p, .home .slide-details a {
  color: #fff;
}
.widget.has-bg h4:after {
  background-color: #691c33;
}
.widget.has-bg a.button, .widget.has-bg .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .widget.has-bg a, .widget.has-bg .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .widget.has-bg a, .widget.has-bg footer.main .form form a[type=submit], footer.main .form form .widget.has-bg a[type=submit], .widget.has-bg .gform_wrapper a[type=submit], .gform_wrapper .widget.has-bg a[type=submit] {
  background-color: #fff;
  color: #00aeef;
}
.widget.has-bg a.button:hover, .widget.has-bg .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .widget.has-bg a:hover, .widget.has-bg .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .widget.has-bg a:hover, .widget.has-bg footer.main .form form a[type=submit]:hover, footer.main .form form .widget.has-bg a[type=submit]:hover, .widget.has-bg .gform_wrapper a[type=submit]:hover, .gform_wrapper .widget.has-bg a[type=submit]:hover {
  background-color: #ba315a;
  color: #fff;
}
.overlay-primary {
  background-color: rgba(255, 255, 255, .50);
}
.overlay-primary h1, .overlay-primary p {
  color: #000;
  text-shadow: 0 0 10px #fff;
}
.sidebar .button a, .sidebar .product-nav .navigation .nav-next a a, .product-nav .navigation .nav-next .sidebar a a, .sidebar .product-nav .navigation .nav-previous a a, .product-nav .navigation .nav-previous .sidebar a a, .sidebar footer.main .form form input[type=submit] a, footer.main .form form .sidebar input[type=submit] a, .sidebar .gform_wrapper input[type=submit] a, .gform_wrapper .sidebar input[type=submit] a, .widget .social-connect a:before, nav.main span {
  color: #fff;
}
.bg-secondary {
  background-color: #565656;
}
.the-post, footer.post {
  border-color: #d6d6d6;
}
p, ul, ol, dt, dd, span, table, td, tr, body, table tr td, table tr th, .continue:hover {
  color: #565656;
}
.categorizing p, .product-thumb .details .price, header.main .cart-stats {
  color: #898989;
}
.sidebar .widget .label.secondary {
  background-color: #898989;
  color: #fff;
}
.overlay-secondary {
  background-color: rgba(86, 86, 86, .50);
}
.overlay-secondary h1, .overlay-secondary p {
  color: #fff;
  text-shadow: 0 0 10px #565656;
}
.bg-tertiary, .post time, .continue, nav.main ul > li.current_page_item > a:after, .button, .product-nav .navigation .nav-next a, .product-nav .navigation .nav-previous a, footer.main .form form input[type=submit], .gform_wrapper input[type=submit], .reveal-modal .form .alt, .pagination .current, .ilightbox-toolbar.dark a, .ilightbox-holder.dark, .home-featured a:hover, .widget.has-bg {
  background-color: #00aeef;
}
.reveal-modal-bg, .ilightbox-overlay.dark {
  background-color: rgba(0, 174, 239, .95);
}
nav.main ul ul {
  background-color: rgba(0, 174, 239, .75);
}
.overlay-tertiary {
  background-color: rgba(0, 174, 239, .50);
}
.overlay-tertiary h1, .overlay-tertiary p {
  color: #000;
  text-shadow: 0 0 10px #00aeef;
}
.gallery-overlay {
  background-color: rgba(0, 174, 239, .8);
}
.gallery-overlay h4 {
  color: #e6e6e6;
}
.gallery-overlay p {
  color: #fff;
}
.reveal-modal .form h1, .reveal-modal .form h2, .reveal-modal .form h3, .reveal-modal .form h4, .reveal-modal .form h5, .reveal-modal .form h6, .reveal-modal .form p, .reveal-modal .form ul, .reveal-modal .form ol, .reveal-modal .form dt, .reveal-modal .form dd, .reveal-modal .form span, .reveal-modal .form label {
  color: #00aeef;
}
a, nav.main > ul > li > a:hover, .product-thumb .details strong, .cta-band .button, .cta-band .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .cta-band a, .cta-band .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .cta-band a, .cta-band footer.main .form form input[type=submit], footer.main .form form .cta-band input[type=submit], .cta-band .gform_wrapper input[type=submit], .gform_wrapper .cta-band input[type=submit], .home-featured a:hover span {
  color: #00aeef;
}
a:hover {
  color: #0089bc;
}
header.main .upper p, footer.main .lower p, header.main .upper span, footer.main .lower span, header.main .upper a, footer.main .lower a {
  color: #00aeef;
}
.bg-tertiary-light {
  background-color: #fff;
}
header.main .upper {
  border-bottom: 1px solid #effbff;
}
footer.main h3, footer.main p, footer.main a, footer.main span, footer.main li, footer.main .lower p, footer.main .lower a {
  color: #fff;
}
input, textarea {
  border-color: #00aeef;
  color: #00aeef;
}
.bg-quaternary, .continue:hover, .home-featured a:hover span {
  background-color: #691c33;
}
.button:hover, .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-previous a:hover, footer.main .form form input[type=submit]:hover, .gform_wrapper input[type=submit]:hover, .button:active, .product-nav .navigation .nav-next a:active, .product-nav .navigation .nav-previous a:active, footer.main .form form input[type=submit]:active, .gform_wrapper input[type=submit]:active, nav.main ul ul li:hover {
  background-color: #ba315a;
}
.page-gallery, .sidebar li, .navigation, div.main {
  border-color: #691c33;
}
nav.main ul ul a {
  color: #691c33;
}
nav.main > ul > li > a {
  color: #e59fb4;
}
h1, h2, h3, h4, h5, h6 {
  color: #ba315a;
}
.button-alt, .jigoshop-cart .quantity input.plus, .jigoshop-cart .quantity input.minus {
  background-color: #691c33;
  color: #fff;
}
.button-alt:hover, .jigoshop-cart .quantity input.plus:hover, .jigoshop-cart .quantity input.minus:hover {
  background-color: #912747;
  color: #fff;
}
.overlay-quaternary {
  background-color: rgba(105, 28, 51, .50);
}
.overlay-quaternary h1, .overlay-quaternary p {
  color: #fff;
  text-shadow: 0 0 10px #691c33;
}
nav.main ul > li:hover {
  background-color: #912747;
}
nav.main ul > li:hover a {
  color: #fff;
}
.gallery-list .tabs dd.active a {
  background-color: #00aeef;
}
.gallery-list .tabs dd a {
  background-color: #565656;
}
#breadcrumb, .product-nav.bottom, .product-single .product-details .panel, .product-single .product-details .active {
  background-color: #ba315a;
}
.product-single .tabs li {
  background-color: #691c33;
}
.product-single .related.products {
  border-color: #691c33;
}
.product-single .panel h1, .product-single .panel h2, .product-single .panel h3, .product-single .panel h4, .product-single .panel h5, .product-single .panel h6, .product-single .panel p, .product-single .panel span, .product-single .panel a, .product-single .panel ul, .product-single .panel ol, .product-single .panel li, .product-single .panel input, .product-single .panel textarea {
  color: #fbeff3;
}
.product-single .panel input, .product-single .panel textarea {
  background-color: rgba(255, 255, 255, .75);
}
.jigoshop form.cart button, .jigoshop .button, .jigoshop .product-nav .navigation .nav-next a, .product-nav .navigation .nav-next .jigoshop a, .jigoshop .product-nav .navigation .nav-previous a, .product-nav .navigation .nav-previous .jigoshop a, .jigoshop footer.main .form form input[type=submit], footer.main .form form .jigoshop input[type=submit], .jigoshop .gform_wrapper input[type=submit], .gform_wrapper .jigoshop input[type=submit], .jigoshop input[type=submit] {
  background-color: #00aeef;
  color: #000;
}
.jigoshop form.cart button:hover, .jigoshop .button:hover, .jigoshop .product-nav .navigation .nav-next a:hover, .product-nav .navigation .nav-next .jigoshop a:hover, .jigoshop .product-nav .navigation .nav-previous a:hover, .product-nav .navigation .nav-previous .jigoshop a:hover, .jigoshop footer.main .form form input[type=submit]:hover, footer.main .form form .jigoshop input[type=submit]:hover, .jigoshop .gform_wrapper input[type=submit]:hover, .gform_wrapper .jigoshop input[type=submit]:hover, .jigoshop input[type=submit]:hover {
  background-color: #009bd6;
}
.jigoshop .button-alt {
  background-color: #691c33;
  color: #f0c7d3;
}
.jigoshop .quantity input.qty {
  background-color: rgba(105, 28, 51, .5);
  color: #f0c7d3;
}
.jigoshop .bg-tertiary h3 {
  color: #000;
}
.jigoshop .bg-tertiary p, .jigoshop .bg-tertiary span, .jigoshop .bg-tertiary label {
  color: #000;
}
.jigoshop .bg-tertiary input {
  color: #000;
}
.jigoshop .bg-tertiary input[type=submit] {
  background-color: #691c33;
  color: #f0c7d3;
}
.jigoshop .bg-tertiary .alt {
  color: #00aeef;
  background-color: #fff;
}
.bg-primary .social-share.st-single-color a:before, .bg-primary .social-connect.st-single-color a:before, .container .social-share.st-single-color a:before, .container .social-connect.st-single-color a:before, .product-summary .social-share.st-single-color a:before, .product-summary .social-connect.st-single-color a:before {
  color: #00aeef;
}
.bg-primary .social-share.st-single-color a:hover:before, .bg-primary .social-connect.st-single-color a:hover:before, .container .social-share.st-single-color a:hover:before, .container .social-connect.st-single-color a:hover:before, .product-summary .social-share.st-single-color a:hover:before, .product-summary .social-connect.st-single-color a:hover:before {
  color: #0089bc;
}
.bg-secondary .social-share.st-single-color a:before, .bg-secondary .social-connect.st-single-color a:before, .bg-tertiary .social-share.st-single-color a:before, .bg-tertiary .social-connect.st-single-color a:before, .bg-quaternary .social-share.st-single-color a:before, .bg-quaternary .social-connect.st-single-color a:before {
  color: #fff;
}
.bg-secondary .social-share.st-single-color a:hover:before, .bg-secondary .social-connect.st-single-color a:hover:before, .bg-tertiary .social-share.st-single-color a:hover:before, .bg-tertiary .social-connect.st-single-color a:hover:before, .bg-quaternary .social-share.st-single-color a:hover:before, .bg-quaternary .social-connect.st-single-color a:hover:before {
  color: #e6e6e6;
}
