/*==============================================================================
* VARIABLES
==============================================================================*/
//colors
$darkPurple: #44105e;
$purple: #9d82ab;
$lightPurple: #e3dbe7;
$greyFont: #9a9a9a;
$darkGreyFont: #5e5e5e;

//general font colors
$fontColor: $greyFont;
$headingColor: $darkPurple; //for the homepage headings
$linkColor: $darkPurple;
$contentHeadingColor: $purple;

//colors for the sub-footer, pre-header, and CTA below slider on homepage
$darkBg: $darkPurple;
$darkBgTextColor: #fff;
$darkBgHeading: #fff;

//colors for header nav and footer
$navBg: $lightPurple;
$navBgTextColor: $darkGreyFont;
$navBgHeading: #000;

//colors for the logo container and main content
$contentBg: #fff;
$contentBgTextColor: $fontColor;
$contentBgHeading: $headingColor;

//input background color
$inputBg: $purple;
$inputTextColor: #fff;

//cart stats
$cartColor: $purple;
$cartNumberColor: $darkPurple;

//homepage slider colors
$sliderOverlay: $darkPurple;
$sliderHeaderColor: #fff;
$sliderTextColor: #fff;

//settings - probably won't need to change these
$maxWidth: 1200;
$interiorMaxWidth: 1030;
$interiorMaxWidthPX: $interiorMaxWidth+px;
$maxWidthPX: $maxWidth+px;
$fontFamily: Arial, Helvetica, sans-serif;
$headingFontFamily: Arial, Helvetica, sans-serif;
$baseFontSize: 16px;
$baseLineHeight: 24px;


/*==========================================================================
MIXINS
==========================================================================*/
@mixin fontStyle($font-type: null, $font-size: null, $font-weight: null, $font-style: null, $text-align: null, $text-transform: null, $line-height: null, $letter-spacing: null) {
	@if $font-type == heading {
		font-family: 'Gill Sans','Gill Sans MT',Calibri,sans-serif
	}
	@else if $font-type == paragraph {
		font-family: Candara,Calibri,Segoe,'Segoe UI',Optima,Arial,sans-serif
	}
	@if $font-size != null {
		font-size: $font-size;
	}
	@if $font-weight != null {
		font-weight: $font-weight;
	}
	@if $font-style != null {
		font-style: $font-style;
	}
	@if $text-transform != null {
		text-transform: $text-transform; 
	}
	@if $text-align != null {
		text-align: $text-align;
	}
	@if $line-height != null {
		line-height: $line-height;	
	}
	@if $letter-spacing != null {
		letter-spacing: $letter-spacing;
	}
}

@mixin clear {
	&:after {
		display: table;
		content: ' ';
		clear: both;
		zoom: 1;
	}
}
@mixin transition($prop,$time) {
	-webkit-transition: $prop $time ease-in-out;
	-moz-transition: $prop $time ease-in-out;
	-o-transition: $prop $time ease-in-out;
	-ms-transition: $prop $time ease-in-out;
	transition: $prop $time ease-in-out;    
}
@mixin transform($prop) {
	transform: $prop;
	-webkit-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	-moz-transform: $prop; 
}
@mixin headerStyles {
	position: relative;
	z-index: 2;
	max-width: (($maxWidth/3)*2)+px;
	margin: 0 auto;
	h1,h2 {
		color: $sliderHeaderColor;
		text-transform: uppercase;
		font-size: 2.4em;
		line-height: 1em;
		letter-spacing: .2em;
		position: relative;
		margin: 0;
		&:after {
			display: block;
			width: 20%;
			margin: .4em auto;
			height: 1px;
			content: ' ';
			bottom: 0;
			border-bottom: 1px solid rgba(255,255,255,.85);
		}
	}
	p {
		color: $sliderTextColor;
		line-height: 24px;
	}
}
@mixin verticalCenter {
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    display:box;
    box-pack:center;
    box-align:center;
}

/*==========================================================================
FONT FACES
==========================================================================*/



/*==========================================================================
HELPER CLASSES
==========================================================================*/
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible { visibility: hidden; }
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }