@import "includes";

// Small screens
@media only screen and (max-width: 40em) {
	// General //
	div.main {
		padding-bottom: 3em;
		margin-bottom: 2em;
		border-bottom-width: 5px;
		border-bottom-style: solid;
	}
}

// Small/Medium screens
@media only screen and (max-width: 64em) {
	// Header //
	header.main {
		nav.main ul.menu { display: none; }
		.upper, .connect-hours {
			text-align: center;
		}
		.connect-hours {
			margin-top: 1em;
		}
		.lower .connect div {
			text-align: center;
		}
		.searchform {
			margin: 2em auto 0;
		}
        .lower .row {display: block;}
	}
	// Footer //
	footer.main {
		margin-top: 2em;
		.upper .columns {
			margin-top: 1em;
			border-top-width: 1px;
			padding-top: 1em;
			&:first-child {
				margin-top: 0;
				padding-top: 0;
				border-top-width: 0;
			}
		}
		.copyright p {
			text-align: center;
		}
	}
	// Blog //
	.post-list {
		time {
			position: relative;
			width: 100%;
			margin-bottom: 1em;
		}
		.the-post {
			padding-left: 0;
		}
	}
	// Products //
	.product-image {
		margin-bottom: 2em;
	}
	.cta-band {
		padding: 1em;
		.expander {
			display: none;
		}
	}
	// Homepage //
	.home .home-slider {
		.slide {
			padding: 1em;
			h2 {
				font-size: 1.4rem;
			}
		}
		.slide-details {
			padding: 0 !important;
		}
	}
	.home {
		.home-slider, .home-slider .slide {
			height: 500px;
		}
	}
	// Quotes
	div.main blockquote {
		padding: 2em 0;
		&:before, &:after { content: ''; }
	}
}

// Large Screens
@media only screen and (min-width: 64.063em) {
    // Footer //
    // footer.main {
    //     .upper {
    //         .form {
    //             .gfield_label,.ginput_container {
    //                 display: inline-block;
    //             }
    //             .gfield_label {
    //                 margin-right: 10px;
    //             }
    //             input.large {
    //                 width: 170px;
    //             }
    //         }
    //     }
    // }
    // Homepage slider //
    .tinynav {
    	display: none !important;
    }
}