/*==============================================================================
* SHOP STYLES
==============================================================================*/
/*==========================================================================
01. Imports
==========================================================================*/
@import "includes";

/*==========================================================================
Reveal Modal
==========================================================================*/
.reveal-modal {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border: none;
	.row {
		max-width: 100%;
	}
	.product-image img {
		display: block;
		margin: 0 auto;
	}
	.details {
		h1, h2, h3, h4, h5, h6, p {
			text-align: center;
		}
		.price {
			font-size: 1.1rem;
			margin-bottom: .25rem;
			display: block;
			text-align: center;
		}
		h3 {
			font-size: 1.7rem;
			margin: 0 0 1.25em;
			position: relative;
			&:after {
				display: block;
				width: 20%;
				margin: 1.2em auto 0;
				height: 1px;
				content: ' ';
				bottom: 0;
			}
		}
	}
	.form {
		margin: 2em 0 0;
		padding: 1em;
		input {
			margin-bottom: 0;
			outline: none;
			border: none;
		}
		.gform_wrapper {
			width: 100%;
			margin: 0;
			max-width: 100%;
			display: block !important;
		}
		.gform_wrapper .gform_heading {
			width: 100%;
		}
		.gform_wrapper h2.gsection_title, .gform_wrapper .gsection_description, .gform_wrapper h3.gform_title {
			margin: 0 0 .5em;
			letter-spacing: 3px !important;
			text-align: center;
			width: 100%;
		}
		.gform_wrapper span.gform_description {
			line-height: 1.8em;
			text-align: center;
			display: block;
		}
		.gform_wrapper .top_label .gfield_label {
			margin: 0;
			font: {
				weight: normal;
				size: .8rem;
			}
		}
		.gform_wrapper .gform_footer {
			margin: 0;
			padding: .25em 0 0;
		}
		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
			@include fontStyle(heading, .9rem, null, null, null, uppercase);
			margin: 0;
			padding: .5em 1em;
		}
		.alt-break, .alt {
			@include fontStyle(heading, 1.1rem, null, null, center, uppercase);
			margin: .5em 0;
		}
		.alt {
			padding: .5em;
			margin: 0;
		}
		.button {
			margin: 0;
			width: 100%;
		}
	}
	footer.reveal {
		padding: 1em 0;
		margin-top: 1em;
		border-top-width: 1px;
		border-top-style: solid;
		.row {
			margin: 0;
		}
		.columns {
			padding: 0;
		}
		.social a.symbol {
			font-size: 1.3rem;
			padding-right: .25em;
			display: inline-block;
			&:before {
				margin-right: 0;
			}
			&:hover {
				opacity: .8;
			}
		}
	}
	.controls {
		text-align: right;
		a {
			font-size: 2rem;
			display: inline-block;
			margin-left: 1em;
			&:hover {
				text-decoration: none;
				opacity: .8;
			}
			&.close-reveal-modal {
				position: relative;
				top: auto;
				right: auto;
				margin-left: 2em;
			}
		}
	}
}

/*==========================================================================
Jigoshop
==========================================================================*/
// Backdrop
.jigoshop .backdrop { 
	height: auto;
	padding: 1.5em;
}
.jigoshop .backdrop .table {
	height: 185px;
}

// Other
.post-type-archive-product, .tax-product_cat {
	footer.main {
		margin-top: 0;
	}
}
.product-nav.bottom {
	margin-bottom: 3em;
}
#breadcrumb {
	padding: 1em;
	font-size: .75rem;
	text: {
		align: center;
		transform: uppercase;
	}
}
.product-list {
	padding: 4em 0;
	li {
		list-style-type: none;
		&.first {
			clear: left;
		}
	}
	img {
		display: block;
		margin: 0 auto;
	}
}
.product {
	margin: {
		top: 1.5em;
		bottom: 1.5em;
	}
}
.product-thumb {
	.img-zoom {
		margin-bottom: 1.5em;
		height: 300px;
	}
	.details {
		text-align: center;
	}
	strong {
		@include fontStyle(paragraph, 1.3em, normal, normal, center, uppercase, null, 3px);
		display: block;
	}
}
.product-nav {
	.pagination {
		text-align: center;
		padding-top: .5em;
		padding-bottom: .5em;
		span, a, p {
			font-size: .7rem;
		}
		a.prev {
			float: left;
		}
		a.next {
			float: right;
		}
	}
	.navigation {
		@include clear;
		padding-top: 2em;
		border-top-width: 0;
		border-top-style: solid;
		.nav-next, .nav-previous {
			a {
				@extend .button;
				@include transition(all,.3s);
				padding: .5em;
				font-size: .75rem;
				text-transform: uppercase;
				letter-spacing: 3px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.nav-next {
			float: right;
		}
		.nav-previous {
			float: left;
		}
	}
}
.cta-band {
	// margin: 4em 0;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	text-align: center;
	h3, p {
		text-align: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h1, h2, h3, h4, h5 {
		&:after {
			display: block;
			width: 10%;
			margin: .4em auto;
			height: 1px;
			content: ' ';
			bottom: 0;
			opacity: .5;
		}
	}
	.button {
		padding: .5em 1em;
		text-transform: uppercase;
		font-size: .8rem;
		margin: .5em 0 0;
	}
	.content {
		position: relative;
		z-index: 5;
	}
	.expander {
		position: absolute;
		top: 0;
		left: -100%;
		height: 100%;
		width: 300%;
		z-index: 0;
	}
}
.product-single {
	padding: 4em 0 0;
	.product-list {
		padding: 2em 0 0;
	}
}
.jigoshop-cart {
	input.qty {
		height: 22px;
	}
	.button {
		font-size: .8rem;
		text-transform: uppercase;
		width: auto !important;
	}
	.button-alt {
		border-radius: none !important;
	}
	.cart-collaterals {
		.cart_totals, .shipping_calculator {
			width: 35%;
			h2 {
				font-size: 1.3rem;
			}
		}
	}
}



/*==========================================================================
Plugins
==========================================================================*/
/* Sorting Plug */
.jigoshop_sorting {
	padding: 1.5em 0.9375em 0;
	text-align: right;
	margin-bottom: -3em;
}
.jigoshop_sorting h3, .jigoshop_sorting form, .jigoshop_sorting select.sorting, .jigoshop_sorting input[type=submit] {
	display: inline-block;
}
.jigoshop_sorting h3 {
	font-size: .9rem;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 0;
}
.jigoshop_sorting select.sorting {
	width: 70%;
}
.jigoshop_sorting input {
	text-transform: uppercase;
	font-size: .7rem;
	padding: .5em 1em;
}



