/*==========================================================================
Imports
==========================================================================*/
@import "includes";
@import "shop";
@import "slick";



/*==========================================================================
Boilerplate & Wordpress Defined Styles
==========================================================================*/
// Boilerplate //
h1, h2, h3, h4, h5, h6, p, ul, ol, dt, dd {}
h1, h2, h3, h4, h5, h6 {
    @include fontStyle(heading, null, normal, normal, left, uppercase);
    margin: 1.5em 0 .5em;
    letter-spacing: .10em;
    &:first-child {
        margin-top: 0;
    }
}
h1 { 
    font-size: 2.5em;
    margin-top: 0;
    &.free {
        text-align: center;
        padding: 0 0 1em;
    }
}
h2 { font-size: 2.1em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.1em; }
/* Paragraph and Lists */
body, p, ul, ol, dt, dd, span, table, td, tr, table tr td, table tr th {
    @include fontStyle(paragraph, 1rem, null, 2rem, left);
}
div.main {
    p, ul, ol, blockquote, dl, dt, dd {
        line-height: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    /* Paragraph and Lists */
    ul, ol {
        margin-left: 2rem;
    }
    /* Other Styles */
    blockquote {
        border: none;
        padding: 2em 2em 2em 12em;
        position: relative;
        &:before, &:after {
            position: absolute;
            font-size: 10rem;
        }
        &:before {
            content: '\201C';
            left: 20px;
            top: 50%;
        }
        &:after {
            content: '\201D';
            left: 80px;
            top: 55%;
        }
        p, ul li, ol li {
            line-height: 1.7em;
            font: {
                size: 1.2rem;
                style: italic;
            }
        }
    }
    pre {
        margin: 1em;
    }
    hr {
        border: none;
        border-bottom: 1px solid;
        width: 20%;
    }
}
// Form Fields //
input, textarea {
    outline: none;
    border-width: 1px;
    border-style: solid;
}
// Wordpress Defined Styles //
.alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
}
.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}
.wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: .9em;
    margin: 0;
    padding: .5em;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}
blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}
#wp-calendar {
    width: 100%;
    th, td {
        text-align: center;
    }
    caption {
        margin-bottom: 1em;
        text-transform: uppercase;
    }
}



/*==========================================================================
Containers & Shared Styles
==========================================================================*/
html, body {
    @include fontStyle(paragraph, 1em, null, normal, left);
}
body {
    overflow-x: hidden;
}
// Containers //
.row {
    max-width: 1200px;
}
.container {
    padding: 3em 0;
}
header.main, footer.main {
    .row {
        max-width: 100%;
    }
}
// CSS Tables //
.table, .table-row, .table-cell {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.table { 
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
}
.table-row { display: table-row; }
.table-cell { display: table-cell; }
// Image Zoom //
.img-zoom, .gallery-image > a {
    display: block;
    overflow: hidden;
    img {
        @include transition(all,.2s);
        @include transform(scale(1));
    }
    &:hover {
        img {@include transform(scale(1.05));}
    }
}
// Search Form //
.searchform {
    @include clear;
    position: relative;
    input {
        margin: 0;
        display: block;
        float: left;
        // border: none;
        height: 32px;
        &[type=text] {
            font-size: .8rem;
            padding: .5rem;
            width: 100%;
            position: relative; 
        }
        &[type=submit] {
            font-weight: bold;
            font-size: 1.1rem;
            line-height: normal;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 5;
            cursor: pointer;
        }
    }
}
// Contact Details //
.vcard {
    border: none;
    padding: 0;
    .fn.org {
        display: none !important;
    }
}
// Social Text/Buttons
a.symbol {
    font-size: 32px;
    display: inline-block;
    padding-left: .25rem;
    &:hover {
        text-decoration: none;
    }
}
.social .text {
    display: block;
}
.social {
    span, a { 
        font-size: 1rem;
        line-height: 1rem;
    }
}
// Backdrop //
.page, .post, .blog, .single-post {
    .backdrop { min-height: 350px; }
    .backdrop .table { height: 350px; }
}
.jigoshop {
    .backdrop { min-height: 180px; }
    .backdrop .table { height: 180px; }
}
.backdrop {
    position: relative;
    background: {
        repeat: no-repeat;
        size: cover;
        position: center;
    }
    .table {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 5;
    }
    h1, p {
        text-align: center;
    }
    h1 {
        margin-bottom: .5rem;
        line-height: 1em;
        font: {
            size: 2.5rem;
            weight: normal;
        }
        + p:before {
            display: block;
            width: 20%;
            margin: .4em auto;
            height: 1px;
            content: ' ';
            bottom: 0;
        }
    }
    p {
        font-size: 1rem;
    }
    &.none {
        h1, p {
            text-shadow: 0 0 10px #000;
        }
    }
}
.backdrop.shop {
    height: 185px;
    h1:after {
        display: none;
    }
}
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


/*==========================================================================
Header
==========================================================================*/
// Header Upper //
header.main {
    .upper {
        padding: .6em 0;
        p, .adr, .numbers {
            line-height: .9em;
            font-size: .7rem;
            margin: 0 .4em 0 0;
            padding-left: .4em;
            border-width: 0;
            border-left-width: 1px;
            border-style: solid;
            &:first-child,&.street-address {
                padding-left: 0;
                border-left: none;
            }
        }
        p span {font-size: .7rem;}
    }
    .vcard {
        border: none;
        padding: 0;
        margin: 0;
        div, p {
            display: inline-block;
            &.adr { opacity: .7; }
            &.postal-code, &.emails { display: none; }
        }
    }
    .connect-hours {
        text-align: right;
        p {
            display: inline-block;
            opacity: .7;
            vertical-align: bottom;
            margin-bottom: 4px;
        }
        .social {
            display: inline-block;
            margin: 0;
            float: right;
            a {
                @include transition(opacity,.2s);
                text-decoration: none;
                font-size: 1.2rem;
                float: left;
                display: block;
                line-height: 1em;
                &:hover { opacity: .7 }
                &.symbol:before {
                    margin-right: .2em;
                }
            }
        }
    }
    .logo { text-align: center; }
    .lower {
        padding: 1em 0;
        > .row {
            @include verticalCenter;
        }
        .connect {
            text-align: right;
            span,.social-connect {
                display: inline-block;
            }
            span {
                text-transform: uppercase;
                line-height: 35px;
                font-size: 1.2em;
                padding-left: .5em;
            }
        }
    }
    .searchform {
        max-width: 75%;
        input[type=submit] {
            background-color: transparent;
            border: none;
        }
    }
    .cart-stats .icon { font-size: 1.4rem;}
}
// Main Navigation //
nav.main {
    display: table;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: table-row;
        width: 100%;
        li { 
            list-style-type: none;
            ul {
                display: none;
                left: auto;
                width: auto;
                ul {
                    left: 100%;
                    top: 0;
                }
            }
        }
        > li {
            display: table-cell;
            position: relative;
            &> a {
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 1px;
                text-decoration: none;
                padding: .5em 1em .7em;
                margin: 0;
                display: block;
                position: relative;
                overflow: hidden;
            }
            &:hover {
                @include transition(all,.3s);
                &> ul {
                    display: block;
                }
            }
        }
        .current-menu-parent, .current_page_item, .current-menu-ancestor {
            > a:after {
                content: ' ';
                display: block;
                width: 100%;
                height: 5px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:hover:after {
                display: none;
            }
        }
        li li.current_page_item > a:after { display: none; }
    }
    ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        text-align: left;
        li {
            @include transition(all,.3s);
            display: block;
            &:after, &.current-menu-item:after {
                display: none;
            }
        }
    }
    a {
        white-space: nowrap;
    }

// Tinynav for smaller screens //
.tinynav {
    width: 95% !important;
    height: 48px !important;
}        
.customSelect {
    text-align: left;
}
.hasCustomSelect {
    cursor: pointer;
}
.customSelectInner {
    width: 100% !important;
    padding: 1em;
    span {
        display: inline-block;
        &.title {
            width: 80%;
            min-width: 100px;
            text-transform: uppercase;
            letter-spacing: .2em;
        }
        &.icon {
            float: right;
        }
    }
}
}
.cart-stats {
    text-align: right;
    color: $cartNumberColor;
    text-transform: uppercase;
    font-size: .9em;
    padding-top: .8em;
    padding-bottom: .8em;
    > div {
        position: relative;
        display: inline;
    }
    p {display: inline;}
    strong {
        font-family: $headingFontFamily;
        color: $cartColor;
        font-weight: normal;
        font-size: 1.2em;
        margin-right: .4em;
    }
    i {
        color: $cartColor;
        font-size: 35px;
        position: absolute;
        margin: 0 5px 0 0;
        top: -4px;
        left: -43px;
    }
}

//Dropline Navigation //
nav.main--dropline {
    margin-top: 0;
    position: relative;
    .menu > li:first-child a { padding-left: 0; }
    .menu {
        text-align: center;
        margin: 0;
    }
    .menu li {
        float: none;
    }
    .menu a {
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    a {
        display: block;
        padding: .75em 0;
        letter-spacing: 3px;
        margin: 0;
    }
    .sub-menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        text-align: left;
        background-color: #fff;
        padding: 0 0 1.5em;
        display: none;
        overflow: hidden;
        box-shadow: 0 10px 10px rgba(#000000, .25);
        z-index: 20;
        .bull, a {
            display: block;
            float: left;
        }
        a { padding: 0; }
        .band {
            background-color: #000000;
            height: 5px;
            display: block;
            margin: 0 0 1.5em;
            width: 100%;
        }
    }
    .menu-image { text-align: right; }
    h3 { font-size: 2.2rem; }
    .links {
        -moz-column-count: 2;
        -moz-column-gap: 1.5em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1.5em;
    }
    p { margin: 0; }
    .table-cell { width: auto; }
}

/*==========================================================================
Footer
==========================================================================*/
footer.main {
    h3 {
        opacity: .8;
    }
    .upper {
        padding: 2em 0;
        .columns {
            border-style: solid;
            border-width: 0;
            border-left-width: 1px;
            &:first-child { border-left: 0 }
        }
        p, li, a, span, label {
            font-size: .9rem;
            margin: 0;
            line-height: 2em;
        }
        .menu {
            text-transform: lowercase;
            li,a { line-height: 14px;}
            li {padding-bottom: 7px}
        }
    }

    .lower {
        padding: .8em 0;
        p, a {
            margin: 0;
            font-size: .9rem;
        }
    }
    h3, .gform_wrapper h3.gform_title {
        margin: 0 0 .7em;
        padding: 0;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: normal;
    }
    .page-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            -moz-column-count: 3;
            -moz-column-gap: 20px;
            -webkit-column-count: 3;
            -webkit-column-gap : 20px;
            li {
                list-style-type: none;
            }
        }
    }
    .form {
        .gform_wrapper h3.gform_title {
            letter-spacing: 0.2em !important;
        }
        form {
            input[type=submit] {
                @extend .button;
                text-transform: uppercase;
                padding: .75em 1em;
                font-size: .8rem;
                letter-spacing: 0.2em !important;
            }
        }
    }
    .connect {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 2em;
        }
    }
    .gform_wrapper {
        margin: 0;
        h3 { margin: 0; }
    }
}
.payments {
    span { font-size: .7rem; }
    .icon { font-size: 1rem; }
}
.copyright {
    p {
        text-align: center;
        font-size: .8rem;
    }
    .cards {
        a {
            display: inline-block;
            width: 28px;
            height: 19px;
            background: url(../img/card-types.png) no-repeat top left;
            overflow: hidden;
            text-indent: -99px;
            &.visa {background-position: -30px 0;}
            &.mastercard {background-position: -60px 0;}
            &.discover {background-position: -90px 0;}
            @include transition(opacity,.2s);
            &:hover {
                opacity: .8;
            }
        }
    }
}



/*==========================================================================
Sidebar
==========================================================================*/
.sidebar {
    ul { margin: 0; }
    li {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        list-style-type: none;
        padding: .6em 0;
    }
    .widget { margin-bottom: 2em; }
    .post-date {
        display: block;
        font-size: .7rem;
    }
    .widget.has-bg {
        padding: 1.5em;
        .button {
            margin-bottom: 0;
        }
        h4 {
            position: relative;
            padding-bottom: 1em;
            margin-bottom: 1em;
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 40%;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: .5;
            }
        }
    }
    .widget-hours {
        .day, time { display: inline-block; }
        .day {
            font-weight: bold;
            width: 25%;
            margin-right: 3%;
        }
        time {
            width: 70%;
        }
    }
    .widget-contact {
        .vcard {
            p, span { 
                margin: 0;
                font-size: 1.1rem;
            }
        }
    }
    .widget-hours {
        .hours p {
            margin: 0 0 .25em;
        }
    }
    .widget-image {
        margin: 0 0 1em;
    }
    .widget-social {
        a { margin-right: .25em; }
    }
    h4 {
        font-size: 1.3rem;
    }
    p:last-child {
        margin-bottom: 0;
    }
    .button {
        width: 100%;
        font-size: .8rem;
        text-transform: uppercase;
        padding: .8em 1.5em;
    }
    .label {
        border: none;
        margin-right: 1em;
        display: inline-block;
    }
    .prepend {
        display: inline-block;
        padding-right: .5em;
    }
}



/*==========================================================================
Page Specific
==========================================================================*/
// Homepage //
.home {
    .container { padding-top: 0; }
}
.home-featured {
    margin: 2em auto 0;
    .image { overflow: hidden; }
    .details { padding: 1em; }
    .img-zoom { height: 100%; }
    a {
        @include transition(all,.3s);
        &:hover { text-decoration: none; }
    }
    .button { margin: 0; }
    h4, p, a, span { text-align: center; }
    h4 { font-size: 1.2rem; }
}
.featured-large { width: 100%; }
.featured {
    margin-bottom: 1em;
    h4 { margin-bottom: 1em; }
    img {
        width: 100%;
        height: auto;
    }
}
.home-slider {
    height: 575px;
    overflow: hidden;
}
.home-slider .slide {
    height: 575px;
    background: {
        position: center;
        size: cover;
        repeat: no-repeat;
    }
    h2 {
        font-size: 3rem;
    }
    h2, p {
        text-align: center;
        margin: 0;
        font-weight: normal;
        text-shadow: 0 0 10px #000;
    }
    p {
        font-size: 1.1rem;
    }
    h2 + p:before {
        display: block;
        width: 20%;
        margin: .4em auto .8em;
        height: 1px;
        content: ' ';
        bottom: 0;
    }
    .overlay, .slide-details {
        opacity: 0;
        -webkit-transition-timing-function: cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        -moz-transition-timing-function: cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        -o-transition-timing-function: cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        transition-timing-function: cubic-bezier(1.000, 0.005, 0.465, 1.000);
    }
    .slide-details {
        -webkit-transition: all 4000ms cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        -moz-transition: all 4000ms cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        -o-transition: all 4000ms cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        transition: all 4000ms cubic-bezier(1.000, 0.005, 0.465, 1.000);
        z-index: 5;
        text-align: center;
        a {
            text-decoration: underline;
        }
        .button {
            margin-top: 1em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: .9rem;
        }
        &.block-left {
            padding-right: 50%;
        }
        &.block-right {
            padding-left: 50%;
        }
        &.block-center {
            padding: 0 20%;
        }
    }
    .overlay {
        -webkit-transition: all 3000ms cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        -moz-transition: all 3000ms cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        -o-transition: all 3000ms cubic-bezier(1.000, 0.005, 0.465, 1.000); 
        transition: all 3000ms cubic-bezier(1.000, 0.005, 0.465, 1.000);
    }
    &.fade-in {
        .overlay, .slide-details {
            opacity: 1;
        }
    }
}
// Page //
.page-gallery {
    padding-top: 2em;
    border-top-width: 2px;
    border-top-style: solid;
    h2 {
        text-align: center;
        margin-bottom: 1.5em;
    }
}
.on-page {
    margin-top: 2em;
}
// Blog //
.post-list {
    .the-post {
        padding-left: 120px;
        padding-bottom: 1.5em;
    }
    .no-date .the-post  {
        padding-left: 0;
        .continue {
            content: 'More';
        }
    }
    time {
        position: absolute;
        top: auto;
        left: 0;
    }
}
.single {
    time {
        float: left;
        margin: 0 2em 1em 0;
    }
}
article.post {
    h1, h2 {
        line-height: 1em;
        margin: 0;
        line-height: 1em;
        margin: 0;
        font-weight: normal;
        a {
            font-size: 1em;
        } 
    }
    .img-zoom {
        margin-bottom: 1em;
    }
    .socialize {
        padding: 1em 0; 
    }
}
.the-post {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 2em;
}
.categorizing {
    margin: .25em 0 1.25em;
}
footer.post {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 2em;
}
.continue-wrap {
    display: block;
    text-align: right;
}
.continue {
    @include transition(all,.3s);
    display: inline-block;
    margin-top: 1em;
    padding: .5em 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.blog, .single-post {
    time {
        display: block;
        padding: .8em 0;
        width: 90px;
        height: 90px;
        text-align: center;
        span {
            display: inline-block;
            text: {
                align: center;
                transform: uppercase;
            }
        }
        .date {
            font-size: 2.4em;
            display: block;
            margin-bottom: 0;
            line-height: normal;
        }
        .year {
            margin-left: .35em;
        }
    }
}
.pagination {
    text-align: right;
    span, a {
        display: inline-block;
        padding: .25rem;
    }
    .current {
        font-weight: bold;
        padding: .25em .5em;
    }
}
div.main {
    p.categories, p.tags {
        margin: 0;
        font-size: .8rem;
        line-height: 1.7em;
    }
}
.socialize, .socialize p {
    text-align: right;
    margin: 0;
    .symbol {
        display: inline-block;
    }
}
.comment-link {
    margin-bottom: 0;
    a {
        display: block;
        font-weight: bold;
    }
}
#commentform {
    input[type=submit]{
        padding: .5em;
    }
}
#comment {
    width: 100%;
}
.comment-meta {
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
div.main ol.commentlist {
    margin: 0;
    li {
        list-style-type: none;
        margin: 0 0 2em;
    }
    .comment-author {
        width: 100%;
        margin: 0;
        border: none;
    }
}
.reply {
    text-align: right;
}
.comment-reply-link {
    display: inline-block;
    padding: .1em .6em;
}
.children {
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 1em;
    margin: 1em 0;
}
// 404
.error404 h3 {
    margin-top: 0;
}
// Shop //
.product-nav .pagination span, .product-nav .pagination a, .product-nav .pagination p {
    font-size: .9rem;
    line-height: normal;
}
// Gallery
.single-gallery {
    .post header {
        margin-bottom: 1em;
    }
    .the-post {
        margin: 0;
    }
}
.post-type-archive-gallery {
    .the-post {
        padding-left: 0;
    }
    .featured-image {
        margin-bottom: 1em;
    }
}



/*==========================================================================
08. Jigoshop
==========================================================================*/
.product-single {
    .product-details {
        .tabs {
            text-transform: uppercase;
        }
    }
    .button, .button-alt {
        text-transform: uppercase;
    }
}


/*==========================================================================
08. Gravity Forms
==========================================================================*/
.gform_wrapper {
    .top_label li.gfield.gf_left_half input.medium, .top_label li.gfield.gf_left_half input.large, .top_label li.gfield.gf_left_half select.medium, .top_label li.gfield.gf_left_half select.large, .top_label li.gfield.gf_right_half input.medium, .top_label li.gfield.gf_right_half input.large, .top_label li.gfield.gf_right_half select.medium, .top_label li.gfield.gf_right_half select.large,
    .top_label textarea.textarea {
        padding: .5em !important;
        font-size: .9rem !important;
    }
    .top_label .gfield_description.validation_message, .gfield_description.validation_message {
        padding: 0 !important;
    }
    .top_label .gfield_label {
        font-weight: normal !important;
        text-transform: uppercase;
        font-size: .8rem;
    }
    .top_label li.gfield.gfield_error.gf_left_half, .top_label li.gfield.gfield_error.gf_right_half {
        width: 47.5% !important;
    }
    li.gfield {
        border: none;
        padding: 0;
    }
    .gform_heading {
        margin-bottom: 0;
    }
    li.gfield.gfield_error.gfield_contains_required label.gfield_label, li.gfield.gfield_error.gfield_contains_required div.ginput_container {
        margin-top: 0 !important;
    }
    input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password] {
        padding: .5em !important;
        font-size: .8rem !important;
    }
    input[type=submit]{
        @extend .button;
        @include transition(all,.3s);
        padding: .5em 1em;
        text-transform: uppercase;
        font-size: .8rem !important;
    }
    .gform_footer {
        margin: 1em 0 0 !important;
        padding: 0 !important;
    }
}



/*==========================================================================
Responsive
==========================================================================*/
@import "responsive";
